{% extends "base.html" %}

{% block title %}Anotador{% endblock %}

{% block content %}

<div x-data="main()" class="container" x-init="getZonas()">


  <div class="columns">
    <div class="column is-7">
      <h1 style="width:70%;" class="title is-size-1">Anotador</h1>
    </div>
  </div>


  <table class="table nototal" id="table">
    <thead>
      <tr>
        <th>zona</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <template x-for="item in listZonas">
        <tr>
          <td x-text="item.zona"></td>
          <td><button class="button is-small" :class="item.tarea1?'is-black':'is-outlined is-success'"
                      @click="toggleTarea(1,item.id)">Vender</button></td>
          <td><button class="button is-small" :class="item.tarea2?'is-black':'is-outlined is-danger'"
                      @click="toggleTarea(2,item.id)">Intimar</button></td>
          <td><button class="button is-small" :class="item.tarea3?'is-black':'is-outlined is-warning'"
                      @click="toggleTarea(3,item.id)">Llamar</button></td>
          <td><button class="button is-small" :class="item.tarea4?'is-black':'is-outlined is-info'"
                      @click="toggleTarea(4,item.id)">Controlar</button></td>

        </tr>
      </template>
    </tbody>
  </table>
  <div class="buttons">
    <button class="button is-success" @click="resetear(1)">Resetear-Vender</button>
    <button class="button is-danger" @click="resetear(2)">Resetear-Intimar</button>
    <button class="button is-warning" @click="resetear(3)">Resetear-Llamar</button>
    <button class="button is-info" @click="resetear(4)">Resetear-Controlar</button>
  </div>

</div>
{% endblock %}
{% block script %}
<script>
 function main(){
     return {
         listZonas:[],
         getZonas(){
             axios.get('/utilidades/getzonas')
                  .then(res=>{
                      this.listZonas = res.data.zonas
                  })
         },
         toggleTarea(id,idZona){
             axios.get('/utilidades/toggletarea/'+id+'/'+idZona)
                  .then(res=>{
                      this.getZonas()
             })
         },
         resetear(id){
             reg={
                 1:'Vender',
                 2:'Intimar',
                 3:'Llamar',
                 4:'Controlar',
             }
             Swal.fire({
                 title: '¿Esta seguro?',
                 text: `Se resetearan los registros de ${reg[id]}`,
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Si, resetear!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     axios.get('/utilidades/resetear/'+id)
                          .then(res=>{
                              msgSuccess('Reseteado!','El campo ha sido reseteado')
                              this.getZonas()})
                          .catch(error=>msgError('No se pudo resetear.'))
             }})
         },

     }
 }

</script>
{% endblock %}
