{% extends "base.html" %} {% block title %}Contador{% endblock %}

{% block content %}
<div class="container" x-data="main()" >
  <!-- <div class="buttons">
       <a href="/utilidades/planos" class="button is-primary">Planos</a>
       <a href="/utilidades/impresos" class="button is-primary">Impresos</a>
       <a href="/utilidades/pdfsistema" class="button is-primary">Sistema</a>
       <a href="/utilidades/documentos" class="button is-primary">Documentos</a>
       <a href="/utilidades/wapp" class="button is-primary">Whatsapps</a>
       </div> -->
	<p class="title is-1">Contador</p>

    <div class="columns">
      <div class="column is-5">
        <button class="button is-primary" @click="Billete={};Arqueo={};mostrarArqueo=false">Resetear</button>
      </div>
      <div class="column is-5">
        <div class="div-billete div-billete-total" x-text="sumObj(Billete)"></div>
      </div>
    </div>
    <div class="block" @keydown.enter="$focus.next()">
      <div class="flex gap-1">
        <img alt="" src="/static/billetes/1000.png" width="200" height="100" />
        <input name="" type="text" x-model="Billete.valor1000"
               @blur="Billete.total1000=Billete.valor1000*1000;recalculaHay()" class="input-billete"
               :class="darkTheme?'input-dark':''"/>
        <div x-show="Billete.valor1000" x-text="Billete.valor1000*1000||''" class="div-billete"></div>
      </div>
      <div class="flex gap-1">
        <img alt="" src="/static/billetes/500.png" width="200" height="100" />
        <input name="" type="text" x-model="Billete.valor500"
               @blur="Billete.total500=Billete.valor500*500;recalculaHay()" class="input-billete"
               :class="darkTheme?'input-dark':''"/>
        <div x-show="Billete.valor500" x-text="Billete.valor500*500||''" class="div-billete"></div>
      </div>
      <div class="flex gap-1">
        <img alt="" src="/static/billetes/200.png" width="200" height="100" />
        <input name="" type="text" x-model="Billete.valor200"
               @blur="Billete.total200=Billete.valor200*200;recalculaHay()" class="input-billete"
               :class="darkTheme?'input-dark':''"/>
        <div x-show="Billete.valor200" x-text="Billete.valor200*200||''" class="div-billete"></div>
      </div>
      <div class="flex gap-1">
        <img alt="" src="/static/billetes/100.png" width="200" height="100" />
        <input name="" type="text" x-model="Billete.valor100"
               @blur="Billete.total100=Billete.valor100*100;recalculaHay()" class="input-billete"
               :class="darkTheme?'input-dark':''"/>
        <div x-show="Billete.valor100" x-text="Billete.valor100*100||''" class="div-billete"></div>
      </div>
      <div class="flex gap-1">
        <img alt="" src="/static/billetes/50.png" width="200" height="100" />
        <input name="" type="text" x-model="Billete.valor50"
               @blur="Billete.total50=Billete.valor50*50;recalculaHay()" class="input-billete"
               :class="darkTheme?'input-dark':''"/>
        <div x-show="Billete.valor50" x-text="Billete.valor50*50||''" class="div-billete"></div>
      </div>
      <div class="flex gap-1">
        <img alt="" src="/static/billetes/20.png" width="200" height="100" />
        <input name="" type="text" x-model="Billete.valor20"
               @keyup.enter="Billete.total20=Billete.valor20*20;recalculaHay()" class="input-billete"
               :class="darkTheme?'input-dark':''"/>
        <div x-show="Billete.valor20" x-text="Billete.valor20*20||''" class="div-billete"></div>
      </div>
</div>
<div class="flex-baseline">
  <label for="tienequehaber" class="text-big">Planilla</label>
  <input name="tienequehaber" type="text" x-model="Arqueo.tienequehaber" class="input "
         @keyup.enter="recalculaHay()"
         :class="darkTheme?'input-dark':''"/ style="width:100px;">
  <label for="hay" class="text-big">Hay</label>
  <input name="hay" type="text" x-model="Arqueo.hay"  class="input "
         :class="darkTheme?'input-dark':''"/ style="width:100px;">
  <div class="flex-baseline" x-show="Arqueo.saldo">
  <label for="saldo" class="text-big" :class="Arqueo.saldo<0?'red':'orange'" x-text="Arqueo.saldo<0?'Falta':'Sobra'"></label>
    <input name="saldo" type="text" x-model="Arqueo.saldo"  class="input "
           :class="Arqueo.saldo<0?(darkTheme?'input-arqueo-negativo input-dark':'input-arqueo-negativo'):(darkTheme?'input-dark input-arqueo-positivo':'input-arqueo-positivo')"
           style="width:100px;"/>
  </div>
</div>
</div>



{% endblock %} {% block script %}
<script>
 function main(){
     return{
         Billete:{},
         Arqueo:{},
         mostrarArqueo:false,
         sumObj(obj){
             let total = 0
             for (const item in obj){
                 if(item.includes('valor')){
                    itemvalue = item.match(/\d+/g)[0]
                    total += parseInt(itemvalue) * parseInt(obj[item]) || 0
                 }else{
                     continue
                 }
             }
             return total
         },
         recalculaHay(){
             this.Arqueo.hay=this.sumObj(this.Billete);
             this.Arqueo.saldo=this.Arqueo.hay-this.Arqueo.tienequehaber
         },
     }
 }
    </script>
{% endblock %}
