{% extends "base.html" %} {% block title %}Impresos{% endblock %}

{% block content %}
<div class="container" x-data="main()" x-init="getImpresos()">

  <p class="title is-1">Impresos</p>

  <div class="columns">
    <div class="column is-4">
      <div class="box">
        <div class="grid-buscar m-6">
          <input type="text" placeholder="Buscar" x-model="buscar" @keyup.enter="restringirBusqueda(buscar)"
                 class="input " :class="darkTheme?'input-dark':''"/>
          <button class="button is-primary " @click="restringirBusqueda(buscar)">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Imp</th>
        <th>Impreso</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="impreso in impresos">
        <tr>
          <td><i class="fa fa-print fa-2x" aria-hidden="true" @click="imprimirImpreso(impreso)"></td>
            <td x-text="impreso" style="width:380px;"></td>
        </tr>
      </template>
    </tbody>

  </table>
</div>




{% endblock %} {% block script %}
<script>
 function main(){
     return{
         impresos:[],
         impresos_:[],
         buscar:'',
         imprimirImpreso(impreso){
        	 axios({
          		 method: "GET",
          		 url: "/utilidades/imprimirimpreso/"+impreso+".pdf",
          		 responseType: "blob",
        	 }).then((res) => {
          		 let url = window.URL.createObjectURL(res.data);
          		 window.open(url);
         })},
         getImpresos(){
             axios.get('/utilidades/getimpresos')
				  .then(res=>{
					  this.impresos=res.data.impresos
                      this.impresos=this.impresos.map(row=>row.slice(0,-4))
                      this.impresos_=this.impresos
				  })
         },
                  restringirBusqueda(buscar){
                      this.impresos = this.impresos_
                      this.impresos = this.impresos.filter(row=>row.toLowerCase().includes(buscar.toLowerCase()))
                  },

     }
 }
</script>
{% endblock %}
