{% extends "base.html" %} {% block title %}Impresos{% endblock %}

{% block content %}
<div id="app" class="container" v-cloak>
	<p class="title is-1">Impresos</p>
    <div class="buttons">
        <a href="/utilidades/planos" class="button is-primary">Planos</a>
        <a href="/utilidades/pdfsistema" class="button is-primary">Sistema</a>
      </div>
      
      <table class="table">
        <thead>
            <tr>
                <th>Imp</th>
                <th>Impreso</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="impreso in impresos">
                <td><button class="button is-danger is-small" @click="imprimirImpreso(impreso)">Imprimir</button></td>
                <td>|impreso|</td>
            </tr>
        </tbody>

      </table>


</div>




{% endblock %} {% block script %}
<script>
const app = new Vue({
    el: '#app',
    delimiters: ['|', '|'],
    data: {
        impresos:[],
    },
    methods: {
        imprimirImpreso(impreso){
        		axios({
          			method: "GET",
          			url: "/utilidades/imprimirimpreso/"+impreso,
          			responseType: "blob",
        			}).then((res) => {
          			let url = window.URL.createObjectURL(res.data);
          			window.open(url);
                    })},
        getImpresos(){
            axios.get('/utilidades/getimpresos')
				.then(res=>{
					this.impresos=res.data.impresos
				})
        },
    },
    created: function(){
			this.getImpresos()
    },
})

    </script>
{% endblock %}
