{% extends "base.html" %} {% block title %}Impresos{% endblock %}

{% block content %}
<div class="container" x-data="main()" x-init="getImpresos()">
  <p class="title is-1">Impresos</p>
  <div class="buttons">
    <a href="/utilidades/planos" class="button is-primary">Planos</a>
    <a href="/utilidades/pdfsistema" class="button is-primary">Sistema</a>
    <a href="/utilidades/documentos" class="button is-primary">Documentos</a>
    <a href="/utilidades/contador" class="button is-primary">Contador</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Imp</th>
        <th>Impreso</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="impreso in impresos">
        <tr>
          <td><button class="button is-danger is-small" @click="imprimirImpreso(impreso)">Imprimir</button></td>
          <td x-text="impreso"></td>
        </tr>
      </template>
    </tbody>

  </table>


</div>




{% endblock %} {% block script %}
<script>
 function main(){
     return{
         impresos:[],
         imprimirImpreso(impreso){
        	 axios({
          		 method: "GET",
          		 url: "/utilidades/imprimirimpreso/"+impreso,
          		 responseType: "blob",
        	 }).then((res) => {
          		 let url = window.URL.createObjectURL(res.data);
          		 window.open(url);
         })},
         getImpresos(){
             axios.get('/utilidades/getimpresos')
				  .then(res=>{
					  this.impresos=res.data.impresos
				  })
         },
     }
 }
</script>
{% endblock %}
