{% extends "base_template.html" %}

{% block title %}Clientes{% endblock %}
{% block style %}
<style>
.grid-buscar{
    display: grid;
    grid-template-columns: 1fr 20%;
}
.micard {
    padding: 24px;
    background: white;
    border-radius: 8px;
    box-shadow: 6px 0px 10px gray ;
}
.modal-container{
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.3);
}
.modal{
    display:flex;
    flex-direction: column;
    position: relative;
}
.btn-close{
    color:purple;
    background-color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.textarea {
        border: solid 1px purple;
        border-radius: 5px;
    }
.textarea:focus{
        border: solid 2px turquoise;
        border-radius: 5px;
}
.input:focus{
        border: solid 2px turquoise;
        border-radius: 5px;
}
.suggestions{
    max-height: 200px;
    width: 100%;
    border-radius: 5px;
    overflow: auto;
}
.suggestions>div{
    padding: 5px;
    padding-left: 15px;
    font-size: 0.75em;
    color: #999;
    cursor: pointer;
}
.suggestions>div:hover{
    background: black;
    color: white;
}

</style>
{% endblock %}
{% block content %}
<div x-data="main()" x-init="obtenerCalles();obtenerBarrios();obtenerZonas();" class="container">

          <div class="grid-buscar ml-3 mr-3 mt-2">
              <input type="search" placeholder="Buscar en Romitex" class="input" x-model="buscar" @keyup.enter="buscarCliente" @focus="buscar='';verCard=false" >
              <button type="button" @click="buscarCliente" class="button is-primary">Buscar</button>
          </div>

          <div class="buttons m-3" >
            <template x-for="cliente in listaClientes" x-show="!verCard">
                <!-- [dni,nombre,direccion] -->
            <button class="button is-small" @mouseover="buscar=cliente.calle+' '+cliente.num" @click="buscaCuentaporDni(cliente.dni)" x-text="cliente.nombre" x-bind:class="cliente.deuda?'is-danger':'is-info'"></button>
            </template>
          </div>

          <!-- card datos clientes -->

    <div class="box"  x-show="verCard">
        <p class="title is-2" x-text="Cliente.nombre+'  '+Cliente.dni"></p>
        <p class="subtitle is-4" x-text="Cliente.calle+' '+Cliente.num+' '+Cliente.barrio+' '+Cliente.zona"></p>
        <p class="subtitle is-4"x-text="'tel:'+Cliente.tel+' wapp:'+Cliente.wapp"></p>

        <p class="" x-show="Cliente.acla" x-text="Cliente.acla"></p>
        <p class="" x-show="Cliente.mjecobr" x-text="Cliente.mjecobr"></p>
        <p class="" x-show="Cliente.horario" x-text="Cliente.horario"></p>
        <p class="" x-show="Cliente.infoseven" x-text="Cliente.infoseven"></p>
        <div class="buttons">
            <button class="button is-danger is-small" x-show="Cliente.novendermas">LN</button>
            <button class="button is-success is-small" x-show="Cliente.sev">SEVEN</button>
            <button class="button is-info is-small" x-show="Cliente.subirseven">SUBE</button>
            <button class="button is-danger is-small" x-show="Cliente.mudo">MUDO</button>
            <button class="button is-warning is-small" x-show="Cliente.gestion">GESTION</button>
            <button class="button is-danger is-small" x-show="Cliente.incobrable">INC</button>
            <button class="button is-info is-small" x-show="Cliente.seguir">SEGUIR</button>
            <button class="button is-warning is-small" x-show="Cliente.llamar">LLAMAR</button>
        </div>
        <div style="display: flex; align-items:center;">
            <h2 x-text="'$'+Cliente.deuda" class="title is-3 mb-1" x-show="Cliente.deuda"></h2>
            <h2 x-text="'PmoVto: '+Cliente.pmovto" class="subtitle is-5 mt-1 ml-3" x-show="Cliente.pmovto"></h2>
        </div>
    </div>
    <div class="buttons ml-3 mr-3 mb-1" x-show="verCard">
        <button class="button is-secondary is-small" x-show="!Cliente.sev" @click="toggleSube()">SUBE</button>
        <button class="button is-secondary is-small"  @click="toggleInc()">INC</button>
        <button class="button is-secondary is-small"  @click="toggleNvm()">LN</button>
        <button class="button is-secondary is-small"  @click="toggleGestion()">GESTION</button>
        <button class="button is-secondary is-small"  @click="toggleMudo()">MUDO</button>
        <button class="button is-secondary is-small"  @click="toggleSeguir()">SEGUIR</button>
        <button class="button is-primary is-small" @click="imprimirFicha(Cliente.dni)">IMPRIMIR</button>
        <button class="button is-primary is-small" @click="intimarCliente(Cliente.dni)">INTIM</button>
        <a x-bind:href=`https://wa.me/549${Cliente.wapp}?text=${messajeWapp}` class="button is-success is-small" target="blank" style="text-decoration: none;">WAPP</a>
        <button class="button is-success is-small" @click="clipDatos(Cliente.id)">DATOS</button>
        <button class="button is-info is-small" @click="fecharPmovto(Cliente.id)">FECHAR</button>
        <button class="button is-info is-small" @click="editarCliente(Cliente.id)">EDITAR</button>
        <button class="button is-info is-small" @click="agregarComentario()">COMENTAR</button>
        <button class="button is-info is-small" @click="agregarPlanPago()">PLAN PAGOS</button>
        <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
    </div>
    <table class="table table-sm m-3" x-show="verCard && listaVentas.length">
        <thead>
            <tr>
                <th>id</th>
                <th>fecha</th>
                <th>plan</th>
                <th>saldo/comprado</th>
                <th>vdor</th>
                <th>cnt/art</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="venta in listaVentas">
            <tr>
                <td x-text="venta.id"></td>
                <td x-text="venta.fecha" style="min-width: 150px;"></td>
                <td x-text="venta.cc+' CUO de $'+venta.ic+' '+venta.p" style="min-width: 200px;"></td>
                <td x-text="venta.saldo+'/'+venta.comprado"></td>
                <td x-text="venta.idvdor"></td>
                <td x-text="venta.cnt+'/'+venta.art" x-show="venta.cnt"></td>
                <td x-text="'PLAN DE PAGOS'" x-show="venta.pp" class="tag-danger"></td>
            </tr>
           </template>
        </tbody>
    </table>
    <div class="columns m-2">
        <div>
            <h3 class="title is-3 text-center m-2" x-show="verCard && listaCuotas.length">Cuotas a pagar</h3>
            <table class="table  " x-show="verCard && listaCuotas.length" >
                <thead>
                    <tr>
                        <th>N</th>
                        <th>Fecha</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="cuota in listaCuotas">
                    <tr x-show="cuota[2]">
                        <td x-text="cuota[0]"></td>
                        <td x-text="cuota[1]" style="min-width: 100px;"></td>
                        <td x-text="cuota[2]"></td>
                    </tr>
                   </template>
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="title is-3 text-center m-2" x-show="verCard && listaPagadas.length">Cuotas pagadas</h3>
            <table class="table " x-show="verCard && listaPagadas.length">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Rbo</th>
                        <th>Imp</th>
                        <th>Rec</th>
                        <th>Cobr</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="paga in listaPagadas">
                    <tr>
                        <td x-text="paga.fecha" style="min-width: 100px;"></td>
                        <td x-text="paga.rbo"></td>
                        <td x-text="paga.imp"></td>
                        <td x-text="paga.rec"></td>
                        <td x-text="paga.cobr"></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>

     </div>
     <div class="m-2">
        <h3 class="title is-3 m-2" x-show="verCard && listaVentasCanceladas.length">Ventas Canceladas</h3>
        <table class="table" x-show="verCard && listaVentasCanceladas.length">
           <thead>
               <tr>
                   <th>id</th>
                   <th>fecha</th>
                   <th>plan</th>
                   <th>comprado</th>
                   <th>vdor</th>
                   <th>cnt/art</th>
                   <th>info</th>
               </tr>
           </thead>
           <tbody>
               <template x-for="venta in listaVentasCanceladas">
               <tr>
                   <td data-titulo="cuenta" x-text="venta.id"></td>
                   <td data-titulo="fecha vta"x-text="venta.fecha" style="min-width: 100px;"></td>
                   <td data-titulo="plan" x-text="venta.cc+' CUO de $'+venta.ic+' '+venta.p" style="min-width: 200px;"></td>
                   <td data-titulo="comprado" x-text="venta.comprado"></td>
                   <td data-titulo="vdor" x-text="venta.idvdor"></td>
                   <td data-titulo="arts" x-text="venta.cnt+'/'+venta.art"></td>
                   <td x-show="venta.pcondo" x-text="'CUENTA INCLUIDA EN UN PLAN DE PAGOS'" class="tag-danger"></td>
               </tr>
               </template>
            </tbody>
          </table>
     </div>

       <div class="m-2">
        <h3 class="title is-3 m-2" x-show="verCard && listaComentarios.length">Comentarios</h3>
        <table class="table " x-show="verCard && listaComentarios.length">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="comentario in listaComentarios">
                <tr>
                    <td  x-text="comentario.fechahora" style="min-width: 100px;"></td>
                    <td  x-text="comentario.comentario"></td>
                </tr>
             </template>
            </tbody>
        </table>
       </div>

       <div class="m-2">
        <h3 class="title is-3 m-2" x-show="verCard && listaLogCambioDireccion.length">LogCambioDireccion</h3>
        <table class="table " x-show="verCard && listaLogCambioDireccion.length">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>calle</th>
                    <th>num</th>
                    <th>wapp</th>
                    <th>acla</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="log in listaLogCambioDireccion">
                <tr>
                    <td  x-text="log.fecha" style="min-width: 100px;"></td>
                    <td  x-text="log.calle"></td>
                    <td  x-text="log.num"></td>
                    <td  x-text="log.wapp"></td>
                    <td  x-text="log.acla"></td>
                </tr>
             </template>
            </tbody>
        </table>
       </div>


    <!-- MODALES -->
    <div x-bind:class="verModalPmovto?'modal-container':''">
        <div class=" micard modal" x-show="verModalPmovto">
            <button class="btn-close" @click="verModalPmovto=false"><i class="fa fa-times" aria-hidden="true"></i></button>
            <h1 class="title is-3">Fechar PmoVto</h1>
            <input type="date" class="input mb-3" x-model="Cliente.pmovto">
            <button class="button is-primary" @click="guardarPmovto">Fechar</button>
        </div>
    </div>
    <div x-bind:class="verModalComentario?'modal-container':''">
        <div class=" micard modal" x-show="verModalComentario">
            <button class="btn-close" @click="verModalComentario=false"><i class="fa fa-times" aria-hidden="true"></i></button>
            <h3 class="title is-4">Agregar Comentario</h3>
            <input type="date" class="input mb-3" x-model="Comentario.fechahora">
            <textarea class="textarea mb-3" rows="4" x-model="Comentario.comentario"></textarea>
            <button class="button is-primary" @click="guardarComentario">Guardar</button>
        </div>
    </div>
    <div x-bind:class="verModalEdicion?'modal-container':''">
        <div class="micard modal" x-show="verModalEdicion">
            <div class="flex justify-content-end">
                <button class="btn-close" @click="verModalEdicion=false"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <h1 class="title is-3">Editar Cliente</h1>
            <input type="text" class="input mb-1" x-model="Cliente.dni">
            <input type="text" class="input mb-1" x-model="Cliente.nombre">

            <div class="grid col-1 gap-0"">
            <input type="text" class="input mb-1" x-model="Cliente.calle" id="searchCalle" autocomplete="off">
            <div id="suggestionsCalle" class="suggestions"></div>
            </div>

            <input type="text" class="input mb-1" x-model="Cliente.num">

            <div class="grid col-1 gap-0"">
                <input type="text" class="input mb-1" x-model="Cliente.barrio" id="searchBarrio" autocomplete="off">
                <div id="suggestionsBarrio" class="suggestions"></div>
            </div>

            <div class="grid col-1 gap-0">
                <input type="text" class="input mb-1" x-model="Cliente.zona" id="searchZona" autocomplete="off">
                <div id="suggestionsZona" class="suggestions"></div>
            </div>

            <input type="text" class="input mb-1" x-model="Cliente.tel" placeholder="telefono">
            <input type="text" class="input mb-1" x-model="Cliente.wapp" placeholder="wapp">
            <input type="text" class="input mb-1" x-model="Cliente.acla" placeholder="aclaracion">
            <input type="text" class="input mb-1" x-model="Cliente.horario" placeholder="horario">
            <input type="text" class="input mb-1" x-model="Cliente.mjecobr" placeholder="mjecobrador">
            <input type="text" class="input mb-1" x-model="Cliente.infoseven" placeholder="infoseven">
            <button class="button is-primary" @click="guardarEdicion">Guardar</button>
        </div>
    </div>
    <div x-bind:class="verModalPlanPago?'modal-container':''">
        <div class=" micard modal" x-show="verModalPlanPago">
            <button class="btn-close" @click="verModalPlanPago=false"><i class="fa fa-times" aria-hidden="true"></i></button>
            <h1 class="title is-3">Plan Pagos</h1>
            <label for="fecha" class="label">Fecha</label>
            <input type="date" class="input mb-3" x-model="Venta.fecha" id="fecha" autocomplete="off">
            <label for="cc" class="label">Cuotas</label>
            <input type="text" class="input mb-3" x-model="Venta.cc" id="cc" autocomplete="off">
            <label for="ic" class="label">Importe</label>
            <input type="text" class="input mb-3" x-model="Venta.ic" id="ic" autocomplete="off">
            <label for="p" class="label">Periodicidad</label>
            <input list="per" id="p" class="input mb-3" x-model="Venta.p" autocomplete="off">
                <datalist id="per">
                <option value="Mensual"></option>
                <option value="Quincenal"></option>
                <option value="Semanal"></option>
                </datalist>
            <label for="fechaprimer" class="label">Fecha Primer Cuota</label>
            <input type="date" class="input mb-3" x-model="Venta.primera" id="fechaprimer">

            <button class="btn btn-primary" @click="guardarPlanPagos">Generar</button>
        </div>
    </div>


</div>
{% endblock %}

{% block script %}
<script>
    function textToClipboard (text) {
        var dummy = document.createElement("textarea");
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);
    }
    function main(){
        return{
            listaClientes:[],
            listaVentas:[],
            listaCuotas:[],
            listaVentasCanceladas:[],
            listaComentarios:[],
            listaLogCambioDireccion:[],
            listaPagadas:[],
            buscar:'',
            verCard:false,
            messajeWapp:'',
            Cliente:{},
            Venta:{fecha:dayjs.utc().format('YYYY-MM-DD'),p:'Mensual'},
            Comentario:{fechahora:dayjs.utc().format('YYYY-MM-DD')},
            verModalPmovto:false,
            verModalEdicion:false,
            verModalComentario:false,
            verModalPlanPago:false,
            buscarCliente(){
                axios.get('/buscador/'+this.buscar)
                .then(res=>{
                    //console.log(res.data.clientes)
                    this.listaClientes=res.data.clientes
                    if(this.listaClientes.length==1) this.buscaCuentaporDni(res.data.clientes[0].dni)
                })
                .catch(error=>{
                    //Toast.show(error.request.response,'error')
                })
            },
            buscaCuentaporDni(dni){
                //console.log(dni);
                this.listaClientes.map(row=>row.pmovto=dayjs.utc(row.pmovto).format('YYYY-MM-DD'))
                this.Cliente = this.listaClientes.filter(row=>row.dni==dni)[0]
                //console.log(this.Cliente);
                this.obtenerVentas(this.Cliente.id)
                this.verCard = true;
		axios.get('/buscador/clientesdireccion/'+this.Cliente.calle+'/'+this.Cliente.num)
		     .then(res=>{
			 this.listaClientes=res.data.clientes
		     })
            },
            clipWapp(){
            let text,
                messaje;
            let direccion = this.Cliente.calle.concat(' ',this.Cliente.num)
            ultvta = this.listaVentas[0]

                let fecha = ultvta.fecha;
                let articulos = ultvta.art;
                if (this.Cliente.sev){
                text=
                `Nos comunicamos de la empresa ROMITEX por una deuda que usted tiene con la firma. Usted fue subido al SEVEN hasta regularizar su cuenta. Puede hacer un plan de pagos. Consulte por Wapp. Una vez cancelado en 24hs se lo elimina del SEVEN. De no desmostrar interes nos vemos obligados a cobrar su pagare por via JUDICIAL. Atte. *Departamento de cobranzas de ROMITEX*`
                } else {
                    text=
                    `Nos comunicamos de la empresa ROMITEX por una deuda que usted tiene con la firma. En los proximos dias deberemos informar al SEVEN el atraso de su cuenta. Le proponemos un plan de pagos que podemos realizar por este medio.`
                }
                messaje = this.Cliente.nombre.concat(': ',text,' ',`(Por compra de ${articulos} realizada en '${direccion}' el dia ${dayjs.utc(fecha).format('DD-MM-YYYY')})`)
                console.log(messaje);
                this.messajeWapp = messaje.replaceAll(' ','%20')

            },
            clipDatos(idcliente){
                let text = this.Cliente.dni+'\n'+this.Cliente.calle+' '+this.Cliente.num+'\n'+this.Cliente.barrio+'\n'+this.Cliente.wapp
                textToClipboard(text)
                bulmaToast.toast({
                    message:"Datos copiados al portapapeles",
                    type: "is-success"
                    })
            },
            obtenerVentas(idcliente){
                axios.get('/buscador/obtenerventasporidcliente/'+idcliente)
                .then(res=>{
                    console.log(res.data.ventas);
                    let arrayVentas=res.data.ventas
                    arrayVentas.map(row=>{
                        row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD')
                        row.p=1?'MEN':3?'SEM':'QUI'
                    })
                    this.listaVentas = arrayVentas
                    this.listaCuotas = this.hacerCuotas()
                    if(this.listaVentas.length===0) bulmaToast.toast({message:'Este cliente no tiene cuentas activas',type:'is-danger'})
                    this.pedirPagadas(idcliente)
                    this.obtenerVentasCanceladas(idcliente)
                    this.pedirComentarios(idcliente)
                    this.pedirLogCambioDireccion(idcliente)
                    this.clipWapp();//genero el message wapp para el cliente por si es necesario
                })
            },
            obtenerVentasCanceladas(idcliente){
                axios.get('/buscador/obtenerventascanceladasporidcliente/'+idcliente)
                .then(res=>{
                    let arrayVentasCanceladas=res.data.ventascanceladas
                    arrayVentasCanceladas.map(row=>{
                        row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD')
                        row.p=1?'MEN':3?'SEM':'QUI'
                    })
                    this.listaVentasCanceladas = arrayVentasCanceladas
                })
            },
            pedirComentarios(idcliente){
                axios.get('/buscador/pedircomentarios/'+idcliente)
                .then(res=>{
                    let arrayComentarios = res.data.comentarios
                    arrayComentarios.map(row=>row.fechahora=dayjs.utc(row.fechahora).format('YYYY-MM-DD'))
                    this.listaComentarios = arrayComentarios
                })
            },
            pedirLogCambioDireccion(idcliente){
                axios.get('/buscador/pedirlogcambiodireccion/'+idcliente)
                .then(res=>{
                    this.listaLogCambioDireccion = res.data.logcambiodireccion
                    this.listaLogCambioDireccion.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                })
            },
            hacerCuotas(){
            /* id,fecha,cc2,ic3,p4,idvdor,saldo6,comprado,pp8,devuelta,condonada,cnt,art,pagado13,primera14, */
            tblCuota=[]
            let vto
            this.listaVentas.forEach(row=>{
                saldo = row.saldo
                    if(saldo!==0){
                        pagado = row.pagado
                        cc = row.cc
                        ic = row.ic
                        p = row.p
                        //console.log(p);
                        primera = row.primera
                        for (let i=1; i<=cc ;i++){
                            if(p==='MEN') vto = dayjs.utc(primera).add(i-1,'month').format('YYYY-MM-DD')
                            if(p==='QUI') vto = dayjs.utc(primera).add((i-1)*2,'week').format('YYYY-MM-DD')
                            if(p==='SEM') vto = dayjs.utc(primera).add(i-1,'week').format('YYYY-MM-DD')
                            tblCuota.push([i,vto,pagado>=ic?0:pagado<=0?ic:ic-pagado])
                            pagado = pagado - ic
                        }
                    }

            })
            return tblCuota
            },
            pedirPagadas(idcliente){
                axios.get('/buscador/pedirpagadasporidcliente/'+idcliente)
                .then(res=>{
                    //console.log(res.data.pagadas);
                    this.listaPagadas=res.data.pagadas
                    this.listaPagadas.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                })
            },
            toggleInc(){
            axios.get('/buscador/toggleinc/'+this.Cliente.dni)
            .then(res=>{
               bulmaToast.toast({message:res.data.msg,type:"is-success"})
               this.Cliente.incobrable = !this.Cliente.incobrable
            })
            },
            toggleNvm(){
                axios.get('/buscador/togglenvm/'+this.Cliente.dni)
                .then(res=>{
                    bulmaToast.toast({message:res.data.msg,type:"is-success"})
                    this.Cliente.novendermas = !this.Cliente.novendermas
                })
            },
            toggleSube(){
                axios.get('/buscador/togglesube/'+this.Cliente.dni)
                .then(res=>{
                    bulmaToast.toast({message:res.data.msg,type:"is-success"})
                    this.Cliente.subirseven = !this.Cliente.subirseven
                })
            },
            toggleGestion(){
                axios.get('/buscador/togglegestion/'+this.Cliente.dni)
                .then(res=>{
                    bulmaToast.toast({message:res.data.msg,type:"is-success"})
                    this.Cliente.gestion = !this.Cliente.gestion
                })
            },
            toggleMudo(){
                axios.get('/buscador/togglemudo/'+this.Cliente.dni)
                .then(res=>{
                    console.log(res.data.msg);
                    bulmaToast.toast({message:res.data.msg,type:"is-success"})
                    this.Cliente.mudo = !this.Cliente.mudo
                })
            },
            toggleSeguir(){
                axios.get('/buscador/toggleseguir/'+this.Cliente.dni)
                .then(res=>{
                    bulmaToast.toast({message:res.data.msg,type:"is-success"})
                    this.Cliente.seguir = !this.Cliente.seguir
                })
            },
            imprimirFicha(dni){
            let ids = [];
            ids.push(dni);
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
            axios({
                method:"POST",
                url:"/buscador/imprimirficha",
                responseType: "blob",
                data: ids,
            }).then((res)=>{
                let url = window.URL.createObjectURL(res.data);
                window.open(url);
            })
            },
            intimarCliente(dni){
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
		axios({
		method: "POST",
		url: "/buscador/intimar",
		responseType: "blob",
		data: [dni],
		}).then((res) => {
		let url = window.URL.createObjectURL(res.data);
		window.open(url);
		});
            },
            fecharPmovto(idcliente){
            this.verModalPmovto=true
            },
            guardarPmovto(){
                this.verModalPmovto=false
                axios.get('/buscador/guardarpmovto/'+this.Cliente.id+'/'+this.Cliente.pmovto)
                .then(res=>{
                    bulmaToast.toast({message:"Fechado realizado",type:"is-success"})
                })
            },
            agregarComentario(){
                this.verModalComentario=true
            },
            guardarComentario(){
                this.verModalComentario=false
                axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
                    axios({
                    method:'POST',
                    url:'/buscador/guardarcomentario/'+this.Cliente.id,
                    data:this.Comentario
                    })
                    .then(res=>{
                        bulmaToast.toast({message:'Comentario agregado',type:'is-success'})
                        this.pedirComentarios(this.Cliente.id)
                    })
            },
            editarCliente(idcliente){
            this.verModalEdicion=true
            },
            guardarEdicion(){
                this.verModalEdicion=false
                axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
                axios({
                    method:'POST',
                    url:'/buscador/guardaredicioncliente/'+this.Cliente.id,
                    data:this.Cliente
                    })
                    .then(res=>{
                    bulmaToast.toast({message:"Cliente editado con exito",type: 'is-success'})
                    })
                    .catch(error=>{
                    bulmaToast.toast({message:error.request.response,type: 'is-danger'})
                    })
            },
            obtenerCalles(){
                axios.get('/buscador/obtenerlistacalles')
                .then(res=>{
                    const calles = res.data.calles
                    const $input = document.getElementById('searchCalle')
                    const $suggestions = document.getElementById('suggestionsCalle')
                    $input.addEventListener('keyup',(e)=>{
                    const input = $input.value
                    $suggestions.innerHTML='';
                    const suggestions = calles.filter(calle=>{
                        return calle.calle.toLocaleLowerCase().includes(input.toLocaleLowerCase())
                    })
                    suggestions.forEach(suggested=>{
                        const $div = document.createElement('div');
                        $div.innerHTML = suggested.calle;
                        $suggestions.appendChild($div)
                    })
                    if(input==='') $suggestions.innerHTML=''
                    if(e.key==='Enter'){
                        this.Cliente.calle = $suggestions.firstChild.innerHTML
                        $suggestions.innerHTML=''
                    }
                    })
                    $suggestions.addEventListener('click',(e)=>{
                        this.Cliente.calle=e.target.innerHTML
                        $suggestions.innerHTML=''
                    })
                    })
                },
            obtenerBarrios(){
                axios.get('/buscador/obtenerlistabarrios')
                .then(res=>{
                    const barrios = res.data.barrios
                    const $input = document.getElementById('searchBarrio')
                    const $suggestions = document.getElementById('suggestionsBarrio')
                    $input.addEventListener('keyup',(e)=>{
                    const input = $input.value
                    $suggestions.innerHTML='';
                    const suggestions = barrios.filter(barrio=>{
                        return barrio.barrio.toLocaleLowerCase().includes(input.toLocaleLowerCase())
                    })
                    suggestions.forEach(suggested=>{
                        const $div = document.createElement('div');
                        $div.innerHTML = suggested.barrio;
                        $suggestions.appendChild($div)
                    })
                    if(input==='') $suggestions.innerHTML=''
                    if(e.key==='Enter'){
                        this.Cliente.barrio = $suggestions.firstChild.innerHTML
                        $suggestions.innerHTML=''
                    }
                    })
                    $suggestions.addEventListener('click',(e)=>{
                        this.Cliente.barrio=e.target.innerHTML
                        $suggestions.innerHTML=''
                    })
                    })
                },
            obtenerZonas(){
                axios.get('/buscador/obtenerlistazonas')
                .then(res=>{
                    const zonas = res.data.zonas
                    const $input = document.getElementById('searchZona')
                    const $suggestions = document.getElementById('suggestionsZona')
                    $input.addEventListener('keyup',(e)=>{
                    const input = $input.value
                    $suggestions.innerHTML='';
                    const suggestions = zonas.filter(zona=>{
                        return zona.zona.toLocaleLowerCase().includes(input.toLocaleLowerCase())
                    })
                    suggestions.forEach(suggested=>{
                        const $div = document.createElement('div');
                        $div.innerHTML = suggested.zona;
                        $suggestions.appendChild($div)
                    })
                    if(input==='') $suggestions.innerHTML=''
                    if(e.key==='Enter'){
                        this.Cliente.zona = $suggestions.firstChild.innerHTML
                        $suggestions.innerHTML=''
                    }
                    })
                    $suggestions.addEventListener('click',(e)=>{
                        this.Cliente.zona=e.target.innerHTML
                        $suggestions.innerHTML=''
                    })
                    })
                },
                agregarPlanPago(){
                this.verModalPlanPago=true
                },
                guardarPlanPagos(){
                    this.Venta.p = this.Venta.p=="Mensual"?1:this.Venta.p=="Quincenal"?2:3
                    this.verModalPlanPago=false
                    axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
                    axios({
                    method:'POST',
                        url:'/buscador/generarplandepagos/'+this.Cliente.id,
                        data:this.Venta
                        })
                        .then(res=>{
                        bulmaToast.toast({message:"Plan de pagos generado",type: 'is-success'})
                        })
                        .catch(error=>{
                        bulmaToast.toast({message:error.request.response, type:'is-danger'})
                        })

                },

        }
    }
</script>
{% endblock %}
