{% extends "base_template.html" %}
{% block style %}
<style>
   /* CONTENEDORES */
.container-sm,
.container-xl,
.container {
    max-width: 100%;
    /* width: var(--width-container); */
    margin: 20px auto;
    
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-sm, .container {
    max-width: 1140px;
  }
}
.input {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid $purple-light;
    transition: .3s ease all;
}
.input:focus {
    border: 2px solid $purple;
    outline: none;
}
.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  text-align: center;
  line-height: 22px;
  transition: 0.3s ease all;
  color: #FFFFFF;
}

.btn-primary {
  background: #6b1b80;
}
.btn-primary:hover {
  background: #b02ed3;
}

.btn-outline-primary {
  background: none;
  border: 2px solid #6b1b80;
  color: #6b1b80;
}
.btn-outline-primary:hover {
  background: black;
}

.btn-secondary {
  background: #FFDC00;
  color: #111111;
}
.btn-secondary:hover {
  background: #ffffe0;
  color: #111111;
}

.btn-outline-secondary {
  background: none;
  border: 2px solid #FFDC00;
  color: #FFDC00;
}
.btn-outline-secondary:hover {
  background: black;
}

.btn-green {
  background: #2ECC40;
  color: #111111;
}
.btn-green:hover {
  background: #46b34b;
  color: #111111;
}

.btn-outline-green {
  background: none;
  border: 2px solid #2ECC40;
  color: #2ECC40;
}
.btn-outline-green:hover {
  background: black;
}

.btn-red {
  background: #FF4136;
  color: #111111;
}
.btn-red:hover {
  background: #dc5959;
  color: #111111;
}

.btn-outline-red {
  background: none;
  border: 2px solid #FF4136;
  color: #FF4136;
}
.btn-outline-red:hover {
  background: black;
}

.btn-sm {
  padding: 4px 6px;
  line-height: 16px;
  font-size: 0.75em;
}
.grid {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

.col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.col-11 {
  grid-template-columns: repeat(11, 1fr);
}

.col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}

.span-9 {
  grid-column: span 9;
}

.span-10 {
  grid-column: span 10;
}

.span-11 {
  grid-column: span 11;
}

.span-12 {
  grid-column: span 12;
}

.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

@media screen and (max-width: 576px) {
  .mob-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .mob-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .mob-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .mob-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .mob-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .mob-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .mob-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .mob-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .mob-col-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .mob-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .mob-col-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .mob-col-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .span-1 {
    grid-column: span 1;
  }

  .mob-span-2 {
    grid-column: span 2;
  }

  .mob-span-3 {
    grid-column: span 3;
  }

  .mob-span-4 {
    grid-column: span 4;
  }

  .mob-span-5 {
    grid-column: span 5;
  }

  .mob-span-6 {
    grid-column: span 6;
  }

  .mob-span-7 {
    grid-column: span 7;
  }

  .mob-span-8 {
    grid-column: span 8;
  }

  .mob-span-9 {
    grid-column: span 9;
  }

  .mob-span-10 {
    grid-column: span 10;
  }

  .mob-span-11 {
    grid-column: span 11;
  }

  .mob-span-12 {
    grid-column: span 12;
  }


</style>
{% endblock %}
{% block content %}
<div x-data="main()" class="container-xl container-sm">
   
                    <div class="grid gap-0 col-2">
                        <input type="search" class="input ml-3" x-model="buscar"  @keyup.enter="buscarCliente()">
                        <button type="button" class="btn btn-primary" @click="buscarCliente()" style="max-width: 100px;">Buscar</button>
                    </div>
             
       
    
        <table class="table table-sm" x-show="mostrarTabla">
            <thead>
                <tr>
                    <th>op</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Deuda</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="cliente in listaClientes">
                <tr>
                    <td><button type="button" class="btn btn-secondary btn-sm" @click="abrirCliente(cliente[0], cliente[1])">Abrir</button></td>
                    <td data-titulo="dni" x-text="cliente[0]"></td>
                    <td data-titulo="nombre" x-text="cliente[1]"></td>
                    <td data-titulo="direccion" x-text="cliente[2]"></td>
                    <td data-titulo="deuda" x-text="cliente[3]"></td>
                </tr>
                </template>
            </tbody>
        </table>
   
    <article>
        <section>
            <div class="mt-3 ml-3 mr-3" x-show="mostrarBox">
                <h2 x-text="nombre" class="display-3 mb-1 text-orange"></h2>
                <h3 x-text="'DNI '+dni" x-show="dni" class="display-4 mb-1 text-white"></h3>
                <h3 x-text="calle+' '+num+' '+barrio+' Zona '+zona" x-show="zona" class="display-5 mb-1 text-white"></h3>
                <h3 x-text="'tel '+tel+' wapp '+wapp" x-show="tel&&wapp" class="display-5 mb-1 text-white"></h3>
                <h4 x-text="'Aclaracion: '+acla"  x-show="acla" class="display-6 mb-1 text-red"></h4>
                <h4 x-text="'Horario: '+horario"  x-show="horario" class="display-6 mb-1 text-red"></h4>
                <h4 x-text="'Mens.Cobrador: '+mjecobr"  x-show="mjecobr" class="display-6 mb-1 text-red"></h4>
                <h4 x-text="'Info Seven: '+infoseven"  x-show="infoseven" class="display-6 mb-1 text-red"></h4>
                <h2 x-text="'$'+deuda" class="display-3 text-orange mb-1"></h2>
            </div>
            <div class="ml-3 mr-3 mb-1" x-show="mostrarBox">
                <button class="btn btn-red btn-sm" @click="imprimirFicha(idcliente)">imprimir</button>
                <button class="btn btn-green btn-sm" x-show="sev">SEVEN</button>
                <button class="btn btn-sm" x-bind:class="incobrable?'btn-red':'btn-outline-red'" @click="toggleInc()">INC</button>
                <button class="btn btn-sm" x-bind:class="novendermas?'btn-red':'btn-outline-red'" @click="toggleNvm()">LN</button>
            </div>
        </section>
    </article>
        <table class="table table-sm" x-show="listaVentas.length">
            <thead>
                <tr>
                    <th>id</th>
                    <th>fecha</th>
                    <th>plan</th>
                    <th>saldo/comprado</th>
                    <th>vdor</th>
                    <th>cnt/art</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="venta in listaVentas">
                <tr>
                    <td data-titulo="cuenta" x-text="venta.id"></td>
                    <td data-titulo="fecha vta"x-text="venta.fecha" style="min-width: 100px;"></td>
                    <td data-titulo="plan" x-text="venta.cc+' CUO de $'+venta.ic+' '+venta.p" style="min-width: 200px;"></td>
                    <td data-titulo="saldo/comprado" x-text="venta.saldo+'/'+venta.comprado"></td>
                    <td data-titulo="vdor" x-text="venta.idvdor"></td>
                    <td data-titulo="arts" x-text="venta.cnt+'/'+venta.art"></td>
                </tr>
               </template>
            </tbody>
        </table>
        
                  
        <div class="grid col-2 mob-col-1">
            <div>
                <h3 class="display-5 text-orange text-center m-1" x-show="listaCuotas.length">Cuotas a pagar</h3>
                <table class="table " x-show="listaCuotas.length" >
                    <thead>
                        <tr>
                            <th>N</th>
                            <th>Fecha</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="cuota in listaCuotas">
                        <tr x-show="cuota[2]">
                            <td x-text="cuota[0]"></td>
                            <td x-text="cuota[1]" style="min-width: 100px;"></td>
                            <td x-text="cuota[2]"></td>
                        </tr>
                       </template>
                    </tbody>
                </table>
            </div>
            <div>
                <h3 class="display-5 text-orange text-center m-1" x-show="listaPagadas.length">Cuotas pagadas</h3>
                <table class="table " x-show="listaPagadas.length">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Rbo</th>
                            <th>Imp</th>
                            <th>Rec</th>
                            <th>Cobr</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="paga in listaPagadas">
                        <tr>
                            <td x-text="paga.fecha" style="min-width: 100px;"></td>
                            <td x-text="paga.rbo"></td>
                            <td x-text="paga.imp"></td>
                            <td x-text="paga.rec"></td>
                            <td x-text="paga.cobr"></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
           
         </div>
        <!-- <div class="grid col-1 gap-0"  style="width:200px;">
            <input type="text" class="input" id="searchId">
            <div id="suggestions" class="suggestions"></div>
        </div> -->

</div>
{% endblock %}


{% block script %}
<script>
    function main(){
        return {
            buscar:'',
            mostrarTabla:true,
            mostrarBox:false,
            listaClientes:[],
            listaVentas:[],
            listaCalles:[],
            listaCuotas:[],
            listaPagadas:[],
            idcliente:'',
            dni:'',
            nombre:'',
            calle:'',
            num:'',
            barrio:'',
            zona:'',
            tel:'',
            wapp:'',
            acla:'',
            horario:'',
            mjecobr:'',
            infoseven:'',
            deuda:'',
            sev:'',
            incobrable:'',
            novendermas:'',
            buscarCliente(){
                this.mostrarTabla=true
                this.mostrarBox=false
                axios.get('/buscador/'+this.buscar)
                .then(res=>{
                    //console.log(res.data)
                    this.listaClientes=res.data
                })
            },
            abrirCliente(dni){
                this.mostrarTabla=false
                this.mostrarBox=true
                axios.get('/buscador/'+dni)
                .then(res=>{
                    //console.log(res.data[0])
                    this.idcliente = res.data[0].id
                    this.dni = res.data[0].dni
                    this.nombre = res.data[0].nombre
                    this.calle = res.data[0].calle
                    this.num = res.data[0].num
                    this.barrio = res.data[0].barrio
                    this.zona = res.data[0].zona
                    this.tel = res.data[0].tel
                    this.wapp = res.data[0].wapp
                    this.acla = res.data[0].acla
                    this.horario = res.data[0].horario
                    this.mjecobr = res.data[0].mjecobr
                    this.infoseven = res.data[0].infoseven
                    this.deuda = res.data[0].deuda
                    this.sev = res.data[0].sev
                    this.incobrable = res.data[0].incobrable
                    this.obtenerVentas(this.idcliente)
                })
            },
            obtenerVentas(idcliente){
                axios.get('/buscador/pedirventas/'+idcliente)
                .then(res=>{
                    //console.log(res.data);
                    let arrayVentas=res.data
                    arrayVentas.map(row=>{
                        row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD')
                        row.p=1?'MEN':3?'SEM':'QUI'
                    })
                    this.listaVentas = arrayVentas
                    this.listaCuotas = this.hacerCuotas()
                    if(this.listaVentas.length===0) Toast.show('Este cliente no tiene cuentas activas','error')
                    this.pedirPagadas(idcliente)
                })
            },
           
            hacerCuotas(){
            /* id,fecha,cc2,ic3,p4,idvdor,saldo6,comprado,pp8,devuelta,condonada,cnt,art,pagado13,primera14, */
            tblCuota=[]
            let vto
            this.listaVentas.forEach(row=>{
                saldo = row.saldo
                pp = row.pp
                if(pp===0){
                    if(saldo!==0){
                        pagado = row.pagado
                        cc = row.cc
                        ic = row.ic
                        p = row.p
                        console.log(p);
                        primera = row.primera
                        for (let i=1; i<=cc ;i++){
                            if(p==='MEN') vto = dayjs.utc(primera).add(i-1,'month').format('YYYY-MM-DD')
                            if(p==='QUI') vto = dayjs.utc(primera).add((i-1)*2,'week').format('YYYY-MM-DD')
                            if(p==='SEM') vto = dayjs.utc(primera).add(i-1,'week').format('YYYY-MM-DD')
                            tblCuota.push([i,vto,pagado>=ic?0:pagado<=0?ic:ic-pagado])
                            pagado = pagado - ic
                        }
                    }
                }
            })
            return tblCuota
        },
        pedirPagadas(idcliente){
            axios.get('/buscador/pedirpagadas/'+idcliente)
            .then(res=>{
                console.log(res.data);
                this.listaPagadas=res.data
                this.listaPagadas.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                
            })
        },
        toggleInc(){
            axios.get('/toggleinc/'+this.idcliente)
            .then(res=>{
                this.incobrable = !res.data[0].incobrable
            })
        },
        toggleNvm(){
            axios.get('/togglenvm/'+this.idcliente)
            .then(res=>{
                this.novendermas = !res.data[0].novendermas
            })
        },
        imprimirFicha(idcliente){
            axios.get('/imprimirficha/'+idcliente,{ responseType: 'blob' })
            .then(res=>{
                let url = window.URL.createObjectURL(res.data);
                window.open(url);
            })
        },
            
        }
    }
</script>
{% endblock %}







