{% extends "base.html" %}

{% block title %}Clientes Nuevos{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getClientesIngresadosPorVdor();obtenerCalles();obtenerBarrios();obtenerZonas()">

  <p class="title is-1">Revision Clientes Ingresados por Vendedor</p>


  <table class="table is-narrow nototal">
    <thead>
      <tr>
        <th></th>
        <th>dni</th>
        <th>nombre</th>
        <th>calle</th>
        <th>num</th>
        <th>zona</th>
        <th>acla</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="cliente in listaClientes">
        <tr>
          <td><i class="fa fa-pencil" aria-hidden="true" @click="editarCliente(cliente.id)"></td>
          <td x-text="cliente.dni"></td>
          <td x-text="cliente.nombre"></td>
          <td x-text="cliente.calle"></td>
          <td x-text="cliente.num"></td>
          <td x-text="cliente.zona"></td>
          <td x-text="cliente.acla"></td>
        </tr>
      </template>
    </tbody>
  </table>

  <!-- bulma-modal edicion-cliente  -->
  <div class="modal" id="modal-edicion-cliente">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Editar datos cliente</p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-edicion-cliente')"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
        <label for="idsexo">SEXO</label>
        <input type="text" class="input mb-1" x-model="Cliente.sex" id="idsexo"
               :class="darkTheme?'input-dark':''" required>
        <label for="iddni">DNI</label>
        <input type="text" class="input mb-1" x-model="Cliente.dni" id="iddni"
               :class="darkTheme?'input-dark':''" required>
        <label for="idnombre">Nombre</label>
        <input type="text" class="input mb-1" x-model="Cliente.nombre" id="idnombre"
               :class="darkTheme?'input-dark':''" required>
        <label for="idcalle">Calle</label>
        <input type="text" list="listacalles" class="input mb-1" x-model="Cliente.calle" required
               id="idcalle" :class="darkTheme?'input-dark':''"  />
        <datalist id="listacalles">
          <template x-for="item in calles">
            <option :value="item"></option>
          </template>
        </datalist>
        <label for="idnum">Num</label>
        <input type="text" class="input mb-1" x-model="Cliente.num" id="idnum"
               :class="darkTheme?'input-dark':''" required>
        <label for="idbarrio">Barrio</label>
        <input type="text" list="listabarrios" class="input mb-1" x-model="Cliente.barrio" required
               id="idbarrio" :class="darkTheme?'input-dark':''" />
        <datalist id="listabarrios">
          <template x-for="item in barrios">
            <option :value="item"></option>
          </template>
        </datalist>
        <label for="idzona">Zona</label>
        <input type="text" list="listazonas" class="input mb-1" x-model="Cliente.zona" required
               id="idzona" :class="darkTheme?'input-dark':''" />
        <datalist id="listazonas">
          <template x-for="item in zonas">
            <option :value="item"></option>
          </template>
        </datalist>

        <label for="idtel">Telefono</label>
        <input type="text" class="input mb-1" x-model="Cliente.tel" id="idtel"
               :class="darkTheme?'input-dark':''" >
        <label for="idwapp">Whatsapp</label>
        <input type="text" class="input mb-1" x-model="Cliente.wapp" id="idwapp"
               :class="darkTheme?'input-dark':''" >
        <label for="idacla">Aclaracion</label>
        <input type="text" class="input mb-1" x-model="Cliente.acla" id="idacla"
               :class="darkTheme?'input-dark':''" >
        <label for="idhorario">Horario</label>
        <input type="text" class="input mb-1" x-model="Cliente.horario" id="idhorario"
               :class="darkTheme?'input-dark':''" >
        <label for="idmsg">Mensaje Cobrador</label>
        <input type="text" class="input mb-1" x-model="Cliente.mjecobr" id="idmsg"
               :class="darkTheme?'input-dark':''" >
        <label for="idseven">Info Seven</label>
        <input type="text" class="input mb-1" x-model="Cliente.infoseven" id="idseven"
               :class="darkTheme?'input-dark':''" >
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" @click="guardarEdicion">Guardar</button>
        <button class="button" @click="toggleModal('modal-edicion-cliente')">Cancelar</button>
      </footer>
    </div>
  </div>


</div>
{% endblock %}

{% block script %}
<script>
 function main(){
     return{
         listaClientes:[],
         calles:[],
         barrios:[],
         zonas:[],
         Cliente:{},
         getClientesIngresadosPorVdor(){
             axios.get('/vendedor/getclientesingresadosporvdor')
                  .then(res=>{
                      this.listaClientes=res.data.clientes
                  })
         },
         editarCliente(id){
             this.Cliente = this.listaClientes.filter(row=>row.id==id)[0]
             toggleModal("modal-edicion-cliente")
         },
         guardarEdicion(){
             toggleModal('modal-edicion-cliente')
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/buscador/guardaredicioncliente/'+this.Cliente.id,this.Cliente)
								                                 .then(res=>{
								                                     msgSuccess('Exito','Cliente editado con exito')
								                                 })
								                                 .catch(error=>{
								                                     msgError('Error',error.request.response)
								                                 })
         },
         obtenerCalles(){
             axios.get('/buscador/obtenerlistacalles')
                  .then(res=>{
                      this.calles = res.data.result
                  })
         },
         obtenerBarrios(){
             axios.get('/buscador/obtenerlistabarrios')
                  .then(res=>{
                      this.barrios = res.data.result
                  })
         },
         obtenerZonas(){
             axios.get('/buscador/obtenerlistazonas')
                  .then(res=>{
                      this.zonas = res.data.result
                  })
         },

 }}
</script>
{% endblock %}
