{% extends "base.html" %}
{% block title %}Log{% endblock %}

{% block content %}
<div class="container mt-6">
    <table class="table is-narrow" id="table-logs">
    </table>
</div>
{% endblock %}

{% block script %}
<script>
axios.get('/buscador/obtenerlogs')
    .then(res=>{
        logs = res.data.logs
        let obj = dataWrapper(logs)
        const dataTable = new simpleDatatables.DataTable("#table-logs", {
            searchable: true,
            data: obj,
            columns:[
                {select:0, 
                    render: function(data, cell, row) {
			return dayjs.utc(data).format('YYYY-MM-DD HH:mm:ss')
                    }
                }
            ]
        })
    });
</script>
{% endblock %}
