{% extends "base_template.html" %} {% block title %}Plan de Pagos{% endblock %} {%
    block style %}
    <style></style>
    {% endblock %} 
    
    {% block content %}
    
    <div class="container">
        <p class="title is-1">Plan de Pagos</p>
        
    
        <div x-data="main()">
            <div class="field is-horizontal">
                <input type="search" x-model="idvta" class="input" @keyup.enter="buscarIdvta()" style="width: 400px;" placeholder="IdVenta">
                <button type="button" class="button is-info" @click="buscarIdvta()">Buscar</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>cc</th>
                        <th>ic</th>
                        <th>saldo</th>
                        <th>pmovto</th>
                        <th>pp</th>
                        <th>pfecha</th>
                        <th>pcc</th>
                        <th>pic</th>
                        <th>pper</th>
                        <th>pprimera</th>
                        <th>pcondo</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="vta in ventas">
                        <tr>
                            <td x-text="vta[0]"></td>
                            <td x-text="vta[1]"></td>
                            <td x-text="vta[2]"></td>
                            <td x-text="vta[3]"></td>
                            <td x-text="vta[4]"></td>
                            <td x-text="vta[5]"></td>
                            <td x-text="vta[6]"></td>
                            <td x-text="vta[7]"></td>
                            <td x-text="vta[8]"></td>
                            <td x-text="vta[9]"></td>
                            <td x-text="vta[10]"></td>
                            <td x-text="vta[11]"></td>
                            <td x-text="vta[12]"></td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
            <div class="field">
                <div class="control">
                    <label class="label" style="color:white;">Fecha pactado el plan</label>
                    <input type="date" x-model="pfecha" class="input is-narrow" size="5"  x-ref="pfecha" @keyup.enter="$refs.pcc.focus()" :class='{"is-danger":pfecha==""}' style="width: 200px;">
                      <p v-show="pfecha==''" class="help is-danger">Requerido</p>
                  </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label" style="color:white;">Cantidad de Cuotas</label>
                    <input type="text" x-model="pcc" class="input is-narrow" size="5"  x-ref="pcc" @keyup.enter="$refs.pic.focus()" :class='{"is-danger":pcc==""}' style="width: 100px;">
                      <p v-show="pcc==''" class="help is-danger">Requerido</p>
                  </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label" style="color:white;">Importe de Cuota</label>
                    <input type="text" x-model="pic" class="input is-narrow" size="5"  x-ref="pic" @keyup.enter="$refs.pper.focus()" :class='{"is-danger":pic==""}' style="width: 100px;">
                      <p v-show="pic==''" class="help is-danger">Requerido</p>
                  </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label" style="color:white;">Periodicidad men:1 sem:3</label>
                    <input type="text" x-model="pper" class="input is-narrow" size="5"  x-ref="pper" @keyup.enter="$refs.pper.focus()" :class='{"is-danger":pper==""}' style="width: 50px;">
                      <p v-show="pper==''" class="help is-danger">Requerido</p>
                  </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label" style="color:white;">Fecha primer cuota</label>
                    <input type="date" x-model="pprimera" class="input is-narrow" size="5"  x-ref="pprimera" @keyup.enter="$refs.pcc.focus()" :class='{"is-danger":pprimera==""}' style="width: 200px;">
                      <p v-show="pprimera==''" class="help is-danger">Requerido</p>
                  </div>
            </div>
            <button class="button is-danger" type="button" @click="generarPlan()">Generar</button>
           
    </div>

    </div>
    {% endblock %} {% block script %}
    <script>
        function main(){
            return {
                idvta:'',
                ventas:[],
                pp:'',
                pfecha:'',
                pcc:'',
                pic:'',
                pper:'',
                pprimera:'',
                pcondo:'',
                buscarIdvta(){
                    axios.get('/buscador/getvtaspp/'+this.idvta)
                    .then(res=>{
                        this.ventas=res.data.ventas
                        this.ventas.map(row=>{
                            if(row[4]!==null) row[4]=dayjs.utc(row[4]).format('YYYY-MM-DD')
                            if(row[6]!==null) row[6]=dayjs.utc(row[6]).format('YYYY-MM-DD')
                            if(row[10]!==null) row[10]=dayjs.utc(row[10]).format('YYYY-MM-DD')
                        })
                    })

                },
                generarPlan(){
                    console.log('fecha',this.pfecha);
                    axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
                    axios({
                    method:'POST',
                    url:'/buscador/generarplan/'+this.idvta,
                    data:{
                        idvta:this.idvta,
                        pfecha:this.pfecha,
                        pcc:this.pcc,
                        pic:this.pic,
                        pper:this.pper,
                        pprimera:this.pprimera,
                    }
                    })
                    .then(res=>{
                    bulmaToast.toast({message:"Plan de pagos procesado", type:'is-success'})
                    this.modal()
                    })
                    .catch(error=>{
                    bulmaToast.toast({message:error.request.response, type:'is-danger'})
                    })
        },
        }
        }
        
    </script>
    {% endblock %}
    