{% extends "base.html" %}

{% block title %}Revisar Datos en poder de los Vendedores{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getListadoDatos()">

  <div class="columns">
    <div class="column is-6">
  <p class="title is-1">Revisar Datos ya asignados</p>
    </div>
    <div class="column is-6">
       <div class="flex-right">
    <button class="button is-primary" @click="cambiarCuotaBasica">Cambiar</button>
    <div class="xtags has-addons m-0">
		  <span class="tag is-warning is-large m-0">Cuota Basica</span>
		  <span class="tag is-light is-large m-0" x-text="'$'+cuota_basica"></span>
	</div>
       </div>
    </div>
  </div>

  <div class="buttons">
    <span><tag class="tag is-large is-black" x-text="cntDatos"></tag></span>
    <button class="button is-small is-success" @click="filtraDatosPorStatus('vendidos');cntSeleccionados()">Vendidos</button>
    <button class="button is-small is-danger" @click="filtraDatosPorStatus('anulados');cntSeleccionados()">Anulados</button>
     <button class="button is-small is-info" @click="filtraDatosPorStatus('pendientes');cntSeleccionados()">Pendientes</button>
     <button class="button is-small is-primary" @click="filtraDatosPorStatus('mudados');cntSeleccionados()">Mudados</button>
     <button class="button is-small is-primary" @click="filtraDatosPorStatus('rechazados');cntSeleccionados()">Rechazados</button>
     <button class="button is-small is-black" @click="filtraDatosPorStatus('fallecidos');cntSeleccionados()">Fallecidos</button>
     <button class="button is-small is-warning" @click="filtraDatosPorStatus('todos');cntSeleccionados()">Todos</button>
     <button class="button is-small is-black" @click="filtraDatosPorVendedor(816);cntSeleccionados()">816</button>
     <button class="button is-small is-black" @click="filtraDatosPorVendedor(835);cntSeleccionados()">835</button>
     	<div class="grid-buscar ml-3 mr-3 mt-2">
      <input  placeholder="Nombre" class="input" x-model="buscar" @keyup.enter="buscarDato"
		      @focus="buscar=''"  :class="darkTheme?'input-dark':''">
      <button type="button" @click="buscarDato" class="button is-primary">Buscar</button>
	    </div>
      <button type="button" class="button is-black" @click="desafectarDatosSeleccionados()">Desafectar</button>
  </div>
  <table class="table table-striped " id="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th class="numeric">Id</th>
        <th>fecha</th>
        <th>user</th>
        <th>nombre</th>
        <th>zona</th>
        <th>status</th>
        <th>articulos</th>
        <th>cuota</th>
        <th></th>
        <th>vdor</th>
        <th>Rechazar</th>
        <th>direccion</th>
        <th></th>
        <th>comentarios</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="dato in listadoDatos_">
        <tr>
          <td><a :href="'/buscador/interno/'+dato.dni">Ver</a></td>
          <td><i class="fa fa-pencil" aria-hidden="true" @click="editarDato(dato.id)"></td>
          <td x-text="dato.id"></td>
          <td x-text="dato.fecha"></td>
          <td x-text="dato.user"></td>
          <td x-text="dato.nombre"></td>
          <td x-text="dato.zona"></td>
          <td><span class="tag is-small" x-text="dato.resultado==1?'Vendido':(dato.resultado==2?'Anulado':
                           (dato.resultado==2?'Anulado':(dato.resultado==5?'Mudo':(dato.resultado==6?'Fallecio':(dato.resultado==8?'Rechazado':'Pendiente')))))"
                    :class="dato.resultado==1?'is-success':(dato.resultado==0?'is-danger':(dato.resultado==2?'is-danger':
                           (dato.resultado==5?'is-primary':(dato.resultado==6?'is-black':(dato.resultado==8?'is-black':'is-info')))))"></span></td>
          <td x-text="dato.art"></td>
          <td x-text="dato.cuota_maxima"></td>
          <td><span class="tag is-small is-danger" x-show="dato.autorizado>0">Autorizado</span></td>
          <td x-text="dato.vendedor"></td>
          <td><i class="fa fa-toggle-on fa-2x" aria-hidden="true" @click="rechazarDato(dato.id)"></td>
            <td><div class="xtags has-addons m-0" x-show="dato.deuda_en_la_casa>0">
		      <span class="tag is-warning  m-0">Casa</span>
		      <span class="tag m-0" :class="dato.deuda_en_la_casa>29999?'is-danger':'is-light'"
                    x-text="'$'+dato.deuda_en_la_casa"></span>
	        </div>
            <div>
            <td>
            <span class="tag is-small is-danger" x-show="dato.novendermas">LN</span>
            <span class="tag is-small is-danger" x-show="dato.incobrable">INC</span>
            <span class="tag is-small is-success" x-show="dato.sev">SEVEN</span>
            <span class="tag is-small is-success" x-show="dato.baja">ex-SEVEN</span>
            <span class="tag is-small is-danger" x-show="dato.sin_extension">Basica</span>
            <span class="tag is-small is-warning" x-show="dato.nosabana">NoSabana</span></td>
            </div>
            <td x-text="dato.comentarios"></td>

        </tr>
      </template>
    </tbody>
  </table>

   <!-- bulma-modal editar-dato  -->
  <div class="modal" id="modal-editar-dato">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Editar Dato</p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-editar-dato')"></button>
        <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <label for="idfecha">Fecha</label>
        <input type="date" class="input mb-3" x-model="Datos.fecha" id="idfecha"
               :class="darkTheme?'input-dark':''" >
        <label for="idfechavisitar">Fecha a Visitar (opcional)</label>
        <input type="date" class="input mb-3" x-model="Datos.fecha_visitar" id="idfechavisitar"
               :class="darkTheme?'input-dark':''" >
        <label for="art" class="label">Articulo (opcional)</label>
        <input type="text" class="input mb-3" x-model="Datos.art" id="art" autocomplete="off"
               :class="darkTheme?'input-dark':''" >
        <label for="horarios" class="label">Horarios (opcional)</label>
        <input type="text" class="input mb-3" x-model="Datos.horarios" id="horarios" autocomplete="off"
               :class="darkTheme?'input-dark':''" >
        <label for="comentarios" class="label">Comentarios (opcional)</label>
        <input type="text" class="input mb-3" x-model="Datos.comentarios" id="comentarios" autocomplete="off"
               :class="darkTheme?'input-dark':''" >
        <label for="cuota" class="label">Cuota Maxima</label>
        <input type="text" class="input mb-3" x-model="Datos.cuota_maxima" id="cuota" autocomplete="off"
               :class="darkTheme?'input-dark':''" >
        <div class="flex">
          <button class="button is-black" @click="nosabana=!nosabana; Datos.nosabana=nosabana">No Sabana</button>
          <p class="title is-3" x-show="nosabana==1">Este cliente no puede comprar sabanas</p>
        </div>
        <div class="flex">
          <button class="button is-black" @click="sin_extension=!sin_extension; Datos.sin_extension=sin_extension">Venta Basica</button>
          <p class="title is-3" x-show="sin_extension==1">Venta Basica</p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" @click="guardarDato">Editar</button>
        <button class="button" @click="toggleModal('modal-editar-dato')">Cancelar</button>
      </footer>
    </div>
  </div>
   <!-- bulma-modal edicion-cuotabasica -->
  <div class="modal" id="modal-edicion-cuotabasica">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Fechar Cuotabasica</p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-edicion-cuotabasica')"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <label for="idcuotabasica">Cuota Basica</label>
        <input type="text" class="input mb-3" x-model="cuota_basica" id="idcuotabasica">
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" @click="guardarCuotabasica">Guardar</button>
        <button class="button" @click="toggleModal('modal-edicion-cuotabasica')">Cancelar</button>
      </footer>
    </div>
  </div>
  <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
</div>
{% endblock %}
{% block script %}
<script>
 function main(){
     return{
         listadoDatos:[],
         listadoDatos_:[],
         Datos:{},
         cuota_basica:'',
         cntSeleccionados:'',
         vendedorAsignado:'',
         listaVdores:[],
         cntDatos:'',
         nosabana:0,
         sin_extension:0,
         buscar:'',
         getListadoDatos(){
             axios.get('/vendedor/getlistadodatosenviados')
                  .then(res=>{
                      this.listadoDatos = res.data.listadodatos
                      this.listadoDatos.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.listadoDatos.map(row=>row.fecha_visitar=dayjs.utc(row.fecha_visitar).format('YYYY-MM-DD'))
                      this.listadoDatos_ = this.listadoDatos
                      this.cuota_basica = res.data.cuotabasica
                      this.listaVdores = res.data.vdores
                      this.cntDatos = this.cntSeleccionados()
                  })
         },
         buscarDato(){
             this.listadoDatos_ = this.listadoDatos.filter(row=>row.nombre.toLowerCase().includes(this.buscar.toLowerCase()))
         },
         editarDato(id){
             this.Datos = this.listadoDatos.filter(row=>row.id==id)[0]
             this.nosabana = this.Datos.nosabana
             this.sin_extension = this.Datos.sin_extension
             toggleModal("modal-editar-dato")
         },
         guardarDato(){
             toggleModal("modal-editar-dato")
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/vendedor/editardato',this.Datos)
                                                                 .then(res=>{
                                                                     msgSuccess('Dato editado con exito.')
                                                                     this.getListadoDatos()
                                                                 })
                                                                 .catch(error=>{
                                                                     msgError('Hubo un error. El dato no se edito.')
             })
         },
         filtraDatosPorVendedor(vdor){
             this.listadoDatos_ = this.listadoDatos_.filter(row=>row.vendedor==vdor)
         },
         filtraDatosPorStatus(status){
             switch(status){
                 case 'vendidos':
                     this.listadoDatos_ = this.listadoDatos.filter(row=>row.resultado==1)
                     break
                 case 'anulados':
                     this.listadoDatos_ = this.listadoDatos.filter(row=>row.resultado==2)
                     break
                 case 'pendientes':
                     this.listadoDatos_ = this.listadoDatos.filter(row=>row.resultado==null)
                     break
                 case 'mudados':
                     this.listadoDatos_ = this.listadoDatos.filter(row=>row.resultado==5)
                     break
                 case 'rechazados':
                     this.listadoDatos_ = this.listadoDatos.filter(row=>row.resultado==8)
                     break
                 case 'fallecidos':
                     this.listadoDatos_ = this.listadoDatos.filter(row=>row.resultado==6)
                     break
                 case 'todos':
                     this.listadoDatos_ = this.listadoDatos
                     break
             }
         },
         cambiarCuotaBasica(){
             toggleModal("modal-edicion-cuotabasica")
         },
         guardarCuotabasica(){
           toggleModal("modal-edicion-cuotabasica")
           axios.get('/vendedor/guardarcuotabasica/'+this.cuota_basica)
                .then(res=>{
                    msgSuccess('Cuota Basica editada')
                })
                .catch(error=>{
                    msgError('Error. No se pudo editar')
             })
         },
         rechazarDato(id){
             axios.get('/vendedor/togglerechazardato/'+id)
                  .then(res=>{
                      msgSuccess('toggle RECHAZADO/AUTORIZADO')
                      this.getListadoDatos()
                  })
                  .catch(error=>{
                      msgError('Error. No se pudo hacer el cambio.')
                  })
         },
         cntSeleccionados(){
             setTimeout(()=>{
             const $tbody = document.querySelector("tbody");
             arrayRows = Array.from($tbody.children);
             this.cntDatos = arrayRows.length - 1
             },10)
         },
         seleccionarRows(){
             let ids = [];
             let tbody = table.querySelector("tbody");
             let rowsArray = Array.from(tbody.rows);
             rowsArray.forEach((row) => {
                 if (row.classList.contains("is-selected")) {
                     ids.push(row.cells[2].innerHTML);
                     //la columna que corresponda al dni OJO
                 }
             });
             return ids
         },
         desafectarDatosSeleccionados(){
             ids = this.seleccionarRows()
             if(ids.length>0){
                 axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
                 axios.post('/vendedor/desafectardatos',ids)
                                                                     .then(res=>{
                                                                         limpiarTabla('table')
                                                                         this.getListadoDatos()
                                                                         msgSuccess("Datos desafectados con exito")
                 })

             }
         },
         }
     }
</script>
{% endblock %}
