{% extends "base.html" %}

{% block title %}Asientos{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}
{% block content %}
<div class="container" x-data="main()" x-init="getAsientos()">
  <div class="block">
    <a href="/conta/cuentas" class="button">Cuentas</a>
  </div>
  <button class="button mb-3 block" @click="Cuenta={};agregarasiento()">agregar asiento</button>

  <table class="table nototal" id="table">
    <thead>
      <tr>
        <th></th>
        <th>id</th>
        <th>fecha</th>
        <th>cuenta</th>
        <th>importe</th>
        <th>comentario</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="item in listAsientos">
        <tr>
          <td><i class="fa fa-times" aria-hidden="true" @click="borrarAsiento(item.id)"></td>
            <td x-text="item.id"></td>
            <td x-text="item.fecha"></td>
            <td x-text="item.cuenta"></td>
            <td x-text="item.imp"></td>
            <td x-text="item.comentario"></td>
        </tr>
      </template>
    </tbody>
  </table>

  <!-- modal bulma -->
  <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
  <div class="modal" id="modal-add">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Agregar Asiento</p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-add')"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <label for="idfecha">Fecha</label>
        <input name="idfecha" class="input" type="date" x-model="Asiento.fecha" />
        <label for="idcuenta">Cuenta</label>
        <input name="idcuenta" class="input" type="text" x-model="Asiento.cuenta" list="listacuentas" />

        <datalist id="listacuentas">
          <template x-for="item in cuentas">
            <option :value="item"></option>
          </template>
        </datalist>
        <label for="idimporte">Importe</label>
        <input name="idimporte" class="input" type="text" x-model="Asiento.imp" />
        <label for="idcomentario">Comentario</label>
        <input name="idcomentario" class="input" type="text" x-model="Asiento.comentario" />

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="guardarAsiento()">Agregar</button>
        <button class="button" @click="toggleModal('modal-add')">Cancelar</button>
      </footer>
    </div>
  </div>


</div>
{% endblock %}
{% block script %}
<script>
 function main(){
     return{
         listAsientos:[],
         Asiento:{fecha:dayjs.utc().format('YYYY-MM-DD'),cuenta:'',imp:'',comentario:''},
         cuentas:[],
         getAsientos(){
             axios.get('/conta/getasientos')
                  .then(res=>{
                      this.listAsientos = res.data.asientos
                      this.listAsientos.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.saldo = res.data.saldo
                      this.cuentas = res.data.cuentas
                  })
         },
         agregarAsiento(){
             toggleModal('modal-add')
         },
         validarAsiento(){
             if(this.Asiento.fecha!=''&&this.Asiento.cuenta!=''&&this.Asiento.imp!=''){
                 this.guardarAsiento()
             }else{
                 msgError('Error!','Complete los datos faltantes')
             }
         },
         guardarAsiento(){
             toggleModal('modal-add')
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/conta/guardarasiento',this.Asiento)
                                                                 .then(res=>{
                                                                     this.getAsientos()
                                                                     this.Asiento={fecha:dayjs.utc().format('YYYY-MM-DD'),cuenta:'',imp:'',comentario:''},
                                                                     msgSuccess('Exito!','Asiento guardado con exito')
                                                                 })
         },

     }
 }
</script>
{% endblock %}
