{% extends "base_template.html" %} {% block title %}Calles{% endblock %} {%
    block style %}
    <style></style>
    {% endblock %} 
    
    {% block content %}
    
    <div class="container">
        <p class="title is-1">Calles</p>
        <div class="buttons">
            <a href="/ventas/ventas" class="button  is-primary">Pasar Ventas</a>
            <a href="/ventas/listado" class="button  is-primary">Listado</a>
            <a href="/ventas/clientes" class="button  is-primary">Clientes</a>
            <a href="/ventas/barrios" class="button  is-primary">Barrios</a>
            <a href="/ventas/zonas" class="button  is-primary">Zonas</a>
            <a href="/ventas/estadisticas" class="button  is-primary">Estadisticas</a>
	        <a href="/ventas/morosidad" class="button is-primary">Morosidad</a>
            <a href="/ventas/pordia" class="button is-primary">Ventas</a>
            <a href="/ventas/devolucion" class="button is-primary">Devoluciones</a>
            <a href="/ventas/pivotdevoluciones" class="button is-primary">Pivot-Devol.</a>
        </div>
    
        <div x-data="main()">
            <div class="columns">
                <div class="column is-8">
                  <div class="field is-horizontal">
                      <input type="search" placeholder="Buscar Calle" class="input" x-model="buscar" @keyup.enter="buscarCalle" @focus="buscar=''" style="width: 400px;">
                      <button type="button" @click="buscarCalle" class="button is-primary">Buscar</button>
                      <button type="button" @click="nuevaCalle" class="button is-danger">Nuevo</button>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-8">
                  <div class="field is-horizontal" x-show="showEdit">
                      <input type="input" placeholder="Calle" class="input" x-model="calle" @keyup.enter="guardarCalle" style="width: 400px;">
                      <button type="button" @click="guardarCalle" class="button is-danger">Guardar</button>
                    </div>
                </div>
            </div>
            <table class="table" x-show="listaCalles.length">
                <thead>
                    <tr>
                        <th>op</th>
                        <th>op</th>
                        <th>id</th>
                        <th>calle</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="calles in listaCalles">
                    <tr>
                        <td><button class="button is-danger is-small" @click="borrarCalle(calles['id'])">Borrar</button></td>
                        <td><button class="button is-info is-small" @click="editarCalle(calles['id'],calles['calle'])">Editar</button></td>
                        <td x-text="calles['id']"></td>
                        <td x-text="calles['calle']"></td>
                    </tr>
                    </template>
                </tbody>
            </table>
            <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
        </div>

    </div>
    {% endblock %} {% block script %}
    <script>
        function main(){
            return {
                buscar:'',
                listaCalles:[],
                showEdit:false,
                calle:'',
                id:'',
                buscarCalle(){
                    axios.get('/ventas/filtracalles/'+this.buscar)
                    .then(res=>{
                        //console.log(res.data.listacalles)
                        this.listaCalles=res.data.listacalles
                    })

                },
                editarCalle(id,calle){
                    this.showEdit=true
                    this.id = id
                    this.calle = calle
                },
                guardarCalle(){
                    axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
                    axios({
                    method:'POST',
                    url: '/ventas/guardaredicioncalle',
                    data:{
                        id:this.id,
                        calle:this.calle,
                    }
                    })
                    .then(res=>{
                        bulmaToast.toast({
                            message: res.request.response,
                            type: "is-success"
                        })
                        this.showEdit=false
                    })
                },
                nuevaCalle(){
                    this.showEdit=true
                },
                borrarCalle(id){
                    axios.get('/ventas/borrarcalle/'+id)
                    .then(res=>{
                        bulmaToast.toast({
                            message:"Calle borrada con exito",
                            type: "is-success"
                        })
                    })
                    .catch(error=>{
                        bulmaToast.toast({
                            message:error.request.response,
                            type:"is-danger"
                        })
                    })
                },
                
            }
        }
        
    </script>
    {% endblock %}
    
