{% extends "base.html" %}

{% block title %}Ver Clientes{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getClientes()">

  <p class="title is-1">Revision Clientes</p>
  <div class="block">
  <button class="button" @click="getClientes('idvta')">Ver Clientes por idvta</button>
  <button class="button" @click="getClientes('idcliente')">Nuevos Clientes</button>
  </div>

  <table class="table is-narrow nototal">
    <thead>
      <tr>
        <th></th>
        <th x-show="idcliente"></th>
        <th x-show="idcliente">idcliente</th>
        <th x-show="!idcliente">idvta</th>
        <th>nombre</th>
        <th>calle</th>
        <th>num</th>
        <th>zona</th>
        <th>situacion</th>
        <th>wapp</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <template x-for="cliente in listaClientes">
        <tr>
          <td><a :href="'/buscador/interno/'+cliente.dni">Ver</a></td>
          <td x-show="idcliente"><i class="fa fa-times" aria-hidden="true" @click="borrarCliente(cliente.id)"></td>
            <td x-text="cliente.idvta||cliente.id"></td>
          <td x-text="cliente.nombre"></td>
          <td x-text="cliente.calle"></td>
          <td x-text="cliente.num"></td>
          <td x-text="cliente.zona"></td>
          <td><span class="tag is-small is-warning" x-show="cliente.gestion==1">Gestion</span>
         <span class="tag is-small is-info" x-show="cliente.mudo==1">Mudado</span>
          <span class="tag is-small is-danger" x-show="cliente.incobrable==1">Incobrable</span></td>
          <td x-text="cliente.wapp"></td>
          <td><img src="{{url_for('static', filename='check.png')}}" x-show="cliente.wapp_verificado">
          <img src="{{url_for('static', filename='nocheck.png')}}" x-show="cliente.auth_sinwapp_verificado"></td>
          <td><span class="tag is-small is-danger pointer" x-show="cliente.sendwapp==0" @click="sendWapp(cliente.idvta)">Re-enviar</span></td>
        </tr>
      </template>
    </tbody>
  </table>



</div>
{% endblock %}

{% block script %}
<script>
 function main(){
     return{
         idcliente:false,
         listaClientes:[],
         getClientes(tipo='idvta'){
             axios.get('/ventas/getclientes/'+tipo)
                  .then(res=>{
                      this.listaClientes=res.data.clientes
                      if(tipo=='idcliente'){
                          this.idcliente=true
                      }else{
                          this.idcliente=false
                      }
                  })
         },
         borrarCliente(id){
             Swal.fire({
                 title: '¿Esta seguro?',
                 text: `Se borrara el cliente ${id}`,
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Si, borrarlo!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     axios.get('/ventas/borrarcliente/'+id)
                          .then(res=>{
                              msgSuccess('Borrado!','El cliente ha sido borrado')
                              this.getClientes('idcliente')})
                          .catch(error=>msgError('No se pudo borrar. Posiblemente el cliente tenga operaciones.'))
             }})
         },
         sendWapp(idvta){
             msgDelay('Se estan enviando los mensajes...')
             axios.get('/ventas/resendwapp/'+idvta)
                  .then(res=>{
                      if(res.data=='success') {
                          msgSuccess('Success')
                          setTimeout(()=>{
                              this.getClientes()
                          },10000)
                      } else if (res.data=='failed') {
                          msgError('Failed')
                      } else{
                          msgWarning(res.data)
                      }
             })
         },
 }}
</script>
{% endblock %}
