{% extends "base.html" %}

{% block title %}Comisiones{% endblock %}
{% block style %}
<style>
  </style>
  {% endblock %}

{% block content %}

  <div class="container" x-data="main()" x-init="getVendedores()">

    <p class="title is-1">Comisiones por Vendedor</p>
    <div class="columns">
      <div class="column is-6">
        <div class="buttons" id="btnVdor">
          <template x-for="vdor in listaVendedores">
            <button class="button is-info" @click="getComisionesVdor(vdor);limpiarToggles();
                           $event.target.classList.toggle('is-warning')" x-text="vdor"></button>
          </template>
        </div>
         <div class="xtags has-addons m-0" x-show="totalComision">
		  <span class="tag is-large is-black m-0">Comision Total</span>
		  <span class="tag is-large is-light m-0" x-text="'$'+totalComision"></span>
	     </div>
         <table class="table is-narrow" id="table">
                <thead>
                    <tr>
                      <th>fecha</th>
                      <th>cuenta</th>
                      <th class="sumar">comision</th>
                    </tr>
                </thead>
                <tbody>
                  <template x-for="item in listaComisiones">
                    <tr>
                      <td x-text="item.fecha"></td>
                      <td x-text="item.id"></td>
                      <td x-text="item.com" class="pesos"></td>
                    </tr>
                  </template>
                 </tbody>
            </table>
            <button class="button is-danger" @click="validarPagado(vendedor)">Pagado</button>

    </div>


</div>
{% endblock %}

{% block script %}
<script>
 function main(){
     return{
         listaComisiones:[],
         vendedor:'',
         listaVendedores:[],
         totalComision:'',
         getVendedores(){
             axios.get('/vendedor/getvendedores')
                  .then(res=>{
                      this.listaVendedores=res.data.vendedores
                  })
         },
         getComisionesVdor(vdor){
             this.vendedor = vdor
             axios.get('/vendedor/getcomisionesvendedor/'+vdor)
                  .then(res=>{
                      this.listaComisiones = res.data.comisiones
                      this.listaComisiones.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.listaComisiones.map(row=>row.com=parseFloat(row.com))
                      this.totalComision = parseFloat(this.listaComisiones.map(row=>row.com).reduce((a,b)=>a+b,0))
                  })
         },
         limpiarToggles() {
             $btnVdor = document.getElementById('btnVdor')
             Array.from($btnVdor.children).slice(1).forEach(btn => {
                 btn.classList.remove('is-warning')
             })
          },
         validarPagado(vdor){
           Swal.fire({
            title: '¿Esta seguro?',
            text: `Se marcara como pagadas las comisiones del vendedor ${vdor}`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Marcarlas!'
            }).then((result) => {
            if (result.isConfirmed) {
                axios.get('/vendedor/marcarpagadas/'+vdor)
                     .then(res=>{
                         msgSuccess('Marcado!','El vendedor ha cobrado lo que tenia hasta el momento')
                         this.getComisionesVdor(vdor)})
                     .catch(error=>msgError('No se pudo procesar. Hubo un error.'))
            }})
         },
     }
 }
  </script>
  {% endblock %}
