{% extends "base.html" %}
{% block title %}Devoluciones{% endblock %}

{% block style %}
<style>
.grid-buscar{
    display: grid;
    grid-template-columns: 1fr 20%;
}
.micard {
    padding: 24px;
    background: white;
    border-radius: 8px;
    box-shadow: 6px 0px 10px gray ;
}
.modal-container{
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.3);
}
.modal{
    display:flex;
    flex-direction: column;
    position: relative;
}
.btn-close{
    color:purple;
    background-color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
</style>
{% endblock %}
{% block content %}

<div class="container">
<p class="title is-1">Devoluciones</p>
<div class="buttons">
    <a href="/ventas/ventas" class="button  is-primary">Pasar Ventas</a>
    <a href="/ventas/listado" class="button  is-primary">Listado</a>
    <a href="/ventas/clientes" class="button  is-primary">Clientes</a>
    <a href="/ventas/calles" class="button  is-primary">Calles</a>
    <a href="/ventas/barrios" class="button  is-primary">Barrios</a>
    <a href="/ventas/zonas" class="button  is-primary">Zonas</a>
    <a href="/ventas/estadisticas" class="button  is-primary">Estadisticas</a>
    <a href="/ventas/morosidad" class="button is-primary">Morosidad</a>
    <a href="/ventas/pordia" class="button is-primary">Ventas</a>
    <a href="/ventas/pivotdevoluciones" class="button is-primary">Pivot-Devol.</a>
</div>

<div x-data="main()" x-init="obtenerArticulos()">
	<div class="field">
	    <div class="control">
		<input class="input is-large" type="text" placeholder="N° Cuenta" autofocus="" x-model="idvta" @keyup.enter="buscarCliente()">
	    </div>
	</div>
	<h1 x-text="nombre" class="title is-1"></h1>
	<input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
	<input type="date" class="input" x-model="fechadev" style="width:200px;" />
	<input type="text" class="input" x-model="cobr" placeholder="cobrador" style="width:150;"/>
	<input list="compr"  class="input" x-model="comprdejado" autocomplete="off" style="width:150;" placeholder="comprobante" />
                <datalist id="compr">
                <option value="Recibo"></option>
                <option value="Documento"></option>
                <option value="Nada"></option>
                </datalist>
	<input type="text" class="input" x-model="rbon" placeholder="rbo N°" style="width:150;"/>
	<input list="tot"  class="input" x-model="totparcial" autocomplete="off" style="width:150;" placeholder="total/parcial" />
                <datalist id="tot">
                <option value="Total"></option>
                <option value="Parcial"></option>
                </datalist>
	<input type="checkbox" id="nvm" x-model="novendermas"> <label for="nvm">No Vender Mas</label>
	<input type="text" class="input" x-model="cc" placeholder="Cant Cuotas" style="width:150;"/>
	<input type="text" class="input" x-model="imp" placeholder="Imp Cuota" style="width:150;"/>
	<table class="table nototal">
	    <thead>
		<tr>
		    <th>op</th>
		    <th>id</th>
		    <th>cnt</th>
		    <th>art</th>
		</tr>
	    </thead>
	    <tbody>
		<template x-for="item in listArts">
		    <tr>
			<td><button class="button is-danger is-small" @click="borrarArticulo(item['id'])">Borrar</button></td>
			<td x-text="item['id']"></td>
			<td x-text="item['cnt']"></td>
			<td x-text="item['art']"></td>
		    </tr>
		</template>
	    </tbody>
	</table>
	<button class="button is-success" @click="agregarArticulo">Agregar Articulo</button>
	<button class="button is-danger" @click="procesarDevolucion">Procesar Devolucion</button>

	<!-- Ventana modal de agregado de detalle de venta -->
    <div x-bind:class="verModalAgregar?'modal-container':''">
        <div class=" micard modal" x-show="verModalAgregar">
            <button class="btn-close" @click="verModalAgregar=false"><i class="fa fa-times" aria-hidden="true"></i></button>
            <h1 class="title is-3">Agregar Articulo</h1>
	    <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
	    <input type="text" class="input mb-1" x-model="cnt" placeholder="cnt" />
<select name="select" x-model="articulo">
    <template x-for="art in Arts">
	<option :value="art" x-text="art"></option>
    </template>
</select>

	    <input type="text" class="input mt-1" x-model="ic" placeholder="ic" />
            <button class="button is-primary" @click="guardarAgregar(cnt,articulo,ic)">Guardar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function main(){
	return {
	    idvta:'',
	    nombre:'',
	    listArts:[],
	    Arts:[],
        articulo:'',
	    fechadev:'',
	    cobr:'',
	    comprdejado:'',
	    rbon:'',
	    totparcial:'',
	    novendermas:'',
            verModalAgregar:false,
	    cnt:'',
	    ic:'',
	    cc:'',
	    imp:'',
	    buscarCliente(){
		axios.get('/ventas/devolucion/buscarcliente/'+this.idvta)
		     .then(res=>{
			 this.nombre = res.data.nombre
			 this.listArts = res.data.arts
			 this.imp = res.data.ic
			 this.cc = res.data.cc
		     })
	    },
	    borrarArticulo(id){
	    const borrar = confirm("¿Esta seguro que quiere borrar permanentemente esta fila?")
            if(borrar){
                axios.get('/ventas/devolucion/borrararticulo/'+id)
                .then(res=>{
                    this.buscarCliente()
                })
            }
	    },
	    agregarArticulo(id){
            this.verModalAgregar=true
	    },
	    obtenerArticulos(){
		axios.get('/ventas/devolucion/obtenerlistaarticulos')
		     .then(res=>{
			 this.Arts=res.data.arts
             this.Arts.unshift('') // pongo un articulo vacio adelante para obligar a seleccionar
		     })
	    },
	    procesarDevolucion(){
                axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
		axios({
		    method:'POST',
		    url:'/ventas/devolucion/procesar',
		    data:{
			idvta:this.idvta,
			fechadev:this.fechadev,
			cobr:this.cobr,
			comprdejado:this.comprdejado,
			rbon:this.rbon,
			totparcial:this.totparcial,
			novendermas:this.novendermas,
			cc:this.cc,
			imp:this.imp,
		}})
                                                                    .then(res=>{
                                                                        msgSuccess('Devolucion procesada con exito')
		                                                            })
        },
        guardarAgregar(cnt,art,ic){
                axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
		axios({
		    method:'POST',
		    url:'/ventas/devolucion/agregararticulo',
		    data:{
            cnt,
			idvta:this.idvta,
            art,
			ic,
            cc:this.cc,
		}})
		                                                            .then(res=>{
                                                                        msgSuccess('Articulo agregado con exito')
            this.verModalAgregar=false
            this.buscarCliente()
		})
        },



	}
    }

</script>
{% endblock %}
