{% extends "base.html" %}
{% block title %}Devoluciones{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}
{% block content %}

<div class="container">
  <div class="buttons">
    <a href="/ventas/ventas" class="button  is-primary">Pasar Ventas</a>
    <a href="/ventas/listado" class="button  is-primary">Listado</a>
    <a href="/ventas/pordia" class="button is-primary">Ventas</a>
    <a href="/ventas/clientes" class="button  is-primary">Clientes</a>
    <a href="/ventas/calles" class="button  is-primary">Calles</a>
    <a href="/ventas/barrios" class="button  is-primary">Barrios</a>
    <a href="/ventas/zonas" class="button  is-primary">Zonas</a>
    <a href="/ventas/cambiazonas" class="button is-primary">Rezonificar</a>
    <a href="/ventas/estadisticas" class="button  is-primary">Estadisticas</a>
    <a href="/ventas/pivotdevoluciones" class="button is-primary">Pivot-Devol.</a>
  </div>
  <p class="title is-1">Devoluciones</p>

  <div x-data="main()" x-init="obtenerArticulos()">
    <div class="box">
      <div class="columns">
        <div class="column is-2">
          <input class="input text-big" type="text" placeholder="N° Cuenta" autofocus x-model="idvta" @keyup.enter="buscarCliente()">
        </div>
        <div class="column is-10">
          <h1 x-text="nombre" class="title is-1"></h1>
        </div>
      </div>
    </div>
    <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
    <div class="flex">
      <div class="field">
        <label for="fecha">Fecha Devolucion</label>
        <div class="control">
	      <input type="date" class="input" x-model="fechadev" style="width:150px;" name="fecha" />
        </div>
      </div>
      <div class="field">
        <label for="cobr">Retiro</label>
        <div class="control">
          <input type="text" class="input" x-model="cobr" placeholder="cobrador" style="width:100px;" name="cobr" />
        </div>
      </div>
      <div class="field">
        <label for="comprobante">Comprobante dejado</label>
        <div class="control">
          <input list="compr"  class="input" x-model="comprdejado" autocomplete="off" style="width:150;" placeholder="comprobante"
                 name="comprobante" />
          <datalist id="compr">
            <option value="Recibo"></option>
            <option value="Documento"></option>
            <option value="Nada"></option>
          </datalist>
        </div>
      </div>
      <div class="field">
        <label for="rbo">Rbo Nº</label>
        <div class="control">
          <input type="text" class="input" x-model="rbon" placeholder="rbo N°" style="width:80px;" name="rbo" />
        </div>
      </div>

      <div class="field">
        <label for="totpar">Total/parcial</label>
        <div class="control">
          <input list="tot"  class="input" x-model="totparcial" autocomplete="off" style="width:100px;"
                 placeholder="total/parcial" name="totpar" />
          <datalist id="tot">
            <option value="Total"></option>
            <option value="Parcial"></option>
            <option value="Cambio"></option>
          </datalist>
        </div>
      </div>
      <div class="field">
        <label for="nvm">No Vender Mas</label>
        <div class="control">
          <input type="checkbox" id="nvm" x-model="novendermas" style="margin-left:50px !important;">
        </div>
      </div>
    </div>

    <div class="box">
      <h2 class="title is-3">Detalle de articulos que quedaran</h2>
      <h4 class="subtitle is-5">Borre y/o agregue articulos</h4>
      <table class="table nototal">
	    <thead>
		  <tr>
		    <th></th>
		    <th>id</th>
		    <th>cnt</th>
		    <th>art</th>
		  </tr>
	    </thead>
	    <tbody>
		  <template x-for="item in listArts">
		    <tr>
              <td><i class="fa fa-times" aria-hidden="true" @click="borrarArticulo(item.id)"></td>
			    <td x-text="item.id"></td>
			    <td x-text="item.cnt"></td>
			    <td x-text="item.art"></td>
		    </tr>
		  </template>
	    </tbody>
	  </table>
	  <button class="button is-primary" @click="agregarArticulo">Agregar Articulo</button>
    </div>

    <div class="box">
      <h2 class="title is-3">Como quedaran las cuotas</h2>
      <div class="flex">
        <div class="field">
          <label for="cc">Cuotas</label>
          <div class="control">
            <input type="text" class="input" x-model="cc" placeholder="Cant Cuotas" style="width:100px;" id="cc"/>
          </div>
        </div>
        <div class="field">
          <label for="ic">Importe</label>
          <div class="control">
            <input type="text" class="input" x-model="imp" placeholder="Imp Cuota" style="width:150;" id="ic"/>
          </div>
        </div>
      </div>
    </div>
    <button class="button is-danger" @click="procesarDevolucion">Procesar Devolucion</button>

    <!-- modal bulma -->
    <div class="modal" id="modal-add">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Agregar Articulo</p>
          <button class="delete" aria-label="close" @click="toggleModal('modal-add')"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <label for="cnt">Cantidad</label>
          <input name="cnt" class="input" type="text" x-model="Articulo.cnt" />
          <label for="art">Articulo</label>
          <input type="text" list="listaarticulos" class="input mb-1" x-model="Articulo.art" id="art"/>
          <datalist id="listaarticulos">
            <template x-for="item in Arts">
              <option :value="item"></option>
            </template>
          </datalist>

          <label for="imp">Imp Cuota</label>
          <input name="imp" class="input" type="text" x-model="Articulo.ic" />

        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" @click="guardarAgregar()">Agregar</button>
          <button class="button" @click="toggleModal('modal-add')">Cancelar</button>
        </footer>
      </div>
    </div>


  </div>
  {% endblock %}

  {% block script %}
  <script>
   function main(){
	   return {
	       idvta:'',
	       nombre:'',
	       listArts:[],
           Articulo:{},
	       Arts:[],
           articulo:'',
	       fechadev:'',
	       cobr:'',
	       comprdejado:'',
	       rbon:'',
	       totparcial:'',
	       novendermas:'',
	       cnt:'',
	       ic:'',
	       cc:'',
	       imp:'',
	       buscarCliente(){
		       axios.get('/ventas/devolucion/buscarcliente/'+this.idvta)
		            .then(res=>{
			            this.nombre = res.data.nombre
			            this.listArts = res.data.arts
			            this.imp = res.data.ic
			            this.cc = res.data.cc
		            })
	       },
	       borrarArticulo(id){
               Swal.fire({
                   title: '¿Esta seguro?',
                   text: `Se borrara el articulo ${id}`,
                   icon: 'warning',
                   showCancelButton: true,
                   confirmButtonColor: '#3085d6',
                   cancelButtonColor: '#d33',
                   confirmButtonText: 'Si, borrarlo!'
               }).then((result) => {
                   if (result.isConfirmed) {
                       axios.get('/ventas/devolucion/borrararticulo/'+id)
                            .then(res=>{
                                msgSuccess('Borrado!','El articulo ha sido borrado')
                                this.buscarCliente()})
                            .catch(error=>msgError('No se pudo borrar. Hubo un error.'))
               }})
	       },
	       agregarArticulo(id){
               toggleModal('modal-add')
	       },
	       obtenerArticulos(){
		       axios.get('/ventas/devolucion/obtenerlistaarticulos')
		            .then(res=>{
			            this.Arts=res.data.arts
                        this.Arts.unshift('') // pongo un articulo vacio adelante para obligar a seleccionar
		            })
	       },
	       procesarDevolucion(){
               data={
			       idvta:this.idvta,
			       fechadev:this.fechadev,
			       cobr:this.cobr,
			       comprdejado:this.comprdejado,
			       rbon:this.rbon,
			       totparcial:this.totparcial,
			       novendermas:this.novendermas,
			       cc:this.cc,
			       imp:this.imp,
               }
               axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
		       axios.post('/ventas/devolucion/procesar',data)
                                                                   .then(res=>{
                                                                       msgSuccess('Devolucion procesada con exito')
		                                                           })
           },
           guardarAgregar(){
               this.Articulo.idvta = this.idvta
               this.Articulo.cc = this.cc
               axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
		       axios.post('/ventas/devolucion/agregararticulo',this.Articulo)
		                                                           .then(res=>{
                                                                       msgSuccess('Articulo agregado con exito')
                                                                       this.buscarCliente()
                                                                       toggleModal('modal-add')
		                                                           })
           },
	   }
   }
  </script>
  {% endblock %}
