{% extends "base.html" %}

{% block title %}Estadisticas{% endblock %}
{% block style %}
<style>
.cur::before {
    content:"$";
}
.cur{
    text-align: right !important;
}
.right{
    text-align: right !important;
}
  </style>
  {% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getEstAnuales()">
    <p class="title is-1">Estadisticas de Venta</p>
    <div class="buttons">
        <a href="/ventas/ventas" class="button is-primary">Pasar Ventas</a>
        <a href="/ventas/listado" class="button is-primary">Listado</a>
        <a href="/ventas/clientes" class="button is-primary">Clientes</a>
        <a href="/ventas/calles" class="button is-primary">Calles</a>
        <a href="/ventas/barrios" class="button is-primary">Barrios</a>
        <a href="/ventas/zonas" class="button is-primary">Zonas</a>
    	<a href="/ventas/morosidad" class="button is-primary">Morosidad</a>
        <a href="/ventas/pordia" class="button is-primary">Ventas</a>
        <a href="/ventas/devolucion" class="button is-primary">Devoluciones</a>
        <a href="/ventas/pivotdevoluciones" class="button is-primary">Pivot-Devol.</a>
    </div>
    <div class="columns">
        <div class="column is-6">
            <table class="table is-narrow">
                <thead>
                    <tr>
                        <th>op</th>
                        <th>year</th>
                        <th class="sumar numeric">comprado</th>
                        <th class="sumar numeric">saldo</th>
                        <th class="numeric">inc</th>
                        <th class="numeric">cnt</th>
                    </tr>
                </thead>
                <tbody>
                  <template x-for="anual in est_anuales">
                    <tr>
                        <td><button type="button" class="button is-info is-small" @click="verYear(anual['y'])">Ver</button></td>
                        <td x-text="anual['y']"></td>
                        <td class="pesos" x-text="anual['comprado']"></td>
                        <td class="pesos" x-text="anual['saldo']"></td>
                        <td class="perc" x-text="(anual['inc']*100).toFixed(2)"></td>
                        <td class="right" x-text="anual['cnt']"></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <div class="column is-6">
            <table class="table is-narrow">
                <thead>
                    <tr>
                        <th>mes</th>
                        <th class="numeric sumar">comprado</th>
                        <th class="numeric sumar">saldo</th>
                        <th class="numeric">inc</th>
                        <th class="numeric">cnt</th>
                    </tr>
                </thead>
                <tbody>
                <template x-for="mes in est_mensuales">
                    <tr>
                        <td x-text="mes['ym']"></td>
                        <td class="pesos" x-text="mes['comprado']"></td>
                        <td class="pesos" x-text="mes['saldo']"></td>
                        <td class="perc" x-text="(mes['inc']*100).toFixed(2)"></td>
                        <td class="right" x-text="mes['cnt']"></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>


</div>
{% endblock %}

{% block script %}
<script>
 function main(){
     return{
        est_anuales:[],
        est_mensuales:[],
        getEstAnuales(){
            axios.get('/ventas/estadisticasanuales')
            .then(res=>{
                this.est_anuales = res.data.est_anuales
            })
        },
        verYear(year){
            axios.get('/ventas/estadisticasmensuales/'+year)
            .then(res=>{
                this.est_mensuales = res.data.est_mensuales
            })
        },
    }
  }
  </script>
  {% endblock %}
