{% extends "base.html" %}

{% block title %}Ventas{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}


{% block content %}

  <div class="container" x-data="main()" x-init="getVentaHoy();setInterval(()=>{getVentaHoy()},60000)">

    <div class="columns flex-baseline">
      <div class="column is-6">
        <p class="title is-1">Ventas ingresadas hoy</p>
      </div>
      <div class="column is-6">
         <div class="xtags has-addons m-0" x-show="totalVendido">
		  <span class="tag is-large is-black m-0">Total Vendido</span>
		  <span class="tag is-large is-light m-0" x-text="'$'+totalVendido"></span>
	     </div>
      </div>
    </div>

    <div class="block" x-show="totalVendido">
      <template x-for="[id,value]  in Object.entries(listaVtaVdores)">
         <div class="xtags has-addons m-0">
		  <span class="tag is-large is-info m-0" x-text="id"></span>
		  <span class="tag is-large is-light m-0" x-text="'$'+value"></span>
	     </div>
      </template>
    </div>
    <div class="columns">
            <table class="table is-narrow" id="table">
                <thead>
                  <tr>
                    <th></th>
                        <th>hora</th>
                        <th>resultado</th>
                        <th>nombre</th>
                        <th>direccion</th>
                        <th>zona</th>
                        <th>vendedor</th>
                        <th class="sumar">vendido</th>
                    </tr>
                </thead>
                <tbody>
                  <template x-for="item in listaVentasHoy">
                    <tr>
                      <td><a :href="'/buscador/interno/'+item.dni">Ver</a></td>
                      <td x-text="item.fecha_definido"></td>
                      <td><span class="tag is-small is-success">Vendido</span></td>
                          <td x-text="item.nombre"></td>
                          <td x-text="item.direccion"></td>
                          <td x-text="item.zona"></td>
                          <td x-text="item.vendedor"></td>
                          <td x-text="item.monto_vendido" class="pesos"></td>
                    </tr>
                  </template>
                 </tbody>
            </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
 function main(){
     return{
         listaVentasHoy:[],
         audio:new Audio("{{ url_for('static', filename='bell.ogg') }}"),
         listaVtaVdores:{},
         totalVendido:'',
         getVentaHoy(){
             axios.get('/vendedor/getventashoy')
                  .then(res=>{
                      this.listaVentasHoy = res.data.ventashoy
                      let largo = this.listaVentasHoy.length
                      if(largo>0){
                          let ultimarow = this.listaVentasHoy[largo-1]
                          let ultimotime = ultimarow.fecha_definido
                          let delta = dayjs().diff(dayjs(ultimotime),'s')-10800 //pq ultimotime esta en GMT 3hs de diferencia
                          if (delta<60){
                              this.audio.play();
                          }
                      }
                      this.listaVentasHoy.map(row=>row.fecha_definido=dayjs.utc(row.fecha_definido).format("HH:mm:ss"))
                      let listaVendedores = Array.from(new Set(this.listaVentasHoy.map(row=>row.vendedor)))
                      for(let vdor of listaVendedores){
                          this.listaVtaVdores[vdor] = this.listaVentasHoy.filter(row=>row.vendedor==vdor).map(row=>row.monto_vendido).reduce((a,b)=>a+b,0)
                      }
                      this.totalVendido = this.listaVentasHoy.map(row=>row.monto_vendido).reduce((a,b)=>a+b,0)
                      console.log( this.listaVtaVdores)
                  })
         },
     }
 }
 /* Documentacion:
  *        getVentaHoy:
  *        ventashoy = pgdict(con, "select fecha_definido,\
    nombre,concat(calle,num) as direccion, zona, monto_vendido, vendedor,dni \
    from datos,clientes where datos.idcliente = clientes.id and \
    date(fecha_definido)=curdate() and resultado=1 order by fecha_definido")
  * Es una vista de las ventas tomadas de la tabla DATOS para el dia de la fecha-->
  * date(fecha_definido)==curdate()
  * LA VISTA INCLUYE A TODOS LOS VENDEDORES EN LA TABLA.

  *                                                   el setInterval que hay en x-init permite la reactualizacion de la pagina cada 1 minuto.
  * y el .then de la funcion getVentaHoy incluye un test para generar un sonido cuando
  * entra una operacion.
  * Toma la diferencia entre ahora y el time de la ultima venta ingresada y si es menor al delta de actualizacion
  * o sea menor a 60seg dispara el sonido. */
</script>
  {% endblock %}
