{% extends "base.html" %}

{% block title %}Listado de Ventas{% endblock %}
{% block style %}
<style>
.cur::before {
    content:"$";
}
.cur{
    text-align: right !important;
}
.deudora{
    background-color: tomato;
}
 .color1 {
    background-color: rgb(178, 42, 32);
    color: black;
    text-align: center;
}
.color2 {
    background-color: rgb(178, 127, 32);
    color: black;
    text-align: center;
}
.color3 {
    background-color: rgb(176, 178, 32);
    color: black;
    text-align: center;
}
.color4 {
    background-color: rgb(32, 178, 98);
    color: black;
    text-align: center;
}
.color5 {
    background-color: rgb(147, 196, 193);
    color: black;
    text-align: center;
}
.color6 {
    background-color: orange;
    color: black;
    text-align: center;
}
.color7 {
    background-color: rgb(80, 89, 214);
    color: black;
    text-align: center;
}
.color8 {
    background-color: rgb(13, 130, 148);
    color: black;
    text-align: center;
}
.color9 {
    background-color: rgb(141, 11, 104);
    color: black;
    text-align: center;
}
.color0 {
    background-color: rgb(127, 19, 189);
    color: black;
    text-align: center;
}
.micard {
    padding: 24px;
    background: white;
    border-radius: 8px;
    box-shadow: 6px 0px 10px gray ;
}
.modal-container{
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.3);
}
.modal{
    display:flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
}
.btn-close{
    color:purple;
    background-color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

  </style>
  {% endblock %}

{% block content %}

<div id="app" class="container">
    <p class="title is-1">Listado de Ventas</p>
    <div class="buttons">
        <a href="/ventas/ventas" class="button is-primary">Pasar Ventas</a>
        <a href="/ventas/clientes" class="button is-primary">Clientes</a>
        <a href="/ventas/calles" class="button is-primary">Calles</a>
        <a href="/ventas/barrios" class="button is-primary">Barrios</a>
        <a href="/ventas/zonas" class="button is-primary">Zonas</a>
        <a href="/ventas/estadisticas" class="button is-primary">Estadisticas</a>
	    <a href="/ventas/morosidad" class="button is-primary">Morosidad</a>
        <a href="/ventas/pordia" class="button is-primary">Ventas</a>
        <a href="/ventas/devolucion" class="button is-primary">Devoluciones</a>
        <a href="/ventas/pivotdevoluciones" class="button is-primary">Pivot-Devol.</a>
    </div>

    <table class="table is-narrow">
        <thead>
            <tr>
                <th>op</th>
                <th>op</th>
                <th>idvta</th>
                <th>fecha</th>
                <th>cc</th>
                <th>ic</th>
                <th>p</th>
                <th>pmovto</th>
                <th>comprado</th>
                <th>idvdor</th>
                <th>primera</th>
                <th>cnt</th>
                <th>art</th>
                <th v-show="0">count</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in listado" :class="item['count']>0?'deudora':'nodeudora'">
                <td><button type="button" class="button is-danger is-outlined is-small" @click="borrarVenta(item['id'])">Borrar</button></td>
                <td><button type="button" class="button is-info is-outlined is-small" @click="editarVenta(item['id'])">Editar</button></td>
                <td>|item['id']|</td>
                <td :class="dia(item[1])" style="min-width: 100px;">|item['fecha']|</td>
                <td>|item['cc']|</td>
                <td :class="'cur'">|item['ic']|</td>
                <td>|item['p']|</td>
                <td style="min-width: 100px;">|item['pmovto']|</td>
                <td :class="'cur'">|item['comprado']|</td>
                <td>|item['idvdor']|</td>
                <td style="min-width: 100px;">|item['primera']|</td>
                <td>|item['cnt']|</td>
                <td>|item['art']|</td>
                <td v-show="0">|item['count']|</td>
            </tr>
        </tbody>
    </table>

<!-- Modal Editar Ventas -->
	    <div :class="verModalEditarVenta?'modal-container':''">
        <div class=" micard modal" v-show="verModalEditarVenta">
            <button class="btn-close" @click="verModalEditarVenta=false"><i class="fa fa-times" aria-hidden="true"></i></button>
            <h1 class="title is-3">Editar Venta</h1>

                      <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>

                            <div class="field">
                                <div class="control">
                                    <label class="label" style="color:black;">Fecha de Venta</label>
                                    <input type="date" v-model="fecha" class="input" :class='{"is-danger":!fecha}'  @keyup.enter="$refs.cc.focus()"  ref="fecha">
                                    <p v-show="!fecha" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" style="color:black;">Cnt de Cuotas</label>
                                      <input type="text" v-model="cc" class="input is-narrow"   ref="cc" @keyup.enter="$refs.ic.focus()" :class='{"is-danger":!cc}'>
                                      <p v-show="!cc" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" style="color:black;">Imp de Cuota</label>
                                    <input type="text" v-model="ic" class="input is-narrow"   ref="ic" @keyup.enter="$refs.p.focus()" :class='{"is-danger":ic==""}'>
                                      <p v-show="ic==''" class="help is-danger">Requerido</p>
                                  </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="label" style="color:black;">Periodicidad</label>
                                    <input type="text" v-model="p" class="input is-narrow"   ref="p" @keyup.enter="$refs.pmovto.focus()" :class='{"is-danger":p==""}'>
                                      <p v-show="p==''" class="help is-danger">Requerido</p>
                                  </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="label" style="color:black;">PmoVto</label>
                                    <input type="date" v-model="pmovto" class="input is-narrow"   ref="pmovto" @keyup.enter="$refs.idvdor.focus()" :class='{"is-danger":pmovto==""}'>
                                      <p v-show="pmovto==''" class="help is-danger">Requerido</p>
                                  </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="label" style="color:black;">IdVdor</label>
                                    <input type="text" v-model="idvdor" class="input is-narrow"   ref="idvdor" @keyup.enter="$refs.primera.focus()" :class='{"is-danger":idvdor==""}'>
                                      <p v-show="idvdor==''" class="help is-danger">Requerido</p>
                                  </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="label" style="color:black;">Fecha Primera</label>
                                    <input type="date" v-model="primera" class="input is-narrow"  ref="primera" @keyup.enter="$refs.guardared.focus()" :class='{"is-danger":primera==""}'>
                                      <p v-show="primera==''" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="button" class="button is-primary" @click="validarEdicion()" ref="guardared" id="guardar">Guardar</button>
                                </div>
                            </div>

	 </div>
    </div>
<!-- Fin Modal -->



</div>
{% endblock %}

{% block script %}
<script>
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        listado:[],
        toggleModal: false,
        fecha:'',
        cc:'',
        ic:'',
        p:'',
        pmovto:'',
        idvdor:'',
        primera:'',
	verModalEditarVenta:false,

    },
    methods:{
        getListado(){
            axios.get('/ventas/getlistado')
            .then(res=>{
                const arrayListado = Array.from(res.data.listado)
                arrayListado.forEach(row => {
                    row['fecha']=dayjs.utc(row['fecha']).format('YYYY-MM-DD')
                    row['pmovto']=dayjs.utc(row['pmovto']).format('YYYY-MM-DD')
                    row['primera']=dayjs.utc(row['primera']).format('YYYY-MM-DD')
                });
                this.listado=arrayListado
            })
        },
        borrarVenta(id){
            const borrar = confirm("¿Esta seguro que quiere borrar permanentemente esta fila?")
            if(borrar){
                axios.get('/ventas/borrarventa/'+id)
                .then(res=>{
                    bulmaToast.toast({message:"Venta borrada con exito", type:"is-success"})
                    this.getListado()
                })
                .catch(error=>{
                    bulmaToast.toast({message:error.request.response, type:"is-danger"})

                })
            }
        },
        dia(day){
            //formamos el nombre de la clase con la palabra color mas
            //el ultimo digito de los dias para tener solo diez colores
            return "color" + dayjs.utc(day).format('DD').slice(1,2)
        },
        modal(){
          this.toggleModal=!this.toggleModal
        },
        editarVenta(id){
            this.id = id
            this.verModalEditarVenta=true
            axios.get('/ventas/datosventa/'+id)
            .then(res=>{
                this.fecha=dayjs.utc(res.data.venta['fecha']).format('YYYY-MM-DD')
                this.cc=res.data.venta['cc']
                this.ic=res.data.venta['ic']
                this.p=res.data.venta['p']
                this.pmovto=dayjs.utc(res.data.venta['pmovto']).format('YYYY-MM-DD')
                this.idvdor=res.data.venta['idvdor']
                this.primera=dayjs.utc(res.data.venta['primera']).format('YYYY-MM-DD')
            })
        },
        validarEdicion(){
            if(this.fecha!=''&&this.cc!=''&&this.ic!=''&&this.p!=''&&this.pmovto!=''&&this.idvdor!=''&&this.primera!=''){
                this.guardarEdicion()
            }else{
                bulmaToast.toast({ message: 'Complete los datos faltantes', type: 'is-danger' })
            }
        },
        guardarEdicion(){
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
          axios({
              method:'POST',
              url: '/ventas/guardaredicionventa',
              data:{
                  id:this.id,
                  fecha:this.fecha,
                  cc: this.cc,
                  ic: this.ic,
                  p: this.p,
                  pmovto: this.pmovto,
                  idvdor: this.idvdor,
                  primera: this.primera,
              }
          })
          .then(res=>{
            this.modal()
            this.getListado()
            bulmaToast.toast({message:"Edicion procesada con exito", type:'is-success'})
          })
          .catch(error=>{
            //console.log('El error es:',error.request.response)
            bulmaToast.toast({message:error.request.response, type:'is-danger'})
          })
        },
    },
    created:function(){
        this.getListado()
    }
  })
  </script>
  {% endblock %}
