{% extends "base_template.html" %}

{% block title %}Ventas{% endblock %}
{% block style %}
<style>
  </style>
  {% endblock %}
  
{% block content %}

<div id="app" class="container">
    <p class="title is-1">Pasar Ventas</p>
    <div class="buttons">
      <a href="/ventas/listado" class="button is-outlined is-primary">Listado</a>
      <a href="/ventas/clientes" class="button is-outlined is-primary">Clientes</a>
      <a href="/ventas/calles" class="button is-outlined is-primary">Calles</a>
      <a href="/ventas/barrios" class="button is-outlined is-primary">Barrios</a>
      <a href="/ventas/zonas" class="button is-outlined is-primary">Zonas</a>
      <a href="/ventas/estadisticas" class="button is-outlined is-primary">Estadisticas</a>
    </div>
    <div class="field is-horizontal box">
      <input type="search" placeholder="Buscar en Romitex" size="73" class="input" v-model="buscar" @keyup.enter="buscarCliente" @focus="nuevoCliente" ref="buscar">
      <button type="button" @click="buscarCliente" class="button is-primary">Buscar</button>
      <button type="button" @click="nuevoCliente" class="button is-danger" :disabled="!verVtaTerminada">Nuevo</button>
    </div>

  <div class="buttons" v-if="buscar">
      <div v-for="cliente in clientes">
          <!-- [dni,nombre,direccion] -->
      <button class="button is-info" @mouseover="buscar=cliente[2]" @click="buscaCuentaporDni(cliente[0])">|cliente[1]|</button>
      </div>
  </div>

  <form class="box" id="EditarForm">
    <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
    <div class="columns">
      <div class="column is-1">
        <input type="text" v-model="sex" placeholder="Sexo" size="1" class="input" ref="sex" @keyup.enter="$refs.dni.focus()" @blur="validarSex">
        <p v-show="!sex" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-2">
        <input type="text" v-model="dni" placeholder="DNI" size="6" class="input" ref="dni" @keyup.enter="$refs.nombre.focus()">
        <p v-show="!dni" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-5">
        <input type="text" v-model="nombre" placeholder="Nombre" size="60" class="input" ref="nombre" @keyup.enter="$refs.tel.focus()">
        <p v-show="!nombre" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-2">
        <input type="text" v-model="tel" placeholder="Telefono" size="20" class="input" ref="tel" @keyup.enter="$refs.wapp.focus()">
      </div>
      <div class="column is-2">
        <input type="text" v-model="wapp" placeholder="WhatApp" size="20" class="input" ref="wapp" @keyup.enter="$refs.calle.focus()">
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <!-- <input type="text" v-model="calle" placeholder="Calle" size="30" class="input" list="callelist" ref="calle" @keyup.enter="$refs.num.focus()" :class='{"is-danger":!calle}'>
        <datalist id="callelist">
          <option v-for="calle in calles">|calle|</option>
          </datalist> -->
          <b-autocomplete
                ref="calle"
                @keyup.enter.native="$refs.num.focus()"
                v-model="calle"
                :data="callesFiltradasArray"
                placeholder="Calle"
                clearable
                keep-first
                @select="option => selected = option">
                <template #empty>No se encontraron resultados</template>
            </b-autocomplete>
          <p v-show="!calle" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-1">
        <input type="text" v-model="num" placeholder="Num" size="10" class="input" ref="num" @keyup.enter="$refs.barrio.focus()" >
        <p v-show="!num" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-4">
        <!-- <input type="text" v-model="barrio" placeholder="Barrio" size="30" class="input" list="barriolist" ref="barrio" @keyup.enter="$refs.zona.focus()" :class='{"is-danger":!barrio}'>
        <datalist id="barriolist">
          <option v-for="barrio in barrios">|barrio|</option>
      </datalist> -->
      <b-autocomplete
                ref="barrio"
                @keyup.enter.native="$refs.zona.focus()"
                v-model="barrio"
                :data="barriosFiltradasArray"
                placeholder="Barrio"
                clearable
                keep-first
                @select="option => selected = option">
                <template #empty>No se encontraron resultados</template>
            </b-autocomplete>
      <p v-show="!barrio" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-3">
        <!-- <input type="text" v-model="zona" placeholder="Zona" size="20" class="input" list="zonalist" ref="zona" @keyup.enter="$refs.acla.focus()" :class='{"is-danger":!zona}'>
        <datalist id="zonalist">
          <option v-for="zona in zonas">|zona|</option>
      </datalist> -->
      <b-autocomplete
                ref="zona"
                @keyup.enter.native="$refs.acla.focus()"
                v-model="zona"
                :data="zonasFiltradasArray"
                placeholder="Zona"
                clearable
                keep-first
                @select="option => selected = option">
                <template #empty>No se encontraron resultados</template>
            </b-autocomplete>
      <p v-show="!zona" class="help is-danger">Requerido</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3">
        <input type="text" v-model="acla" placeholder="Aclaracion" size="30" class="input" ref="acla" @keyup.enter="$refs.horario.focus()">
      </div>
      <div class="column is-3">
        <input type="text" v-model="horario" placeholder="Horario" size="30" class="input" ref="horario" @keyup.enter="$refs.mjecobr.focus()">
      </div>
      <div class="column is-3">
        <input type="text" v-model="mjecobr" placeholder="Mje Cobrador" size="30" class="input" ref="mjecobr" @keyup.enter="$refs.infoseven.focus()">
      </div>
      <div class="column is-3">
        <input type="text" v-model="infoseven" placeholder="InfoSeven" size="30" class="input" ref="infoseven" @keyup.enter="$refs.guardarcliente.focus()">
      </div>
    </div>
    <div class="columns">
      <div class="column is-1" >
        <button type="button" class="button is-danger" ref="guardarcliente" @click="validarCliente" @keyup.space="$refs.fecha.focus()">Guardar</button>
      </div>
    </div>
  </form>

  <!-- form pasar ventas -->
  <form class="box">
    <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
    <div class="columns">
      <div class="column is-2">
        <input type="date" v-model="fecha" size=12 class="input" ref="fecha" @keyup.enter="$refs.vdor.focus()">
        <p v-show="!fecha" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-1">
        <input type="text" v-model="vdor" size=5 class="input" ref="vdor" placeholder="Vdor" @keyup.enter="$refs.cuotas.focus()">
        <p v-show="!vdor" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-1">
        <input type="text" v-model="cuotas" size=5 class="input" ref="cuotas" placeholder="Cuotas" @keyup.enter="$refs.imp.focus()">
        <p v-show="!cuotas" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-1">
        <input type="text" v-model="imp" size=5 class="input" ref="imp" placeholder="Importe" @keyup.enter="$refs.per.focus()">
        <p v-show="!imp" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-2">
        <b-autocomplete
                ref="per"
                @keyup.enter.native="$refs.primera.focus()"
                v-model="per"
                :data="perFiltradasArray"
                placeholder="Periodicidad"
                clearable
                keep-first
                @select="option => selected = option">
                <template #empty>No se encontraron resultados</template>
            </b-autocomplete>
            <p v-show="!per" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-2">
        <input type="date" v-model="primera" size=12 class="input" ref="primera" @keyup.enter="$refs.guardarventa.focus()">
        <p v-show="!primera" class="help is-danger">Requerido</p>
      </div>
      <div class="column is-1">
        <button class="button is-danger" type="button" ref="guardarventa" @click="validarVenta" @keyup.space="$refs.cnt.focus()">Guardar</button>
      </div>
      <div class="column is-2" v-show="idvta">
        <span class="tag is-primary is-large" >|idvta|</span>
      </div>
    </div>
  </form>

  <!-- form detalle de ventas -->
  <form class="box">
    <div class="columns">
      <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
   <div class="column is-1">
    <input type="text" v-model="cnt" size=5 class="input" ref="cnt" placeholder="cnt" @keyup.enter="$refs.art.focus()">
    <p v-show="!cnt" class="help is-danger">Requerido</p>
   </div>
       <div class="column is-8">
        <b-autocomplete
        ref="art"
        @keyup.enter.native="$refs.cuota.focus()"
        @dblclick.native="getArticulos"
        v-model="art"
        :data="artFiltradasArray"
        placeholder="articulo"
        clearable
        keep-first
        @select="option => selected = option">
        <template #empty>No se encontraron resultados</template>
    </b-autocomplete>
        <div class="columns">
              <div class="column is-6">
              <p v-show="!art" class="help is-danger">Requerido</p>
              </div>
              <div class="column is-6">
                <p class="help is-info" v-show="!art"><a href="/stock/articulos" target="_blank">Agregar Articulo</a></p>
              </div>
          </div>
    </div>
       
    <div class="column is-2">
      <input type="text" v-model="cuota" size=5 class="input" ref="cuota" placeholder="cuota" @keyup.enter="$refs.guardardetalle.focus()">
        <p v-show="!cuota" class="help is-danger">Requerido</p>
    </div>
    <div class="column is-1">
      <button class="button is-danger" type="button" ref="guardardetalle" @click="guardarDetalleVta">Guardar</button>
    </div>
    </div>
  </form>
  <!-- tabla detalle de venta -->
  <form class="box">
    <div class="columns">
      <div class="column is-6">
        <table class="table" v-show="detvta.length">
          <thead>
            <tr>
              <th>op</th>
              <th>id</th>
              <th>cnt</th>
              <th>art</th>
              <th>cc</th>
              <th>ic</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="dv in detvta">
              <td><button type="button" class="button is-danger is-small" @click="borrarDetVta(dv[0])">Borrar</button></td>
              <td>|dv[0]|</td>
              <td>|dv[1]|</td>
              <td>|dv[2]|</td>
              <td>|dv[3]|</td>
              <td>|dv[4]|</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column is-6">
        <div class="notification is-warning" v-show="sumic-imp && sumic<=imp">
          <p class="title is-4">Falta agregar los articulos comprados</p>
        </div>
        <div class="notification is-danger" v-show="sumic>imp">
          <p class="title is-4">Error la suma de los item es mayor al total</p>
        </div>
        <div class="notification is-success" v-show="verVtaTerminada">
          <p class="title is-4">Venta Terminada</p>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
      buscar:'',
      clientes:[],
      calles:[],
      barrios:[],
      zonas:[],
      sex:'',
      dni:'',
      nombre:'',
      calle:'',
      num:'',
      direccion:'',
      barrio:'',
      zona:'',
      tel:'',
      wapp:'',
      acla:'',
      horario:'',
      mjecobr:'',
      infoseven:'',
      id:'',
      selected: null,
      per: '',
      periodicidad:['mensual','quincenal','semanal'],
      idvta:'',
      fecha:'',
      vdor:'',
      cuotas:'',
      imp:'',
      primera:'',
      cnt:'',
      art:'',
      cuota:'',
      articulos:[],
      detvta: [],
      sumic: 0,
      verVtaTerminada:false,

    },
    methods:{
      buscarCliente(){
            axios.get('/buscador/'+this.buscar)
            .then(res=>{
                this.clientes = res.data.clientes
                //if(this.clientes.length==1) this.buscaCuentaporDni(this.clientes[0][0])
            })
            .catch(error=>{
              bulmaToast.toast({message:error.request.response,type:"is-danger"})
              this.dni = this.buscar
              this.$refs.sex.focus()
            })
        },
        buscaCuentaporDni(dni){
            axios.get('/ventas/getcuentapordni/'+dni)
            .then(res=>{
                this.clientes = res.data.clientes
                this.sex = this.clientes[0][0]
                this.dni = this.clientes[0][1]
                this.nombre = this.clientes[0][2]
                this.calle = this.clientes[0][3]
                this.num = this.clientes[0][4]
                this.direccion = this.calle+' '+this.num
                this.barrio = this.clientes[0][5]
                this.zona = this.clientes[0][6]
                this.tel = this.clientes[0][7]
                this.wapp = this.clientes[0][8]
                this.acla = this.clientes[0][9]
                this.horario = this.clientes[0][10]
                this.mjecobr = this.clientes[0][11]
                this.infoseven = this.clientes[0][12]
                this.id = this.clientes[0][13]

                this.buscar = '';
                this.clientes = [];
                this.$refs.sex.focus()
            })
        },
      getCalles(){
        axios.get('/ventas/getcalles')
        .then(res=>{
          this.calles = res.data.calles
        })
      },
      getBarrios(){
        axios.get('/ventas/getbarrios')
        .then(res=>{
          this.barrios = res.data.barrios
        })
      },
      getZonas(){
        axios.get('/ventas/getzonas')
        .then(res=>{
          this.zonas = res.data.zonas
        })
      },
      getArticulos(){
        axios.get('/ventas/getarticulos')
        .then(res=>{
          this.articulos = res.data.articulos
          //console.log(this.articulos);
        })
      },
      nuevoCliente(){
        this.buscar='',
        this.id=''
        this.sex=''
        this.dni=''
        this.nombre=''
        this.calle=''
        this.num=''
        this.barrio=''
        this.zona=''
        this.tel=''
        this.wapp=''
        this.acla=''
        this.horario=''
        this.mjecobr=''
        this.infoseven=''
        this.$refs.buscar.focus()
        this.imp='',
        this.primera='',
        this.detvta=[],
        this.sumic=0,
        this.verVtaTerminada=false,
        this.idvta='',
        this.cnt='',
        this.art='',
        this.cuota=''
      },
      validarCliente(){
        if(this.sex!=''&&this.dni!=''&&this.nombre!=''&&this.calle!=''&&this.num!=''&&this.barrio!=''&&this.zona!=''){
          this.guardarCliente()
        }else{
          bulmaToast.toast({message:"Complete los datos minimos requeridos", type:'is-danger'})
        }
      },
      guardarCliente(){
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
            axios({
                method:'POST',
                url:'/ventas/guardarcliente',
                data:{
                    id:this.id,
                    sex:this.sex,
                    dni:this.dni,
                    nombre:this.nombre,
                    calle:this.calle,
                    num:this.num,
                    barrio:this.barrio,
                    zona:this.zona,
                    acla:this.acla,
                    horario:this.horario,
                    mjecobr:this.mjecobr,
                    infoseven:this.infoseven,
                    tel:this.tel,
                    wapp:this.wapp,
                }
                })
                .then(res=>{
                  bulmaToast.toast({message:"Cliente creado/editado con exito", type:'is-success'})
                  if (this.id=='') this.id=res.data.id
                })
                .catch(error=>{
                  bulmaToast.toast({message:error.request.response, type:'is-danger'})
                })
      },
      validarSex(){
        if(this.sex==''){
          bulmaToast.toast({message:"este campo es requerido", type:'is-danger'})
          this.$refs.sex.focus()
        }
        if(this.sex!='f'&&this.sex!='F'&&this.sex!='m'&&this.sex!='M'){
          bulmaToast.toast({message:"unicamente se aceptan F o M", type:'is-danger'})
          this.$refs.sex.focus()
        }
        this.sex = this.sex.toUpperCase()
      },
      validarVenta(){
        if(this.fecha!=''&&this.vdor!=''&&this.cuotas!=''&&this.imp!=''&&this.per!=''&&this.primera!=''){
          this.guardarVenta()
        }else{
          bulmaToast.toast({message:"Complete los datos minimos requeridos", type:'is-danger'})
        }
      },
      guardarVenta(){
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
            axios({
                method:'POST',
                url:'/ventas/guardarventa',
                data:{
                    idcliente:this.id,
                    fecha:this.fecha,
                    idvdor:this.vdor,
                    cc:this.cuotas,
                    ic:this.imp,
                    p:this.per,
                    primera:this.primera,
                }
                })
                .then(res=>{
                  bulmaToast.toast({message:"Venta creada con exito", type:'is-success'})
                  this.idvta=res.data.idvta
                })
                .catch(error=>{
                  bulmaToast.toast({message:error.request.response, type:'is-danger'})
                })
      },
      validarDetalleVta(){
        if(this.cnt!=''&&this.art!=''&&this.cuota!=''){
          this.guardarDetalleVta()
        }else{
          bulmaToast.toast({message:"Complete los datos minimos requeridos", type:'is-danger'})
        }
      },
      guardarDetalleVta(){
        axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
            axios({
                method:'POST',
                url:'/ventas/guardardetvta',
                data:{
                    idvta:this.idvta,
                    cnt:this.cnt,
                    art:this.art,
                    cc:this.cuotas,
                    ic:this.cuota,
                }
                })
                .then(res=>{
                  bulmaToast.toast({message:"Detalle ingresado con exito", type:'is-success'})
                  this.detvta = res.data.detvta
                  this.sumic = res.data.sumic
                  if (this.sumic==Number(this.imp)) this.verVtaTerminada=true;
                  if (this.sumic>Number(this.imp)) this.verVtaTerminada=false;
                  this.cnt='';
                  this.art='';
                  this.cuota='';
                  this.$refs.cnt.focus()
                })
                .catch(error=>{
                  bulmaToast.toast({message:error.request.response, type:'is-danger'})
                })
      },
      borrarDetVta(id){
        axios.get('/ventas/borrardetvta/'+id)
        .then(res=>{
          bulmaToast.toast({message:"item borrado con exito", type:'is-success'})
          this.detvta = res.data.detvta
          this.sumic = res.data.sumic
          if (this.sumic==Number(this.imp)) this.verVtaTerminada=true;
          if (this.sumic>Number(this.imp)) this.verVtaTerminada=false;
          if (this.sumic==0) this.verVtaTerminada=false;
        })
        .catch(error=>{
          bulmaToast.toast({message:error.request.response, type:'is-danger'})
        })
      },
    },
    created: function(){
      this.getCalles()
      this.getBarrios()
      this.getZonas()
      this.getArticulos()
    },
    computed: {
        callesFiltradasArray() {
            return this.calles.filter((option) => {
                return option
                    .toString()
                    .toLowerCase()
                    .indexOf(this.calle.toLowerCase()) >= 0
            })
        },
        barriosFiltradasArray() {
            return this.barrios.filter((option) => {
                return option
                    .toString()
                    .toLowerCase()
                    .indexOf(this.barrio.toLowerCase()) >= 0
            })
        },
        zonasFiltradasArray() {
            return this.zonas.filter((option) => {
                return option
                    .toString()
                    .toLowerCase()
                    .indexOf(this.zona.toLowerCase()) >= 0
            })
        },
        perFiltradasArray() {
            return this.periodicidad.filter((option) => {
                return option
                    .toString()
                    .toLowerCase()
                    .indexOf(this.per.toLowerCase()) >= 0
            })
        },
        artFiltradasArray() {
            return this.articulos.filter((option) => {
                return option
                    .toString()
                    .toLowerCase()
                    .indexOf(this.art.toLowerCase()) >= 0
            })
        },
    },
  })
  </script>
  {% endblock %}