{% extends "base_template.html" %}

{% block title %}Ventas{% endblock %}
{% block style %}
<style>
  </style>
  {% endblock %}
  
{% block content %}

<div id="app" class="container">
    <p class="title is-1">Pasar Ventas</p>
    <div class="field is-horizontal box">
      <input type="search" placeholder="Buscar en Romitex" size="73" class="input" v-model="buscar" @keyup.enter="buscarCliente" @focus="buscar=''">
      <button type="button" @click="buscarCliente" class="button is-primary">Buscar</button>
    </div>

  <div class="buttons" v-if="buscar">
      <div v-for="cliente in clientes">
          <!-- [dni,nombre,direccion] -->
      <button class="button is-info" @mouseover="buscar=cliente[2]" @click="buscaCuentaporDni(cliente[0])">|cliente[1]|</button>
      </div>
  </div>

  <form class="box" id="EditarForm">
    <div class="columns">
      <div class="column is-1">
        <input type="text" v-model="sex" placeholder="Sexo" size="1" class="input" ref="sex" @keyup.enter="$refs.dni.focus()">
      </div>
      <div class="column is-2">
        <input type="text" v-model="dni" placeholder="DNI" size="6" class="input" ref="dni" @keyup.enter="$refs.nombre.focus()">
      </div>
      <div class="column is-5">
        <input type="text" v-model="nombre" placeholder="Nombre" size="60" class="input" ref="nombre" @keyup.enter="$refs.tel.focus()">
      </div>
      <div class="column is-2">
        <input type="text" v-model="tel" placeholder="Telefono" size="20" class="input" ref="tel" @keyup.enter="$refs.wapp.focus()">
      </div>
      <div class="column is-2">
        <input type="text" v-model="wapp" placeholder="WhatApp" size="20" class="input" ref="wapp" @keyup.enter="$refs.calle.focus()">
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <input type="text" v-model="calle" placeholder="Calle" size="30" class="input" list="callelist" ref="calle" @keyup.enter="$refs.num.focus()">
        <datalist id="callelist">
          <option v-for="calle in calles">|calle|</option>
          </datalist>
      </div>
      <div class="column is-1">
        <input type="text" v-model="num" placeholder="Num" size="10" class="input" ref="num" @keyup.enter="$refs.barrio.focus()">
      </div>
      <div class="column is-4">
        <input type="text" v-model="barrio" placeholder="Barrio" size="30" class="input" list="barriolist" ref="barrio" @keyup.enter="$refs.zona.focus()">
        <datalist id="barriolist">
          <option v-for="barrio in barrios">|barrio|</option>
      </datalist>
      </div>
      <div class="column is-3">
        <input type="text" v-model="zona" placeholder="Zona" size="20" class="input" list="zonalist" ref="zona" @keyup.enter="$refs.acla.focus()">
        <datalist id="zonalist">
          <option v-for="zona in zonas">|zona|</option>
      </datalist>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3">
        <input type="text" v-model="acla" placeholder="Aclaracion" size="30" class="input" ref="acla" @keyup.enter="$refs.horario.focus()">
      </div>
      <div class="column is-3">
        <input type="text" v-model="horario" placeholder="Horario" size="30" class="input" ref="horario" @keyup.enter="$refs.mjecobr.focus()">
      </div>
      <div class="column is-3">
        <input type="text" v-model="mjecobr" placeholder="Mje Cobrador" size="30" class="input" ref="mjecobr" @keyup.enter="$refs.infoseven.focus()">
      </div>
      <div class="column is-3">
        <input type="text" v-model="infoseven" placeholder="InfoSeven" size="30" class="input" ref="infoseven" @keyup.enter="$refs.guardar.focus()">
      </div>
    </div>
    <div class="columns">
      <div class="column is-1 is-offset-11">
        <button type="button" class="button is-danger" ref="guardar">Guardar</button>
      </div>
    </div>
  </form>


</div>
{% endblock %}

{% block script %}
<script>
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
      buscar:'',
      clientes:[],
      calles:[],
      barrios:[],
      zonas:[],
      sex:'',
      dni:'',
      nombre:'',
      calle:'',
      num:'',
      direccion:'',
      barrio:'',
      zona:'',
      tel:'',
      wapp:'',
      acla:'',
      horario:'',
      mjecobr:'',
      infoseven:'',
      id:'',

    },
    methods:{
      buscarCliente(){
            axios.get('/buscador/'+this.buscar)
            .then(res=>{
                this.clientes = res.data.clientes
                //if(this.clientes.length==1) this.buscaCuentaporDni(this.clientes[0][0])
            })
        },
        buscaCuentaporDni(dni){
            axios.get('/ventas/getcuentapordni/'+dni)
            .then(res=>{
                this.clientes = res.data.clientes
                this.sexo = this.clientes[0][0]
                this.dni = this.clientes[0][1]
                this.nombre = this.clientes[0][2]
                this.calle = this.clientes[0][3]
                this.num = this.clientes[0][4]
                this.direccion = this.calle+' '+this.num
                this.barrio = this.clientes[0][5]
                this.zona = this.clientes[0][6]
                this.tel = this.clientes[0][7]
                this.wapp = this.clientes[0][8]
                this.acla = this.clientes[0][9]
                this.horario = this.clientes[0][10]
                this.mjecobr = this.clientes[0][11]
                this.infoseven = this.clientes[0][12]
                this.id = this.clientes[0][13]

                this.buscar = '';
                this.clientes = [];
            })
        },
      getCalles(){
        axios.get('/ventas/getcalles')
        .then(res=>{
          this.calles = res.data.calles
        })
      },
      getBarrios(){
        axios.get('/ventas/getbarrios')
        .then(res=>{
          this.barrios = res.data.barrios
        })
      },
      getZonas(){
        axios.get('/ventas/getzonas')
        .then(res=>{
          this.zonas = res.data.zonas
        })
      },
    },
    created: function(){
      this.getCalles()
      this.getBarrios()
      this.getZonas()
    },
  })
  </script>
  {% endblock %}