{% extends "base.html" %}

{% block title %}Recallificar{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getCalles()">
  <p class="title is-1">Cambiar Calles</p>

  <div class="columns">
    <div class="column is-4">
      <div class="grid-buscar  mr-3 mt-2">
        <input type="search" placeholder="Filtrar por calle:" class="input " x-model="buscar"
		       @focus="buscar=''"  autofocus list="calles" :class="darkTheme?'input-dark':''">
        <datalist id="calles">
          <template x-for="item in listacalles">
            <option :value="item"></option>
          </template>
        </datalist>

        <button type="button" @click="filtrarCalle(buscar)" class="button is-primary ">Buscar</button>
      </div>
    </div>
    <div class="column is-4">
      <div class="grid-buscar  mr-3 mt-2">
        <input type="search" placeholder="Cambiar por calle:" class="input " x-model="cambiar"
		       @focus="cambiar=''"  autofocus list="calles" :class="darkTheme?'input-dark':''">
        <datalist id="calles">
          <template x-for="item in listacalles">
            <option :value="item"></option>
          </template>
        </datalist>

        <button type="button" @click="cambiarCalle(cambiar)" class="button is-danger ">Cambiar</button>
      </div>
    </div>
    <div class="column is-2">
      <button class="button is-danger " @click="borrarZona(buscar)">Borrar zona</button>
    </div>
  </div>

  <table class="table" id="table">
    <thead>
      <tr>
        <th></th>
        <th>id</th>
        <th>nombre</th>
        <th>calle</th>
        <th>num</th>
        <th>barrio</th>
        <th>zona</th>
        <th>deuda</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <template x-for="cliente in listaClientes">
        <tr>
          <td><a :href="'/buscador/interno/'+cliente.dni" target="_blank">Ir</a></td>
          <td x-text="cliente.id"></td>
          <td x-text="cliente.nombre"></td>
          <td x-text="cliente.calle"></td>
          <td x-text="cliente.num"></td>
          <td x-text="cliente.barrio"></td>
          <td x-text="cliente.zona"></td>
          <td x-text="cliente.deuda"></td>
          <td><span class="tag is-small"  x-show="cliente.incobrable">INC</span></td>
          <td><span class="tag is-small"  x-show="cliente.novendermas">LN</span></td>
          <td><span class="tag is-small"  x-show="cliente.mudo">MUDO</span></td>
          <td><span class="tag is-small"  x-show="cliente.gestion">GESTION</span></td>
        </tr>
      </template>
    </tbody>
  </table>

  <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}" />
  <!-- modal Bulma --></div>
</div>
{% endblock %}

{% block script %}
<script>
 function main(){
     return{
         listacalles:[],
         listaClientes:[],
         buscar:'',
         cambiar:'',
         getCalles(){
             axios.get('/ventas/getcalles')
                  .then(res=>{
                      this.listacalles = res.data.result
                  })
         },
         filtrarCalle(calle){
             axios.get('/ventas/getclientescalle/'+calle)
                  .then(res=>{
                      this.listaClientes = res.data.clientes
                  })
         },
         borrarCalle(calle){
             Swal.fire({
                 title: '¿Esta seguro?',
                 text: `Se borrara la calle ${calle}`,
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Si, borrarla!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     axios.get('/ventas/borrarcallepornombre/'+calle
                     )
                          .then(res=>{
                              msgSuccess('Borrado!','La calle ha sido borrada')
                              this.getCalles()})
                          .catch(error=>msgError('No se pudo borrar. Posiblemente haya registros con esa calle.'))
             }})
         },
         seleccionarRows(){
             let ids = [];
             let tbody = document.querySelector("tbody");
             let rowsArray = Array.from(tbody.rows);
             rowsArray.forEach((row) => {
                 if (row.classList.contains("is-selected")) {
                     ids.push(row.cells[1].innerHTML);
                     //la columna que corresponda al id OJO
                 }
             });
             return ids
         },
         cambiarCalle(calle){
             let ids = this.seleccionarRows()
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/ventas/cambiarcalle/'+calle,ids)
                                                                 .then(res=>{
                                                                     this.filtrarCalle(this.buscar)
                                                                     limpiarTabla('table')
                                                                     msgSuccess("Calle cambiada")
                                                                 })
                                                                 .catch(error=>{
                                                                     msgError(error.request.response)
                                                                 })
         },

     }
 }
</script>
{% endblock %}
