{% extends "base.html" %}

{% block title %}Ventas{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}


{% block content %}

<div x-data="main()"
  x-init="getVentaHoy();getVisitasHoy();setInterval(()=>{getVentaHoy()},60000);setInterval(()=>{getListadoAutorizados()},10000)">

  <div class="flex-space-between" x-show="!isMobile">
    <p class="title is-1">Tablero Ventas</p>
    <a class="tag is-danger is-large" style="text-decoration:none;" href="/buscador/reautorizardatos">Autorizar Datos</a>
    <a class="tag is-small is-warning pointer" x-show="listaWappsNoEnviados.length" href="#table-wappnoenviados">Hay wapp notificaciones ventas no enviados</a>
  </div>
  <p class="title is-3" x-show="isMobile">Tablero Ventas</p>


  

<div class="block" x-show="totalVendido">
  <div class="xtags has-addons m-0" x-show="totalVendido">
    <span class="tag is-large is-black m-0">Total Vendido</span>
    <span class="tag is-large is-light m-0" x-text="'$'+totalVendido"></span>
  </div>
  <template x-for="[id,value]  in Object.entries(listaVtaVdores)">
    <div class="xtags has-addons m-0">
      <span class="tag is-large is-info m-0" x-text="id"></span>
      <span class="tag is-large is-light m-0" x-text="'$'+value"></span>
    </div>
  </template>
</div>
<div class="columns">
  <div class="column is-6">
    <table class="table is-narrow" id="table">
      <thead>
        <tr>
          <th></th>
          <th>hora</th>
          <th>resultado</th>
          <th>nombre</th>
          <th>direccion</th>
          <th>zona</th>
          <th>vendedor</th>
          <th class="sumar">vendido</th>
        </tr>
      </thead>
      <tbody>
        <template x-for="item in listaVentasHoy">
          <tr>
            <td><a :href="'/buscador/interno/'+item.dni">Ver</a></td>
            <td x-text="item.fecha_definido"></td>
            <td><span class="tag is-small is-success">Vendido</span></td>
            <td x-text="item.nombre"></td>
            <td x-text="item.direccion"></td>
            <td x-text="item.zona"></td>
            <td x-text="item.vendedor"></td>
            <td x-text="item.monto_vendido" class="pesos"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
  <template x-for="vdor in listaVendedores">
    <div class="column is-2">
      <button class="button is-info" x-text="vdor"></button>
      <table class="table is-narrow">
        <thead>
          <tr>
            <th>hora</th>
            <th>res</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="item in listaVisitasHoy.filter(row=>row.vdor==vdor)">
            <tr>
              <td x-text="dayjs.utc(item.fechahora).format('HH:mm:ss')"></td>
              <td><span class="tag is-small"
                  x-text="item.result==1?'venta':(item.result==2?'anulado':
                                 (item.result==3?'no estaba':(item.result==5?'mudo':(item.result==6?'fallecio':(item.result==7?'devolucion':'fechado')))))"
                  :class="item.result==1?'is-success':(item.result==2?'is-danger':(item.result==3?'is-warning':
                                 (item.result==5?'is-primary':(item.result==6?'if-black':(item.result==7?'is-danger':'is-info')))))"></span>
              </td>
              <td x-text="item.direccion"></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </template>


</div>
<div>
  <p class="title is-1">Wapp de Notificacion de Venta no enviados</p>
  <table class="table" id="table-wappnoenviados">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>idvta</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <template x-for="item in listaWappsNoEnviados">
        <tr>
        <td x-text="item.nombre"></td>
        <td x-text="item.direccion"></td>
        <td x-text="item.idvta"></td>
        <td><button class="button is-small is-danger" @click(sendWapp(item.idvta))>Re-enviar</button></td>
        </tr>
        </template>
    </tbody>
  </table>
</div>
</div>
{% endblock %}

{% block script %}
<script>

  function main() {
    return {
      isMobile: window.innerWidth < 768,
      listaVentasHoy: [],
      listaVisitasHoy: [],
      audio: new Audio("{{ url_for('static', filename='bell.ogg') }}"),
      audioAuth: new Audio("{{ url_for('static', filename='auth.mp3') }}"),
      listaVtaVdores: {},
      totalVendido: '',
      listaVendedores: [],
      listadoAutorizados: [],
      listaWappsNoEnviados:[],
      getListadoAutorizados() {
        axios.get('/vendedor/getlistadoautorizados')
          .then(res => {
            this.listadoAutorizados = res.data.listadoautorizados
            let diff = this.listadoAutorizados.filter(row => row.diff = dayjs.utc().diff(dayjs.utc(row.fechahora), 's') - 10800 < 61 && row.tomado == 0) //pq ultimotime esta en GMT 3hs de diferencia
            if (diff.length > 0) this.audioAuth.play()
          })
      },
      getVentaHoy() {
        axios.get('/vendedor/getventashoy')
          .then(res => {
            this.listaVentasHoy = res.data.ventashoy
            this.listaWappsNoEnviados = res.data.wappnoenviados
            console.log(this.listaWappsNoEnviados);
            let largo = this.listaVentasHoy.length
            if (largo > 0) {
              let ultimarow = this.listaVentasHoy[largo - 1]
              let ultimotime = ultimarow.fecha_definido
              let delta = dayjs().diff(dayjs(ultimotime), 's') - 10800 //pq ultimotime esta en GMT 3hs de diferencia
              if (delta < 60) {
                this.audio.play();
              }
            }
            this.listaVentasHoy.map(row => row.fecha_definido = dayjs.utc(row.fecha_definido).format("HH:mm:ss"))
            this.listaVendedores = res.data.vendedores
            for (let vdor of this.listaVendedores) {
              this.listaVtaVdores[vdor] = this.listaVentasHoy.filter(row => row.vendedor == vdor).map(row => row.monto_vendido).reduce((a, b) => a + b, 0)
            }
            this.totalVendido = this.listaVentasHoy.map(row => row.monto_vendido).reduce((a, b) => a + b, 0)
          })
      },
      getVisitasHoy() {
        axios.get('/vendedor/getvisitashoy')
          .then(res => {
            this.listaVisitasHoy = res.data.visitashoy
          })
      },
      sendWapp(idvta){
             msgDelay('Se estan enviando los mensajes...')
             axios.get('/ventas/resendwapp/'+idvta)
                  .then(res=>{
                      if(res.data=='success') {
                          msgSuccess('Success')
                          setTimeout(()=>{
                              this.getVentaHoy()
                          },10000)
                      } else if (res.data=='failed') {
                          msgError('Failed')
                      } else{
                          msgWarning(res.data)
                      }
             })
         },
    }
  }

</script>
{% endblock %}