{% extends "base_template.html" %}

{% block title %}Ventas{% endblock %}
{% block style %}
<style>
.suggestions{
    max-height: 200px;
    width: 100%;
    border-radius: 5px;
    overflow: auto;
}
.suggestions>div{
    padding: 5px;
    padding-left: 15px;
    font-size: 0.75em;
    color: #999;
    cursor: pointer;
}
.suggestions>div:hover{
    background: black;
    color: white;
} 
  </style>
  {% endblock %}
  
{% block content %}
<div x-data=main() class="container" x-init="obtenerCalles();obtenerBarrios();obtenerZonas()">
  <p class="title is-1">Pasar Ventas</p>
  <div class="buttons">
    <a href="/ventas/listado" class="button  is-primary">Listado</a>
    <a href="/ventas/clientes" class="button  is-primary">Clientes</a>
    <a href="/ventas/calles" class="button  is-primary">Calles</a>
    <a href="/ventas/barrios" class="button  is-primary">Barrios</a>
    <a href="/ventas/zonas" class="button  is-primary">Zonas</a>
    <a href="/ventas/estadisticas" class="button  is-primary">Estadisticas</a>
    <a href="/ventas/morosidad" class="button is-primary">Morosidad</a>
    <a href="/ventas/devolucion" class="button is-primary">Devoluciones</a>
    <a href="/ventas/pordia" class="button is-primary">Ventas</a>
    <a href="/ventas/pivotdevoluciones" class="button is-primary">Pivot-Devol.</a>
  </div>
  <div class="field is-horizontal box">
    <input type="search" placeholder="Buscar en Romitex" size="73" class="input" x-model="buscar" @keyup.enter="buscarCliente"  x-ref="buscar">
    <button type="button" @click="buscarCliente" class="button is-primary">Buscar</button>
    <button type="button" @click="nuevoCliente" class="button is-danger" :disabled="!verVtaTerminada">Nuevo</button>
  </div>
  <div class="buttons" x-show="buscar" >
    <template x-for="cli in clientes">
        <!-- [dni,nombre,direccion] -->
    <button class="button is-info" @mouseover="buscar=cli.calle+' '+cli.num" @click="buscaCuentaporDni(cli.dni)" x-text="cli.nombre"></button>
    </template>
</div>

<form class="box" id="EditarForm">
  <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
  <div class="columns is-desktop">
    <div class="column is-1">
      <input type="text" x-model="cliente.sex" placeholder="Sexo" size="1" class="input" x-ref="sex" @keyup.enter="$refs.dni.focus()">
      <p x-show="!cliente.sex" class="help is-danger">Requerido</p>
    </div>
    <div class="column is-2">
      <input type="text" x-model="cliente.dni" placeholder="DNI" size="6" class="input" x-ref="dni" @keyup.enter="$refs.nombre.focus()">
      <p x-show="!cliente.dni" class="help is-danger">Requerido</p>
    </div>
    <div class="column is-5">
      <input type="text" x-model="cliente.nombre" placeholder="Nombre" size="60" class="
      input" x-ref="nombre" @keyup.enter="$refs.tel.focus()">
      <p x-show="!cliente.nombre" class="help is-danger">Requerido</p>
    </div>
    <div class="column is-2">
      <input type="text" x-model="cliente.tel" placeholder="Telefono" size="20" class="input" x-ref="tel" @keyup.enter="$refs.wapp.focus()">
    </div>
    <div class="column is-2">
      <input type="text" x-model="cliente.wapp" placeholder="WhatApp" size="20" class="input" x-ref="wapp" @keyup.enter="$refs.calle.focus()">
    </div>
  </div>
  <div class="columns">
    <div class="column is-4">
      <input type="text" class="input mb-1" x-model="cliente.calle" id="searchCalle" autocomplete="off">
      <div id="suggestionsCalle" class="suggestions"></div>
        <p x-show="!cliente.calle" class="help is-danger">Requerido</p>
    </div>
    <div class="column is-1">
      <input type="text" x-model="cliente.num" placeholder="Num" size="10" class="input" x-ref="num" @keyup.enter="$refs.barrio.focus()" >
      <p x-show="!cliente.num" class="help is-danger">Requerido</p>
    </div>
    <div class="column is-4">
        <input type="text" class="input mb-1" x-model="cliente.barrio" id="searchBarrio" autocomplete="off">
        <div id="suggestionsBarrio" class="suggestions"></div>
    <p x-show="!cliente.barrio" class="help is-danger">Requerido</p>
    </div>
    <div class="column is-3">
      <input type="text" class="input mb-1" x-model="cliente.zona" id="searchZona" autocomplete="off">
      <div id="suggestionsZona" class="suggestions"></div>
    <p x-show="!cliente.zona" class="help is-danger">Requerido</p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      <input type="text" x-model="cliente.acla" placeholder="Aclaracion" size="30" class="input" x-ref="acla" @keyup.enter="$refs.horario.focus()">
    </div>
    <div class="column is-3">
      <input type="text" x-model="cliente.horario" placeholder="Horario" size="30" class="input" x-ref="horario" @keyup.enter="$refs.mjecobr.focus()">
    </div>
    <div class="column is-3">
      <input type="text" x-model="cliente.mjecobr" placeholder="Mje Cobrador" size="30" class="input" x-ref="mjecobr" @keyup.enter="$refs.infoseven.focus()">
    </div>
    <div class="column is-3">
      <input type="text" x-model="cliente.infoseven" placeholder="InfoSeven" size="30" class="input" x-ref="infoseven" @keyup.enter="$refs.guardarcliente.focus()">
    </div>
  </div>
  <div class="columns">
    <div class="column is-1" >
      <button type="button" class="button is-danger" ref="guardarcliente" @click="validarCliente" @keyup.space="$refs.fecha.focus()">Guardar</button>
    </div>
  </div>
</form>


</div>
{% endblock %}

{% block script %}
<script>
function main(){
  return {
    buscar:"",
    verVtaTerminada:false,
    clientes:{},
    cliente:{},
    calles:[],
    barrios:[],
    zonas:[],
    buscarCliente(){
            axios.get('/buscador/'+this.buscar)
            .then(res=>{
                this.clientes = res.data.clientes
                if(this.clientes.length==1) this.buscaCuentaporDni(this.clientes[0].dni)
            })
            .catch(error=>{
              bulmaToast.toast({message:error.request.response,type:"is-danger"})
              this.dni = this.buscar
              this.$refs.sex.focus()
            })
        },
    buscaCuentaporDni(dni){
      this.clientes = this.clientes.filter(row=>row.dni==dni)
      this.cliente = this.clientes[0]
      console.log(this.cliente.calle)
    },
    obtenerCalles(){
                axios.get('/buscador/obtenerlistacalles')
                .then(res=>{
                    const calles = res.data.calles
                    const $input = document.getElementById('searchCalle')
                    const $suggestions = document.getElementById('suggestionsCalle')
                    $input.addEventListener('keyup',(e)=>{
                    const input = $input.value
                    $suggestions.innerHTML='';
                    const suggestions = calles.filter(calle=>{
                        return calle.calle.toLocaleLowerCase().includes(input.toLocaleLowerCase())
                    })
                    suggestions.forEach(suggested=>{
                        const $div = document.createElement('div');
                        $div.innerHTML = suggested.calle;
                        $suggestions.appendChild($div)
                    })
                    if(input==='') $suggestions.innerHTML=''
                    if(e.key==='Enter'){
                        this.cliente.calle = $suggestions.firstChild.innerHTML
                        $suggestions.innerHTML=''
                    }
                    })
                    $suggestions.addEventListener('click',(e)=>{
                        this.cliente.calle=e.target.innerHTML
                        $suggestions.innerHTML=''
                    })
                    })
                },
    obtenerBarrios(){
                axios.get('/buscador/obtenerlistabarrios')
                .then(res=>{
                    const barrios = res.data.barrios
                    const $input = document.getElementById('searchBarrio')
                    const $suggestions = document.getElementById('suggestionsBarrio')
                    $input.addEventListener('keyup',(e)=>{
                    const input = $input.value
                    $suggestions.innerHTML='';
                    const suggestions = barrios.filter(barrio=>{
                        return barrio.barrio.toLocaleLowerCase().includes(input.toLocaleLowerCase())
                    })
                    suggestions.forEach(suggested=>{
                        const $div = document.createElement('div');
                        $div.innerHTML = suggested.barrio;
                        $suggestions.appendChild($div)
                    })
                    if(input==='') $suggestions.innerHTML=''
                    if(e.key==='Enter'){
                        this.cliente.barrio = $suggestions.firstChild.innerHTML
                        $suggestions.innerHTML=''
                    }
                    })
                    $suggestions.addEventListener('click',(e)=>{
                        this.cliente.barrio=e.target.innerHTML
                        $suggestions.innerHTML=''
                    })
                    })
                },
    obtenerZonas(){
                axios.get('/buscador/obtenerlistazonas')
                .then(res=>{
                    const zonas = res.data.zonas
                    const $input = document.getElementById('searchZona')
                    const $suggestions = document.getElementById('suggestionsZona')
                    $input.addEventListener('keyup',(e)=>{
                    const input = $input.value
                    $suggestions.innerHTML='';
                    const suggestions = zonas.filter(zona=>{
                        return zona.zona.toLocaleLowerCase().includes(input.toLocaleLowerCase())
                    })
                    suggestions.forEach(suggested=>{
                        const $div = document.createElement('div');
                        $div.innerHTML = suggested.zona;
                        $suggestions.appendChild($div)
                    })
                    if(input==='') $suggestions.innerHTML=''
                    if(e.key==='Enter'){
                        this.cliente.zona = $suggestions.firstChild.innerHTML
                        $suggestions.innerHTML=''
                    }
                    })
                    $suggestions.addEventListener('click',(e)=>{
                        this.cliente.zona=e.target.innerHTML
                        $suggestions.innerHTML=''
                    })
                    })
                },
    nuevoCliente(){

    },

  }
}
</script>
{% endblock %}