{% extends "base_template.html" %}

{% block title %}Ver datos Clientes{% endblock %}
{% block style %}
<style>
td {text-align: center;
    color: lightgray;
}


tr,th {text-align:center;}
</style>
{% endblock %}


{% block content %}

<div class="container">
    <p class="title is-1">Cobranza y Comision Mensual por Cobrador</p>
{{tbl|safe}}

</div>


<!-- {% block script %}
<script>
function agregaClase() {
    let element = document.getElementsByTagName("table");
    console.log(element)
    element[0].classList.add("table");
    element[0].classList.add("table-sm");
    element[0].classList.add("table-striped");
}

</script>
{% endblock %} -->

{% endblock %}