{% extends "base.html" %}

{% block title %}Comisiones{% endblock %}
{% block style %}
<style>
 td {
     text-align: center;
 }
 tr,th {
     text-align:center;
 }
</style>
{% endblock %}


{% block content %}

<div class="container" x-data="main()" x-init="getGrafico()">

  <p class="title is-1">Comision Mensual por Cobrador</p>

  <div class="columns">
    <div class="column is-8">
  {{tbl|safe}}
  <div class="box">
    <canvas id="grafico-estadistica" width="600" height="400"></canvas>
  </div>
    </div>
  </div>

</div>


{% block script %}
<script>
 function main(){
     return{
         index:[],
         c750:[],
         c796:[],
         c800:[],
         c802:[],
         c815:[],
         getGrafico(){
             this.index = {{index|tojson}}
             this.c750 = {{c750|tojson}}
             this.c796 = {{c796|tojson}}
             this.c800 = {{c800|tojson}}
             this.c802 = {{c802|tojson}}
             this.c815 = {{c815|tojson}}
             const canvas = document.getElementById('grafico-estadistica').getContext('2d');
             const labels = this.index;
             const data = {
                 labels: labels,
                 datasets: [
                     {
                         label: '750',
                         data: this.c750,
                         borderColor: '#2596be',
                     },
                     {
                         label: '796',
                         data: this.c796,
                         borderColor: '#9925be',
                     },
                     {
                         label: '800',
                         data: this.c800,
                         borderColor: '#be4d25',
                     },
                     {
                         label: '802',
                         data: this.c802,
                         borderColor: '#145369',
                     },
                     {
                         label: '815',
                         data: this.c815,
                         borderColor: '#49be25',
                     }
                 ]
             };
             const chart = new Chart(canvas, {
                 type: 'line',
                 data: data,
                 options: {
                     responsive: true,
                     plugins: {
                         legend: {
                             position: 'top',
                         },
                         title: {
                             display: true,
                             text: 'Comisiones Cobradores'
                         }
                     }
                 },
             });
         },
     }
 }
</script>
{% endblock %}

{% endblock %}
