{% extends "base_template.html" %}

{% block title %}PasarPagos{% endblock %}

{% block style %}
<style>
 .cancelada{
     background-color:pink;
     color: grey;
 }
</style>
{% endblock %}

{% block content %}
<div x-data="main()" class="container">
        <p class="title is-1">Pasar Pagos</p>
        <div class="buttons">
            <a href="/pagos/verplanillas" class="button is-primary">Planillas</a>
            <a href="/loterbo" class="button is-primary">Registrar Lote Rbos</a>
            <a href="/loterbo/ver" class="button is-primary">Ver Lote Rbos</a>
            <a href="/pagos/editarrbo" class="button is-primary">Editar Rbo</a>
            <a href="/pagos/verzona" class="button is-primary">Ver Zona</a>
            <a href="/pagos/cobrostotales" class="button is-primary">Totales</a>
            <a href="/pagos/estimados" class="button is-primary">Estimados</a>
            <a href="/pagos/comisiones" class="button is-primary">Comisiones</a>
            <a href="/pagos/altas" class="button is-primary">Altas</a>
            <a href="/pagos/bajas" class="button is-primary">Bajas</a>
          </div>

          <div style="display:flex;">
                <input type="date" x-model="Pagos.fecha" class="input" style="width:200px;">
                <input type="text" x-model="Pagos.cobr" class="input" style="width:100px;"
                 @keyup.enter="cargarListado()" >
                <button class="button is-primary" @click="cargarListado()">Cargar Planilla</button>
                <!-- <h2 x-text="nombrecobrador" x-show="nombrecobrador" class="title is-2 ml-5"></h2> -->
          </div>
	  <div class="my-3">
          <input type="text" x-model="buscar" class="input" style="width:300px;" @keyup.enter="buscarCliente();$refs.imp.focus();setTimeout(()=>{$refs.imp.select()},600)" @focus="Clientes=[];Ventas=[]" x-ref="buscar">
	      <button class="button is-primary" @click="buscarCliente()">Buscar</button>
	  </div>
      <div class="buttons">
          <template x-for="cliente in Clientes">
              <button class="button is-primary" x-text="cliente.nombre" @click="Clientes=[];Clientes[0]=cliente;pedirVentas(cliente.dni)"></button>
          </template>
          <template x-for="venta in Ventas">
              <button class="button is-danger" x-text="venta[0]" @click="obtenerVenta(venta[0])"></button>
          </template>
      </div>

      <div class="field is-horizontal">
                <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
				<span class="tag is-danger is-large" x-text="`Saldo ${Venta.saldo?Venta.saldo:''}`"></span>
				<span class="tag is-secondary is-large" x-text="`Cuota ${Venta.ic?Venta.ic:''}`"></span>
				<input id="importe" type="text" placeholder="Importe" class="input center" x-model="Pagos.imp" style="width: 100px;" @keyup.enter="$refs.recibo.focus()" x-ref="imp"/>
				<input type="text" placeholder="Recargo" class="input center" x-model="Pagos.rec" style="width: 100px;"/>
				<input type="text" placeholder="Total" class="input center" :value="+(Pagos.imp?Pagos.imp:0)+(+(Pagos.rec?Pagos.rec:0))" style="width: 100px;"/>
				<input id="recibo" type="text" placeholder="Recibo N°" class="input center" style="width: 100px;" x-model="Pagos.rbo" @keyup.page-up="+Pagos.rbo++" @keyup.page-down="+Pagos.rbo--" @keyup.enter="validatePasarPagos" x-ref="recibo"/>
				<button class="button is-danger" type="button" @click="validatePasarPagos">Pasar</button>
	  </div>
	<div class="block" x-show="cntRbos">
			<form @submit.prevent class="field is-horizontal">
                <span class="tag is-primary is-large" x-text="'Cnt Rbos  '+cntRbos"></span>
                <span class="tag is-primary is-large" x-text="'Cobrado $'+cobrado"></span>
                <span class="tag is-primary is-large" x-text="'Comision $'+comision"></span>
				<div class="field is-narrow">
					<input type="text" placeholder="Viaticos" class="input" size="6" x-model="viatico" style="width: 100px;"/>
				</div>
				<button class="button is-primary" @click="pasarPlanilla">Guardar Planilla</button>
			</form>
		</div>



	  <table class="table nototal is-narronarrow" x-show="listado.length">
	      <thead>
		  <tr>
              <th>op</th>
		      <th>id</th>
		      <th>rbo</th>
		      <th>fecha</th>
		      <th>idvta</th>
		      <th>imp</th>
		      <th>rec</th>
		      <th>total</th>
		      <th>nombre</th>
		      <th>direccion</th>
		      <th>zona</th>
		      <th>deuda</th>
		  </tr>
	      </thead>
	      <tbody>
		  <template x-for="lista in listado">
		  <tr :class="lista.deuda==0?'cancelada':'normal'">
              <td><button class="button is-small is-danger is-outlined" @click="borrarPago(lista.id)">Borrar</button></td>
		      <td x-text="lista.id"></td>
		      <td x-text="lista.rbo"></td>
		      <td x-text="lista.fecha"></td>
		      <td x-text="lista.idvta"></td>
		      <td x-text="lista.imp"></td>
		      <td x-text="lista.rec"></td>
		      <td x-text="lista.total"></td>
		      <td x-text="lista.nombre"></td>
		      <td x-text="lista.direccion"></td>
		      <td x-text="lista.zona"></td>
		      <td x-text="lista.deuda"></td>
		  </tr>
		  </template>
	      </tbody>
	  </table>

</div>
{% endblock %}

{% block script %}
<script>
    function main(){
        return{
                nombrecobrador:'',
                buscar:'',
                listado:[],
                Clientes:[],
                Ventas:[],
                Venta:{},
                Pagos:{fecha:dayjs.utc().format('YYYY-MM-DD'),cobr:'',rec:''},
                cntRbos:'',
                cobrado:'',
                comision:'',
                viatico:'',

                buscaCobrador(cobr){
                //console.log(cobr)
                axios.get('/loterbo/buscanombrecobr/'+cobr)
                    .then(res=>{
                        this.nombrecobrador=res.data.nombrecobr
                    })
                },
                cargarListado(){
                axios.get('/pagos/planilla/'+this.Pagos.fecha+'/'+this.Pagos.cobr)
                 .then(res=>{
                        //console.log(res.data.planilla)
                        this.listado = res.data.planilla
                        this.listado.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                        this.buscaCobrador(this.Pagos.cobr)
                        let rbos = []
                        let imppagos = []
					    this.listado.forEach(row=>{
							rbos.push(row.rbo)
                            imppagos.push(row.total)
						})
                        //console.log(rbos,imppagos)
						let setrbos = new Set(rbos)
						this.cntRbos = setrbos.size

						this.cobrado = imppagos.reduce((a, b) => Number(a) + Number(b), 0);
						this.comision = Math.round(this.cobrado * 0.15);
                 })
                },
                buscarCliente(){
                        axios.get('/pagos/buscar/'+this.buscar)
                            .then(res=>{
                                    this.Clientes=res.data.clientes
                                    if(this.Clientes.length==1) this.pedirVentas(this.Clientes[0].dni)
                                })
                    },
                pedirVentas(dni){
                        axios.get('/pagos/idvtas/'+dni)
                            .then(res=>{
                                    //console.log(res.data.idvtas)
                                    this.Ventas=res.data.idvtas
                                    this.obtenerVenta(this.Ventas[0][0])
                                })
                    },
                obtenerVenta(idvta){
                        axios.get('/pagos/traerficha/'+idvta)
                            .then(res=>{
                                    this.Venta=res.data.ficha
                                    this.Pagos.imp = this.Venta.imp
                                })

                    },
                validatePasarPagos(){
                        if(this.Pagos.imp&&this.Pagos.rbo&&this.Pagos.cobr&&this.Pagos.fecha){
                                this.procesarPagos()
                            }else{bulmaToast.toast({
                                    message:'Complete los datos faltantes',
                                    type: 'is-danger'
                                })}
                    },
                procesarPagos(){
                        this.Pagos.idvta = this.Venta.id
                        this.Pagos.idcliente = this.Venta.idcliente
                    	axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value;
                        axios({
                            method: 'POST',
                            url: '/pagos/pasarpagos',
                            data: this.Pagos,
                        })
                            .then(res=>{
                                    this.cargarListado()
                                    this.Venta={}
                                    +this.Pagos['rbo']++
                                    this.Pagos['imp']=''
                                    this.Pagos['rec']=''
                                    this.buscar=''
                                    this.$refs.buscar.focus()
                                })
                    },
                borrarPago(idpago){
                    const borrar = confirm("¿Esta seguro que quiere borrar este pago?")
                    if(borrar){
                    axios.get('/pagos/borrarpago/'+idpago)
                            .then(res=>{
                                    bulmaToast.toast({
                                            message:'Registro borrado',
                                            type:'is-success'
                                        })
                                    this.cargarListado()
                                })
                    }
                    },
                pasarPlanilla(){
                   	axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value;
				    axios({
					method: 'POST',
					url: '/pagos/pasarplanilla',
					data: {
						fecha: this.Pagos.fecha,
						idcobr: this.Pagos.cobr,
						cobrado: this.cobrado,
						comision: this.comision,
						viatico: this.viatico,
						cntrbos: this.cntRbos,
					},
				}).then(res => {
					//console.log(res)
					bulmaToast.toast({
						message: 'Planilla agregada/corregida con exito',
						type: 'is-success',
					})
				})
                    },
            }}
//el event up/down no funciona para cambio de numero de recibo
</script>

{% endblock %}
