{% extends "base_template.html" %}

{% block title %}PasarPagos{% endblock %}

{% block style %}
<style>
 .cancelada{
     background-color:pink;
     color: grey;
 }
</style>
{% endblock %}

{% block content %}
<div x-data="main()" class="container">
        <p class="title is-1">Pasar Pagos</p>
        <div class="buttons">
            <a href="/pagos/verplanillas" class="button is-primary">Planillas</a>
            <a href="/loterbo" class="button is-primary">Registrar Lote Rbos</a>
            <a href="/loterbo/ver" class="button is-primary">Ver Lote Rbos</a>
            <a href="/pagos/editarrbo" class="button is-primary">Editar Rbo</a>
            <a href="/pagos/verzona" class="button is-primary">Ver Zona</a>
            <a href="/pagos/cobrostotales" class="button is-primary">Totales</a>
            <a href="/pagos/estimados" class="button is-primary">Estimados</a>
            <a href="/pagos/comisiones" class="button is-primary">Comisiones</a>
            <a href="/pagos/altas" class="button is-primary">Altas</a>
            <a href="/pagos/bajas" class="button is-primary">Bajas</a>
          </div>

          <div style="display:flex;">
                <input type="date" x-model="Pagos.fecha" class="input" style="width:200px;">
                <input type="text" x-model="Pagos.cobr" class="input" style="width:100px;"
                 @keyup.enter="buscaCobrador(Pagos.cobr)" >
                <button class="button is-primary" @click="cargarListado()">Cargar Planilla</button>
                <h2 x-text="nombrecobrador" x-show="nombrecobrador" class="title is-2 ml-5"></h2>
          </div>
	  <div class="my-3">
	      <input type="text" x-model="buscar" class="input" style="width:300px;" @keyup.enter="buscarCliente();$refs.imp.focus()" @focus="Clientes=[];Ventas=[]">
	      <button class="button is-primary" @click="buscarCliente()">Buscar</button>
	  </div>
      <div class="buttons">
          <template x-for="cliente in Clientes">
              <button class="button is-primary" x-text="cliente.nombre" @click="Clientes=[];Clientes[0]=cliente;pedirVentas(cliente.dni)"></button>
          </template>
          <template x-for="venta in Ventas">
              <button class="button is-danger" x-text="venta[0]" @click="obtenerVenta(venta[0])"></button>
          </template>
      </div>

      <div class="field is-horizontal">
				<span class="tag is-danger is-large" x-text="`Saldo ${Venta.saldo?Venta.saldo:''}`"></span>
				<span class="tag is-secondary is-large" x-text="`Cuota ${Venta.ic?Venta.ic:''}`"></span>
				<input id="importe" type="text" placeholder="Importe" class="input center" x-model="Venta.imp" style="width: 100px;" @keyup.enter="$refs.recibo.focus()" x-ref="imp"/>
				<input type="text" placeholder="Recargo" class="input center" x-model="Venta.rec" style="width: 100px;"/>
				<input type="text" placeholder="Total" class="input center" :value="+(Venta.imp?Venta.imp:0)+(+(Venta.rec?Venta.rec:0))" style="width: 100px;"/>
				<input id="recibo" type="text" placeholder="Recibo N°" class="input center" style="width: 100px;" x-model="Venta.rbo" @keyup.up="Venta.recibo++" @keyup.down="Venta.recibo--" @keyup.enter="validatePasarPagos" x-ref="recibo"/>
				<button class="button is-danger" type="button" @click="validatePasarPagos">Pasar</button>
	  </div>

	  <table class="table" x-show="listado.length">
	      <thead>
		  <tr>
		      <th>id</th>
		      <th>rbo</th>
		      <th>fecha</th>
		      <th>idvta</th>
		      <th>imp</th>
		      <th>rec</th>
		      <th>total</th>
		      <th>nombre</th>
		      <th>direccion</th>
		      <th>zona</th>
		      <th>deuda</th>
		  </tr>
	      </thead>
	      <tbody>
		  <template x-for="lista in listado">
		  <tr :class="lista.deuda==0?'cancelada':'normal'">
		      <td x-text="lista.id"></td>
		      <td x-text="lista.rbo"></td>
		      <td x-text="lista.fecha"></td>
		      <td x-text="lista.idvta"></td>
		      <td x-text="lista.imp"></td>
		      <td x-text="lista.rec"></td>
		      <td x-text="lista.total"></td>
		      <td x-text="lista.nombre"></td>
		      <td x-text="lista.direccion"></td>
		      <td x-text="lista.zona"></td>
		      <td x-text="lista.deuda"></td>
		  </tr>
		  </template>
	      </tbody>
	  </table>

</div>
{% endblock %}

{% block script %}
<script>
    function main(){
        return{
            nombrecobrador:'',
	        buscar:'',
	        listado:[],
            Clientes:[],
            Ventas:[],
            Venta:{},
            Pagos:{fecha:dayjs.utc().format('YYYY-MM-DD'),cobr:'',},
            buscaCobrador(cobr){
                //console.log(cobr)
                axios.get('/loterbo/buscanombrecobr/'+cobr)
                    .then(res=>{
                        this.nombrecobrador=res.data.nombrecobr
                    })
            },
	        cargarListado(){
		    axios.get('/pagos/planilla/'+this.Pagos.fecha+'/'+this.Pagos.cobr)
		     .then(res=>{
			console.log(res.data.planilla)
			this.listado = res.data.planilla
			this.listado.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
		     })
	        },
                buscarCliente(){
                        axios.get('/pagos/buscar/'+this.buscar)
                            .then(res=>{
                                    this.Clientes=res.data.clientes
                                    if(this.Clientes.length==1) this.pedirVentas(this.Clientes[0].dni)
                                })
                    },
                pedirVentas(dni){
                        axios.get('/pagos/idvtas/'+dni)
                            .then(res=>{
                                    //console.log(res.data.idvtas)
                                    this.Ventas=res.data.idvtas
                                    this.obtenerVenta(this.Ventas[0][0])
                                })
                    },
                obtenerVenta(idvta){
                        axios.get('/pagos/traerficha/'+idvta)
                            .then(res=>{
                                    this.Venta=res.data.ficha
                                })

                    },
        }
    }
</script>

{% endblock %}
