{% extends "base.html" %}

{% block title %}Por Cobrador{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}
{% block content %}

<div class="container" x-data="main()" x-init="getCobrosCobrador()">


  <p class="title is-1">Ver cobros por Cobrador</p>

  <div class="columns">
    <div class="column is-6">
  <div class="box">
    <table class="table" id="table">
      <thead>
        <tr>
          <th></th>
          <th>cobrador</th>
          <th class="numeric">cobrado</th>
          <th class="numeric">estimado</th>
          <th class="numeric">porc cobr</th>
        </tr>
      </thead>
      <tbody>
        <template x-for="item in listaCobros">
           <tr :id="String(item.id)">
             <td><span class="icon is-small"><i class="fa fa-plus-square-o" aria-hidden="true"
                                                @click="expandChildren(item.id)"></i></span></td>
            <td x-text="item.id"></td>
            <td x-text="item.cobrado" class="pesos"></td>
            <td x-text="item.estimado" class="pesos"></td>
            <td x-text="(item.cobrado/item.estimado*100).toFixed(1)" class="perc"></td>
          </tr>
        </template>
        <template x-for="item in listaCobrosZona">
          <tr class="children">
            <td></td>
            <td x-text="item.zona"></td>
            <td x-text="item.cobrado" class="pesos"></td>
            <td x-text="item.estimado" class="pesos"></td>
            <td x-text="(item.cobrado/item.estimado*100).toFixed(1)" class="perc"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
    </div>
    <div class="column is-6">
      <div class="flex-space-between">
    <p class="title is-3" x-text="'Estimado $'+estimado"></p>
    <p class="title is-3" x-text="'Cobrado $'+cobrado"></p>
    <p class="title is-3" x-text="'Porcentaje '+(cobrado/estimado).toFixed(2)+'%'"></p>
      </div>
       <div class="box">
         <canvas id="grafico-estadistica1" width="200" height="200"></canvas>
       </div>
    </div>
    </div>
  </div>






{% endblock %}

{% block script %}
<script>
 function main(){
     return{
         listaCobros:[],
         listaCobrosZona:[],
         cobr:'',
         estimado:0,
         cobrado:0,
         getCobrosCobrador(){
             axios.get('/pagos/getcobroscobrador')
                  .then(res=>{
                      this.listaCobros = res.data.listacobros
                      this.estimado = this.listaCobros.map(row=>row.estimado).reduce((a,b)=> Number(a) + Number(b),0)
                      this.cobrado = this.listaCobros.map(row=>row.cobrado).reduce((a,b)=> Number(a) + Number(b),0)
                      this.getGraficoPie()
                  })
         },
         getCobrosZonaCobrador(cobr){
             axios.get('/pagos/getcobroszonas/'+cobr)
                  .then(res=>{
                      this.listaCobrosZona = res.data.listacobroszonas
                  })
         },
         expandChildren(cobr){
             if(this.cobr==cobr && this.listaCobrosZona.length>0){
                 this.listaCobrosZona=[]
                 return
             }
             axios.get('/pagos/getcobroszonas/'+cobr)
                  .then(res=>{
                      this.listaCobrosZona = res.data.listacobroszonas

                      this.cobr = cobr
                      $tbody = document.querySelector('tbody')
                      $trcobr = document.getElementById(String(cobr))
                      setTimeout(()=>{
                          let arrayrows = Array.from($tbody.children)
                          let children = arrayrows.filter(row=>row.classList.contains('children'))
                          children = children.reverse()
                          for(el of children){
                              $tbody.insertBefore(el,$trcobr.nextSibling)
                          }
                      },1)
                  })
         },
         getGraficoPie(){
             const canvas = document.getElementById('grafico-estadistica1').getContext('2d');
             this.chart = new Chart(canvas, {
                 type: 'doughnut',
                 data: {
                     labels: [
                         '% Cobrado',
                         '% Faltante',
                     ],
                     datasets: [{
                         label: 'Porcentaje Cobrado vs Faltante',
                         data: [this.cobrado,this.estimado-this.cobrado],
                         backgroundColor: [
                             'rgb(255, 205, 86)',
                             'rgb(66, 135, 245)',
                         ],
                         hoverOffset: 2
                     }]
                 }
             })
         },

 }}
</script>
{% endblock %}
