{% extends "base_template.html" %}

{% block title %}Planillas de Rendicion{% endblock %}
{% block style %}
<style>
 .procesada{
    background-color: gainsboro;
    color: black;
}
.noprocesada{
    background-color: yellow;
    color: black;
}
thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    background-color: #837e7e;
    color:white;
}
</style>
{% endblock %}

{% block content %}

<div id="app" class="container">

    <p class="title is-1">Planillas de Cobranza</p>

    <div class="buttons">
        <a href="/pagos" class="button is-primary">Pagos</a>
        <a href="/loterbo" class="button is-primary">Registrar Lote Rbos</a>
        <a href="/loterbo/ver" class="button is-primary">Ver Lote Rbos</a>
        <a href="/pagos/editarrbo" class="button is-primary">Editar Rbo</a>
        <a href="/pagos/verzona" class="button is-primary">Ver Zona</a>
        <a href="/pagos/cobrostotales" class="button is-primary">Totales</a>
        <a href="/pagos/estimados" class="button is-primary">Estimados</a>
        <a href="/pagos/comisiones" class="button is-primary">Comisiones</a>
        <a href="/pagos/altas" class="button is-primary">Altas</a>
        <a href="/pagos/bajas" class="button is-primary">Bajas</a>
      </div>

    <table class="table table-sm" id="table">
        <thead>
            <tr>
                <th>Op</th>
                <th>fecha</th>
                <th>cobrado</th>
                <th>comision</th>
                <th>viatico</th>
                <th>cntrbos</th>
                <th>procesado</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="planilla in planillas" :class="planilla[1]!=planilla[5]?'noprocesada':'procesada'">
                <td><button class="btn btn-outline-primary btn-sm" @click="procesarPlanilla(planilla[0],planilla[1],planilla[2],planilla[3],planilla[5])">Procesar</button></td>
                <td>|planilla[0]|</td>
                <td>|planilla[1]|</td>
                <td>|planilla[2]|</td>
                <td>|planilla[3]|</td>
                <td>|planilla[4]|</td>
                <td>|planilla[5]|</td>
            </tr>
        </tbody>
    </table>
                <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
</div>

{% endblock %}
{% block script %}
<script>
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        planillas:[],
    },
    methods: {
        getPlanillas(){
            axios.get('/pagos/getplanillas')
            .then(res=>{
                arrayPlanillas = Array.from(res.data.planillas)
                arrayPlanillas.forEach(row=>{
                    row[0]=dayjs.utc(row[0]).format('YYYY-MM-DD')
                })
                this.planillas = arrayPlanillas
                //console.log(this.planillas);
            })
        },
        procesarPlanilla(fecha,cobrado,comision,viatico,procesado){
            //console.log('procesado',procesado)
            //proceso unicamente cuando la columna procesada esta en null
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value;
            if (procesado==null){
            axios({
                method:'POST',
                url:'/pagos/procesarplanilla',
                data:{
                    fecha,
                    cobrado,
                    comision,
                    viatico,
                }
            })
            .then(res=>{
                console.log(res);
                this.getPlanillas();
            })
            }
        },
    },
    created: function(){
        this.getPlanillas();
    },
})

</script>
{% endblock %}
