{% extends "base.html" %}

{% block title %}Prestamos{% endblock %}
{% block style %}
<style>
  </style>
  {% endblock %}

{% block content %}

  <div class="container" x-data="main()" x-init="getVendedores()">

    <p class="title is-1">Prestamos a Empleados</p>
    <div class="columns">
      <div class="column is-6">
        <div class="buttons" id="btnVdor">
          <template x-for="vdor in listaVendedores">
            <button class="button is-info" @click="getDeudasVdor(vdor);limpiarToggles();
                           $event.target.classList.toggle('is-warning')" x-text="vdor"></button>
          </template>
        </div>
         <div class="xtags has-addons m-0">
		  <span class="tag is-large is-black m-0">Deuda Total</span>
		  <span class="tag is-large is-light m-0" x-text="'$'+totalDeuda"></span>
	     </div>
         <table class="table is-narrow" id="table">
                <thead>
                    <tr>
                        <th>fecha</th>
                        <th class="sumar">importe</th>
                        <th>cuenta</th>
                    </tr>
                </thead>
                <tbody>
                  <template x-for="item in listaDeudas">
                    <tr>
                          <td x-text="item.fecha"></td>
                          <td x-text="item.imp" class="pesos"></td>
                          <td x-text="item.cuenta"></td>
                    </tr>
                  </template>
                 </tbody>
            </table>

    </div>


</div>
{% endblock %}

{% block script %}
<script>
 function main(){
     return{
         listaDeudas:[],
         vendedor:'',
         listaVendedores:[],
         totalDeuda:'',
         getVendedores(){
             axios.get('/pagos/getvdorcondeuda')
                  .then(res=>{
                      let setVendedores = new Set()
                      let pattern = /\d\d\d/g
                      let listaComentarios = res.data.vendedores
                      for(let item of listaComentarios){
                          let num = pattern.exec(item)
                          if(num){
                              setVendedores.add(num[0])
                          }
                      }
                      this.listaVendedores = Array.from(setVendedores)
                  })
         },
         getDeudasVdor(vdor){
             this.vendedor = vdor
             axios.get('/pagos/getprestamosvdor/'+vdor)
                  .then(res=>{
                      limpiarTabla('table')
                      this.listaDeudas = res.data.prestamos
                      this.listaDeudas.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.totalDeuda = parseFloat(this.listaDeudas.map(row=>row.imp).reduce((a,b)=>a+b,0))
                  })
         },
         limpiarToggles() {
             $btnVdor = document.getElementById('btnVdor')
             Array.from($btnVdor.children).slice(1).forEach(btn => {
                 btn.classList.remove('is-warning')
             })
          },

     }
 }
  </script>
  {% endblock %}
