{% extends "base_template.html" %}

{% block title %}Totales{% endblock %}
{% block style %}
<style>
  .total{
    background-color: yellow;
    color: #aaa;
  }
  td:before { 
    content:'$'; 
    }
  </style>
  {% endblock %}

{% block content %}

<div class="container">

    <p class="title is-1">Totales Cobrados</p>

    <div class="buttons">
      <a href="/pagos" class="button is-outlined is-primary">Pagos</a>
      <a href="/pagos/verplanillas" class="button is-outlined is-primary">Planillas</a>
      <a href="/loterbo" class="button is-outlined is-primary">Registrar Lote Rbos</a>
      <a href="/loterbo/ver" class="button is-outlined is-primary">Ver Lote Rbos</a>
      <a href="/pagos/editarrbo" class="button is-outlined is-primary">Editar Rbo</a>
      <a href="/pagos/verzona" class="button is-outlined is-primary">Ver Zona</a>
      <a href="/pagos/estimados" class="button is-outlined is-primary">Estimados</a>
      <a href="/pagos/comisiones" class="button is-outlined is-primary">Comisiones</a>
    </div>

    {{tbl|safe}}
    <p class="subtitle is-3">Totales por Zona</p>
    {{tbl1|safe}}
</div>
{% endblock %}

{% block script %}
<script>
   let tableId = document.getElementById('totales')
   let tbody = tableId.querySelector('tbody');
        let rowsArray = Array.from(tbody.rows);
        let rowIndex=[];
        rowsArray.forEach((row)=>{
                rowIndex.push(row.rowIndex-1)
        });
        let maxRow = Math.max(...rowIndex)+1;
        let $rowTotal = tbody.insertRow(maxRow);
        let $cell0 = $rowTotal.insertCell(0);
        $cell0.innerHTML = "Total";
        $rowTotal.classList.add('total');

        const cols = rowsArray[0].children.length // determino la cant columnas
        for(let i=1;i<cols;i++){
        let col = [];
        rowIndex.forEach((ix)=>{
            col.push(nop(tbody.rows[ix].cells[i].innerText))
        });
        let total = col.reduce((a,b)=>Number(a)+Number(b));
        let $cell = $rowTotal.insertCell(i);
        if (!(Number.isNaN(total))) $cell.innerHTML = total
        }
  const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
    },
    methods:{
    },
  })
  </script>
  {% endblock %}