{% extends "base.html" %}

{% block title %}Cliente Nuevo{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="FfAJZZH0ytHuiD0aIFCFlNpfO()" x-init="obtenerCalles();obtenerBarrios()">

  <p class="title is-1">Cliente Nuevo</p>


        <input type="number" x-model="cliente.dni" placeholder="DNI" size="6" class="input" required
	           pattern="^(\d){7,8}$" :class="darkTheme?'input-dark':''" @blur="buscarDni(cliente.dni)">


        <input type="text" x-model="cliente.nombre" placeholder="Nombre" size="60" class="input"
               required :class="darkTheme?'input-dark':''">


        <input type="text" x-model="cliente.tel" placeholder="Telefono" size="20" class="input"
               :class="darkTheme?'input-dark':''">


        <input type="text" x-model="cliente.wapp" placeholder="WhatApp" size="20" class="input"
	           pattern="(\d){10}$" :class="darkTheme?'input-dark':''">

        <input type="text" list="listacalles" class="input mb-1" x-model="cliente.calle" required placeholder="Calle"
               :class="darkTheme?'input-dark':''"/>
        <datalist id="listacalles">
          <template x-for="item in calles">
            <option :value="item"></option>
          </template>
        </datalist>

        <input type="text" x-model="cliente.num" placeholder="Num" size="10" class="input" required
               pattern="(\d){2,4}$" :class="darkTheme?'input-dark':''">

        <input type="text" x-model="cliente.acla" placeholder="Aclaracion" size="60" class="input"
               required :class="darkTheme?'input-dark':''">

          <input type="text" list="listabarrios" class="input mb-1" x-model="cliente.barrio" required
                 placeholder="Barrio" :class="darkTheme?'input-dark':''"/>
          <datalist id="listabarrios">
            <template x-for="item in barrios">
              <option :value="item"></option>
            </template>
          </datalist>
          <input type="number" x-model="cliente.dnigarante" placeholder="DNI Garante" size="6" class="input"
	             pattern="^(\d){7,8}$" :class="darkTheme?'input-dark':''" @blur="buscaGarante(cliente.dnigarante)">
          <span class="tag is-small is-black"  x-show="cliente.dnigarante && !nombregarante"
                @click="buscaGarante(cliente.dnigarante)">Verif.</span>
          <span class="tag is-small" x-text="nombregarante" x-show="nombregarante"></span>
          <span class="tag is-small" x-text="direcciongarante" x-show="direcciongarante"></span>
          <input type="number" x-model="cliente.cuota_requerida" placeholder="Cuota a autorizar" size="10" class="input" required
                 pattern="(\d){4,8}$" :class="darkTheme?'input-dark':''">
          <input type="text" x-model="cliente.arts" placeholder="Articulos que va a comprar" size="60" class="input"
                 required :class="darkTheme?'input-dark':''">
          <button class="button is-info" @click="validarClienteNuevo()">Pedir Autorizacion</button>
          <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>


  </div>
  {% endblock %}
