{% extends "base.html" %}

{% block title %}Cargar{% endblock %}
{% block style %}
<style>
  </style>
  {% endblock %}

{% block content %}

  <div class="container" x-data="GnIVzsHTcsg1sQFsVD7xfw7Dc()" x-init="getArtVendedor()">

    <p class="title is-1">Cargar Articulos</p>


            <table class="table is-narrow" id="table">
              <thead>
                <tr>
                  <th  class="sumar">cnt</th>
                  <th>art</th>
                </tr>
                </thead>
                <tbody>
                  <template x-for="item in listaArtVendedor">
                    <tr>
                      <td x-text="item.cnt"></td>
                      <td x-text="item.art"></td>
                    </tr>
                    </template>
                 </tbody>
            </table>




</div>
{% endblock %}
