{% extends "base.html" %}

{% block title %}Comisiones{% endblock %}
{% block style %}
<style>
  </style>
  {% endblock %}

{% block content %}

  <div class="container" x-data="IkKmqwFGcDGnhd8x1TvBO6C6p()" x-init="getComisionesVdor">

    <p class="title is-1">Comisiones</p>
    <div class="columns">
      <div class="column is-6">

         <div class="xtags has-addons m-0" x-show="totalComision">
		  <span class="tag is-large is-black m-0">Comision Total</span>
		  <span class="tag is-large is-light m-0" x-text="'$'+totalComision"></span>
	     </div>
         <table class="table is-narrow" id="table">
                <thead>
                  <tr>
                    <th></th>
                      <th>fecha</th>
                      <th>cnt</th>
                      <th class="sumar">comision</th>
                  </tr>
                </thead>
                <tbody>
                   <template x-for="item in listaFechas">
                    <tr :id="item.fecha">
                      <td><span class="icon is-small"><i class="fa fa-plus-square-o" aria-hidden="true"
                                                         @click="expandChildren(item.fecha)"></td>
                          <td x-text="item.fecha"></td>
                          <td x-text="item.cnt"></td>
                          <td x-text="item.comision" class="pesos"></td>
                    </tr>
                   </template>
                   <template x-for="item in listaComisiones_">
                    <tr class="children">
                      <td x-text="item.id"></td>
                      <td x-text="item.com" class="pesos"></td>
                    </tr>
                   </template>
                </tbody>
         </table>


    </div>


</div>
{% endblock %}
