{% extends "base.html" %}

{% block title %}Visitas{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="DRpCmN0kdtSCE2mWXi5CiVycj()" x-init="getVisitasVendedor()">

  <p class="title is-1">Visitas Diarias</p>
  <div class="columns">
    <div class="column is-6">

      <table class="table is-narrow" id="table">
        <thead>
          <tr>
            <th>hora</th>
            <th>resultado</th>
            <th>nombre</th>
            <th>direccion</th>
            <th>zona</th>
            <th class="sumar">vendido</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="item in listaFechas_">
            <tr :id="item.fecha">
              <td><span class="icon is-small"><i class="fa fa-plus-square-o" aria-hidden="true"
                                                 @click="expandChildren(item.fecha)"></td>
                <td x-text="item.fecha"></td>
                <td x-text="item.cnt"></td>
                <td></td>
                <td></td>
                <td x-text="item.monto_vendido" class="pesos"></td>
            </tr>
          </template>

          <template x-for="item in listaVisitasVendedor_">
            <tr class="children">
              <td x-text="item.hora"></td>
              <td><span class="tag is-small" x-text="item.result==1?'venta':(item.result==2?'anulado':
                               (item.result==3?'no estaba':(item.result==5?'mudo':(item.result==6?'fallecio':'fechado'))))"
                        :class="item.result==1?'is-success':(item.result==2?'is-danger':(item.result==3?'is-warning':
                               (item.result==5?'is-primary':(item.result==6?'if-black':'is-info'))))"></span></td>
              <td x-text="item.nombre"></td>
              <td x-text="item.calle+' '+item.num"></td>
              <td x-text="item.zona"></td>
              <td x-text="item.monto_vendido" class="pesos"></td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>


  </div>
  {% endblock %}
