{% extends "base.html" %}

{% block title %}Lista Fichas{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getListadoFichas();setInterval(()=>{getListadoFichas()},600000)">


  <p class="title is-1">Lista Fichas</p>

  <div>
    <template x-for="zona in listaZonas">
      <button class="button is-small is-primary" x-text="zona" @click="filtraPorZona(zona)"></button>
    </template>
  </div>
  <div>
    <template x-for="calle in listaCalles">
      <button class="button is-small is-black" x-text="calle" @click="filtraPorCalle(calle)"></button>
    </template>
  </div>
  <table class="table table-striped " id="table" x-show="verCard==false">
    <thead>
      <tr>
        <th>nombre</th>
        <th>calle</th>
        <th>num</th>
        <th>horario</th>
        <th>comentarios</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="ficha in listaFichas_">
        <tr>
          <td x-text="ficha.nombre"></td>
          <td x-text="ficha.calle"></td>
          <td x-text="ficha.num"></td>
          <td x-text="ficha.horarios"></td>
          <td x-text="ficha.comentarios"></td>
        </tr>
      </template>
    </tbody>
  </table>

  <!-- verCard Ficha -->
  <div class="card box" x-show="verCard==true">
    <h1 class="title is-4" x-text="Ficha.nombre"></h1>
    <div class="flex-between">
      <h2 class="title is-5" x-text="Ficha.calle+' '+Ficha.num"></h2>
                  <a class="button is-black is-small" :href="'https://www.google.com/maps/place/'+Ficha.calle+'+'+Ficha.num+',+C%C3%B3rdoba'">Maps</a>
    </div>
    <h4 class="subtitle is-6" x-text="Ficha.acla" x-show="Ficha.acla"></h4>
    <div class="flex-between">
      <h2 class="title is-5 no-mb" x-text="Ficha.wapp?Ficha.wapp:Ficha.tel"></h2>
            <a x-bind:href=`https://wa.me/549${Ficha.wapp}?text=''` class="tag is-success is-small"
               target="blank" style="text-decoration: none;" x-show="Ficha.wapp">Whats</a>
            <tag class="tag is-small is-info" @click="hacerLlamada(Ficha.wapp?Ficha.wapp:Ficha.tel)">Llamar</tag>
            <span class="tag is-small is-primary pointer ml-5" @click="editarWapp">Editar</span>
    </div>
    <h4 class="subtitle is-6" x-text="Ficha.barrio"></h4>
    <hr/>
    <h2 class="title is-2 red" x-text="Ficha.idvta" x-show="Ficha.idvta"></h2>
    <h4 class="title is-6 no-mb" x-text="Ficha.fecha_visitar"></h4>
    <h4 class="title is-6 no-mb" x-text="Ficha.horarios" x-show="Ficha.horarios"></h4>
    <h4 class="title is-6 no-mb" x-text="Ficha.art" x-show="Ficha.art"></h4>
    <h4 class="title is-6 no-mb" x-text="Ficha.comentarios" x-show="Ficha.comentarios"></h4>
    <h2 class="title is-4" x-text="'Cuota Maxima $'+Ficha.cuota_maxima"></h2>
    <div class="buttons" x-show="!Ficha.idvta">
      <button class="button is-small is-success" @click="venderFicha(Ficha.id)">Vender</button>
      <button class="button is-small is-danger" @click="anularFicha(Ficha.id)" id="buttonAnularFicha">Anular</button>
      <button class="button is-small is-info" @click="fecharFicha(Ficha.id)" id="buttonFecharFicha">Fechar</button>
      <button class="button is-small is-warning" @click="noEstabaFicha(Ficha.id)" id="buttonNoestabaFicha">No Estaba</button>
      <button class="button is-small is-primary" @click="mudoFicha(Ficha.id)" id="buttonMudoFicha">Mudo</button>
      <button class="button is-small is-black" @click="fallecioFicha(Ficha.id)" id="buttonFallecioFicha">Fallecio</button>
    </div>

  </div>


  </div>

</div>
{% endblock %}
{% block script %}
<script>
 function main(){
     return{
         listaZonas:[],
         listaFichas:[],
         listaFichas_:[],
         listaCalles:[],
         verCard:false,
         Ficha:{},
         getListadoFichas(){
             axios.get('/cobrador/getlistadofichas')
                  .then(res=>{
                      this.listaZonas = res.data.zonas
                      this.listaFichas = res.data.fichas
             })
         },
         filtraPorZona(zona){
             this.listaFichas_=this.listaFichas.filter(row=>row.zona==zona)
             this.listaCalles=Array.from(new Set(this.listaFichas_.map(row=>row.calle)))
             let callesCnt = []
             this.listaCalles.forEach(calle=>{
                 let cnt = this.listaFichas_.filter(row=>row.calle==calle).length
                 callesCnt.push(`${calle}-${cnt}`);
             })
             this.listaCalles = callesCnt.sort()
         },
         filtraPorCalle(calle){
             pattern = /[^-]*/gi;
             calle = pattern.exec(calle);
             this.listaFichas_=this.listaFichas.filter(row=>row.calle==calle)

         },

     }
 }
</script>
{% endblock %}
