td {text-align: center;
}

tr,th {text-align:center;}

tr:hover td {background-color: lightyellow;
             color:black;}

tr:hover th {background-color: lightyellow;
             color:black;}

thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    background-color: white;
    color:black;
}
.selected{
    background-color: orange;
    color: black;
    cursor: pointer;
}
.subtotal{
    background-color: yellow;
    color: blue;
    font-weight: bold;
}
.block:not(:last-child) {
      margin-bottom: 1.5rem;
}


/* Menu responsive */

.nav-bar{
    background: orange;
    padding: 20px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    background: #555;
    width: 100%;
    margin-left: -100%;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.submenu{
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.menu__link{
    display:block;
    padding: 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
.menu__link:hover{
    background: #444;
}
.mostrar {
    margin-left:0;
    overflow: visible;
    height: auto;
}
@media(min-width:1024px) {
    .nav-bar{
        display: none;
    }
    .menu{
        margin-left: 0;
        display: flex;
        justify-content: flex-end;
        overflow:visible;
        height: auto;
    }
    
   
}
