td {text-align: center;
}

tr,th {text-align:center;}

tr:hover td {background-color: lightyellow;
             color:black;}

tr:hover th {background-color: lightyellow;
             color:black;}

thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    background-color: white;
    color:black;
}
.selected{
    background-color: orange;
    color: black;
    cursor: pointer;
}
.subtotal{
    background-color: yellow;
    color: blue;
    text-weight: bold;
}
.block:not(:last-child) {
      margin-bottom: 1.5rem;
}
