td {text-align: center;
}

tr,th {text-align:center;}

tr:hover td {background-color: lightyellow;
             color:black;}

tr:hover th {background-color: lightyellow;
             color:black;}

thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
   /*  background-color: #333000;
    color: white; */
}
.selected{
    background-color: orange;
    color: black;
    cursor: pointer;
}
.subtotal{
    background-color: yellow;
    color: blue;
    font-weight: bold;
}
.articulos{
    background-color: lightyellow;
    color:black;
}