


<nav class="navbar" role="navigation" aria-label="main navigation" x-data="{ verDropdownThemes:false, isClicked:false, verDropdownVentas:false}">
  <!-- espacio de marca y burger para mobile -->
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img alt="logoromitex" src="{{url_for('static', filename='logoromitex.svg' )}}" width="112" height="28" x-show="!darkTheme" />
      <img alt="logoromitex" src="{{url_for('static', filename='logoromitexwhite.svg' )}}" width="112" height="28" x-show="darkTheme" />
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" id="navburger" :class="isClicked?'is-active':''" @click="isClicked=!isClicked;toggleActive()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <!-- menu-bar -->
  <div class="navbar-menu" id="navMenu">
    <!-- nav-start izquierda -->
    <div class="navbar-start">
      <!-- dropdown-vendedor -->
      <div class="navbar-item has-dropdown" :class="verDropdownVentas?'is-active':''">
  <a class="navbar-link is-arrowless" @click="verDropdownVentas=!verDropdownVentas">
    Ventas
  </a>
  <div class="navbar-dropdown" x-show="verDropdownVentas">
    <a class="navbar-item" href="/2xxXix5cnz7IKcYegqs6qf0R6"> Lista Datos </a>
    <a class="navbar-item" href="/Hb0IQfDEnbLV4eyWZeg5kbcff"> Agregar Cliente </a>
    <a class="navbar-item" href="/4mY6khlmZKUzDRZDJkakr75iH"> Lista Visitas </a>
    <a class="navbar-item" href="/TWGQV0TM0p7Oa9tMPvrNWIHyd"> Carga Articulos </a>
    <a class="navbar-item" href="/DDFEwfGEDYv5UHTVgcDPFUWm1"> Comisiones </a>
    <a class="navbar-item" href="/KgcigrlPdMMjIFsWucdrEVDzX" target="blank"> Lista Precios </a>
  </div>
      </div>
    </div>






  <!-- nav-end derecha -->
    <div class="navbar-end">
      <div class="navbar-item has-dropdown" :class="verDropdownThemes?'is-active':''">
        <a class="navbar-link is-arrowless" @click="verDropdownThemes=!verDropdownThemes">
    Themes
  </a>
  <div class="navbar-dropdown" x-show="verDropdownThemes">
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(darkly);location.reload()">Darkly </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(cyborg);location.reload()">Cyborg </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(nuclear);location.reload()">Nuclear </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(slate);location.reload()">Slate </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(solar);location.reload()"> Solar  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(superhero);location.reload()"> SuperHero  </a>
    <hr class="navbar-divider">
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(defaultbulma);location.reload()">Default </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(cerulean);location.reload()">Cerulean </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(cosmo);location.reload()">Cosmo </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(journal);location.reload()">Journal </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(flatly);location.reload()"> Flatly  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(lumen);location.reload()"> Lumen  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(lux);location.reload()"> Lux  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(materia);location.reload()"> Materia  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(minty);location.reload()"> Minty  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(pulse);location.reload()"> Pulse  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(sandstone);location.reload()"> Sandstone  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(simplex);location.reload()"> Simplex  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(spacelab);location.reload()"> Spacelab  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(united);location.reload()"> United  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(yeti);location.reload()"> Yeti  </a>
  </div>

      </div>

     {% if not current_user.email %}
     <a href="signup" class="navbar-link is-arrowless">Registrarse</a>
     <a href="/login" class="navbar-link is-arrowless">Login</a>
     {% endif %}
     {% if current_user.email %}
     <label class="navbar-link is-arrowless">{{current_user.email}}</label>
     <a href="/logout" class="navbar-link is-arrowless">LogOut</a>
     {% endif %}
    </div>
  </div>
</nav>
