


<nav class="navbar" role="navigation" aria-label="main navigation" x-data="{ verDropdownThemes:false, isClicked:false, verDropdownVentas:false, verDropdownCobranza:false}">
  <!-- espacio de marca y burger para mobile -->
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img alt="logoromitex" src="{{url_for('static', filename='logoromitex.svg' )}}" width="112" height="28" x-show="!darkTheme" />
      <img alt="logoromitex" src="{{url_for('static', filename='logoromitexwhite.svg' )}}" width="112" height="28" x-show="darkTheme" />
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" id="navburger" :class="isClicked?'is-active':''" @click="isClicked=!isClicked;toggleActive()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <!-- menu-bar -->
  <div class="navbar-menu" id="navMenu">
    <!-- nav-start izquierda -->
    <div class="navbar-start">
      <!-- dropdown-vendedor -->
      <div class="navbar-item has-dropdown" :class="verDropdownVentas?'is-active':''">
  <a class="navbar-link is-arrowless" @click="verDropdownVentas=!verDropdownVentas">
    Ventas
  </a>
  <div class="navbar-dropdown" x-show="verDropdownVentas">
    <a class="navbar-item" href="/2xxXix5cnz7IKcYegqs6qf0R6"> Lista Datos </a>
    <a class="navbar-item" href="/Hb0IQfDEnbLV4eyWZeg5kbcff"> Agregar Cliente </a>
    <a class="navbar-item" href="/4mY6khlmZKUzDRZDJkakr75iH"> Lista Visitas </a>
    <a class="navbar-item" href="/TWGQV0TM0p7Oa9tMPvrNWIHyd"> Carga Articulos </a>
    <a class="navbar-item" href="/wMV70TmnTmxOVv0iu2RC9hXNi"> Ver Stock </a>
    <a class="navbar-item" href="/DDFEwfGEDYv5UHTVgcDPFUWm1"> Comisiones </a>
    <a class="navbar-item" href="/KgcigrlPdMMjIFsWucdrEVDzX" target="blank"> Lista Precios </a>
  </div>
      </div>
       <div class="navbar-item has-dropdown" :class="verDropdownCobranza?'is-active':''">
  <a class="navbar-link is-arrowless" @click="verDropdownCobranza=!verDropdownCobranza">
    Cobranza
  </a>
  <div class="navbar-dropdown" x-show="verDropdownCobranza">
    <a class="navbar-item" href="/GPeryq1AYmObDUlpuXpQOGXAu"> Cobrar Cuotas </a>
    <a class="navbar-item" href="/pMsu7gxjhVpTlfN6gaTMN9rCv"> Cobranzas a rendir </a>
  </div>
       </div>
    </div>






  <!-- nav-end derecha -->
    <div class="navbar-end">
      <div class="navbar-item has-dropdown" :class="verDropdownThemes?'is-active':''">
        <a class="navbar-link is-arrowless" @click="verDropdownThemes=!verDropdownThemes">
    Themes
  </a>
  <div class="navbar-dropdown" x-show="verDropdownThemes">
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(darkly);location.reload()">Darkly </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(flatly);location.reload()"> Flatly  </a>
  </div>

      </div>

     {% if not current_user.email %}
     <a href="signup" class="navbar-link is-arrowless">Registrarse</a>
     <a href="/login" class="navbar-link is-arrowless">Login</a>
     {% endif %}
     {% if current_user.email %}
     <label class="navbar-link is-arrowless">{{current_user.email}}</label>
     <a href="/logout" class="navbar-link is-arrowless">LogOut</a>
     {% endif %}
    </div>
  </div>
</nav>
