
<script>
 /* {% if "roles" in session %} */
 rol={{session["roles"]|tojson}}
 /* {% endif %} */
</script>

<nav class="navbar" role="navigation" aria-label="main navigation" x-data="{verDropdownVentas:false, verDropdownPagos:false, verDropdownStock:false, verDropdownUtil:false, verDropdownThemes:false, verDropdownFichas:false, verDropdownAuditoria:false, verDropdownClientes:false, isClicked:false}">
  <!-- espacio de marca y burger para mobile -->
  <div class="navbar-brand">
    <a class="navbar-item" href="/buscador">
      <img alt="logoromitex" src="{{url_for('static', filename='logoromitex.svg' )}}" width="112" height="28" x-show="!darkTheme" />
      <img alt="logoromitex" src="{{url_for('static', filename='logoromitexwhite.svg' )}}" width="112" height="28" x-show="darkTheme" />
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" id="navburger" :class="isClicked?'is-active':''" @click="isClicked=!isClicked;toggleActive()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <!-- menu-bar -->
  <div class="navbar-menu" id="navMenu">
    <!-- nav-start izquierda -->
    <div class="navbar-start">

      <a href="/conta" class="navbar-link" x-show="rol=='gerente'">Conta</a>
      <!-- dropdown-clientes -->
      <div class="navbar-item has-dropdown" :class="verDropdownClientes?'is-active':''" x-show="['dev','gerente','admin'].includes(rol)">
        <a class="navbar-link is-arrowless" @click="verDropdownClientes=!verDropdownClientes">
          Clientes
        </a>
        <div class="navbar-dropdown" x-show="verDropdownClientes">
          <a class="navbar-item" href="/buscador"  x-show="['dev','gerente','admin'].includes(rol)">Buscador</a>
          <a class="navbar-item" href="/buscador/clientenuevo" x-show="['dev','gerente','admin'].includes(rol)">Cliente Nuevo</a>
          <a class="navbar-item" href="/buscador/verdatos" x-show="['dev','gerente','admin'].includes(rol)">Ver Datos</a>
          <a class="navbar-item" href="/buscador/enviardatos" x-show="['dev','gerente'].includes(rol)">Enviar Datos</a>
          <a class="navbar-item" href="/buscador/revisardatos" x-show="['dev','gerente'].includes(rol)">Revisar Datos</a>
          <a class="navbar-item" href="/buscador/reautorizardatos" x-show="['dev','gerente'].includes(rol)">Autorizar Datos</a>
          <a class="navbar-item" href="/buscador/clientenuevovdor" x-show="['dev','gerente'].includes(rol)">Clientes Ingresados Vendedor</a>
        </div>
      </div>

    <!-- dropdown-ventas -->
      <div class="navbar-item has-dropdown" :class="verDropdownVentas?'is-active':''" x-show="['dev','gerente','admin'].includes(rol)">
  <a class="navbar-link is-arrowless" @click="verDropdownVentas=!verDropdownVentas">
    Ventas
  </a>
  <div class="navbar-dropdown" x-show="verDropdownVentas">
    <a class="navbar-item" href="/ventas/ventas"> Pasar Ventas </a>
    <a class="navbar-item" href="/ventas/listado"> Listado </a>
    <a class="navbar-item" href="/ventas/ingresoventas" x-show="['dev','gerente'].includes(rol)"> Ventas al instante </a>
    <a class="navbar-item" href="/ventas/cargarartvdor" x-show="['dev','gerente'].includes(rol)"> Cargar Articulos </a>
    <a class="navbar-item" href="/ventas/visitas" x-show="['dev','gerente'].includes(rol)"> Visitas Vendedores </a>
    <a class="navbar-item" href="/ventas/comisiones" x-show="['dev','gerente'].includes(rol)"> Comisiones Vendedores </a>
    <a class="navbar-item" href="/ventas/pordia"> Ventas por dia </a>
    <a class="navbar-item" href="/ventas/artyear" x-show="['dev','gerente'].includes(rol)"> Articulos por Año </a>
    <a class="navbar-item" href="/ventas/clientes"> Clientes </a>
    <a class="navbar-item" href="/ventas/calles"> Calles </a>
    <a class="navbar-item" href="/ventas/barrios"> Barrios </a>
    <a class="navbar-item" href="/ventas/zonas"> Zonas </a>
    <a class="navbar-item" href="/ventas/cambiazonas" x-show="['dev'].includes(rol)"> Rezonificar </a>
    <a class="navbar-item" href="/ventas/cambiacalles" x-show="['dev'].includes(rol)"> Recallificar </a>
    <a class="navbar-item" href="/ventas/estadisticas" x-show="['dev','gerente'].includes(rol)"> Estadisticas </a>
    <a class="navbar-item" href="/ventas/devolucion"> Devoluciones </a>
    <a class="navbar-item" href="/ventas/pivotdevoluciones"> Pivot-Devoluciones </a>
    <a class="navbar-item" href="/ventas/yearcompra" x-show="['dev','gerente'].includes(rol)"> Estadisticas visita clientes </a>
  </div>
      </div>
      <!-- dropdown-pagos -->
      <div class="navbar-item has-dropdown" :class="verDropdownPagos?'is-active':''" x-show="['dev','gerente','admin'].includes(rol)">
  <a class="navbar-link is-arrowless" @click="verDropdownPagos=!verDropdownPagos">
    Pagos
  </a>
  <div class="navbar-dropdown" x-show="verDropdownPagos">
    <a class="navbar-item" href="/pagos"> Pasar Pagos </a>
    <a class="navbar-item" href="/pagos/verplanillas"> Planillas </a>
    <a class="navbar-item" href="/loterbo"> Registrar Lote Recibos </a>
    <a class="navbar-item" href="/loterbo/ver"> Ver Lotes Recibos  </a>
    <a class="navbar-item" href="/pagos/editarrbo"> Editar Recibo </a>
    <a class="navbar-item" href="/pagos/verzona"> Ver Zona </a>
    <a class="navbar-item" href="/pagos/cobrostotales" x-show="['dev','gerente'].includes(rol)"> Totales Cobrados </a>
    <a class="navbar-item" href="/pagos/estimados" x-show="['dev','gerente'].includes(rol)"> Estimados a Cobrar </a>
    <a class="navbar-item" href="/pagos/comisiones" x-show="['dev','gerente'].includes(rol)"> Comisiones </a>
    <a class="navbar-item" href="/pagos/prestamos" x-show="['dev','gerente'].includes(rol)"> Prestamos </a>
    <a class="navbar-item" href="/pagos/altas"> Altas Seven </a>
    <a class="navbar-item" href="/pagos/bajas"> Bajas Seven </a>
  </div>
            </div>
                  <!-- dropdown-fichas -->
            <div class="navbar-item has-dropdown" :class="verDropdownFichas?'is-active':''" x-show="['dev','gerente','admin'].includes(rol)">
  <a class="navbar-link is-arrowless" @click="verDropdownFichas=!verDropdownFichas">
    Fichas
  </a>
  <div class="navbar-dropdown" x-show="verDropdownFichas">
    <a class="navbar-item" href="/fichas"> Fichas </a>
    <a class="navbar-item" href="/fichas/cobradores"> Cobradores </a>
    <a class="navbar-item" href="/fichas/fechador"> Fechador </a>
    <a class="navbar-item" href="/fichas/listado"> Listado a Visitar  </a>
    <a class="navbar-item" href="/fichas/listavisitar"> Listados Emitidos  </a>
    <a class="navbar-item" href="/fichas/cancelados"> Cancelados  </a>
    <a class="navbar-item" href="/fichas/programar">Botones Programables </a>
  </div>
            </div>
                              <!-- dropdown-stock -->
            <div class="navbar-item has-dropdown" :class="verDropdownStock?'is-active':''" x-show="['dev','gerente','admin'].includes(rol)">
  <a class="navbar-link is-arrowless" @click="verDropdownStock=!verDropdownStock">
    Stock
  </a>
  <div class="navbar-dropdown" x-show="verDropdownStock">
    <a class="navbar-item" href="/stock/asientos" x-show="['dev','gerente'].includes(rol)"> Asientos </a>
    <a class="navbar-item" href="/stock/arqueo"  x-show="['dev','gerente'].includes(rol)"> Arqueo Banco </a>
    <a class="navbar-item" href="/stock/mayor"  x-show="['dev','gerente'].includes(rol)"> Mayor de Cuentas </a>
    <a class="navbar-item" href="/stock/pivotcuentas"  x-show="['dev','gerente'].includes(rol)"> Pivot-Cuentas </a>
    <a class="navbar-item" href="/stock/retiros"  x-show="['dev','gerente'].includes(rol)"> Retiros Socios  </a>
    <a class="navbar-item" href="/stock/compras"> Compras  </a>
    <a class="navbar-item" href="/stock/verstock">Stock </a>
    <a class="navbar-item" href="/stock/salidas">Salidas </a>
    <a class="navbar-item" href="/stock/articulos">Articulos </a>
    <a class="navbar-item" href="/stock/proveedores">Proveedores </a>
    <a class="navbar-item" href="/stock/cuentas"  x-show="['dev','gerente'].includes(rol)">Cuentas </a>
    <a class="navbar-item" href="/stock/cuadro"  x-show="['dev','gerente'].includes(rol)">Cuadro Resultados </a>
    <a class="navbar-item" href="/stock/banco"  x-show="['dev','gerente'].includes(rol)">Cuenta Banco</a>
    <a class="navbar-item" href="/stock/acreencias"  x-show="['dev','gerente'].includes(rol)">Acreencias</a>
  </div>
            </div>
            <!-- dropdown-utilidades -->
            <div class="navbar-item has-dropdown" :class="verDropdownUtil?'is-active':''" x-show="['dev','gerente','admin'].includes(rol)">
  <a class="navbar-link is-arrowless" @click="verDropdownUtil=!verDropdownUtil">
    Utilidades
  </a>
  <div class="navbar-dropdown" x-show="verDropdownUtil">
    <a class="navbar-item" href="/utilidades/planos"> Planos </a>
    <a class="navbar-item" href="/utilidades/impresos"> Impresos </a>
    <a class="navbar-item" href="/utilidades/pdfsistema"> PDF Sistema </a>
    <a class="navbar-item" href="/utilidades/contador"> Contador </a>
    <a class="navbar-item" href="/utilidades/calcprecios"> Calc Precios </a>
    <a class="navbar-item" href="/utilidades/documentos"> Documentos  </a>
    <a class="navbar-item" href="/utilidades/wapp"> Whatsapps  </a>
  </div>
            </div>


              <!-- dropdown-auditoria -->
            <div class="navbar-item has-dropdown" :class="verDropdownAuditoria?'is-active':''" x-show="rol=='dev'">
              <a class="navbar-link is-arrowless" @click="verDropdownAuditoria=!verDropdownAuditoria">
                Auditoria
              </a>
              <div class="navbar-dropdown" x-show="verDropdownAuditoria">
              <a class="navbar-item" href="/log">tabla Log</a>
              <a class="navbar-item" href="/log1">nginx Log</a>
              <a class="navbar-item" href="/utilidades/users">Users</a>
              <a class="navbar-item" href="/utilidades/variables">Variables</a>
              <a class="navbar-item" href="/log2">Log logins</a>
              <a class="navbar-item" href="/log3">Log wapps</a>
              <a class="navbar-item" href="/log4">Log busquedas</a>
              <a class="navbar-item" href="/log5">Log themes</a>
              <a class="navbar-item" href="/log6">Log caja</a>
              </div>
            </div>

    </div>

  <!-- nav-end derecha -->
    <div class="navbar-end">
      <div class="navbar-item has-dropdown" :class="verDropdownThemes?'is-active':''">
        <a class="navbar-link is-arrowless" @click="verDropdownThemes=!verDropdownThemes">
    Themes
  </a>
  <div class="navbar-dropdown" x-show="verDropdownThemes">
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(darkly);location.reload()">Darkly </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(cyborg);location.reload()">Cyborg </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(nuclear);location.reload()">Nuclear </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(slate);location.reload()">Slate </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(solar);location.reload()"> Solar  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(superhero);location.reload()"> SuperHero  </a>
    <hr class="navbar-divider">
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(defaultbulma);location.reload()">Default </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(cerulean);location.reload()">Cerulean </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(cosmo);location.reload()">Cosmo </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(journal);location.reload()">Journal </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(flatly);location.reload()"> Flatly  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(lumen);location.reload()"> Lumen  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(lux);location.reload()"> Lux  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(materia);location.reload()"> Materia  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(minty);location.reload()"> Minty  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(pulse);location.reload()"> Pulse  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(sandstone);location.reload()"> Sandstone  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(simplex);location.reload()"> Simplex  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(spacelab);location.reload()"> Spacelab  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(united);location.reload()"> United  </a>
    <a class="navbar-item" href="#" @click="verDropdownThemes=false;toggleTheme(yeti);location.reload()"> Yeti  </a>
  </div>

      </div>

     {% if not current_user.email %}
     <a href="signup" class="navbar-link is-arrowless">Registrarse</a>
     <a href="/login" class="navbar-link is-arrowless">Login</a>
     {% endif %}
     {% if current_user.email %}
     <label class="navbar-link is-arrowless">{{current_user.email}}</label>
     <a href="/logout" class="navbar-link is-arrowless">LogOut</a>
     {% endif %}
    </div>
  </div>
</nav>
