{% extends "base_template.html" %}

{% block title %}Asientos{% endblock %}
{% block style %}
<style>
 
</style>
{% endblock %}

{% block content %}

<div id="app" class="container">
<div class="row">
    <h1 style="width:70%;">Asientos</h1>
    <h2 style="width:30%;">Saldo $|saldo|</h2>
</div>
<div class="row">
    <form v-on:submit.prevent class="form-inline">
        <input type="date" v-model="fecha" class="form-control">
        <input type="text" class="form-control"  name="cuenta" list="cuentalist" value="" autocomplete="off" v-model="cuenta" placeholder="Cuenta" ref="cuenta">
        <datalist id="cuentalist">
            <option v-for="cta in cuentas">|cta|</option>
        </datalist>
        <input type="text" v-model="imp" class="form-control" size="5" placeholder="Imp">
        <input type="text" v-model="comentario" class="form-control" size="60" placeholder="Comentario">
        <button type="button" class="btn btn-primary" @click="guardarAsiento">Guardar</button>
    </form>
</div>

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>op</th>
                <th>id</th>
                <th>fecha</th>
                <th>cuenta</th>
                <th>imp</th>
                <th>comentario</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="asiento in asientos">
                <td><button class="btn btn-danger btn-sm" @click="borrarAsiento(asiento[0])">Borrar</button></td>
                <td>|asiento[0]|</td>
                <td>|asiento[1]|</td>
                <td>|asiento[2]|</td>
                <td>|asiento[3]|</td>
                <td>|asiento[4]|</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
{% block script %}
<script>
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        asientos:[],
        saldo:0,
        fecha:'',
        imp:'',
        cuenta:'',
        comentario:'',
        cuentas:[],
    },
    methods: {
        getAsientos(){
            axios.get('/stock/getasientos')
            .then(res=>{
                arrayAsientos = Array.from(res.data.asientos)
                arrayAsientos.forEach(row=>{
                    row[1]=dayjs.utc(row[1]).format('YYYY-MM-DD')
                })
                this.asientos = arrayAsientos
                this.saldo = res.data.saldo
                //console.log(this.planillas);
            })
        },
        borrarAsiento(id){
            axios.get('/stock/deleteasiento/'+id)
            .then(res=>{
                console.log(res)
                this.getAsientos()
            })
        },
        getCuentas(){
            axios.get('/stock/getcuentas')
            .then(res=>{
                console.log(res.data.cuentas)
                this.cuentas=res.data.cuentas
            })
        },
        guardarAsiento(){
            axios({
                method:'POST',
                url: '/stock/guardarasiento',
                data:{
                    fecha:this.fecha,
                    cuenta:this.cuenta,
                    imp:this.imp,
                    comentario:this.comentario,
                }
            })
            .then(res=>{
                //console.log(res)
                this.getAsientos()
                this.cuenta=''
                this.imp=''
                this.comentario=''
                this.$refs.cuenta.focus();
                
            })
        },
        
    },
    created: function(){
        this.getAsientos();
        this.getCuentas();
    },
})

</script>
{% endblock %}
