<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bulmaswatch.min.css') }}"> -->
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link id="bulma" rel="stylesheet" href="https://unpkg.com/bulmaswatch/slate/bulmaswatch.min.css">
        
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

        {% block style %} {% endblock %}
      </head>
    <body>
      <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="{{ url_for('static', filename='logoromitex.jpg') }}" width="40" height="40">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a role="button" onclick="toggleTheme()">Theme</a>
      <a class="navbar-item">
        Home
      </a>
      <a class="navbar-item" href="/buscador">
        Buscador
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Clientes
          </a>
          <a class="navbar-item" href="/ventas/pasarventas">
            Ventas
          </a>
          <a class="navbar-item" href="/pagos">
            Pagos
          </a>
          <a class="navbar-item" href="/stock/asientos">
            Asientos
          </a>
          <a class="navbar-item" href="/fichas">
            Fichas
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {% if current_user.email %}
        <a href="#" class="button is-info mx-5">{{current_user.email}}</a>
        {% endif %}

        <div class="buttons">
          {% if not current_user.email %}
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
          {% endif %}
          {% if current_user.email %}
          <a class="button is-primary" href="/logout">
            Log Out
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav> -->

<span class="nav-bar" id="btnMenu"><span class="icon-menu"></span></span>
<nav class="main-nav">
  <div class="menu" id="menu">
    <a href="/buscador" class="menu__link">Clientes</a>
    <a href="/ventas/pasarventas" class="menu__link">Ventas</a>
    <a href="/pagos" class="menu__link">Pagos</a>
    <a href="/fichas" class="menu__link">Fichas</a>
    <a href="/stock/asientos" class="menu__link">Stock</a>
    <a href="#" class="menu__link" role="button" onclick="toggleTheme()">Theme</a>
    {% if not current_user.email %}
    <a href="/signup" class="menu__link">Registrarse</a>
    <a href="/login" class="menu__link">Login</a>
    {% endif %}
    {% if current_user.email %}
    <label class="email__link">{{current_user.email}}</label>
    <a href="/logout" class="menu__link">LogOut</a>
    {% endif %}
  </div>

</nav>

        {% block content %}{% endblock %}




<script src="{{ url_for('static', filename='tables.js') }}" ></script>
<script src="{{ url_for('static', filename='bulma-toast.min.js') }}" ></script>
<script src="{{ url_for('static', filename='dayjs.min.js') }}" ></script>
<script src="{{ url_for('static', filename='utc.js') }}"></script>
<script>dayjs.extend(window.dayjs_plugin_utc)</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/buefy/dist/components/autocomplete"></script>
<!-- <script src="https://use.fontawesome.com/6d1e679f7b.js"></script> -->
<script>
//   document.addEventListener('DOMContentLoaded', () => {

// // Get all "navbar-burger" elements
// const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// // Check if there are any navbar burgers
// if ($navbarBurgers.length > 0) {

//   // Add a click event on each of them
//   $navbarBurgers.forEach( el => {
//     el.addEventListener('click', () => {

//       // Get the target from the "data-target" attribute
//       const target = el.dataset.target;
//       const $target = document.getElementById(target);

//       // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
//       el.classList.toggle('is-active');
//       $target.classList.toggle('is-active');

//     });
//   });
// }

// });

const btnMenu = document.getElementById("btnMenu")
const menu = document.getElementById("menu")
btnMenu.addEventListener('click',()=>{

  menu.classList.toggle('mostrar')
});

function toggleTheme() {
            var theme = document.getElementById('bulma');
            // Change the value of href attribute 
            // to change the css sheet.
            if (theme.getAttribute('href') == "https://unpkg.com/bulmaswatch/materia/bulmaswatch.min.css") {
                theme.setAttribute('href', "https://unpkg.com/bulmaswatch/slate/bulmaswatch.min.css");
                localStorage.setItem("bulma", "https://unpkg.com/bulmaswatch/slate/bulmaswatch.min.css");
            } else {
                theme.setAttribute('href', "https://unpkg.com/bulmaswatch/materia/bulmaswatch.min.css");
                localStorage.setItem("bulma", "https://unpkg.com/bulmaswatch/materia/bulmaswatch.min.css");
            }
        }
document.addEventListener("DOMContentLoaded",(e)=>{
  let bulma = localStorage.getItem('bulma')
  const theme = document.getElementById('bulma')
  theme.setAttribute('href',bulma)
})
</script>
{% block script %}{% endblock %}

    </body>
</html>
