{% extends "base_template.html" %}

{% block title %}Clientes{% endblock %}
{% block style %}
<style>
 .floated{
     float:left;
     margin-right: 5px;
 }
</style>
{% endblock %}

{% block content %}

<div id="app">
    <div class="row">
        <div v-for="historico in historial">
            <button class="btn btn-outline-secondary" @click="buscaCuentaporDni(historico[0])">|historico[1].slice(0,18)|</button>
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            <input type="search" placeholder="Buscar en Romitex" size="73" class="form-control" v-model="buscar" @keyup.enter="buscarCliente" @focus="buscar='';verCard=false">
        <div class="input-group-append">
            <button type="button" @click="buscarCliente" class="btn btn-outline-secondary">Buscar</button>
        </div>
        </div>
    </div>
    <div class="row" v-if="buscar">
    <!-- <div class="row" v-if="!verCard"> -->
        <div v-for="cliente in clientes">
            <!-- [dni,nombre,direccion] -->
        <button class="btn btn-outline-primary floated" @mouseover="buscar=cliente[2]" @click="buscaCuentaporDni(cliente[0])">|cliente[1]|</button>
        </div>
    </div>
    <div class="row"  v-if="verCard">
        <div class="card mt-2" style="width: 52rem;">
            <div class="card-body">
              <h4 class="card-title">|nombre|  |dni|</h4>
              <h5 class="card-subtitle mb-2 text-muted">|direccion|  |barrio|  zona:|zona|</h5>
              <h5 class="card-subtitle mb-2 text-muted">tel:|tel| wapp:|wapp|</h5>
              <button class="btn btn-primary floated">PmoVto</button>
              <input type="date" v-model="pmovto"  class="form-group floated mt-1">
              <button class="btn btn-primary floated">Deuda $|deuda|</button>
              <button class="btn btn-success floated" v-if="sev">|sev|</button>
              <button class="btn btn-danger floated" v-if="incobrable">|incobrable|</button>
              <button class="btn btn-warning floated" v-if="gestion">|gestion|</button>
              <button class="btn btn-info floated" v-if="subirseven">|subirseven|</button>
              <button class="btn btn-danger floated" v-if="novendermas">|novendermas|</button>
              <button class="btn btn-info floated" v-if="seguir">|seguir|</button>
            </div>
          </div>
    </div>
    <div class="row" v-if="verCard">
        <button class="btn btn-outline-info btn-sm" @click="verVentas=!verVentas">Ver Ventas</button>
        <button class="btn btn-outline-success btn-sm" @click="fecharPmoVto">Fechar</button>
        <a :href="`/buscador/imprimirficha/${dni}`" class="btn btn-outline-warning btn-sm" target="_blank">Impr Ficha</a>
        <a href="#" class="btn btn-outline-warning btn-sm">Intimar</a>
        <button class="btn btn-outline-success btn-sm" @click="cargarWapp">Wapp</button>
    </div>
    <div class="row" v-if="verCard">
        <table class="table table-sm">
            <thead >
                <tr @click="!verVentas">
                <th>Id</th>
                <th>fecha</th>
                <th>plan</th>
                <th>DEBE</th>
                <th>Compra</th>
                <th>vdor</th>
                <th>info</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="venta in ventas" v-if="venta[3]||verVentas">
                <td><button class="btn btn-outline-primary btn-sm" @click="toggleVerArticulos(venta[0])">|venta[0]|</button></td>
                <td>|venta[1]|</td>
                <td>|venta[2]|</td>
                <td>$|venta[3]|</td>
                <td>$|venta[4]|</td>
                <td>|venta[5]|</td>
                <td>
                    <button class="btn btn-danger btn-sm" v-if="venta[6]">|venta[6]|</button>
                    <button class="btn btn-success btn-sm" v-if="venta[7]">|venta[7]|</button>
                    <button class="btn btn-primary btn-sm" v-if="venta[8]">|venta[8]|</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" v-if="verCard" style="float:left;">
        <table class="table table-sm"  style="width: 300px;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cuota in cuotas">
                    <td>|cuota[0]|</td>
                    <td>|cuota[1]|</td>
                    <td>$|cuota[2]|</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm ml-5"  style="width: 300px;">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Rbo</th>
                    <th>Imp</th>
                    <th>Rec</th>
                    <th>Cobr</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="pagada in pagadas">
                    <td>|pagada[0]|</td>
                    <td>|pagada[1]|</td>
                    <td>$|pagada[2]|</td>
                    <td>$|pagada[3]|</td>
                    <td>|pagada[4]|</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
</div>

{% endblock %}
{% block script %}
<script>
Vue.use(Toasted)
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        verCard:false,
        buscar:'',
        clientes: [],
        dni:'',
        nombre:'',
        direccion:'',
        barrio:'',
        tel:'',
        wapp:'',
        zona:'',
        pmovto:'',
        deuda:'',
        sev:'',
        incobrable:'',
        gestion:'',
        subirseven:'',
        novendermas:'',
        seguir:'',
        ventas:[],
        verVentas:false,
        articulos:[],
        cuotas:[],
        pagadas:[],
        historial:[],

        
    },
    methods: {
        buscarCliente(){
            axios.get('/buscador/'+this.buscar)
            .then(res=>{
                this.clientes = res.data.clientes
                if(this.clientes.length==1) this.buscaCuentaporDni(this.clientes[0][0])
            })
        },
        buscaCuentaporDni(dni){
            axios.get('/buscador/'+dni)
            .then(res=>{
                this.clientes = res.data.clientes
                this.dni = this.clientes[0][0]
                this.nombre = this.clientes[0][1]
                this.direccion = this.clientes[0][2]
                this.barrio = this.clientes[0][3]
                this.tel = this.clientes[0][4]
                this.wapp = this.clientes[0][5]
                this.zona = this.clientes[0][6]
                this.pmovto = dayjs.utc(this.clientes[0][7]).format('YYYY-MM-DD')
                this.deuda = this.clientes[0][8]
                this.sev = this.clientes[0][9]==1?'Seven':null
                this.incobrable = this.clientes[0][10]==1?'INCOBRABLE':null
                this.gestion = this.clientes[0][11]==1?'Gestion':null
                this.subirseven = this.clientes[0][12]==1?'SUBE':null
                this.novendermas = this.clientes[0][13]==1?'NV+':null
                this.seguir = this.clientes[0][14]==1?'Seguir':null
                
                this.verCard = true;
                this.buscar = '';
                this.clientes = [];
                this.pedirVentas(this.dni)

                //botones de historial
                let agregar=true;
                this.historial.forEach(row=>{
                    if(row[1]==this.nombre) agregar=false
                })
                if(this.historial.length>3 && agregar) {
                    this.historial.unshift([this.dni,this.nombre])
                    this.historial.pop()
                }
                if(this.historial.length<=3 && agregar) {
                    this.historial.unshift([this.dni,this.nombre])
                }
            })
        },
        pedirVentas(dni){
            axios.get('/buscador/pedirventas/'+dni)
            .then(res=>{
                //console.log(res.data.ventas);
                arrayVentas = Array.from(res.data.ventas)
                let arrayTblVtas = []
                arrayVentas.forEach(vta=>{
                    /* id,fecha,cc,ic,p,idvdor,saldo,comprado,pp,pcc,pic,pper,devuelta,condonada */
                    let array = []
                    array.push(vta[0])
                    array.push(dayjs.utc(vta[1]).format('YYYY-MM-DD'))
                    if(vta[8]==0){
                        array.push(`${vta[2]} cuotas ${vta[4]==1?'MEN':'SEM'} de $${vta[3]}`)
                    }else{
                        array.push(`${vta[9]} cuotas ${vta[11]==1?'MEN':'SEM'} de $${vta[10]}`)
                    }
                    array.push(vta[6])
                    array.push(vta[7])
                    array.push(vta[5])
                    array.push(vta[8]==1?'PLAN DE PAGO':null)
                    array.push(vta[12]==1?'DEVUELTA':null)
                    array.push(vta[13]==1?'CONDONADA':null)
                    arrayTblVtas.push(array)
                })
                //console.log(arrayTblVtas);
                this.ventas=arrayTblVtas;
                this.pedirCuotas(dni)
            })
        },
        toggleVerArticulos(idvta){
            if(this.buscarRowArticulos(idvta)){
                this.borrarRowArticulos(idvta)
            }else{
                this.muestraArt(idvta)
            }
        },
        borrarRowArticulos(idvta){
            let $tbody = document.querySelector('tbody')
            arrayRows = Array.from($tbody.children)
            arrayRows.forEach(row=>{
                if(row.classList.contains(idvta)){
                    row.remove();
                }
            })
        },
        buscarRowArticulos(idvta){
            let $tbody = document.querySelector('tbody');
            let value;
            arrayRows = Array.from($tbody.children)
            arrayRows.forEach(row=>{
                if (row.classList.contains(idvta)==true){
                    value =  true;
                }
            })
            return value;
        },
        muestraArt(idvta){
            axios.get('/buscador/pedirarticulos/'+idvta)
            .then(res=>{
                //console.log(res.data.articulos);
                this.articulos=res.data.articulos
                
                let $tbody = document.querySelector('tbody');
                let rowInd;
                arrayRows = Array.from($tbody.children)
                arrayRows.forEach(row=>{
                    if(row.innerHTML.includes(idvta)){
                        rowInd = row.rowIndex
                    }
                })
                for(let articulo of this.articulos){
                    //console.log(articulo);
                    let $row = $tbody.insertRow(rowInd)
                    $row.classList.add(idvta)
                    $row.classList.add('articulos')
                    let $cell0 = $row.insertCell(0);
                    let $cell1 = $row.insertCell(1);
                    let $cell2 = $row.insertCell(2);
                    $cell1.colSpan = "2"
                    $cell0.innerHTML = articulo[0];
                    $cell1.innerHTML = articulo[1];
                    $cell2.innerHTML = articulo[2];
                }
            //console.log(this.buscarRowArticulos(idvta));
            })
            
            
        },
        pedirCuotas(dni){
            axios.get('/buscador/pedircuotas/'+dni)
            .then(res=>{
                //console.log(res.data.cuotas);
                /* nc,vto,ic */
                arrayCuotas = Array.from(res.data.cuotas)
                arrayCuotas.forEach(row=>{
                    row[1]=dayjs.utc(row[1]).format('YYYY-MM-DD')
                })
                this.cuotas=arrayCuotas;
                arrayPagadas = Array.from(res.data.pagadas)
                arrayPagadas.forEach(row=>{
                    row[0]=dayjs.utc(row[0]).format('YYYY-MM-DD')
                })
                this.pagadas=arrayPagadas;
            })
        },
        fecharPmoVto(){
            axios.get('/buscador/fecharpmovto/'+this.dni+'/'+this.pmovto)
            .then(res=>{
                //console.log(res);
                let toast = this.$toasted.success("PmoVto actualizado con exito", { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
            });
            })
        },
        impFicha(){
            axios.get('buscador/imprimirficha/'+this.dni)
            .then(res=>{
                //console.log(res);
            })
        },
        cargarWapp(){
            let text,
                messaje;
            axios.get('/buscador/datosultvta/'+this.dni)
            .then(res=>{
                let fecha = res.data.ultvta[0][0];
                let articulos = res.data.ultvta[0][1];
                if (this.sev=='Seven'){
                text=
                `Nos comunicamos de la empresa ROMITEX por una deuda que usted tiene con la firma. Usted fue subido al SEVEN hasta regularizar su cuenta. Puede hacer un plan de pagos. Consulte por Wapp. Una vez cancelado en 24hs se lo elimina del SEVEN. De no desmostrar interes nos vemos obligados a cobrar su pagare por via JUDICIAL. Atte. *Departamento de cobranzas de ROMITEX*` 
                } else {
                    text= 
                    `Nos comunicamos de la empresa ROMITEX por una deuda que usted tiene con la firma. En los proximos dias deberemos informar al SEVEN el atraso de su cuenta. Le proponemos un plan de pagos que podemos realizar por este medio.`
                }
                messaje = this.nombre.concat(': ',text,' ',`(Por compra de ${articulos} realizada en '${this.direccion}' el dia ${dayjs.utc(fecha).format('DD-MM-YYYY')})`)
                //console.log(messaje);

            })

            
        },
        
        
    },
    
})

</script>
{% endblock %}
