{% extends "base_template.html" %}

{% block title %}Clientes{% endblock %}
{% block style %}
<style>
 .floated{
     float:left;
     margin-right: 5px;
 }
</style>
{% endblock %}

{% block content %}

<div id="app">
    
    <div class="row">
        <div class="input-group">
            <input type="search" placeholder="Buscar en Romitex" size="73" class="form-control" v-model="buscar" @keyup.enter="buscarCliente" @focus="buscar='';verCard=false">
        <div class="input-group-append">
            <button type="button" @click="buscarCliente" class="btn btn-outline-secondary">Buscar</button>
        </div>
        </div>
    </div>
    <div class="row" v-if="!verCard">
        <div v-for="cliente in clientes">
            <!-- [dni,nombre,direccion] -->
        <button class="btn btn-outline-primary floated" @mouseover="buscar=cliente[2]" @click="buscaCuentaporDni(cliente[0])">|cliente[1]|</button>
        </div>
    </div>
    <div class="row"  v-if="verCard">
        <div class="card mt-2" style="width: 52rem;">
            <div class="card-body">
              <h4 class="card-title">|nombre|  |dni|</h4>
              <h5 class="card-subtitle mb-2 text-muted">|direccion|  |barrio|  zona:|zona|</h5>
              <h5 class="card-subtitle mb-2 text-muted">tel:|tel| wapp:|wapp|</h5>
              <button class="btn btn-primary floated">PmoVto |pmovto|</button>
              <button class="btn btn-primary floated">Deuda $|deuda|</button>
              <button class="btn btn-success floated" v-if="sev">|sev|</button>
              <button class="btn btn-danger floated" v-if="incobrable">|incobrable|</button>
              <button class="btn btn-warning floated" v-if="gestion">|gestion|</button>
              <button class="btn btn-info floated" v-if="subirseven">|subirseven|</button>
              <button class="btn btn-danger floated" v-if="novendermas">|novendermas|</button>
              <button class="btn btn-info floated" v-if="seguir">|seguir|</button>
            </div>
          </div>
    </div>
    <div class="row" v-if="verCard">
        <button class="btn btn-outline-info btn-sm" @click="verVentas=!verVentas">Ver Ventas</button>
    </div>
    <div class="row" v-if="verCard">
        <table class="table table-sm">
            <thead >
                <tr @click="!verVentas">
                <th>Id</th>
                <th>fecha</th>
                <th>plan</th>
                <th>DEBE</th>
                <th>vdor</th>
                <th>info</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="venta in ventas" v-if="venta[3]||verVentas">
                <td><button class="btn btn-outline-secondary btn-sm" @click="toggleVerArticulos(venta[0])">|venta[0]|</button></td>
                <td>|venta[1]|</td>
                <td>|venta[2]|</td>
                <td>|venta[3]|</td>
                <td>|venta[4]|</td>
                <td><button class="btn btn-danger btn-sm" v-if="venta[5]">|venta[5]|</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

{% endblock %}
{% block script %}
<script>
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        verCard:false,
        buscar:'',
        clientes: [],
        dni:'',
        nombre:'',
        direccion:'',
        barrio:'',
        tel:'',
        wapp:'',
        zona:'',
        pmovto:'',
        deuda:'',
        sev:'',
        incobrable:'',
        gestion:'',
        subirseven:'',
        novendermas:'',
        seguir:'',
        ventas:[],
        verVentas:false,
        articulos:[],

        
    },
    methods: {
        buscarCliente(){
            axios.get('/buscador/'+this.buscar)
            .then(res=>{
                this.clientes = res.data.clientes
            })
        },
        buscaCuentaporDni(dni){
            axios.get('/buscador/'+dni)
            .then(res=>{
                this.clientes = res.data.clientes
                this.dni = this.clientes[0][0]
                this.nombre = this.clientes[0][1]
                this.direccion = this.clientes[0][2]
                this.barrio = this.clientes[0][3]
                this.tel = this.clientes[0][4]
                this.wapp = this.clientes[0][5]
                this.zona = this.clientes[0][6]
                this.pmovto = dayjs(this.clientes[0][7]).format('YYYY-MM-DD')
                this.deuda = this.clientes[0][8]
                this.sev = this.clientes[0][9]==1?'Seven':null
                this.incobrable = this.clientes[0][10]==1?'INCOBRABLE':null
                this.gestion = this.clientes[0][11]==1?'Gestion':null
                this.subirseven = this.clientes[0][12]==1?'SUBE':null
                this.novendermas = this.clientes[0][13]==1?'NV+':null
                this.seguir = this.clientes[0][14]==1?'Seguir':null
                
                this.verCard = true;
                this.pedirVentas(this.dni)
            })
        },
        pedirVentas(dni){
            axios.get('/buscador/pedirventas/'+dni)
            .then(res=>{
                //console.log(res.data.ventas);
                arrayVentas = Array.from(res.data.ventas)
                let arrayTblVtas = []
                arrayVentas.forEach(vta=>{
                    let array = []
                    array.push(vta[0])
                    array.push(dayjs(vta[1]).format('YYYY-MM-DD'))
                    if(vta[7]==0){
                        array.push(`${vta[2]} cuotas ${vta[4]==1?'MEN':'SEM'} de $${vta[3]}`)
                    }else{
                        array.push(`${vta[8]} cuotas ${vta[10]==1?'MEN':'SEM'} de $${vta[9]}`)
                    }
                    array.push(vta[6])
                    array.push(vta[5])
                    array.push(vta[7]==1?'PLAN DE PAGO':null)
                    arrayTblVtas.push(array)
                })
                //console.log(arrayTblVtas);
                this.ventas=arrayTblVtas;
            })
        },
        toggleVerArticulos(idvta){
            if(this.buscarRowArticulos(idvta)){
                this.borrarRowArticulos(idvta)
            }else{
                this.muestraArt(idvta)
            }
        },
        borrarRowArticulos(idvta){
            let $tbody = document.querySelector('tbody')
            arrayRows = Array.from($tbody.children)
            arrayRows.forEach(row=>{
                if(row.classList.contains(idvta)){
                    row.remove();
                }
            })
        },
        buscarRowArticulos(idvta){
            let $tbody = document.querySelector('tbody');
            let value;
            arrayRows = Array.from($tbody.children)
            arrayRows.forEach(row=>{
                if (row.classList.contains(idvta)==true){
                    value =  true;
                }
            })
            return value;
        },
        muestraArt(idvta){
            axios.get('/buscador/pedirarticulos/'+idvta)
            .then(res=>{
                //console.log(res.data.articulos);
                this.articulos=res.data.articulos
                
                let $tbody = document.querySelector('tbody');
                let rowInd;
                arrayRows = Array.from($tbody.children)
                arrayRows.forEach(row=>{
                    if(row.innerHTML.includes(idvta)){
                        rowInd = row.rowIndex
                    }
                })
                for(let articulo of this.articulos){
                    //console.log(articulo);
                    let $row = $tbody.insertRow(rowInd)
                    $row.classList.add(idvta)
                    let $cell0 = $row.insertCell(0);
                    let $cell1 = $row.insertCell(1);
                    let $cell2 = $row.insertCell(2);
                    $cell1.colSpan = "2"
                    $cell0.innerHTML = articulo[0];
                    $cell1.innerHTML = articulo[1];
                    $cell2.innerHTML = articulo[2];
                }
            //console.log(this.buscarRowArticulos(idvta));
            })
            
            
        },
        
        
    },
    
})

</script>
{% endblock %}
