{% extends "base_template.html" %} {% block title %}Planillas de Rendicion{%
endblock %} {% block style %}
<style>
  body{
    width: 90%;
    margin: auto;
  }
  thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    background-color: #837e7e;
    color: white;
  }
  .selected {
    background-color: orange;
    color: black;
    cursor: pointer;
  }
</style>
{% endblock %} {% block content %}
<div class="conteiner-fluid">
<div id="app">
  <div class="row">
    <div v-for="cobrador in cobradores">
      <button class="btn btn-info ml-1" @click="muestraZonas(cobrador[0])">
        |cobrador[0]|
      </button>
    </div>
  </div>
  <div class="row">
    <div v-for="zona in zonas">
      <button
        class="btn btn-success ml-1 mt-1"
        @click="muestraClientes('normales',zona[0]);zonaactual=zona[0]"
      >
        |zona[0]|
      </button>
    </div>
  </div>
  <div class="row">
    <button class="btn bnt-success" @click="seleccionarHoy()">
      Seleccionar Hoy
    </button>
    <button class="btn bnt-danger" @click="imprimir()">Imprimir</button>
    <button class="btn btn-warning" @click="muestraClientes('gestion',zonaactual)">Gestion</button>
    <button class="btn btn-dark" @click="muestraClientes('antiguos',zonaactual)">Antiguos</button>
  </div>
  <div class="row">
    <table id="table" class="table table-sm">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Calle</th>
          <th>Num</th>
          <th>UltPago</th>
          <th>PmoVto</th>
          <th>Compra</th>
          <th>Deuda</th>
          <th colspan="5">Estados</th>
          <th>DNI</th>
          <th colspan="5">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="cliente in clientes">
          <!-- nombre,calle,num,ultpago,pmovto,sev,novendermas,gestion,mudo,incobrable,dni,subirseven,comprado,deuda -->
          <td>|cliente[0]|</td>
          <td>|cliente[1]|</td>
          <td>|cliente[2]|</td>
          <td>|cliente[3]|</td>
          <td>|cliente[4]|</td>
          <td>|cliente[12]|</td>
          <td>|cliente[13]|</td>
          <td><button class="btn btn-success btn-sm" v-if="cliente[5]||cliente[11]">|cliente[5]==1?'SEVEN':cliente[11]==1?'SUBE':null|</button></td>
          <td><button class="btn btn-primary btn-sm" v-if="cliente[6]">|cliente[6]==1?'NV+':null|</button></td>
          <td><button class="btn btn-info btn-sm" v-if="cliente[7]">|cliente[7]==1?'GESTION':null|</button></td>
          <td><button class="btn btn-warning btn-sm" v-if="cliente[8]">|cliente[8]==1?'MUDO':null|</button></td>
          <td><button class="btn btn-danger btn-sm" v-if="cliente[9]">|cliente[9]==1?'INC':''|</button></td>
          <td>|cliente[10]|</td>
          <td><button class="btn btn-outline-primary btn-sm" @click="toggleSube(cliente[10])">SU</button></td>
          <td><button class="btn btn-outline-primary btn-sm" @click="toggleLN(cliente[10])">NV</button></td>
          <td><button class="btn btn-outline-primary btn-sm" @click="toggleGestion(cliente[10])">Ge</button></td>
          <td><button class="btn btn-outline-primary btn-sm" @click="toggleMudo(cliente[10])">Mu</button></td>
          <td><button class="btn btn-outline-primary btn-sm" @click="toggleInc(cliente[10]);">IN</button></td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %} {% block script %}
<script>
  const sortGrid = (colNum, dir) => {
    let tbody = table.querySelector("tbody");
    let rowsArray = Array.from(tbody.rows);
    let compare;
    let compareAsc;
    compareAsc = function (rowA, rowB) {
      return rowA.cells[colNum].innerHTML.localeCompare(
        rowB.cells[colNum].innerHTML
      );
    };
    let compareDesc;
    compareDesc = function (rowA, rowB) {
      return (
        rowA.cells[colNum].innerHTML.localeCompare(
          rowB.cells[colNum].innerHTML
        ) * -1
      );
    };
    if (dir === "ASC") {
      compare = compareAsc;
    } else {
      compare = compareDesc;
    }
    rowsArray.sort(compare);
    tbody.append(...rowsArray);
  };
  const sortGridNumerica = (colNum, dir) => {
    let tbody = table.querySelector("tbody");
    let rowsArray = Array.from(tbody.rows);
    let compare;
    let compareAsc;
    compareAsc = function (rowA, rowB) {
      return rowA.cells[colNum].innerHTML - rowB.cells[colNum].innerHTML;
    };
    let compareDesc;
    compareDesc = function (rowA, rowB) {
      return rowB.cells[colNum].innerHTML - rowA.cells[colNum].innerHTML;
    };
    if (dir === "ASC") {
      compare = compareAsc;
    } else {
      compare = compareDesc;
    }
    rowsArray.sort(compare);
    tbody.append(...rowsArray);
  };
  document.addEventListener("click", () => {
    if (event.target.tagName === "TH") {
      let th = event.target;
      sortGrid(th.cellIndex, "ASC");
    }
    if (event.target.tagName === "TH" && event.ctrlKey === true) {
      let th = event.target;
      sortGridNumerica(th.cellIndex, "ASC");
    }
  });
  document.addEventListener("contextmenu", () => {
    event.preventDefault();
    if (event.target.tagName === "TH") {
      let th = event.target;
      sortGrid(th.cellIndex, "DESC");
    }
    if (event.target.tagName === "TH" && event.ctrlKey === true) {
      let th = event.target;
      sortGridNumerica(th.cellIndex, "DESC");
    }
  });
  document.addEventListener("mouseover", () => {
    if (event.target.tagName === "TD") {
      if (event.buttons === 1) {
        markSelected(1);
      }
    }
  });
  document.addEventListener("mousedown", () => {
    if (event.target.tagName === "TD") event.preventDefault();
    if (event.target.tagName === "TH") event.preventDefault();
    // prevenimos la accion de seleccionar valores
    // de la tabla que es molesto y no sirve para nada.
  });
  document.addEventListener("click", () => {
    if (event.target.tagName === "TD") {
      markSelected();
    }
  });
  const markSelected = () => {
    if (event.target.parentElement.parentElement.tagName != "TBODY") return;
    const $row = event.target.parentElement;
    $row.classList.toggle("selected");
  };

  Vue.use(Toasted)
  const app = new Vue({
    el: "#app",
    delimiters: ["|", "|"],
    data: {
      cobradores: [],
      zonas: [],
      clientes: [],
      zonaactual:'',
    },
    methods: {
      getCobradores() {
        axios.get("/fichaje/getcobradores").then((res) => {
          //console.log(res.data.cobradores);
          this.cobradores = res.data.cobradores;
        });
      },
      muestraZonas(cobr) {
        axios.get("/fichaje/muestrazonas/" + cobr).then((res) => {
          //console.log(res.data.zonas)
          this.zonas = res.data.zonas;
        });
      },
      muestraClientes(tipo,zona) {
        axios.get("/fichaje/muestraclientes/"+ tipo +'/'+ zona).then((res) => {
          //console.log(res.data.clientes)
          /* nombre,calle,num,ultpago,pmovto,sev,novendermas,gestion,mudo,incobrable,dni */
          arrayClientes = Array.from(res.data.clientes);
          arrayClientes.forEach((row) => {
            row[3] = dayjs.utc(row[3]).format("YYYY-MM-DD");
            row[4] = dayjs.utc(row[4]).format("YYYY-MM-DD");
          });
          const $tbody = document.querySelector("tbody");
          arrayRows = Array.from($tbody.children);
          arrayRows.forEach((row) => {
            if (row.classList.contains("selected")) {
              row.classList.remove("selected");
            }
          });
          this.clientes = arrayClientes;
        });
      },
      imprimir() {
        let ids = [];
        let tbody = table.querySelector("tbody");
        let rowsArray = Array.from(tbody.rows);
        rowsArray.forEach((row) => {
          if (row.classList.contains("selected")) {
            ids.push(row.cells[12].innerHTML);
            //la celda que corresponda a dni OJO
          }
        });
        axios({
          method: "POST",
          url: "/fichaje/imprimir",
          responseType: "blob",
          data: ids,
        }).then((res) => {
          let url = window.URL.createObjectURL(res.data);
          window.open(url);
        });
      },
      seleccionarHoy() {
        const $tbody = document.querySelector("tbody");
        arrayRows = Array.from($tbody.children);
        arrayRows.forEach((row) => {
          let pmovto = dayjs(row.cells[4].innerHTML);
          if (pmovto.unix() < dayjs().unix()) {
            row.classList.add("selected");
          }
        });
      },
      toggleInc(dni){
        axios.get('/buscador/toggleinc/'+dni)
        .then(res=>{
          //console.log(res);
          let toast = this.$toasted.success(res.data, { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
                });
        })
      },
      toggleSube(dni){
        axios.get('/buscador/togglesube/'+dni)
        .then(res=>{
          //console.log(res);
          if (res.data=='No se sube pq ya esta en el seven'){
          let toast = this.$toasted.error(res.data, { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
                });
              }else{
          let toast = this.$toasted.success(res.data, { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
                });
              }
        })
      
      },
      toggleGestion(dni){
        axios.get('/buscador/togglegestion/'+dni)
        .then(res=>{
          //console.log(res);
          let toast = this.$toasted.success(res.data, { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
                });
        })
      },
      toggleMudo(dni){
        axios.get('/buscador/togglemudado/'+dni)
        .then(res=>{
          //console.log(res);
          let toast = this.$toasted.success(res.data, { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
                });
        })
      },
      toggleLN(dni){
        axios.get('/buscador/toggleln/'+dni)
        .then(res=>{
          //console.log(res);
          let toast = this.$toasted.success(res.data, { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
                });
        })
      },
    },
    created: function () {
      this.getCobradores();
    },
  });
</script>
{% endblock %}
