{% extends "base.html" %}

{% block title %}Lista Datos{% endblock %}

{% block content %}

<div class="container" x-data="BuuZZCDVMyzK4I1OcGEvNeeob()" x-init="getListadoDatosVendedor();getListadoArt();getSectores()">
  <div class="columns">
    <div class="column is-4">
  <div class="flex-space-between">
    <p class="title is-3">Datos</p>
    <a href="/KgcigrlPdMMjIFsWucdrEVDzX" target="blank" class="button is-info is-small">Precios</a>
  </div>
  </div>
  </div>
  <div>
    <template x-for="item in listaSector">
      <button class="button is-small is-black" x-text="item" x-show="agrupar=='zonas'" @click="filtraPorSector(item)"></button>
    </template>
  </div>
  <div>
    <template x-for="item in listaItemsDatos">
      <button class="button is-small is-primary" x-text="item" @click="filtraPorItem(item)"></button>
    </template>
  </div>
  <table class="table table-striped " id="table" x-show="verCard==false">
    <thead>
      <tr>
        <th>nombre</th>
        <th>calle</th>
        <th>num</th>
        <th></th>
        <th></th>
        <th></th>
        <th>horario</th>
        <th>comentarios</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="dato in listadoDatos_">
        <tr>
          <td x-text="dato.nombre"></td>
          <td x-text="dato.calle"></td>
          <td x-text="dato.num"></td>
          <td><span class="tag is-small is-danger" @click="abrirCliente(dato.idcliente)">Ir</span></td>
          <td><span class="tag is-small" x-text="dato.resultado==1&&dato.quiere_devolver==0?'Vendido':(dato.resultado==0?'Anulado':(dato.resultado==2?'Rechazado':(dato.resultado==7?'Devuelta':(dato.quiere_devolver==1?'Devolucion':'Pendiente'))))"
                    :class="dato.resultado==1&&dato.quiere_devolver==0?'is-success':(dato.resultado==0?'is-danger':(dato.resultado==2?'is-warning':(dato.resultado==7?'is-danger':(dato.quiere_devolver==1?'is-black':'is-info'))))"></span></td>
          <td><span class="tag is-small is-success" x-text="dato.idvta" x-show="dato.idvta"></span></td>
          <td x-text="dato.horarios"></td>
          <td x-text="dato.comentarios"></td>
        </tr>
      </template>
    </tbody>
  </table>

  <!-- verCard Dato -->
  <div class="card box" x-show="verCard==true">
    <h1 class="title is-4" x-text="Dato.nombre"></h1>
    <div class="flex-between">
      <h2 class="title is-5" x-text="Dato.calle+' '+Dato.num"></h2>
      <a class="button is-black is-small" :href="'https://www.google.com/maps/place/'+Dato.calle+'+'+Dato.num+',+C%C3%B3rdoba'">Maps</a>
    </div>
    <h4 class="subtitle is-6" x-text="Dato.acla" x-show="Dato.acla"></h4>
    <div class="flex-between">
      <h2 class="title is-5 no-mb" x-text="Dato.wapp?Dato.wapp:Dato.tel"></h2><img src="{{url_for('static', filename='check.png')}}"
      x-show="Dato.wapp_verificado">
      <span class="tag is-small is-danger pointer ml-5 rounded" @click="verificarWapp(Dato.wapp, Dato.idcliente)"
      x-show="!Dato.wapp_verificado && Dato.wapp">Verificar</span>
      <span class="tag is-small is-primary pointer ml-5 rounded" @click="editarWapp">Editar</span>
      <a x-bind:href=`https://wa.me/549${Dato.wapp}?text=""` x-show="Dato.wapp">
        <img src="{{url_for('static', filename='icon-whatsapp-small.svg')}}"></a>
      <a x-ref="#" @click="hacerLlamada(Dato.wapp?Dato.wapp:Dato.tel)">
        <img src="{{url_for('static', filename='llamada.png')}}"></a>
    </div>
    <h4 class="subtitle is-6" x-text="Dato.barrio"></h4>
    <hr/>
    <div class="flex-space-between">
    <h2 class="title is-2 red" x-text="Dato.idvta" x-show="Dato.idvta"></h2>
    <span class="tag is-large is-danger" x-show="Dato.quiere_devolver">Devolucion</span>
    </div>
    <h4 class="title is-6 no-mb" x-text="Dato.fecha_visitar"  x-show="!Dato.quiere_devolver"></h4>
    <h4 class="title is-6 no-mb" x-text="Dato.horarios" x-show="Dato.horarios && !Dato.quiere_devolver"></h4>
    <h4 class="title is-6 no-mb" x-text="Dato.art" x-show="Dato.art  && !Dato.quiere_devolver"></h4>
    <h4 class="title is-6 no-mb" x-text="Dato.comentarios" x-show="Dato.comentarios && !Dato.quiere_devolver"></h4>
    <div class="flex-space-between">
    <h4 class="title is-4 no-mb" x-show="Dato.quiere_devolver">Tipo Devolucion:</h4>
    <span class="tag is-large is-info" x-text="Dato.tipo_devolucion" x-show="Dato.quiere_devolver"></span>
    </div>
    <h4 class="title is-4 no-mb" x-text="'Comentario Devolucion: '+Dato.comentario_devolucion" x-show="Dato.quiere_devolver&&Dato.comentario_devolucion"></h4>
    <h2 class="title is-4" x-text="'Cuota Maxima $'+Dato.cuota_maxima" x-show="!Dato.quiere_devolver"></h2>
    <div class="buttons" x-show="!Dato.idvta">
      <button class="button is-small is-success" @click="venderDato(Dato.id)">Vender</button>
      <button class="button is-small is-danger" @click="anularDato(Dato.id)" id="buttonAnularDato">Anular</button>
      <button class="button is-small is-info" @click="fecharDato(Dato.id)" id="buttonFecharDato">Fechar</button>
      <button class="button is-small is-warning" @click="noEstabaDato(Dato.id)" id="buttonNoestabaDato">No Estaba</button>
      <button class="button is-small is-primary" @click="mudoDato(Dato.id)" id="buttonMudoDato">Mudo</button>
      <button class="button is-small is-black" @click="fallecioDato(Dato.id)" id="buttonFallecioDato">Fallecio</button>
    </div>
    <div class="buttons" x-show="Dato.quiere_devolver">
      <button class="button is-small is-info" @click="verFichaPantalla(Dato.idcliente)">Ver Ficha</button>
    </div>
    <div class="buttons" x-show="Dato.quiere_devolver">
      <button class="button is-small is-danger desactivable" @click="informa('Total',Dato.idvta,Dato.vendedor,Dato.nombre)">Dev. Total</button>
      <button class="button is-small is-warning desactivable" @click="informa('Parcial',Dato.idvta,Dato.vendedor,Dato.nombre)">Dev. Parcial</button>
      <button class="button is-small is-success desactivable" @click="informa('Cambio',Dato.idvta,Dato.vendedor,Dato.nombre)">Cambio</button>
    </div>

  </div>

  <!-- bulma-modal pasar-venta  -->
  <div class="modal" id="modal-pasar-venta">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Pasar Venta</p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-pasar-venta')"></button>
        <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <span class="tag is-small is-info" x-text="'Cuota Maxima $'+Dato.cuota_maxima"></span>
        <span class="tag is-small is-danger" x-show="Dato.sin_extension">Venta Basica</span>
        <span class="tag is-small is-success" x-show="Dato.nosabana">No sabana</span>
        <label for="iddni" class="label">Ingrese DNI del cliente</label>
        <span class="tag is-small is-danger" x-show="!dnivalidado && Venta.dni">DNI no coincide con el cliente</span>
        <input type="number" class="input mb-3" x-model="Venta.dni" id="iddni" autocomplete="off"
               :class="darkTheme?'input-dark':''" @blur="validarDni(Venta.dni)">
        <label for="iddnigarante" class="label">DNI del garante</label>
        <span class="tag is-small is-danger" x-show="!dnigarantevalidado && Venta.dnigarante && Venta.dnigarante!=0 &&
                     Venta.dnigarante!=''">DNI garante no valido</span>
        <input type="number" class="input mb-3" x-model="Venta.dnigarante" id="iddnigarante" autocomplete="off"
               :class="darkTheme?'input-dark':''" @blur="buscaGarante(Venta.dnigarante)">
        <span class="tag is-small" x-text="nombregarante" x-show="nombregarante"></span>
        <label for="idcnt" class="label">Cantidad</label>
        <input type="text" class="input mb-3" x-model="Venta.cnt" id="idcnt" autocomplete="off"
               :class="darkTheme?'input-dark':''">
        <input type="text" list="listaart" class="input mb-1" x-model="Venta.art"
               :class="darkTheme?'input-dark':''"/>
        <datalist id="listaart">
          <template x-for="item in listaArticulos">
            <option :value="item"></option>
          </template>
        </datalist>
        <button class="button is-primary" @click="agregarArticulo(Venta.cnt,Venta.art)">Agregar Articulo</button>
        <table class="no-total table">
          <thead>
            <tr>
              <th></th>
              <th>cnt</th>
              <th>art</th>
              <th>cc</th>
              <th>cuota</th>
              <th>total</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="item in listaArtComprados">
              <tr>
                <td><i class="fa fa-times" aria-hidden="true" @click="borrarItem(item.id)"></td>
                  <td x-text="item.cnt"></td>
                  <td x-text="item.art"></td>
                  <td x-text="item.cc"></td>
                  <td x-text="item.cuota"></td>
                  <td x-text="item.total"></td>
              </tr>
            </template>
          </tbody>
        </table>
        <datalist id="listaart">
          <template x-for="item in listaArticulos">
            <option :value="item"></option>
          </template>
        </datalist>
        <label for="idprimera" class="label">Fecha primer cuota</label>
        <input type="date" class="input mb-3" x-model="Venta.primera" id="idprimera" autocomplete="off"
               :class="darkTheme?'input-dark':''">
        <p class="title is-3" x-text="'6 cuotas de $'+sumaCuota" x-show="sumaCuota"
           :class="sumaCuota>Dato.cuota_maxima?'red':''"></p>
        <span class="tag is-small is-danger" x-show="sumaCuota>Dato.cuota_maxima">Cuota supera Cuota-Maxima</span>
        <button class="button is-primary"  x-show="sumaCuota>Dato.cuota_maxima"
                @click="pedirAutorizacion" id="buttonPedirAutorizacion">Pedir Autorizacion</button>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" @click="pasarVenta" id="buttonPasarVenta">Pasar Venta</button>
        <button class="button" @click="toggleModal('modal-pasar-venta')">Cancelar</button>
      </footer>
    </div>
  </div>
  <!-- bulma-modal edicion-wapp -->
  <div class="modal" id="modal-edicion-wapp">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Editar WhatsApp</p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-edicion-wapp')"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <label for="idwapp">WhatsApp</label>
        <input type="text" class="input mb-3" x-model="Dato.wapp" id="idwapp">
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" @click="guardarWapp">Guardar</button>
        <button class="button" @click="toggleModal('modal-edicion-wapp')">Cancelar</button>
      </footer>
    </div>
  </div>

  <!-- bulma-modal fechar-dato -->
  <div class="modal" id="modal-fechar-dato">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Fechar Dato</p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-fechar-dato')"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <label for="idfecha">Nueva Fecha a Visitar</label>
        <input type="date" class="input mb-3" x-model="Dato.fecha_visitar" id="idfecha">
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" @click="guardarDatoFechado">Guardar</button>
        <button class="button" @click="toggleModal('modal-fechar-dato')">Cancelar</button>
      </footer>
    </div>
  </div>

</div>
{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}
