{% extends "base_template.html" %}

{% block title %}Lote de Recibos{% endblock %}
{% block style %}
<style>
 </style>
{% endblock %}

{% block content %}

<div id="app">
    <form v-on:submit.prevent class="form-inline">
        <input id="fechapago" type="date"  class="form-control" v-model="fechapago">
        <input id="cobrador" type="text"  class="form-control" placeholder="Cobrador" v-model="cobrador">
        <input type="text" id="cntrbos" class="form-control" placeholder="Cnt Rbos" v-model="cntrbos">
    </form>
    <ul>
        <li v-for=" n in [...Array(Number(cntrbos)).keys()]" @keyup.enter="nextRbo"><input type="text" :id="n+1"></li>
    </ul>
</div>

{% endblock %}
{% block script %}
<script>

const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        fechapago:'',
        cobrador:'',
        cntrbos:10,
    },
    methods: {
        nextRbo(){
            nextCelda = Number(event.target.id)+1
            if (nextCelda<Number(this.cntrbos+1)){
                document.getElementById(nextCelda).focus()
                document.getElementById(nextCelda).value=Number(event.target.value)+1
            }
        }
        
    },
    
})

</script>
{% endblock %}
