{% extends "base_template.html" %}

{% block title %}Lote de Recibos{% endblock %}
{% block style %}
<style>
    .input1{
        width: 150px;
        background-color: bisque;

    }
    .input2{
      color: #aaa;
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }
 </style>
{% endblock %}

{% block content %}

<div id="app" class="container">
    <p class="title is-1">Generar Lote de Rbos</p>
    <form v-on:submit.prevent class="field is-horizontal">
        <button type="button" class="button is-danger" @click="limpiarForm">Limpiar</button>
        <input id="fechapago" type="date"  class="input input1 is-narrow" v-model="fechapago">
        <input id="cobrador" type="text"  class="input input1 is-narrow" size= 10 placeholder="Cobrador" v-model="cobrador" @blur="buscaNombreCobr">
        <input type="text" id="cntrbos" class="input input1 is-narrow" size=5 placeholder="Cnt Rbos" v-model="cntrbos">
        <button type="button" class="button is-success" @click="validaGuardarLoteI">Guardar</button>
        <span class="tag is-secondary is-large" >|`Lote ${idloterbo}`|</span>
        <button type="button" class="button is-primary" @click="imprimirLote">Imprimir</button>
    </form>
    <p class="subtitle is-3">|nombrecobrador|</p>
    <ul>
        <li v-for=" n in [...Array(Number(cntrbos)).keys()]" @keyup.enter="nextRbo" class="list-group-item"><input type="text" :id="n+1" class="input2"></li>
    </ul>
</div>

{% endblock %}
{% block script %}
<script>
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        fechapago:'',
        cobrador:'',
        nombrecobrador:'',
        cntrbos:0,
        arrayRbos:[],
        idloterbo:0,
    },
    methods: {
        nextRbo(){
            nextCelda = Number(event.target.id)+1
            if (nextCelda<=Number(this.cntrbos)){
                document.getElementById(nextCelda).focus()
                document.getElementById(nextCelda).value=Number(event.target.value)+1
            }
        },
        //valido primero que tenga cobrador y fecha de pago
        validaGuardarLoteI(){
            if (this.cobrador==""||this.fechapago==""){
                // let toast = this.$toasted.error("Complete los datos de fecha y cobrador", {
                // theme: "outline",
                // position: "top-right",
                // duration : 3000,
                // fullWidth: true,
                // });
                bulmaToast.toast({message:"Complete los datos de fecha y cobrador", type: "is-danger"})
            }else{this.validaGuardarLoteII()}
        },
        // paso a validacion II calculando con un reduce la suma de los num de rbo para ver
        // si se han ingresado recibos o se presiona el boton en vacio
        validaGuardarLoteII(){
            for(let i=1; i<=this.cntrbos;i++){
                this.arrayRbos.push(document.getElementById(i).value)
            }
            let total = this.arrayRbos.reduce((a,b)=>Number(a)+Number(b),0);
            if (total>0) {this.guardarLote()} else {
                // let toast = this.$toasted.error("Cargue los numeros de recibo", {
                // theme: "outline",
                // position: "top-right",
                // duration : 3000,
                // fullWidth: true,
                // });
                bulmaToast.toast({message:"Cargue los numeros de recibo", type: "is-danger"})
            }

        },
        // una vez validado se hace el guardarlote
        guardarLote(){
            axios({
                method:'POST',
                url:'/loterbo/guardarlote/'+this.fechapago+'/'+this.cobrador,
                responseType: "blob",
                data:this.arrayRbos,

            })
            .then(axios.get('/loterbo/obtenerlastid')
            .then(res=>{
                //console.log(res.data)
                this.idloterbo = res.data.idlote
            })
            )
        },
        imprimirLote(){
            axios({
                method: "POST",
                url: "/loterbo/imprimir/"+this.fechapago+"/"+this.cobrador+"/"+this.idloterbo,
                responseType: "blob",
                data: this.arrayRbos,
            }).then((res)=>{
                let url = window.URL.createObjectURL(res.data);
                window.open(url);
            })
        },
        buscaNombreCobr(){
            axios.get('/loterbo/buscanombrecobr/'+this.cobrador)
            .then(res=>{
                //console.log(res.data.nombrecobr)
                this.nombrecobrador=res.data.nombrecobr
            })
        },
        limpiarForm(){
            this.cobrador='';
            this.cntrbos=0;
            this.idloterbo='';
            this.nombrecobrador=''
            this.arrayRbos=[]
        },


    },

})

</script>
{% endblock %}
