{% extends "base_template.html" %}

{% block title %}Lote de Recibos{% endblock %}
{% block style %}
<style>
    .input1{
        width: 100px;
        background-color: bisque;

    }
 </style>
{% endblock %}

{% block content %}

<div id="app" class="container">
    <form v-on:submit.prevent class="form-inline mb-3">
        <input id="fechapago" type="date"  class="form-control input1" v-model="fechapago" required>
        <input id="cobrador" type="text"  class="form-control input1" size= 10 placeholder="Cobrador" v-model="cobrador" required>
        <input type="text" id="cntrbos" class="form-control input1" size=5 placeholder="Cnt Rbos" v-model="cntrbos">
        <button type="button" class="btn btn-success" @click="validaGuardarLoteI">Guardar</button>
        <h3><span class="badge badge-secondary mt-3" >|`Lote ${idloterbo}`|</span></h3>
        <button type="button" class="btn btn-primary" @click="imprimirLote">Imprimir</button>
    </form>
    <ul>
        <li v-for=" n in [...Array(Number(cntrbos)).keys()]" @keyup.enter="nextRbo"><input type="text" :id="n+1" class="input2"></li>
    </ul>
</div>

{% endblock %}
{% block script %}
<script>
Vue.use(Toasted)
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        fechapago:'',
        cobrador:'',
        cntrbos:0,
        arrayRbos:[],
        idloterbo:0,
    },
    methods: {
        nextRbo(){
            nextCelda = Number(event.target.id)+1
            if (nextCelda<=Number(this.cntrbos)){
                document.getElementById(nextCelda).focus()
                document.getElementById(nextCelda).value=Number(event.target.value)+1
            }
        },
        //valido primero que tenga cobrador y fecha de pago
        validaGuardarLoteI(){
            if (this.cobrador==""||this.fechapago==""){
                let toast = this.$toasted.error("Complete los datos de fecha y cobrador", { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
                });
            }else{this.validaGuardarLoteII()}
        },
        // paso a validacion II calculando con un reduce la suma de los num de rbo para ver
        // si se han ingresado recibos o se presiona el boton en vacio
        validaGuardarLoteII(){
            for(let i=1; i<=this.cntrbos;i++){
                this.arrayRbos.push(document.getElementById(i).value)
            }
            let total = this.arrayRbos.reduce((a,b)=>Number(a)+Number(b),0);
            if (total>0) {this.guardarLote()} else {
                let toast = this.$toasted.error("Cargue los numeros de recibo", { 
                theme: "outline", 
                position: "top-right", 
                duration : 3000,
                fullWidth: true,
                });
            }
            
        },
        // una vez validado se hace el guardarlote
        guardarLote(){
            axios({
                method:'POST',
                url:'/loterbo/guardarlote/'+this.fechapago+'/'+this.cobrador,
                responseType: "blob",
                data:this.arrayRbos,
                
            })
            .then(axios.get('/loterbo/obtenerlastid')
            .then(res=>{
                //console.log(res.data)
                this.idloterbo = res.data.idlote
            })
            )
        },
        imprimirLote(){
            axios({
                method: "POST",
                url: "/loterbo/imprimir/"+this.fechapago+"/"+this.cobrador+"/"+this.idloterbo,
                responseType: "blob",
                data: this.arrayRbos,
            }).then((res)=>{
                let url = window.URL.createObjectURL(res.data);
                window.open(url);
            })
        },
       
        
    },
    
})

</script>
{% endblock %}
