{% extends "base_template.html" %}

{% block title %}Mayor{% endblock %}
{% block style %}
<style>
.block:not(:last-child) {
      margin-bottom: 1.5rem;
}
.floated{
     float:left;
     margin-right: 5px;
 }
.color1 {
    background-color: rgb(178, 42, 32);
    color: black;
    text-align: center;
}
.color2 {
    background-color: rgb(178, 127, 32);
    color: black;
    text-align: center;
}
.color3 {
    background-color: rgb(176, 178, 32);
    color: black;
    text-align: center;
}
.color4 {
    background-color: rgb(32, 178, 98);
    color: black;
    text-align: center;
}
.color5 {
    background-color: rgb(147, 196, 193);
    color: black;
    text-align: center;
}
.color6 {
    background-color: lightyellow;
    color: black;
    text-align: center;
}
.color7 {
    background-color: rgb(80, 89, 214);
    color: black;
    text-align: center;
}
.color8 {
    background-color: rgb(13, 130, 148);
    color: black;
    text-align: center;
}
.color9 {
    background-color: rgb(141, 11, 104);
    color: black;
    text-align: center;
}
.color0 {
    background-color: rgb(127, 19, 189);
    color: black;
    text-align: center;
}
</style>
{% endblock %}

{% block content %}

<div id="app" class="container">
<div class="columns">
    <h1 style="width:70%;" class="is-size-1">Mayor</h1>
</div>
<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-outlined is-primary">Asientos</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-outlined is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-outlined is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-outlined is-primary">Compras</a>
</div>
<div class="block">
    <div class="field is-grouped is-grouped-multiline">
      <div v-for="cuenta in cuentas">
          <button type="button" class="button is-dark is-small" @click="getAsientos(cuenta)">|cuenta|</button>
      </div>
    </div>
</div>

<div class="block">
    <table id="table" class="table table-sm ">
        <thead>
            <tr>
                <th>op</th>
                <th>id</th>
                <th>fecha</th>
                <th>cuenta</th>
                <th>imp</th>
                <th>comentario</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="asiento in asientos">
                <td><button class="button is-danger is-small" @click="borrarAsiento(asiento[0],asiento[2])">Borrar</button></td>
                <td>|asiento[0]|</td>
                <td :class="dia(asiento[1])">|asiento[1]|</td>
                <td>|asiento[2]|</td>
                <td>|asiento[3]|</td>
                <td>|asiento[4]|</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
{% block script %}
<script>
Vue.use(Toasted)
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        asientos:[],
        saldo:0,
        fecha:'',
        imp:'',
        cuenta:'',
        comentario:'',
        cuentas:[],
    },
    methods: {
        getAsientos(cuenta){
            axios.get('/stock/getmayor/'+cuenta)
            .then(res=>{
                arrayAsientos = Array.from(res.data.asientos)
                arrayAsientos.forEach(row=>{
                    row[1]=dayjs.utc(row[1]).format('YYYY-MM-DD')
                })
                this.asientos = arrayAsientos
            })
        },
        borrarAsiento(id,cuenta){
            axios.get('/stock/deleteasiento/'+id)
            .then(res=>{
                //console.log(res)
                this.getAsientos(cuenta)
            })
        },
        getCuentas(){
            axios.get('/stock/getcuentas')
            .then(res=>{
                //console.log(res.data.cuentas)
                this.cuentas=res.data.cuentas
            })
        },
        dia(day){
            //formamos el nombre de la clase con la palabra color mas
            //el ultimo digito de los dias para tener solo diez colores
            return "color" + dayjs.utc(day).format('DD').slice(1,2)
        },



    },
    created: function(){
        this.getCuentas();
    },
})

</script>
{% endblock %}
