{% extends "base_template.html" %}

{% block title %}Pivot Cuentas{% endblock %}
{% block style %}
<style>
.block:not(:last-child) {
        margin-bottom: 1.5rem;
}
</style>

{% endblock %}


{% block content %}
<div class="columns">
    <h1 style="width:70%;" class="is-size-1">Pivot-Cuentas</h1>
</div>
<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-outlined is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-outlined is-primary">Mayor</a>
</div>
{{tbl|safe}}



{% block script %}
<script>
// let $thead = document.querySelector('thead');
// let heads = $thead.children.length
// if(heads===3) $thead.removeChild($thead.lastElementChild)
//removemos el tr de fecha que complica y afea el encabezado
</script>
{% endblock %}

{% endblock %}
