{% extends "base_template.html" %}

{% block content %}
<div id="app">
    <div class="column is-4 is-offset-4">
        <h3 class="title">Sign Up</h3>
        <div class="box">
            {% for messages in get_flashed_messages(with_categories=False,category_filter=['error']) %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages}}</div>
            {% endif %}
            {% endfor %}
            <form method="POST">
                <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" v-model="email">
                    </div>
                </div>
    
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="" v-model="name">
                    </div>
                </div>
    
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Password" v-model="password">
                    </div>
                </div>
    
                <button type="submit" class="button is-block is-info is-large is-fullwidth" @click="guardarRegistro">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- <script>
  const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        email:'',
        name:'',
        password:'',
    },
    methods:{
        guardarRegistro(){
            if(this.email!=''&&this.name!=''&&this.password!=''){
                axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
                axios({
                method:'POST',
                url:'/signup/guardardatos',
                data:{
                    name:this.name,
                    email:this.email,
                    password:this.password,
                }
                })
                .then(res=>{
                    console.log(res)
                    bulmaToast.toast({message:"Registro ingresado con exito", type:"is-success"})
                    axios.get('/verlogin')
                })
                .catch(error=>{
                    console.log(error.request.response)
                    bulmaToast.toast({message:error.request.response, type:"is-danger"})
                })
            }
        },
    },
  })
  </script> -->
  {% endblock %}