{% extends "base.html" %}

{% block title %}Arqueo{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getDatos()">


  <div class="columns">
    <div class="column is-7">
      <h1 style="width:70%;" class="title is-size-1">Arqueo Banco</h1>
    </div>
    <div class="column is-5">
      <button class="button is-primary" @click="verTodos()">Ver Todos</button>
      <button class="button is-primary" @click="verNoConciliados()">Ver No Conciliados</button>
    </div>
  </div>


  <div class="columns">
    <div class="column is-6">
  <div class="block">
    <table id="table" class="table table-sm ">
      <thead>
        <tr>
          <th>id</th>
          <th>fecha</th>
          <th>cuenta</th>
          <th class="sumar importe">imp</th>
          <th>comentario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <template x-for="asiento in bancoIngresoCuotas_">
          <tr>
              <td x-text="asiento.id"></td>
              <td :class="dia(asiento.fecha)" x-text="asiento.fecha"></td>
              <td x-text="asiento.cuenta" style="min-width:200px;"></td>
              <td x-text="asiento.imp" class="pesos" style="min-width:100px;"></td>
              <td x-text="asiento.comentario"></td>
              <td><i class="fa fa-pencil" aria-hidden="true" @click="editarAsiento(asiento.id)"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
    </div>
    <div class="column is-6">
      <table class="table">
        <thead>
          <tr>
            <th>fecha</th>
            <th>imp</th>
            <th>nombre</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <template x-for="pago in listaCuotas_">
            <tr>
              <td x-text="pago.fecha"></td>
              <td x-text="pago.imp"></td>
              <td x-text="pago.nombre"></td>
              <td><span class="tag is-small is-info" x-show="pago.conciliado">Conciliada</span></td>
              <td><span class="tag is-small pointer is-primary" @click="conciliarPago(pago.id)">Conciliar</span></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <p class="title is-3" x-text="'Total Banco ingreso cobradores $'+sumBancoCobradores"></p>
      <table class="table">
         <thead>
        <tr>
          <th>id</th>
          <th>fecha</th>
          <th>cuenta</th>
          <th class="sumar importe">imp</th>
          <th>comentario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <template x-for="asiento in bancoIngresoCobradores">
          <tr>
              <td x-text="asiento.id"></td>
              <td :class="dia(asiento.fecha)" x-text="asiento.fecha"></td>
              <td x-text="asiento.cuenta" style="min-width:200px;"></td>
              <td x-text="asiento.imp" class="pesos" style="min-width:100px;"></td>
              <td x-text="asiento.comentario"></td>
              <td><i class="fa fa-pencil" aria-hidden="true" @click="editarAsientocobr(asiento.id)"></td>
          </tr>
        </template>
      </tbody>
      </table>
    </div>
    <div class="column is-6">
      <p class="title is-3" x-text="'Total Transferencias cobradores $'+sumTransferenciasCobradores"></p>
      <table class="table">
         <thead>
        <tr>
          <th>id</th>
          <th>fecha</th>
          <th>cuenta</th>
          <th class="sumar importe">imp</th>
          <th>comentario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <template x-for="asiento in listaTransferencias">
          <tr>
              <td x-text="asiento.id"></td>
              <td :class="dia(asiento.fecha)" x-text="asiento.fecha"></td>
              <td x-text="asiento.cuenta" style="min-width:200px;"></td>
              <td x-text="asiento.imp" class="pesos" style="min-width:100px;"></td>
              <td x-text="asiento.comentario"></td>
              <td><i class="fa fa-pencil" aria-hidden="true" @click="editarAsientotrans(asiento.id)"></td>
          </tr>
        </template>
      </tbody>
      </table>
    </div>
  </div>
  <!-- modal Bulma -->
  <div class="modal" id="modal-edicion">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" x-text="'Asiento Nº '+AsientoEdicion.id"></p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-edicion')"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <label for="idfecha">Fecha</label>
        <input name="idfecha" type="date" x-model="AsientoEdicion.fecha" class="input mb-1"
               :class="darkTheme?'input-dark':''"/>
        <input type="text" list="listacuentas" class="input mb-1" x-model="AsientoEdicion.cuenta"
               :class="darkTheme?'input-dark':''"/>
        <datalist id="listacuentas">
          <template x-for="item in cuentas">
            <option :value="item"></option>
          </template>
        </datalist>
        <label for="idimporte">Importe</label>
        <input name="idimporte" type="text" x-model="AsientoEdicion.imp"  class="input mb-1"
               :class="darkTheme?'input-dark':''"/>
        <label for="idcomentario">Comentario</label>
        <textarea class="textarea mb-3" rows="4" x-model="AsientoEdicion.comentario" id="idcomentario"
                  :class="darkTheme?'input-dark':''"></textarea>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="guardarEdicionAsiento()">Editar</button>
        <button class="button" @click="toggleModal('modal-edicion')">Cancelar</button>
      </footer>
      <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
 function main(){
     return{
         bancoIngresoCuotas_:[],
         bancoIngresoCobradores:[],
         listaCuotas_:[],
         listaTransferencias:[],
         AsientoEdicion:{},
         cuentas:[],
         sumTransferenciasCobradores:'',
         sumBancoCobradores:'',
         getDatos(cuenta){
             axios.get('/stock/getdatosarqueo')
                  .then(res=>{
                      this.bancoIngresoCuotas = res.data.bancocuotas
                      this.bancoIngresoCuotas.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.bancoIngresoCobradores = res.data.bancocobr
                      this.bancoIngresoCobradores.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.bancoIngresoCuotas_ = this.bancoIngresoCuotas.filter(row=>row.comentario=='')
                      this.listaCuotas = res.data.listacuotas
                      this.listaCuotas.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.listaCuotas_ = this.listaCuotas.filter(row=>row.conciliado==0)
                      this.listaTransferencias = res.data.listatrancobr
                      this.listaTransferencias.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.cuentas = res.data.listacuentas
                      this.sumBancoCobradores = this.bancoIngresoCobradores.map(row=>row.imp).reduce((a,b)=>a+b,0)
                      let a = this.listaTransferencias.map(row=>row.imp)
                      this.sumTransferenciasCobradores = this.listaTransferencias.map(row=>row.imp).reduce((a,b)=>a+b,0)
                  })
         },
         editarAsiento(id){
             this.AsientoEdicion = this.bancoIngresoCuotas.filter(row=>row.id==id)[0];
             toggleModal('modal-edicion')
         },
         editarAsientocobr(id){
             this.AsientoEdicion = this.bancoIngresoCobradores.filter(row=>row.id==id)[0];
             toggleModal('modal-edicion')
         },
         editarAsientotrans(id){
             this.AsientoEdicion = this.listaTransferencias.filter(row=>row.id==id)[0];
             toggleModal('modal-edicion')
         },

         guardarEdicionAsiento(){
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/stock/editarasiento',this.AsientoEdicion)
                                                                 .then(res=>{
                                                                     msgSuccess('Edicion Exitosa')
                                                                     toggleModal('modal-edicion')
                                                                     this.getDatos()
         })},
         conciliarPago(id){
             axios.get('/stock/conciliarpago/'+id)
                  .then(res=>{
                      this.getDatos()
             })
         },
         verTodos(){
             this.bancoIngresoCuotas_=this.bancoIngresoCuotas
             this.listaCuotas_=this.listaCuotas
         },
         verNoConciliados(){
             this.bancoIngresoCuotas_ = this.bancoIngresoCuotas.filter(row=>row.comentario=='')
             this.listaCuotas_ = this.listaCuotas.filter(row=>row.conciliado==0)
         }

     }
 }

</script>
{% endblock %}
