{% extends "base_template.html" %}

{% block title %}Articulos{% endblock %}

{% block content %}

<div x-data="main()" x-init="getArticulos()" class="container">
<p class="title is-1">Articulos</p>


<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
    <a href="/stock/proveedores"  type="button" class="button is-primary">Proveedores</a>
</div>

<div class="block">
            <div class="field is-horizontal">
            <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
            <div class="control">
              <input type="text" x-model="art" class="input" :class='{"is-danger":!art}' placeholder="Articulo" @keyup.enter="$refs.costo.focus()" size="25" x-ref="art">
              <p x-show="!art" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
            <select id="grupo" name="grupo" x-model="grupo" placeholder="grupo">
                <template x-for="item in listagrupos">
                <option :value="item"></option>
                </template>
            </select>
            </div>
            <div class="control">
                <input type="text" x-model="costo" class="input" size="5" placeholder="Costo" x-ref="costo" @keyup.enter="$refs.cuota.focus()" :class='{"is-danger":!costo}'>
                <p x-show="!costo" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
           <input type="text" x-model="cuota" class="input" size="5" placeholder="Cuota" x-ref="cuota" @keyup.enter="$refs.activo.focus()" :class='{"is-danger":!cuota}'>
                <p x-show="!cuota" class="help is-danger">Requerido</p>
            </div>

            <div class="control">
              <input type="text" x-model="activo" class="input" size="5" placeholder="Activo" x-ref="activo" @keyup.enter="$refs.guardar.focus()" :class='{"is-danger":!activo}'>
                <p x-show="!activo" class="help is-danger">Requerido</p>
            </div>

            <div class="control">
                <button type="button" class="button is-primary" @click="validarArticulo" x-ref="guardar" id="guardar">Guardar</button>
            </div>
        </div>
</div>
<div class="columns">
<div class="column is-7">
  <table id="table" class="table is-narrow" id="table">
      <thead>
          <tr>
              <th>op</th>
              <th>op</th>
              <th>id</th>
              <th>art</th>
              <th>costo</th>
              <th>cuota</th>
              <th>activo</th>
              <th>op</th>
          </tr>
      </thead>
      <tbody>
          <template x-for="articulo in articulos">
          <tr>
              <td><button class="button is-danger is-small" @click="borrarArticulo(articulo['id'])">Borrar</button></td>
              <td><button class="button is-info is-small" @click="editarArticulo(articulo['id'])">Editar</button></td>
              <td x-text = "articulo['id']"></td>
              <td x-text = "articulo['art']"></td>
              <td x-text = "articulo['costo']"></td>
              <td x-text = "articulo['cuota']"></td>
              <td><span class="tag is-success is-small" x-show="articulo['activo']">Activo</span><span class="tag is-danger is-small" x-show="!articulo['activo']">Inactivo</span></td>
              <td><button type="button" class="button is-info is-small" @click="toggleactivo(articulo['id'])">Cambiar</button></td>
          </tr>
          </template>
      </tbody>
  </table>
</div>
</div>

<div x-bind:class="verModalEdicion?'xmodal-container':''">
    <div class="xcard xmodal" x-show="verModalEdicion">
        <div class="flex justify-content-end">
            <button class="btn-close" @click="verModalEdicion=false"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
        </div>
        <h1 class="title is-3">Edicion articulos</h1>
        <input type="text" class="input mb-1" x-model="Articulo.art" placeholder="articulo" style="min-width:400px;">
        <input type="text" class="input mb-1" x-model="Articulo.costo" placeholder="costo">
        <input type="text" class="input mb-1" x-model="Articulo.cuota" placeholder="cuota">
        <select id="grupo" name="grupo" x-model="Articulo.grupo" placeholder="grupo">
                <template x-for="item in listagrupos">
                <option :value="item"></option>
                </template>
        </select>
        <input type="text" class="input mb-1" x-model="Articulo.activo" placeholder="activo">
        <button class="button is-primary" @click="guardarRegistro">Guardar</button>
        <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
    </div>
</div>
</div>


{% endblock %}
{% block script %}
<script>
    function main(){
    return{
        Articulo:{},
        articulos:{},
        listagrupos:[],
        art:'',
        costo:'',
        cuota:'',
        activo:'',
        verModalEdicion: false,

        getArticulos(){
            axios.get('/stock/getlistaarticulos')
            .then(res=>{
                this.articulos = res.data.articulos
                this.listagrupos = res.data.grupos
            })
        },
        borrarArticulo(id){
            const borrar = confirm("¿Esta seguro que quiere borrar permanentemente esta fila?")
            if(borrar){
                axios.get('/stock/deletearticulo/'+id)
                .then(res=>{
                    console.log(res)
                    this.getArticulos()
                })
            }
        },
        validarArticulo(){
            if(this.art!=''&&this.activo!=''&&this.costo!=''){
                this.guardarArticulo()
            }else{
                Swal.fire({
                        title: 'Error',
                        text: 'Complete los datos faltantes',
                        icon: 'error',
                        timer: 3000,
                        });

            }
        },
        guardarArticulo(){
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
            axios({
                method:'POST',
                url: '/stock/guardararticulo',
                data:{
                    art:this.art,
                    costo: this.costo,
                    cuota: this.cuota,
                    grupo: this.grupo,
                    activo: this.activo,
                }
            })
            .then(res=>{
                console.log(res)
                this.getArticulos()
                this.art=''
                this.costo=''
                this.cuota=''
                this.grupo=''
                this.activo=''
                this.$refs.art.focus();
                Swal.fire({
                        title: 'Exito',
                        text: 'Articulo Agregado',
                        icon: 'success',
                        timer: 3000,
                        });

            })
            .catch(error=>{
              Swal.fire({
                        title: 'Error',
                        text: 'El registro no se proceso',
                        icon: 'error',
                        timer: 3000,
                        });
            })
        },
        toggleactivo(id){
          axios.get('/stock/articulotoggleactivo/'+id)
          .then(res=>{
            this.getArticulos()
          })
        },
        editarArticulo(id){
            this.verModalEdicion = true
            this.Articulo = this.articulos.filter(row=>row.id==id)[0]
        },
        validarEdicion(){
            if(this.Articulo.art!=''&&this.Articulo.activo!=''&&this.Articulo.costo!=''&&this.Articulo.costo!=''&&this.Articulo.grupo!=''){
                this.guardarEdicion()
            }else{
                  Swal.fire({
                        title: 'Error',
                        text: 'Complete los datos faltantes',
                        icon: 'error',
                        timer: 3000,
                        });

            }
        },
        guardarEdicion(){
          axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
          axios({
              method:'POST',
              url: '/stock/guardaredicionarticulo',
              data: this.Articulo
          })
          .then(res=>{
            this.verModalEdicion = false
            this.getArticulos()
            Swal.fire({
                        title: 'Exito',
                        text: 'Edicion procesada',
                        icon: 'success',
                        timer: 3000,
                        });
          })
          .catch(error=>{
                         Swal.fire({
                                    title:'Error',
                                    text:'No se hizo la Edicion',
                                    icon: 'error',
                                    timer: 3000,
                                    });
          })
        },
    }}


</script>
{% endblock %}
