{% extends "base.html" %}

{% block title %}Asientos{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getAsientos();obtenerCuentas()">


  <div class="columns">
    <div class="column is-9">
      <div class="flex-space-between">
        <h1 class="title is-size-1 pointer" @click="aplicarFiltro('todo')">Asientos</h1>
        <h2 class="title is-size-1 pointer" x-text="'Caja $'+saldo" @click="aplicarFiltro('caja')"></h2>
        <h2 class="title is-size-1 pointer" style="color:red;" x-text="'Bancos $'+saldobancos"
            @click="aplicarFiltro('bancos')" @dblclick="aplicarFiltro('noasignados')"></h2>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="field is-horizontal">
      <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"
             :class="darkTheme?'input-dark':''"/>
      <div class="control">
        <input type="date" x-model="Asiento.fecha" class="input" :class="darkTheme?'input-dark':''">
      </div>
      <div class="control">
        <input type="text" list="listacuentas" class="input mb-1" x-model="Asiento.cuenta"  placeholder="Cuenta"
               :class="darkTheme?'input-dark':''"/>
        <datalist id="listacuentas">
          <template x-for="item in cuentas">
            <option :value="item"></option>
          </template>
        </datalist>
      </div>
      <div class="control">
        <input type="text" x-model="Asiento.imp" class="input" size="5" placeholder="Imp" x-ref="imp"
		       @keyup.enter="$refs.comentario.focus()" :class="darkTheme?'input-dark':''">
      </div>
      <div class="control">
        <input type="text" x-model="Asiento.comentario" class="input" size="50" placeholder="Comentario"
               x-ref="comentario" :class="darkTheme?'input-dark':''">
      </div>
      <div class="control">
        <button type="button" class="button is-primary" @click="validarAsiento" id="guardar">Guardar</button>
      </div>
    </div>
  </div>
  <table id="table" class="table is-narrow ">
    <thead>
      <tr>
        <th></th>
        <th>id</th>
        <th>fecha</th>
        <th>cuenta</th>
        <th class="sumar numeric">imp</th>
        <th>comentario</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <template x-for="asiento in listAsientos">
        <tr>
          <td><i class="fa fa-times" aria-hidden="true" @click="borrarAsiento(asiento.id)"></td>
            <td x-text="asiento.id"></td>
            <td :class="dia(asiento.fecha)" x-text="asiento.fecha"></td>
            <td :class="asiento.cuenta.slice(0,6)=='bancos'?'bancos':''" x-text="asiento.cuenta" style="min-width:250px;"></td>
            <td :class="asiento.imp<0?'negativo':''" x-text="asiento.imp" style="min-width:100px;" class="pesos"></td>
            <td x-text="asiento.comentario"></td>
            <td><i class="fa fa-pencil" aria-hidden="true" @click="editarAsiento(asiento.id)"></td>
        </tr>
      </template>
    </tbody>
  </table>

  <!-- modal Bulma -->
  <div class="modal" id="modal-edicion">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" x-text="'Asiento Nº '+AsientoEdicion.id"></p>
        <button class="delete" aria-label="close" @click="toggleModal('modal-edicion')"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <label for="idfecha">Fecha</label>
        <input name="idfecha" type="date" x-model="AsientoEdicion.fecha" class="input mb-1"
               :class="darkTheme?'input-dark':''"/>
        <input type="text" list="listacuentas" class="input mb-1" x-model="AsientoEdicion.cuenta"
               :class="darkTheme?'input-dark':''"/>
        <datalist id="listacuentas">
          <template x-for="item in cuentas">
            <option :value="item"></option>
          </template>
        </datalist>
        <label for="idimporte">Importe</label>
        <input name="idimporte" type="text" x-model="AsientoEdicion.imp"  class="input mb-1"
               :class="darkTheme?'input-dark':''"/>
        <label for="idcomentario">Comentario</label>
        <textarea class="textarea mb-3" rows="4" x-model="AsientoEdicion.comentario" id="idcomentario"
                  :class="darkTheme?'input-dark':''"></textarea>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="guardarEdicionAsiento()">Editar</button>
        <button class="button" @click="toggleModal('modal-edicion')">Cancelar</button>
      </footer>
    </div>
  </div>

</div>

{% endblock %}
{% block script %}
<script>
 function main(){
     return{
         listAsientos:[],
         listAsientos_:[],
         cuentas:[],
         saldo:0,
         saldobancos:0,
         Asiento:{fecha:dayjs.utc().format('YYYY-MM-DD'),cuenta:'',imp:'',comentario:''},
         AsientoEdicion:{},
         selected: null,
         getAsientos(){
             axios.get('/stock/getasientos')
                  .then(res=>{
                      this.listAsientos = res.data.asientos
                      this.listAsientos.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                      this.listAsientos_=this.listAsientos
                      this.saldo = res.data.saldo
                      this.saldobancos  =  res.data.saldobancos
                  })
         },
         borrarAsiento(id){
             Asiento = this.listAsientos.filter(row=>row.id==id)[0]
             Swal.fire({
                 title: '¿Esta seguro?',
                 text: `Afecta al asiento ${id} ${Asiento.cuenta} ${Asiento.imp}`,
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Si, borrarlo!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     axios.get('/stock/deleteasiento/'+id)
                          .then(res=>{
                          msgSuccess('Borrado!','El registro ha sido borrado')
                          this.getAsientos()
                          })
             }})
         },
         validarAsiento(){
             if(this.Asiento.fecha!=''&&this.Asiento.cuenta!=''&&this.Asiento.imp!=''&&this.cuentas.includes(this.Asiento.cuenta)){
                 this.guardarAsiento()
             }else{
                 msgError('Error!','Complete los datos faltantes, o verifique el nombre de la cuenta')
             }
         },
         guardarAsiento(){
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/stock/guardarasiento',this.Asiento)
                                                                 .then(res=>{
                                                                     this.getAsientos()
                                                                     if(this.Asiento.cuenta.includes('bancos')) {
                                                                         setTimeout(()=>{
                                                                             this.aplicarFiltro('bancos')},600
                                                                         )
                                                                     }
                                                                     this.Asiento={fecha:dayjs.utc().format('YYYY-MM-DD'),cuenta:'',imp:'',comentario:''},
                                                                     msgSuccess('Exito!','Asiento guardado con exito')
                                                                 })
         },
         editarAsiento(id){
             this.AsientoEdicion = this.listAsientos.filter(row=>row.id==id)[0];
             toggleModal('modal-edicion')
         },

         guardarEdicionAsiento(){
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/stock/editarasiento',this.AsientoEdicion)
                                                                 .then(res=>{
                                                                     msgSuccess('Edicion Exitosa')
                                                                     this.getAsientos()
                                                                     toggleModal('modal-edicion')
         })},
         aplicarFiltro(tipo){
             switch(tipo){
                 case 'bancos':
                     this.listAsientos = this.listAsientos_.filter(row=>row.cuenta.includes('bancos'))
                     break
                 case 'caja':
                     this.listAsientos = this.listAsientos_.filter(row=>!row.cuenta.includes('bancos'))
                     break
                 case 'noasignados':
                     this.listAsientos = this.listAsientos_.filter(row=>row.cuenta.includes('bancos')&&row.comentario==''
                                                                    &&!row.cuenta.includes('retiro'))
                     break
                 default:
                     this.listAsientos = this.listAsientos_
             }
         },
         obtenerCuentas(){
             axios.get('/stock/getcuentas')
                  .then(res=>{
                      this.cuentas = res.data.result
                  })
         },
     }
 }

</script>
{% endblock %}
