{% extends "base_template.html" %}

{% block title %}Asientos{% endblock %}
{% block style %}
<style>
.santander{
    color:dodgerblue;
}
.negativo{
    color:red;
}
table td:nth-child(5) {
    text-align: right;
}
table td:nth-child(5):before  {
    content:  "$\00a0";
    float: left;
}

</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getAsientos();getCuentas();obtenerCuentas()">
<div class="columns">
    <div class="column is-4">
        <h1 class="title is-size-1">Asientos</h1>
    </div>
    <div class="column">
        <h2 class="title is-size-1" x-text="'Saldo $'+saldo"></h2>
    </div>
    <div class="column">
        <h2 class="title is-size-1" style="color:red;" x-text="'Saldo $'+saldosantander"></h2>
    </div>
</div>
<div class="block">
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/proveedores"  type="button" class="button is-primary">Proveedores</a>
    <a href="/stock/cuentas"  type="button" class="button is-primary">Cuentas</a>
</div>
<div class="block">
        <div class="field is-horizontal">
            <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
            <div class="control">
                <input type="date" x-model="Asiento.fecha" class="input" :class='{"is-danger":!Asiento.fecha}'>
                <p x-show="!Asiento.fecha" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
              <input type="text" class="input mb-1" x-model="Asiento.cuenta" id="searchCuenta" autocomplete="off">
              <div id="suggestionsCuenta" class="suggestions"></div>
                <p x-show="!Asiento.cuenta" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
                <input type="text" x-model="Asiento.imp" class="input" size="5" placeholder="Imp" x-ref="imp" @keyup.enter="$refs.comentario.focus()" :class='{"is-danger":!Asiento.imp}'>
                <p x-show="!Asiento.imp" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
                <input type="text" x-model="Asiento.comentario" class="input" size="50" placeholder="Comentario" x-ref="comentario" @keyup.enter="$refs.guardar.focus()">
            </div>
            <div class="control">
                <button type="button" class="button is-primary" @click="validarAsiento" x-ref="guardar" id="guardar">Guardar</button>
            </div>
        </div>
</div>
<div class="block">
  <table id="table" class="table is-narrow ">
      <thead>
          <tr>
              <th>op</th>
              <th>id</th>
              <th>fecha</th>
              <th>cuenta</th>
              <th>imp</th>
              <th>comentario</th>
          </tr>
      </thead>
      <tbody>
          <template x-for="asiento in listAsientos">
                <tr>
               <td><i class="fa fa-times" aria-hidden="true" @click="borrarAsiento(asiento.id)"></td>
              <td x-text="asiento.id"></td>
              <td :class="dia(asiento.fecha)" x-text="asiento.fecha"></td>
              <td :class="asiento.cuenta.slice(0,9)=='santander'?'santander':''" x-text="asiento.cuenta"></td>
              <td :class="asiento.imp<0?'negativo':''" x-text="asiento.imp"></td>
              <td x-text="asiento.comentario"></td>
                </tr>
          </template>
      </tbody>
  </table>
</div>
</div>

{% endblock %}
{% block script %}
<script>
    function main(){
            return{
        listAsientos:[],
        saldo:0,
        saldosantander:0,
        Asiento:{},
        cuentas:[],
        selected: null,
        getAsientos(){
            axios.get('/stock/getasientos')
            .then(res=>{
                this.listAsientos = res.data.asientos
                this.listAsientos.map(row=>row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD'))
                    console.log(this.listAsientos)
                this.saldo = res.data.saldo
                this.saldosantander  =  res.data.saldosantander
            })
        },
        borrarAsiento(id){
            Asiento = this.listAsientos.filter(row=>row.id==id)[0]
            Swal.fire({
            title: '¿Esta seguro?',
            text: `Afecta al asiento ${id} ${Asiento.cuenta} ${Asiento.imp}`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, borrarlo!'
            }).then((result) => {
            if (result.isConfirmed) {
                axios.get('/stock/deleteasiento/'+id)
                .then(res=>msgSuccess('Borrado!','El registro ha sido borrado'))
                    this.getAsientos()
                }})
        },
        getCuentas(){
            axios.get('/stock/getcuentas')
            .then(res=>{
                this.cuentas=res.data.cuentas
            })
        },
        validarAsiento(){
            if(this.fecha!=''&&this.cuenta!=''&&this.imp!=''){
                this.guardarAsiento()
            }else{
                msgError('Error!','Complete los datos faltantes')
            }
        },
        guardarAsiento(){
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
            axios.post('/stock/guardarasiento',this.Asiento)
            .then(res=>{
                this.getAsientos()
                Asiento = {cuenta:'',imp:'',comentario:''}
                this.$refs.cuenta.focus();
                msgSuccess('Exito!','Asiento guardado con exito')
            })
        },
        dia(day){
            //formamos el nombre de la clase con la palabra color mas
            //el ultimo digito de los dias para tener solo diez colores
            return "color" + dayjs.utc(day).format('DD').slice(1,2)
        },
        obtenerCuentas(){
                    axios.get('/stock/getcuentas')
                    .then(res=>{
                        const cuenta = res.data.cuentas
                        const $input = document.getElementById('searchCuenta')
                        const $suggestions = document.getElementById('suggestionsCuenta')
                        $input.addEventListener('keyup',(e)=>{
                        const input = $input.value
                        $suggestions.innerHTML='';
                        const suggestions = cuenta.filter(cuenta=>{
                            return cuenta.toLocaleLowerCase().includes(input.toLocaleLowerCase())
                        })
                                console.log(suggestions)
                        suggestions.forEach(suggested=>{
                            const $div = document.createElement('div');
                            $div.innerHTML = suggested;
                            $suggestions.appendChild($div)
                        })
                        if(input==='') $suggestions.innerHTML=''
                        if(e.key==='Enter'){
                            this.Asiento.cuenta = $suggestions.firstChild.innerHTML
                            $suggestions.innerHTML=''
                        }
                        })
                        $suggestions.addEventListener('click',(e)=>{
                            this.Asiento.cuenta=e.target.innerHTML
                            $suggestions.innerHTML=''
                        })
                        })
                    },
    }
}

</script>
{% endblock %}
