{% extends "base.html" %}

{% block title %}Cuadro Mensual{% endblock %}

{% block content %}

<div x-data="main()" class="container" x-init="obtenerListaMeses();obtenerDatos(dayjs().format('YYYY-MM'))">
<div class="columns">
    <div class="column is-7">
        <h1 style="width:70%;" class="title is-size-1">Cuadro Mensual</h1>
    </div>
</div>
<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
    <a href="/stock/cuentas"  type="button" class="button is-primary">Cuentas</a>
    <a href="/stock/proveedores"  type="button" class="button is-primary">Proveedores</a>
</div>
<template x-for="mes in listaMeses">
<button class="button is-primary is-small mr-1" x-text="mes" @click="obtenerDatos(mes)"></button>
</template>
<div class="mt-5">
<table class="table">
<h1 class="title is-3" x-text="'Ingresos $'+ingresos"></h1>
<template x-for="item in listaIngresos">
  <tr>
    <td x-text="item.cuenta" style="min-width:450px;"></td>
    <td x-text="item.imp" class="pesos"></td>
  </tr>
</template>
</table>
<table class="table">
<h1 class="title is-3" x-text="'Egresos $'+egresos"></h1>
<template x-for="item in listaEgresos">
  <tr>
    <td x-text="item.cuenta" style="min-width:450px;" :class="item.cuenta=='compras'||item.cuenta=='depositos sorpresa'?'red':''"></td>
    <td x-text="item.imp" class="pesos"></td>
  </tr>
</template>
</table>
</div>


</div>
{% endblock %}
{% block script %}
<script>
function main(){
    return {
        listaResumen:[],
        listaIngresos:[],
        listaEgresos:[],
        ingresos:'',
        egresos:'',
        listaMeses:[],
        obtenerDatos(mes){
            axios.get('/stock/obtenerresumenmensual/'+mes)
                 .then(res=>{
                     this.listaResumen = res.data.resumen
                     this.listaIngresos = this.listaResumen.filter(row=>(row.tipo==1||row.tipo==2) && row.cuenta!='santander ingreso cobradores');
                     this.listaEgresos = this.listaResumen.filter(row=>(row.tipo==0||row.tipo==3) && row.cuenta!='transferencia de cobradores');
                     this.ingresos = this.sumarLista(this.listaIngresos)
                     this.egresos = this.sumarLista(this.listaEgresos)
                 })
        },
        obtenerListaMeses(){
            for(let i=0;i<12;i++){
                this.listaMeses.push(dayjs().subtract(i,'M').format('YYYY-MM'))
            }
        },
        sumarLista(lista){
            let suma = 0
            for(let item of lista){
                suma += Number(item.imp)
            }
            return suma
        },
    }
}

</script>
{% endblock %}
