{% extends "base.html" %}

{% block title %}Mayor{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="obtenerCuentas()">


  <div class="columns">
    <div class="column is-7">
      <h1 style="width:70%;" class="title is-size-1">Mayor</h1>
    </div>
  </div>

  <div class="block">
	<div class="grid-buscar  mr-3 mt-2 center">
      <input type="text" list="listacuentas" class="input mb-1" x-model="buscar"  placeholder="Busca por: Cuenta"
             @focus="buscar=''" @keyup.enter="getAsientos(buscar)" autofocus id="searchCuenta"
             :class="darkTheme?'input-dark':''"/>
      <datalist id="listacuentas">
        <template x-for="item in cuentas">
          <option :value="item"></option>
        </template>
      </datalist>

      <button type="button" @click="getAsientos(buscar)" class="button is-primary">Buscar</button>
	</div>
  </div>

  <div class="block">
    <table id="table" class="table table-sm ">
      <thead>
        <tr>
          <th></th>
          <th>id</th>
          <th>fecha</th>
          <th>cuenta</th>
          <th class="sumar importe">imp</th>
          <th>comentario</th>
        </tr>
      </thead>
      <tbody>
        <template x-for="asiento in listaAsientos">
          <tr>
            <td><i class="fa fa-times" aria-hidden="true" @click="borrarAsiento(asiento.id,asiento.cuenta)"></td>
              <td x-text="asiento.id"></td>
              <td :class="dia(asiento.fecha)" x-text="asiento.fecha"></td>
              <td x-text="asiento.cuenta" style="min-width:200px;"></td>
              <td x-text="asiento.imp" class="pesos" style="min-width:100px;"></td>
              <td x-text="asiento.comentario"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
 function main(){
     return{
         listaAsientos:[],
         cuentas:[],
         buscar:'',
         getAsientos(cuenta){
             axios.get('/stock/getmayor/'+cuenta)
                  .then(res=>{
                      arrayAsientos = Array.from(res.data.asientos)
                      arrayAsientos.forEach(row=>{
                          row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD')
                      })
                      this.listaAsientos = arrayAsientos
                  })
         },
         borrarAsiento(id,cuenta){
             Swal.fire({
                 title: '¿Esta seguro?',
                 text: `Borrando asiento ${id} cuenta ${cuenta}`,
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Si, borrarlo!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     axios.get('/stock/deleteasiento/'+id)
                          .then(res=>{
                              Swal.fire(
                                  'Borrado!',
                                  'El asiento ha sido borrado.',
                                  'success'
                              )
                              this.getAsientos(cuenta)
                          })
             }})
         },
         obtenerCuentas(){
             axios.get('/stock/getcuentas')
                  .then(res=>{
                      this.cuentas = res.data.result
                  })
         },
     }
 }

</script>
{% endblock %}
