{% extends "base.html" %}

{% block title %}Pivot Cuentas{% endblock %}
{% block style %}
<style>
.block:not(:last-child) {
        margin-bottom: 1.5rem;
}
</style>

{% endblock %}


{% block content %}
<div class="container">
<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/proveedores"  type="button" class="button is-primary">Proveedores</a>
    <a href="/stock/cuentas"  type="button" class="button is-primary">Cuentas</a>
    <a href="/stock/cuadro"  type="button" class="button is-primary">Cuadro</a>
</div>
<div class="columns">
  <div class="column is-7">
    <h1 style="width:70%;" class="title is-size-1">Pivot-Cuentas</h1>
  </div>
</div>
{{tbl|safe}}
</div>



{% block script %}
<script>
 table = document.querySelector('table')
 table.classList.add('nosort')
 thead = document.querySelector('thead')
 console.log( thead.children[0])
 /* thead.children[0].style.cssText('display:none;') */
 /* thead.children[0].removeChild(thead.children[0].firstElementChild); */
 tbody = document.querySelector('tbody')
 Array.from(tbody.children).forEach(row=>{
     if(row.cells[0].innerText!='Total'){
         row.cells[0].innerText=row.cells[0].innerText.substring(3).replace('\)','')
     }
     for(let i=1;i<13;i++){
         if(row.cells[i].innerText<0){
             row.cells[i].classList.add('orange')
         }
     }
     if(row.cells[0].innerText=='Total'){
         row.classList.add('total-pivot')
     }
 })
</script>
{% endblock %}

{% endblock %}
