{% extends "base.html" %}

{% block title %}Pivot Cuentas{% endblock %}
{% block style %}
<style>
.block:not(:last-child) {
        margin-bottom: 1.5rem;
}
</style>

{% endblock %}


{% block content %}
<div class="container">

<div class="columns">
  <div class="column is-7">
    <h1 style="width:70%;" class="title is-size-1">Pivot-Cuentas</h1>
  </div>
</div>
{{tbl|safe}}
</div>



{% block script %}
<script>
 table = document.querySelector('table')
 table.classList.add('nosort')
 thead = document.querySelector('thead')
 tbody = document.querySelector('tbody')
 Array.from(tbody.children).forEach(row=>{
     if(row.cells[0].innerText!='Total'){
         row.cells[0].innerText=row.cells[0].innerText.substring(3).replace('\)','')
     }
     for(let i=1;i<13;i++){
         if(row.cells[i].innerText<0){
             row.cells[i].classList.add('orange')
         }
     }
     if(row.cells[0].innerText=='Total'){
         row.classList.add('total-pivot')
     }
 })
</script>
{% endblock %}

{% endblock %}
