{% extends "base_template.html" %}

{% block title %}Proveedores{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div x-data="main()" class="container">
<div class="columns">
    <div class="column is-7">
        <h1 style="width:70%;" class="title is-size-1">Proveedores</h1>
    </div>
</div>
<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
</div>



</div>
{% endblock %}
{% block script %}
<script>
function main(){
    return {
        
    }
}

</script>
{% endblock %}
