{% extends "base_template.html" %}

{% block title %}Proveedores{% endblock %}
{% block style %}
<style>
:placeholder-shown{
        font-size: larger;
        font-weight: bold;
}
.grid-buscar{
    display: grid;
    grid-template-columns: 1fr 20%;
}
.micard {
    padding: 24px;
    background: white;
    border-radius: 8px;
    box-shadow: 6px 0px 10px gray ;
}
.modal-container{
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.3);
}
.modal{
    display:flex;
    flex-direction: column;
    position: relative;
}
.btn-close{
    color:purple;
    background-color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.textarea {
        border: solid 1px purple;
        border-radius: 5px;
    }
.textarea:focus{
        border: solid 2px turquoise;
        border-radius: 5px;
}
.input:focus{
        border: solid 2px turquoise;
        border-radius: 5px;
}
.suggestions{
    max-height: 200px;
    width: 100%;
    border-radius: 5px;
    overflow: auto;
}
.suggestions>div{
    padding: 5px;
    padding-left: 15px;
    font-size: 0.75em;
    color: #999;
    cursor: pointer;
}
.suggestions>div:hover{
    background: black;
    color: white;
}
.mora{
    background-color: red;
}
.cliente{
    background-color: yellow;
}
.cancelado{
    background-color: mediumaquamarine;
}

</style>
{% endblock %}

{% block content %}

<div x-data="main()" class="container" x-init="getProveedores()">
<div class="columns">
    <div class="column is-7">
        <h1 style="width:70%;" class="title is-size-1">Proveedores</h1>
    </div>
</div>
<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
</div>

<button class="button is-danger" @click="agregarProveedor">Agregar Proveedor</button>
<table class="table">
    <thead>
        <tr>
            <th>Borrar</th>
            <th>Editar</th>
            <th>Empresa</th>
            <th>Direccion</th>
            <th>Whatsapp</th>
            <th>Alias</th>
            <th>CBU</th>
            <th>Contacto</th>
            <th>Transporte</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <template x-for="proveedor in listProveedores">
                <td><button class="button is-danger is-small" @click="deleteProveedor(proveedor['id'])">Borrar</button></td>
                <td><button class="button is-danger is-small" @click="editProveedor(proveedor['id'])">Editar</button></td>
                <td x-text="proveedor['empresa']"></td>
                <td x-text="proveedor['direccion']"></td>
                <td x-text="proveedor['wapp']"></td>
                <td x-text="proveedor['alias']"></td>
                <td x-text="proveedor['cbu']"></td>
                <td x-text="proveedor['contacto']"></td>
                <td x-text="proveedor['transporte']"></td>
                <td x-text="proveedor['descripcion']"></td>
            </template>
        </tr>
    </tbody>
</table>
<div x-bind:class="verModalProveedores?'modal-container':''">
    <div class="micard modal" x-show="verModalProveedores">
        <div class="flex justify-content-end">
            <button class="btn-close" @click="verModalProveedores=false"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
        </div>
        <h1 class="title is-3">Proveedores</h1>
        <input type="text" class="input mb-1" x-model="Proveedor.empresa" placeholder="empresa">
        <input type="text" class="input mb-1" x-model="Proveedor.direccion" placeholder="direccion">
        <input type="text" class="input mb-1" x-model="Proveedor.wapp" placeholder="whatsapp">
        <input type="text" class="input mb-1" x-model="Proveedor.alias" placeholder="alias">
        <input type="text" class="input mb-1" x-model="Proveedor.cbu" placeholder="CBU">
        <input type="text" class="input mb-1" x-model="Proveedor.contacto" placeholder="contacto">
        <input type="text" class="input mb-1" x-model="Proveedor.transporte" placeholder="transporte">
        <input type="text" class="input mb-1" x-model="Proveedor.descripcion" placeholder="descripcion">
        <button class="button is-primary" @click="guardarEdicion">Guardar</button>
    </div>
</div>

</div>
{% endblock %}
{% block script %}
<script>
function main(){
    return {
        listProveedores:[],
        verModalProveedores:false,
        Proveedor:{},
        deleteProveedor(id){

        },
        editProveedor(id){

        },
        getProveedores(){
            axios.get('/stock/getproveedores')
            .then(res=>{
                this.listProveedores = res.data.proveedores
            })
        },
        agregarProveedor(){
            this.verModalProveedores=true;
        },
        
    }
}

</script>
{% endblock %}
