{% extends "base_template.html" %}

{% block title %}Retiros Socios{% endblock %}

{% block content %}

<div class="container">
    <p class="title is-1">Retiro Socios</p>

<div class="block">
  <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/proveedores"  type="button" class="button is-primary">Proveedores</a>
    <a href="/stock/cuentas"  type="button" class="button is-primary">Cuentas</a>
</div>

{{tbl|safe}}

</div>
{% endblock %}

{% block script %}
<script>
   const totalizar1 = (tableId)=>{
    let tbody = tableId.querySelector('tbody');
    let rowsArray = Array.from(tbody.rows);
    let rowIndex=[];
    rowsArray.forEach((row)=>{
        if(row.classList.contains('selected')) {
            rowIndex.push(row.rowIndex-1)
            //hago factor 1 pq se eliminan las filas sobrantes y se deja 1
            //console.log(row);
        }
    });
    let maxRow = Math.max(...rowIndex)+1;
    let $rowTotal = tbody.insertRow(maxRow);
    let $cell0 = $rowTotal.insertCell(0);
    $cell0.innerHTML = "SubTotal";
    $rowTotal.classList.add('subtotal');

    const cols = rowsArray[0].children.length // determino la cant columnas
    for(let i=1;i<cols;i++){
    let col = [];
    rowIndex.forEach((ix)=>{
        col.push(nop(tbody.rows[ix].cells[i].innerText))
    });
    let total = col.reduce((a,b)=>Number(a)+Number(b),0);
    let $cell = $rowTotal.insertCell(i);
    if (!(Number.isNaN(total))) $cell.innerHTML = total
    }

};
const restaurar1 = (tableId)=>{
  let tbody = tableId.querySelector('tbody');
  let rowsArray = Array.from(tbody.rows);
  let rowtotal=[];
  rowsArray.forEach((row)=>{
      if(row.classList.contains('selected')) {
          row.classList.remove('selected');
      }
  });
  let $rowSubTotal = document.querySelectorAll('.subtotal');
  $rowSubTotal.forEach((row)=>{
      row.remove();
  })
};

const $table = document.getElementById('retiros')
document.addEventListener('keyup',(e)=>{
  if(e.key==='t') totalizar1($table)
  if(e.key==='r') restaurar1($table)
})
</script>
{% endblock %}
