{% extends "base.html" %}

{% block title %}Retiros Socios{% endblock %}

{% block content %}

<div class="container">
    <p class="title is-1">Retiro Socios</p>

<div class="block">
  <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/proveedores"  type="button" class="button is-primary">Proveedores</a>
    <a href="/stock/cuentas"  type="button" class="button is-primary">Cuentas</a>
    <a href="/stock/cuadro"  type="button" class="button is-primary">Cuadro</a>
</div>

{{tbl|safe}}

</div>
{% endblock %}

{% block script %}
<script>
 const table = document.getElementById('retiros')
 const thead = table.querySelector('thead')
 const tr = thead.children
 const ths = tr[0].children
 ths[5].innerText = "Efectivo"
 ths[6].innerText = "Banco"
 const tbody = table.querySelector('tbody')
 const arrayRows = Array.from(tbody.rows)
 arrayRows.forEach(row=>{
     if(row.rowIndex>1){
         row.cells[5].innerText=""
         row.cells[6].innerText=""
     }
 })
</script>
{% endblock %}
