{% extends "base_template.html" %}

{% block title %}Salida Mercaderia{% endblock %}
{% block style %}
<style>
.block:not(:last-child) {
    margin-bottom: 1.5rem;
}
.color1 {
    background-color: rgb(178, 42, 32);
    color: black;
    text-align: center;
}
.color2 {
    background-color: rgb(178, 127, 32);
    color: black;
    text-align: center;
}
.color3 {
    background-color: rgb(176, 178, 32);
    color: black;
    text-align: center;
}
.color4 {
    background-color: rgb(32, 178, 98);
    color: black;
    text-align: center;
}
.color5 {
    background-color: rgb(147, 196, 193);
    color: black;
    text-align: center;
}
.color6 {
    background-color: orange;
    color: black;
    text-align: center;
}
.color7 {
    background-color: rgb(80, 89, 214);
    color: black;
    text-align: center;
}
.color8 {
    background-color: rgb(13, 130, 148);
    color: black;
    text-align: center;
}
.color9 {
    background-color: rgb(141, 11, 104);
    color: black;
    text-align: center;
}
.color0 {
    background-color: rgb(127, 19, 189);
    color: black;
    text-align: center;
}
</style>
{% endblock %}

{% block content %}

<div id="app" class="container is-fullhd">
<div class="columns">
    <div class="column is-7">
        <p class="title is-1">Salida Mercaderia</p>
    </div>
</div>
<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/proveedores"  type="button" class="button is-primary">Proveedores</a>
</div>
<div class="block">
        <div class="field is-horizontal">
            <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
            <div class="control">
                <input type="date" v-model="fecha" class="input" :class='{"is-danger":!fecha}'>
                <p v-show="!fecha" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
              <input type="text" v-model="cnt" class="input" :class='{"is-danger":!cnt}' placeholder="Cantidad" @keyup.enter="$refs.art.focus()" size="5" ref="cnt">
              <p v-show="!cnt" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
                <!-- <input type="text" class="input" size="40" name="art" list="artlist" value="" autocomplete="off" v-model="art" placeholder="Articulo" ref="art" @keyup.enter="$refs.costo.focus()" :class='{"is-danger":!art}'>
                <datalist id="artlist">
                    <option v-for="art in articulos">|art|</option>
                </datalist> -->
                <b-autocomplete
                ref="art"
                @keyup.enter.native="$refs.costo.focus()"
                v-model="art"
                :data="artsFiltradasArray"
                placeholder="Cuenta"
                clearable
                keep-first
                @select="option => selected = option">
                <template #empty>No se encontraron resultados</template>
                </b-autocomplete>
                <p v-show="!art" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
                <input type="text" v-model="costo" class="input" size="5" placeholder="Costo" ref="costo" @keyup.enter="$refs.comentario.focus()" :class='{"is-danger":!costo}'>
                <p v-show="!costo" class="help is-danger">Requerido</p>
            </div>
            <div class="control">
              <input type="text" v-model="comentario" class="input" size="15" placeholder="Comentario" ref="comentario" @keyup.enter="$refs.guardar.focus()">

            </div>

            <div class="control">
                <button type="button" class="button is-primary" @click="validarSalida" ref="guardar" id="guardar">Guardar</button>
            </div>
        </div>
</div>
<div class="columns">
<div class="column is-7">
  <table id="table" class="table is-narrow" id="table">
      <thead>
          <tr>
              <th>op</th>
              <th>id</th>
              <th>fecha</th>
              <th>art</th>
              <th>cnt</th>
              <th>costo</th>
              <th>comentario</th>
          </tr>
      </thead>
      <tbody>
          <tr v-for="salida in salidas">
              <td><button class="button is-danger is-small" @click="borrarSalida(salida[0])">Borrar</button></td>
              <td>|salida[0]|</td>
              <td :class="dia(salida[1])" style="min-width: 100px;">|salida[1]|</td>
              <td>|salida[2]|</td>
              <td>|salida[3]|</td>
              <td>|salida[4]|</td>
              <td>|salida[5]|</td>
          </tr>
      </tbody>
  </table>

</div>

</div>
</div>


{% endblock %}
{% block script %}
<script>

const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        articulos:[],
        salidas:[],
        fecha:'',
        cnt:'',
        art:'',
        costo:'',
        comentario:'',
        selected: null,
    },
    methods: {
        getSalidas(){
            axios.get('/stock/getsalidas')
            .then(res=>{
                arraySalidas = Array.from(res.data.salidas)
                arraySalidas.forEach(row=>{
                    row[1]=dayjs.utc(row[1]).format('YYYY-MM-DD')
                })
                this.salidas = arraySalidas
                console.log(this.salidas);
            })
        },

        borrarSalida(id){
            const borrar = confirm("¿Esta seguro que quiere borrar permanentemente esta fila?")
            if(borrar){
                axios.get('/stock/deletesalida/'+id)
                .then(res=>{
                    console.log(res)
                    this.getSalidas()
                })
            }
        },
        validarSalida(){
            if(this.fecha!=''&&this.cnt!=''&&this.art!=''&&this.costo!=''){
                this.guardarSalida()
            }else{
                bulmaToast.toast({ message: 'Complete los datos faltantes', type: 'is-danger' })
            }
        },
        guardarSalida(){
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
            axios({
                method:'POST',
                url: '/stock/guardarsalida',
                data:{
                    fecha:this.fecha,
                    cnt: this.cnt,
                    art: this.art,
                    costo: this.costo,
                    comentario: this.comentario,
                }
            })
            .then(res=>{
                //console.log(res)
                this.getSalidas()
                this.cnt=''
                this.art=''
                this.costo=''
                this.comentario=''
                this.$refs.cnt.focus();
                bulmaToast.toast({message:"Compra procesada con exito", type:'is-success'})
            })
        },
        dia(day){
            //formamos el nombre de la clase con la palabra color mas
            //el ultimo digito de los dias para tener solo diez colores
            return "color" + dayjs.utc(day).format('DD').slice(1,2)
        },
        getArticulos(){
          axios.get('/stock/getarticulos')
          .then(res=>{
            this.articulos=res.data.articulos
          })
        },


    },
    computed: {
        artsFiltradasArray() {
            return this.articulos.filter((option) => {
                return option
                    .toString()
                    .toLowerCase()
                    .indexOf(this.art.toLowerCase()) >= 0
            })
        },
    },
    created: function(){
        this.getSalidas();
        this.getArticulos();

    },
})


</script>
{% endblock %}
