{% extends "base.html" %}

{% block title %}Salida Mercaderia{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()", x-init="getSalidas();obtenerArt()">
  <div class="columns">
    <div class="column is-7">
      <p class="title is-1">Salida Mercaderia</p>
    </div>
  </div>
  <div class="block">
    <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/verstock"  type="button" class="button is-primary">Stock</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
    <a href="/stock/proveedores"  type="button" class="button is-primary">Proveedores</a>
    <a href="/stock/cuentas"  type="button" class="button is-primary">Cuentas</a>
    <a href="/stock/cuadro"  type="button" class="button is-primary">Cuadro</a>
  </div>
  <div class="block">
    <div class="flex">
      <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
      <input type="date" x-model="Salida.fecha" class="input" style="max-width:200px;">
      <input type="text" x-model="Salida.cnt" class="input" placeholder="Cantidad" style="max-width:100px;">
      <input type="text" list="listaarticulos" class="input mb-1" x-model="Salida.art" placeholder="Articulo"
             style="width:250px" />
      <datalist id="listaarticulos">
        <template x-for="item in articulos">
          <option :value="item"></option>
        </template>
      </datalist>
      <input type="text" x-model="Salida.costo" class="input" size="5" placeholder="Costo" style="max-width:100px;">
      <input type="text" x-model="Salida.comentario" class="input" size="15" placeholder="Comentario" style="max-width:200px;">
      <button type="button" class="button is-primary" @click="validarSalida">Guardar</button>
    </div>
  </div>
  <div class="columns">
    <div class="column is-7">
      <table id="table" class="table is-narrow" id="table">
        <thead>
          <tr>
            <th>op</th>
            <th>id</th>
            <th>fecha</th>
            <th>art</th>
            <th>cnt</th>
            <th class="sumar numeric">costo</th>
            <th>comentario</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="salida in listaSalidas">
            <tr >
              <td><i class="fa fa-times" aria-hidden="true" @click="borrarSalida(salida.id)"></td>
                <td x-text="salida.id"></td>
                <td :class="dia(salida.fecha)" style="min-width: 100px;" x-text="salida.fecha"></td>
                <td x-text="salida.art"></td>
                <td x-text="salida.cnt"></td>
                <td x-text="salida.costo"></td>
                <td x-text="salida.comentario"></td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>

  </div>
</div>


{% endblock %}
{% block script %}
<script>
 function main(){
     return{
         articulos:[],
         listaSalidas:[],
         Salida:{fecha:dayjs.utc().format('YYYY-MM-DD'), cnt:'', art:'', costo:''},
         selected: null,
         getSalidas(){
             axios.get('/stock/getsalidas')
                  .then(res=>{
                      arraySalidas = Array.from(res.data.salidas)
                      arraySalidas.forEach(row=>{
                          row.fecha=dayjs.utc(row.fecha).format('YYYY-MM-DD')
                      })
                      this.listaSalidas = arraySalidas
                  })
         },
         borrarSalida(id){
             Swal.fire({
                 title: '¿Esta seguro?',
                 text: `Se borrara la salida ${id}`,
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Si, borrarlo!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     axios.get('/stock/deletesalida/'+id)
                          .then(res=>msgSuccess('Borrado!','El registro ha sido borrado'))
                     this.getSalidas()
             }})
         },
         validarSalida(){
             if(this.Salida.fecha!=''&&this.Salida.cnt!=''&&this.Salida.art!=''&&this.Salida.costo!=''){
                 this.guardarSalida()
             }else{
                 msgError('Complete los datos faltantes')
             }
         },
         guardarSalida(){
             this.Salida.art = this.Salida.art.substring(3)
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/stock/guardarsalida',this.Salida)
                                                                 .then(res=>{
                                                                     this.getSalidas()
                                                                     this.Salida={fecha:dayjs.utc().format('YYYY-MM-DD')}
                                                                     msgSuccess('Salida procesada con exito')
                                                                 })
         },
         obtenerArt(){
             axios.get('/ventas/getarticulos')
                  .then(res=>{
                      this.articulos = res.data.result
                  })
         },
     }
 }


</script>
{% endblock %}
