{% extends "base_template.html" %}

{% block title %}Mayor{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div id="app" class="container">
<div class="columns">
    <div class="column is-7">
        <h1 style="width:70%;" class="title is-size-1">Stock</h1>
    </div>
</div>
<div class="block">
    <a href="/stock/asientos"  type="button" class="button is-primary">Asientos</a>
    <a href="/stock/mayor"  type="button" class="button is-primary">Mayor</a>
    <a href="/stock/pivotcuentas"  type="button" class="button is-primary">Pivot-Cuentas</a>
    <a href="/stock/retiros"  type="button" class="button is-primary">Retiros</a>
    <a href="/stock/compras"  type="button" class="button is-primary">Compras</a>
    <a href="/stock/salidas"  type="button" class="button is-primary">Salidas</a>
    <a href="/stock/articulos"  type="button" class="button is-primary">Articulos</a>
</div>


<div class="block">
    <table id="table" class="table table-sm ">
        <thead>
            <tr>
                <th>art</th>
                <th>ingreso</th>
                <th>egreso</th>
                <th>stock</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in stock" v-show="item[3]">
                <td>|item[0]|</td>
                <td>|item[1]|</td>
                <td>|item[2]|</td>
                <td>|item[3]|</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
{% block script %}
<script>
const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
      stock:[],
    },
    methods: {
        getStock(){
            axios.get('/stock/generarstock')
            .then(res=>{
                this.stock = res.data.stock
            })
        },

    },
    created: function(){
        this.getStock();
    },
})

</script>
{% endblock %}
