{% extends "base.html" %}

{% block title %}Stock{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container" x-data="main()" x-init="getStock()">

  <div class="columns">
    <div class="column is-7">
      <h1 style="width:70%;" class="title is-size-1">Stock</h1>
    </div>
  </div>

  <button class="button is-primary block" @click="imprimirStock()">Imprimir</button>


  <div class="block">
    <table id="table" class="table table-sm ">
      <thead>
        <tr>
          <th>art</th>
          <th class="sumar numeric">ingreso</th>
          <th class="sumar numeric">egreso</th>
          <th class="sumar numeric">stock</th>
          <th class="numeric">costo</th>
          <th class="sumar numeric">monto</th>
          <th class="numeric">cuota</th>
          <th class="sumar numeric">precio</th>
          <th>delta</th>
        </tr>
      </thead>
      <tbody>
        <template x-for="item in stock">
          <tr  x-show="item.stock>0">
            <td x-text="item.art" style="text-align:left;"></td>
            <td x-text="item.ingreso"></td>
            <td x-text="item.egreso"></td>
            <td x-text="item.stock"></td>
            <td x-text="item.costo" class="pesos"></td>
            <td x-text="item.stock*item.costo" class="pesos"></td>
            <td x-text="item.cuota" class="pesos"></td>
            <td x-text="item.stock*item.cuota*6" class="pesos"></td>
            <td x-text="(item.cuota*6/item.costo).toFixed(2)"></td>
          </tr>
        </template>
      </tbody>
    </table>
    <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
 function main(){
     return{
         stock:[],
         getStock(){
             axios.get('/stock/generarstock')
                  .then(res=>{
                      this.stock = res.data.stock
                      setTimeout(()=>{
                          totalizar_tabla('table')
                      },1000)
                  })
         },
         imprimirStock(){
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/stock/imprimirstock',this.stock, {responseType:"blob"})
                                                                 .then(res=>{
                                                                     let url = window.URL.createObjectURL(res.data);
                                                                     window.open(url);
                                                                     msgSuccess('Stock impreso con exito')
                                                                 })
         },
     }
 }

</script>
{% endblock %}
