{% extends "base.html" %}

{% block title %}Whatsapps{% endblock %}

{% block content %}
<div class="container mt-6">
    <table class="table is-narrow" id="table-whatsapp">
    </table>
</div>
{% endblock %}
{% block script %}
<script>
    axios.get('/stock/listawapp')
    .then(res=>{
        wapps = res.data.wapps
        let obj = dataWrapper(wapps)
        const dataTable = new simpleDatatables.DataTable("#table-whatsapp", {
            searchable: true,
            data: obj,
            columns:[
                {select:1,
                    render: function(data, cell, row) {
                return dayjs.utc(data).format('YYYY-MM-DD')
                    }
                }
            ]
        })
    })

</script>
{% endblock %}
