{% extends "base.html" %}

{% block title %}Whatsapps{% endblock %}

{% block content %}
<div class="container mt-6">
    <!-- <div id="dropdown1"></div> -->
    <!-- <input type="text" id="autocomplete1"> -->
    <table class="table is-narrow" id="table-whatsapp">
    </table>
</div>
{% endblock %}
{% block script %}
<script>
    // axios.get('/buscador/obtenerlistacalles')
    // .then(res=>{
    //     const autocomplete1 = new autoComplete({
    //     selector: "#autocomplete1",
    //     data:{
    //         src: res.data.calles
    //     }
    // })
    // })
   
   
    axios.get('/stock/listawapp')
    .then(res=>{
        wapps = res.data.wapps
        let obj = dataWrapper(wapps)
        const dataTable = new simpleDatatables.DataTable("#table-whatsapp", {
            searchable: true,
            data: obj,
            columns:[
                {select:1, 
                    render: function(data, cell, row) {
                return dayjs.utc(data).format('YYYY-MM-DD')
                    }
                }
            ]
        })
    })

</script>
{% endblock %}
