{% extends "base.html" %} {% block title %}Cancelados{% endblock %} {%
block style %}
<style>
</style>
{% endblock %} {% block content %}

<div class="container" x-data="main()" x-init="getCancelados()">

  <p class="title is-1">Cancelados</p>

  <div class="block">
    <span class="tag is-small is-black"  x-show="cntSeleccionados" x-text="cntSeleccionados"></span>
    <label for="desde" class="">Desde</label>
    <input type="date" name="desde" x-model="desde" class="input" style="width:150px;"
           :class="darkTheme?'input-dark':''"/>
    <label for="hasta" class="">Hasta</label>
    <input type="date" name="hasta" x-model="hasta" class="input" style="width:150px;"
           :class="darkTheme?'input-dark':''"/>
    <button class="button" @click="seleccionar()">Seleccionar</button>
    <button class="button is-danger" @click="imprimir()">Imprimir</button>
  </div>

  <div>
	<table class="table nototal" id="table" x-init="eventTable()">
	  <thead>
		<tr>
		  <th>UltPago</th>
		  <th>Nombre</th>
		  <th>Calle</th>
		  <th>Num</th>
		  <th>Zona</th>
		  <th>Tel</th>
		  <th>Wapp</th>
		  <th>DNI</th>
		</tr>
	  </thead>
	  <tbody>
        <template x-for= "cancelado in listaCancelados">
		  <tr>
			<td x-text="cancelado.ultpago"></td>
			<td x-text="cancelado.nombre"></td>
			<td x-text="cancelado.calle"></td>
			<td x-text="cancelado.num"></td>
			<td x-text="cancelado.zona"></td>
			<td x-text="cancelado.tel"></td>
			<td x-text="cancelado.wapp"></td>
			<td x-text="cancelado.dni"></td>
		  </tr>
		</template>
		<input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>
	  </tbody>
	</table>
  </div>
</div>
{% endblock %} {% block script %}
<script>

 function main(){
     return{
		 listaCancelados:[],
		 desde:'',
		 hasta:'',
         cntSeleccionados:'',
		 getCancelados(){
			 axios.get('/fichas/getcancelados')
				  .then(res=>{
					  this.listaCancelados=res.data.cancelados
					  this.listaCancelados.map(row=>{row.ultpago=dayjs.utc(row.ultpago).format('YYYY-MM-DD')})
					  this.hasta=res.data.max_ultpago
					  this.hasta = dayjs.utc(this.hasta).format('YYYY-MM-DD')
				  })
		 },
		 seleccionar(){
			 const $tbody = document.querySelector("tbody");
        	 arrayRows = Array.from($tbody.children);
        	 arrayRows.forEach((row) => {
                 if(row.tagName=='TR'){
          			 let ultpago = dayjs(row.cells[0].innerHTML).format('YYYY-MM-DD');
          		     if (ultpago>=this.desde && ultpago <= this.hasta) {
            		     row.classList.add("is-selected");
          		     }
                 }
        	 });
             this.cntSeleccionados = this.cuentaSeleccionados().length
		 },
         cuentaSeleccionados(){
             let arraySeleccionados = []
			 const $tbody = document.querySelector("tbody");
        	 arrayRows = Array.from($tbody.children);
        	 arrayRows.forEach((row) => {
                 if(row.classList.contains('is-selected')){
                     arraySeleccionados.push(row.cells[7].innerHTML)
                     //OJO la celda de los DNI pq lo usa imprimir
             }})
             return arraySeleccionados
         },
		 imprimir() {
        	 let ids = this.cuentaSeleccionados();
        	 axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
        		 axios.post("/fichas/imprimircancelados",ids,{responseType: "blob"})
        		      .then((res) => {
          			      let url = window.URL.createObjectURL(res.data);
          			      window.open(url);
        	          });
		 },
         eventTable(){
             const table = document.getElementById('table')
             table.addEventListener('click',()=>{
                 if(event.target.tagName=='TD'){
                     setTimeout(()=>{
                         this.cntSeleccionados=this.cuentaSeleccionados().length
                     },100)
             }})
         },
 }};
</script>
{% endblock %}
