{% extends "base.html" %}

{% block title %}Cobradores{% endblock %}
{% block style %}
<style>
  </style>
  {% endblock %}
  
{% block content %}

<div id="app" class="container">
    <p class="title is-1">Gestion de Cobradores</p>
    <div class="buttons">
        <a href="/fichas" class="button is-primary">Fichas</a>
        <a href="/fichas/fechador" class="button is-primary">Fechador</a>
        <a href="/fichas/listado" class="button is-primary">Listado</a>
        <a href="/fichas/cancelados" class="button is-primary">Cancelados</a>
        <a href="/fichas/mudados" class="button is-primary">Mudados</a>
        
      </div>

      <button type="button" class="button is-danger" @click="agregarCobr">Agregar Nuevo</button>
      <table id="table" class="table is-narrow nototal noselect">
          <thead>
              <tr>
                  <th>op</th>
                  <th>op</th>
                  <th>id</th>
                  <th>dni</th>
                  <th>nombre</th>
                  <th>direccion</th>
                  <th>telefono</th>
                  <th>fechanac</th>
                  <th>desde</th>
                  <th>activo</th>
                  <th>prom</th>
                  <th>op</th>
                  <th>op</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="cobr in cobradores">
                  <td><button type="button" class="button is-danger is-small is-outlined" @click="borrarCobr(cobr['id'])">Borrar</button></td>
                  <td><button type="button" class="button is-info is-small is-outlined" @click="editarCobr(cobr['id'])">Editar</button></td>
                  <td>|cobr['id']|</td>
                  <td>|cobr['dni']|</td>
                  <td>|cobr['nombre']|</td>
                  <td>|cobr['direccion']|</td>
                  <td style="max-width: 120px;">|cobr['telefono']|</td>
                  <td style="min-width: 100px;">|cobr['fechanac']|</td>
                  <td style="min-width: 100px;">|cobr['desde']|</td>
                  <td><span class="tag is-small is-danger" v-show="cobr['activo']" @click="cobr['activo']=0">Activo</span></td>
                  <td><span class="tag is-small is-warning" v-show="cobr['prom']">Prom</span></td>
                  <td><button type="button" class="button is-small is-danger is-outlined" @click="toggleActivo(cobr['id'])">Act.</button></td>
                  <td><button type="button" class="button is-small is-warning is-outlined" @click="toggleProm(cobr['id'])">Prom</button></td>
              </tr>
          </tbody>
      </table>

      <div class="modal" :class="{'is-active':toggleModal}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="modal-card">
             <section class="modal-card-body">     
                      <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
                     
                        <form >
                            <div class="field">
                                <div class="control">
                                    <label class="label" >DNI</label>
                                    <input type="text" v-model="dni" class="input is-narrow" :class='{"is-danger":!dni}'  @keyup.enter="$refs.nombre.focus()"  ref="dni">
                                    <p v-show="!dni" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" >Nombre</label>
                                    <input type="text" v-model="nombre" class="input is-narrow" :class='{"is-danger":!nombre}'  @keyup.enter="$refs.direccion.focus()"  ref="nombre">
                                    <p v-show="!nombre" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" >Direccion</label>
                                    <input type="text" v-model="direccion" class="input is-narrow" :class='{"is-danger":!direccion}'  @keyup.enter="$refs.telefono.focus()"  ref="direccion">
                                    <p v-show="!direccion" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" >Telefono</label>
                                    <input type="text" v-model="telefono" class="input is-narrow" :class='{"is-danger":!telefono}'  @keyup.enter="$refs.fechanac.focus()"  ref="telefono">
                                    <p v-show="!telefono" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" >Fecha Nacimiento</label>
                                    <input type="date" v-model="fechanac" class="input is-narrow" :class='{"is-danger":!fechanac}'  @keyup.enter="$refs.desde.focus()"  ref="fechanac">
                                    <p v-show="!fechanac" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" >Desde</label>
                                    <input type="date" v-model="desde" class="input is-narrow" :class='{"is-danger":!desde}'  @keyup.enter="$refs.activo.focus()"  ref="desde">
                                    <p v-show="!desde" class="help is-danger">Requerido</p>
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" >Activo</label>
                                    <input type="text" v-model="activo" class="input is-narrow"   @keyup.enter="$refs.prom.focus()"  ref="activo">
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label" >Prom</label>
                                    <input type="text" v-model="prom" class="input is-narrow"   @keyup.enter="$refs.guardared.focus()"  ref="prom">
                                  </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="button" class="button is-primary" @click="guardarEdicion()" ref="guardared" id="guardar">Guardar</button>
                                </div> 
                            </div> 
                        </form>
                    </section>
        
                      
                      
          
        </div>
        <button class="modal-close is-large" aria-label="close" @click="modal"></button>
        </div>
        </div>

</div>
{% endblock %}

{% block script %}
<script>
  const app = new Vue({
    el:"#app",
    delimiters:['|','|'],
    data:{
        cobradores:[],
        dni:'',
        nombre:'',
        direccion:'',
        telefono:'',
        fechanac:'',
        desde:'',
        activo:'',
        prom:'',
        toggleModal: false,
    },
    methods:{
        getCobrs(){
            axios.get('/fichas/getfullcobradores')
            .then(res=>{
                this.cobradores = res.data.cobradores
                this.cobradores.forEach(row => {
                    if(row['fechanac']!==null) row['fechanac']=dayjs.utc(row['fechanac']).format('YYYY-MM-DD')
                    if(row['desde']!==null) row['desde']=dayjs.utc(row['desde']).format('YYYY-MM-DD')
                });
            })

        },
        borrarCobr(id){
            axios.get('/fichas/borrarcobrador/'+id)
            .then(res=>{
                this.getCobrs()
                bulmaToast.toast({message:"Borrado procesado con exito", type:'is-success'})
            })
            .catch(error=>{
                bulmaToast.toast({message:error.request.response, type:'is-danger'})
            })

        },
        agregarCobr(){
            this.modal()
            this.id = ''
            this.dni = ''
            this.nombre = ''
            this.direccion = ''
            this.telefono = ''
            this.fechanac = ''
            this.desde = ''
            this.activo = ''
            this.prom = ''
        },
        editarCobr(id){
            axios.get('/fichas/getcobradorbyid/'+id)
            .then(res=>{
                this.id = res.data.cobrador['id']
                this.dni = res.data.cobrador['dni']
                this.nombre = res.data.cobrador['nombre']
                this.direccion = res.data.cobrador['direccion']
                this.telefono = res.data.cobrador['telefono']
                this.fechanac = dayjs.utc(res.data.cobrador['fechanac']).format('YYYY-MM-DD')
                this.desde = dayjs.utc(res.data.cobrador['desde']).format('YYYY-MM-DD')
                this.activo = res.data.cobrador['activo']
                this.prom = res.data.cobrador['prom']
                this.modal()
            })
            

        },
        guardarEdicion(){
            axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
          axios({
              method:'POST',
              url: '/fichas/guardarcobrador',
              data:{
                  id:this.id,
                  dni:this.dni,
                  nombre:this.nombre,
                  direccion: this.direccion,
                  telefono: this.telefono,
                  fechanac: this.fechanac,
                  desde: this.desde,
                  activo: this.activo,
                  prom: this.prom,
              }
          })
          .then(res=>{
            this.modal()
            this.getCobrs()
            bulmaToast.toast({message:"Operacion procesada con exito", type:'is-success'})
          })
          .catch(error=>{
            //console.log('El error es:',error.request.response)
            bulmaToast.toast({message:error.request.response, type:'is-danger'})
          })
        },
        toggleActivo(id){
            axios.get('/fichas/toggleactivo/'+id)
            .then(res=>{
                this.getCobrs()
            })
        },
        toggleProm(id){
            axios.get('/fichas/toggleprom/'+id)
            .then(res=>{
                this.getCobrs()
            })
        },
        modal(){
          this.toggleModal=!this.toggleModal
        },
    },
    created:function(){
        this.getCobrs()
    }
  })
  </script>
  {% endblock %}
