{% extends "base_template.html" %} {% block title %}Fechador{% endblock %} {%
    block style %}
    <style></style>
    {% endblock %}

    {% block content %}

    <div class="container">
        <p class="title is-1">Fechador</p>
        <div class="buttons">
            <a href="/fichas" class="button is-primary">Fichas</a>
            <a href="/fichas/cobradores" class="button is-primary">Cobradores</a>
            <a href="/fichas/listado" class="button is-primary">Listado</a>
          </div>

        <div x-data="main()" x-init="llenaListado()">
            <div class="columns">
                <div class="column is-3">
                    <input type="text" class="input is-large" x-model="idvta" @keyup.enter="buscaCuenta(idvta);$refs.pmovto.focus()" x-ref="idvta">
                </div>
                <div class="column is-9">
                    <span class="tag is-large is-danger" x-text="nombre" x-show="nombre"></span>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3">
                    <input type="date" class="input is-large" x-model="pmovto" @keyup=fechar(event) @keyup.enter=guardarFechado(idvta,pmovto) x-ref="pmovto">
                </div>
            </div>

        <div class="columns">
            <div class="column is-6">
                <div class="box" x-show="listFechados.length">
                    <span class="tag is-small is-dark" x-text="`${listFechados.length} Fechados`" ></span>
                    <span class="tag is-small is-info" x-text="`${sumaCobr(750)} Cobr750`"></span>
                    <span class="tag is-small is-success" x-text="`${sumaCobr(796)} Cobr796`"></span>
                    <span class="tag is-small is-warning" x-text="`${sumaCobr(800)} Cobr800`"></span>
                    <span class="tag is-small is-danger" x-text="`${sumaCobr(815)} Cobr815`"></span>
                </div>
            </div>
        </div>
        <table class=" block table is-narrow">
            <thead>
                <tr>
                    <th>op</th>
                    <th>id</th>
                    <th>nombre</th>
                    <th>expmovto</th>
                    <th>pmovto</th>
                    <th>cobr</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="item in listFechados" :key="item['id']">
                    <tr>
                        <td><button class="button is-danger is-small" @click="borraFechado(item['id'])">Borrar</button></td>
                        <td x-text="item['id']"></td>
                        <td x-text="item['nombre']"></td>
                        <td x-text="item['expmovto']"></td>
                        <td x-text="item['pmovto']"></td>
                        <td x-text="item['cobr']"></td>
                    </tr>
                    </template>
            </tbody>
        </table>
    </div>

    </div>
    {% endblock %} {% block script %}
    <script>
        function main(){
            return {
                idvta:'',
                pmovto:'',
                nombre:'',
                listFechados:[],
                cobr:'',
                buscaCuenta:function(idvta){
                    axios.get('/fichas/buscacuenta/'+idvta)
                    .then(res=>{
                        if(res.data.cuenta.length===0) {
                            bulmaToast.toast({
                                message: "El Num de Cuenta no existe o no tiene saldo",
                                type: "is-danger"
                            })
                            this.$refs.idvta.focus()
                        }else{
                            this.nombre = res.data.cuenta['nombre']
                            this.pmovto = dayjs.utc(res.data.cuenta['pmovto']).format('YYYY-MM-DD')
                            this.cobr = res.data.cuenta['asignado']
                        }
                    })
                },
                fechar: function(e){
                    if(e.key==='.') this.pmovto = dayjs.utc().format('YYYY-MM-DD')
                    if(e.key==='+') this.pmovto = dayjs.utc(this.pmovto).add(1,'day').format('YYYY-MM-DD')
                    if(e.key==='-') this.pmovto = dayjs.utc(this.pmovto).add(-1,'day').format('YYYY-MM-DD')
                    if(e.key==='*') this.pmovto = dayjs.utc(this.pmovto).add(7,'day').format('YYYY-MM-DD')
                    if(e.key==='/') this.pmovto = dayjs.utc(this.pmovto).add(-7,'day').format('YYYY-MM-DD')
                    if(e.key==='PageUp') this.pmovto = dayjs.utc(this.pmovto).add(1,'month').format('YYYY-MM-DD')
                    if(e.key==='PageDown') this.pmovto = dayjs.utc(this.pmovto).add(-1,'month').format('YYYY-MM-DD')
                },
                guardarFechado: function(idvta,pmovto){
                    axios.get('/fichas/guardarfechado/'+idvta+'/'+pmovto+'/'+this.cobr)
                    .then(res=>{
                        bulmaToast.toast({
                        message: "Fechado guardado",
                        type: "is-success",
                        position: "top-left",
                        })
                        this.idvta=''
                        this.nombre=''
                        this.pmovto=''
                        this.$refs.idvta.focus()
			this.llenaListado()
                    })
                    .catch(error=>{
                        bulmaToast.toast({
                            message: error.request.response,
                            type: "is-danger"
                        })
                    })
                },
		llenaListado(){
		    axios.get('/fichas/obtenerlistadofechados')
			 .then(res=>{
			     this.listFechados=res.data.listado
			     this.listFechados.map(row=>{
				 row['fecha']=dayjs.utc(row['fecha']).format('YYYY-MM-DD')
				 row['expmovto']=dayjs.utc(row['expmovto']).format('YYYY-MM-DD')
				 row['pmovto']=dayjs.utc(row['pmovto']).format('YYYY-MM-DD')
			     })
			 })
		},
                sumaCobr(id){
                    if(this.listFechados.length){
                    let col=[]
                    this.listFechados.forEach(row=>{
                        col.push(row['cobr'])
                    })
                    let colid = col.filter(el=>el===id)
                    return colid.length
                    } else{
                        return
                    }
                },
                        borraFechado(id){
                                    axios.get('/fichas/borrarfechado/'+id)
                                        .then(res=>{
                                                    bulmaToast.toast({
                                                                message:"Fechado borrado correctamente",
                                                                type: "is-success"
                                                            })
                                                                this.llenaListado()
                                                })
                                },
            }
        }
    </script>
    {% endblock %}
