{% extends "base_template.html" %} {% block title %}Planillas de Rendicion{%
endblock %} {% block style %}
<style>
  body{
    margin: auto;
  }
  thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    background-color: #837e7e;
    color: white;
  }
  .selected {
    background-color: orange;
    color: black;
    cursor: pointer;
  }
  .flex{
    display:flex;
  }
</style>
{% endblock %} {% block content %}
<div class="conteiner-fluid">
<div id="app">
  <div class="buttons">
    <a href="/fichas/cobradores" class="button is-primary">Cobradores</a>
    <a href="/fichas/fechador" class="button is-primary">Fechador</a>
    <a href="/fichas/listado" class="button is-primary">Listado</a>
    <a href="/fichas/cancelados" class="button is-primary">Cancelados</a>
    <a href="/fichas/mudados" class="button is-primary">Mudados</a>
  </div>

    <div>
      <button v-for="cobrador in cobradores" class="button is-info ml-1" @click="muestraZonas(cobrador['id'])">|cobrador['id']|</button>
    </div>
    <div>
      <button v-for="zona in zonas" class="button is-success ml-1 mt-1" @click="muestraClientes('normales',zona['zona']);zonaactual=zona['zona']">|zona['zona']|</button>
    </div>

  <div class="ml-1 mt-1 mb-1">
    <label for="desde"></label>
    <input type="date" name="desde" v-model="desde" class="input" style="width:140px;" />
    <label for="hasta"></label>
    <input type="date" name="hasta" v-model="hasta" class="input" style="width:140px;" />
    <button class="button is-success" @click="seleccionarHasta()">Seleccionar</button>
    <button class="button is-info" @click="imprimir()">Imprimir</button>
    <button class="button is-danger" @click="intimar()">Intimar</button>
    <button class="button is-warning" @click="muestraClientes('gestion',zonaactual)">Gestion</button>
    <button class="button is-dark" @click="muestraClientes('antiguos',zonaactual)">Antiguos</button>
    <button class="button is-info" @click="muestraClientes('nuevomoroso',zonaactual)">NuevoMoroso</button>
    <button class="button is-info" @click="muestraClientes('morosos',zonaactual)">Morosos</button>
    <button class="button is-warning" @click="verZonas==true?verZonas=false:verZonas=true">Cambiar Zonas</button>
    <input type="text" name="zona" v-model="zona" list="zonalist" autocomplete="off" v-if="verZonas">
    <button class="button is-danger" @click="intimarWhatsapp()" disabled>INTWhat</button>
    <button class="button is-danger" @click="intimarPdf()">INTpdf</button>
                  <datalist id="zonalist">
                    <option v-for="zona in listazonas">|zona['zona']|</option>
                </datalist>
    <button class="button is-danger" @click="cambiarZona(zona)" v-if="verZonas">Guardar</button>
    
  </div>

    <table id="table" class="table is-narrow nototal ml-1">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Calle</th>
          <th>Num</th>
          <th>UltPago</th>
          <th>PmoVto</th>
          <th>Compra</th>
          <th>Fecha</th>
          <th>Deuda</th>
          <th>DNI</th>
          <th>Zona</th>
          <th>Barrio</th>
          <th>Intimado</th>
          <th colspan="5">Estados</th>
          <th colspan="5">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="cliente in clientes">
          <!-- nombre,calle,num,ultpago,pmovto,sev,novendermas,gestion,mudo,incobrable,dni[10],subirseven,comprado,deuda,zona,barrio -->
          <td>|cliente['nombre']|</td>
          <td>|cliente['calle']|</td>
          <td>|cliente['num']|</td>
          <td style="min-width: 100px;">|cliente['ultpago']|</td>
          <td style="min-width: 100px;">|cliente['pmovto']|</td>
          <td>|cliente['comprado']|</td>
          <td style="min-width: 100px;">|cliente['ultcompra']|</td>
          <td>|cliente['deuda']|</td>
          <td>|cliente['dni']|</td>
          <td>|cliente['zona']|</td>
          <td>|cliente['barrio']|</td>
          <td>|cliente['fechaintimacion']|</td>
          <td><button class="button is-success is-small" v-show="cliente['sev']||cliente['subirseven']">|cliente['sev']==1?'SEVEN':cliente['subirseven']==1?'SUBE':null|</button></td>
          <td><button class="button is-primary is-small" v-if="cliente['novendermas']">|cliente['novendermas']==1?'NV+':null|</button></td>
          <td><button class="button is-info is-small" v-if="cliente['gestion']">|cliente['gestion']==1?'GESTION':null|</button></td>
          <td><button class="button is-warning is-small" v-if="cliente['mudo']">|cliente['mudo']==1?'MUDO':null|</button></td>
          <td><button class="button is-danger is-small" v-if="cliente['incobrable']">|cliente['incobrable']==1?'INC':''|</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleSube(cliente['dni'])">SU</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleLN(cliente['dni'])">NV</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleGestion(cliente['dni'])">Ge</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleMudo(cliente['dni'])">Mu</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleInc(cliente['dni']);">IN</button></td>
          
        </tr>
      </tbody>
    </table>
    <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
  
</div>
</div>
{% endblock %} {% block script %}
<script>
const markSelected1 = ()=>{
    if (event.target.parentElement.parentElement.tagName!='TBODY') return;
    const $row = event.target.parentElement;
    $row.classList.toggle('selected');
}
document.addEventListener('click',()=>{
        if(event.target.tagName==='TD') {
            markSelected1()
        }
        })


  const app = new Vue({
    el: "#app",
    delimiters: ["|", "|"],
    data: {
      cobradores: [],
      zonas: [],
      clientes: [],
      zonaactual:'',
      verZonas: false,
      zona:'',
      listazonas:[],
      ultimazona:'',
      ultimotipo:'',
      hasta:dayjs.utc().format('YYYY-MM-DD'),
      desde:dayjs.utc().format('YYYY-MM-DD'),
    },
    methods: {
      getCobradores() {
        axios.get("/fichas/getcobradores").then((res) => {
          //console.log(res.data.cobradores);
          this.cobradores = res.data.cobradores;
        });
      },
      muestraZonas(cobr) {
        axios.get("/fichas/muestrazonas/" + cobr).then((res) => {
          //console.log(res.data.zonas)
          this.zonas = res.data.zonas;
        });
      },
      muestraClientes(tipo,zona) {
        this.ultimotipo = tipo
        this.ultimazona = zona
        axios.get("/fichas/muestraclientes/"+ tipo +'/'+ zona).then((res) => {
          console.log(res.data.clientes)
          /* nombre,calle,num,ultpago,pmovto,sev,novendermas,gestion,mudo,incobrable,dni */
          arrayClientes = Array.from(res.data.clientes);
          arrayClientes.forEach((row) => {
            row['ultpago'] = dayjs.utc(row['ultpago']).format("YYYY-MM-DD");
            row['pmovto'] = dayjs.utc(row['pmovto']).format("YYYY-MM-DD");
            row['ultcompra'] = dayjs.utc(row['ultcompra']).format("YYYY-MM-DD");
            if (row['fechaintimacion']){
              row['fechaintimacion'] = dayjs.utc(row['fechaintimacion']).format("YYYY-MM-DD");
            }

          });
          const $tbody = document.querySelector("tbody");
          arrayRows = Array.from($tbody.children);
          arrayRows.forEach((row) => {
            if (row.classList.contains("selected")) {
              row.classList.remove("selected");
            }
          });
          this.clientes = arrayClientes;
          this.desde = arrayClientes[0]['pmovto']
        });
      },
      seleccionarRows(){
        let ids = [];
        let tbody = table.querySelector("tbody");
        let rowsArray = Array.from(tbody.rows);
        rowsArray.forEach((row) => {
          if (row.classList.contains("selected")) {
            ids.push(row.cells[8].innerHTML);
            //la celda que corresponda a dni OJO
          }
        });
        console.log(ids)
        return ids
      },
      intimar() {
        ids = this.seleccionarRows()
        axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
        axios({
          method: "POST",
          url: "/fichas/intimar",
          responseType: "blob",
          data: ids,
        }).then((res) => {
          let url = window.URL.createObjectURL(res.data);
          window.open(url);
        });
      },
      intimarPdf(){
        ids = this.seleccionarRows()
        if(ids.length>0) {
          idle = ids.length * 10000
          console.log(idle)
          axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
          Swal.fire({
                                  title: 'WhatsApp!',
                                  text: 'Espere mientras se envian las intimaciones!',
                                  icon: 'warning',
                                  timer: `${idle}`,
                                  timerProgressBar: true,
                                  showConfirmButton: false,
                                  })
          axios({
            method: "POST",
            url: "/fichas/intimarpdf",
            data: ids,
          }).then((res) => {
            Swal.fire({
                                  title: 'WhatsApp!',
                                  text: 'Intimaciones Enviadas',
                                  icon: 'success',
                                  timer: 3000,
                                  })
          });
        }else{
          Swal.fire({
                                  title: 'WhatsApp!',
                                  text: 'Seleccione algun/os clientes',
                                  icon: 'error',
                                  timer: 3000,
                                  })
        }
      },
      imprimir() {
        let ids = [];
        let tbody = table.querySelector("tbody");
        let rowsArray = Array.from(tbody.rows);
        rowsArray.forEach((row) => {
          if (row.classList.contains("selected")) {
            ids.push(row.cells[8].innerHTML);
            //la celda que corresponda a dni OJO
          }
        });
 
        axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
        axios({
          method: "POST",
          url: "/fichas/imprimir",
          responseType: "blob",
          data: ids,
        }).then((res) => {
          let url = window.URL.createObjectURL(res.data);
          window.open(url);
        });
      },
      seleccionarHasta() {
        const $tbody = document.querySelector("tbody");
        arrayRows = Array.from($tbody.children);
        arrayRows.forEach((row) => {
          let pmovto = dayjs(row.cells[4].innerHTML).format('YYYY-MM-DD');
	    // console.log(this.hasta)
	    // console.log(pmovto)
	    // console.log(pmovto<=this.hasta)
          if (pmovto>=this.desde && pmovto <= this.hasta) {
            row.classList.add("selected");
          }
        });
      },
      toggleInc(dni){
        axios.get('/buscador/toggleinc/'+dni)
        .then(res=>{
          this.muestraClientes(this.ultimotipo,this.ultimazona)
          if(this.ultimotipo=="normales") bulmaToast.toast({message:"Movido a Gestion",type:"is-warning"})
        })
      },
      toggleSube(dni){
        axios.get('/buscador/togglesube/'+dni)
        .then(res=>{
          //console.log(res);
          if (res.data=='No se sube pq ya esta en el seven'){
          bulmaToast.toast({message:res.data,type:"is-danger"})
              }else{
                this.muestraClientes(this.ultimotipo,this.ultimazona)
              }
        })
      
      },
      toggleGestion(dni){
        axios.get('/buscador/togglegestion/'+dni)
        .then(res=>{
          this.muestraClientes(this.ultimotipo,this.ultimazona)
          if(this.ultimotipo=="normales") bulmaToast.toast({message:"Movido a Gestion",type:"is-warning"})
        })
      },
      toggleMudo(dni){
        axios.get('/buscador/togglemudo/'+dni)
        .then(res=>{
          this.muestraClientes(this.ultimotipo,this.ultimazona)
          if(this.ultimotipo=="normales") bulmaToast.toast({message:"Movido a Gestion",type:"is-warning"})
        })
      },
      toggleLN(dni){
        axios.get('/buscador/togglenvm/'+dni)
        .then(res=>{
         this.muestraClientes(this.ultimotipo,this.ultimazona)
        })
      },
      cargarZonas(){
        axios.get('/fichas/getzonas')
            .then(res=>{
                this.listazonas=res.data.zonas
                //console.log(this.listazonas)
            })
      },
      cambiarZona(zona){
        let ids = [];
        let tbody = table.querySelector("tbody");
        let rowsArray = Array.from(tbody.rows);
        rowsArray.forEach((row) => {
          if (row.classList.contains("selected")) {
            ids.push(row.cells[7].innerHTML);
            //la celda que corresponda a dni OJO
          }
        });
        axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
        axios({
          method:'POST',
          url:'/fichas/cambiarzona/'+zona,
          data:ids,
        })
        .then(res=>{
          this.muestraClientes(this.ultimotipo,this.ultimazona)
          bulmaToast.toast({message:"Zona cambiada",type:"is-success"})
        })
        .catch(error=>{
          bulmaToast.toast({message:error.request.response,type:"is-danger"})
        })
      },
    },
    created: function () {
      this.getCobradores();
      this.cargarZonas();
    },
  });
</script>
{% endblock %}
