{% extends "base_template.html" %} {% block title %}Planillas de Rendicion{%
endblock %} {% block style %}
<style>
  body{
    
    margin: auto;
  }
  thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    background-color: #837e7e;
    color: white;
  }
  .selected {
    background-color: orange;
    color: black;
    cursor: pointer;
  }
</style>
{% endblock %} {% block content %}
<div class="conteiner-fluid">
<div id="app">
  <div class="buttons">
    <a href="/fichas/cobradores" class="button is-outlined is-primary">Cobradores</a>
  </div>
  <div class="buttons mt-3">
    <div v-for="cobrador in cobradores">
      <button class="button is-info ml-1" @click="muestraZonas(cobrador[0])">
        |cobrador[0]|
      </button>
    </div>
  </div>
  <div class="buttons">
    <div v-for="zona in zonas">
      <button
        class="button is-success ml-1 mt-1"
        @click="muestraClientes('normales',zona[0]);zonaactual=zona[0]"
      >
        |zona[0]|
      </button>
    </div>
  </div>
  <div class="buttons">
    <button class="button is-success" @click="seleccionarHoy()">Seleccionar Hoy</button>
    <button class="button is-info" @click="imprimir()">Imprimir</button>
    <button class="button is-warning" @click="muestraClientes('gestion',zonaactual)">Gestion</button>
    <button class="button is-dark" @click="muestraClientes('antiguos',zonaactual)">Antiguos</button>
    <button class="button is-danger" @click="verZonas==true?verZonas=false:verZonas=true">Cambiar Zonas</button>
    <input type="text" name="zona" v-model="zona" list="zonalist" autocomplete="off" v-if="verZonas">
                  <datalist id="zonalist">
                    <option v-for="zona in listazonas">|zona[0]|</option>
                </datalist>
    <button class="button is-danger" @click="cambiarZona(zona)" v-if="verZonas">Guardar</button>
  </div>
  <div class="row">
    <table id="table" class="table is-narrow nototal">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Calle</th>
          <th>Num</th>
          <th>UltPago</th>
          <th>PmoVto</th>
          <th>Compra</th>
          <th>Deuda</th>
          <th>DNI</th>
          <th>Zona</th>
          <th>Barrio</th>
          <th colspan="5">Estados</th>
          <th colspan="5">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="cliente in clientes">
          <!-- nombre,calle,num,ultpago,pmovto,sev,novendermas,gestion,mudo,incobrable,dni[10],subirseven,comprado,deuda,zona,barrio -->
          <td>|cliente[0]|</td>
          <td>|cliente[1]|</td>
          <td>|cliente[2]|</td>
          <td style="min-width: 100px;">|cliente[3]|</td>
          <td style="min-width: 100px;">|cliente[4]|</td>
          <td>|cliente[12]|</td>
          <td>|cliente[13]|</td>
          <td>|cliente[10]|</td>
          <td>|cliente[14]|</td>
          <td>|cliente[15]|</td>
          <td><button class="button is-success is-small" v-show="cliente[5]||cliente[11]">|cliente[5]==1?'SEVEN':cliente[11]==1?'SUBE':null|</button></td>
          <td><button class="button is-primary is-small" v-if="cliente[6]">|cliente[6]==1?'NV+':null|</button></td>
          <td><button class="button is-info is-small" v-if="cliente[7]">|cliente[7]==1?'GESTION':null|</button></td>
          <td><button class="button is-warning is-small" v-if="cliente[8]">|cliente[8]==1?'MUDO':null|</button></td>
          <td><button class="button is-danger is-small" v-if="cliente[9]">|cliente[9]==1?'INC':''|</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleSube(cliente[10])">SU</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleLN(cliente[10])">NV</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleGestion(cliente[10])">Ge</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleMudo(cliente[10])">Mu</button></td>
          <td><button class="button is-outlined is-primary is-small" @click="toggleInc(cliente[10]);">IN</button></td>
          
        </tr>
      </tbody>
    </table>
    <input type="hidden" name="csrf_token" ref="token" value="{{ csrf_token() }}"/>
  </div>
</div>
</div>
{% endblock %} {% block script %}
<script>
  

  
  const app = new Vue({
    el: "#app",
    delimiters: ["|", "|"],
    data: {
      cobradores: [],
      zonas: [],
      clientes: [],
      zonaactual:'',
      verZonas: false,
      zona:'',
      listazonas:[],
      ultimazona:'',
      ultimotipo:'',
    },
    methods: {
      getCobradores() {
        axios.get("/fichas/getcobradores").then((res) => {
          //console.log(res.data.cobradores);
          this.cobradores = res.data.cobradores;
        });
      },
      muestraZonas(cobr) {
        axios.get("/fichas/muestrazonas/" + cobr).then((res) => {
          //console.log(res.data.zonas)
          this.zonas = res.data.zonas;
        });
      },
      muestraClientes(tipo,zona) {
        this.ultimotipo = tipo
        this.ultimazona = zona
        axios.get("/fichas/muestraclientes/"+ tipo +'/'+ zona).then((res) => {
          //console.log(res.data.clientes)
          /* nombre,calle,num,ultpago,pmovto,sev,novendermas,gestion,mudo,incobrable,dni */
          arrayClientes = Array.from(res.data.clientes);
          arrayClientes.forEach((row) => {
            row[3] = dayjs.utc(row[3]).format("YYYY-MM-DD");
            row[4] = dayjs.utc(row[4]).format("YYYY-MM-DD");
          });
          const $tbody = document.querySelector("tbody");
          arrayRows = Array.from($tbody.children);
          arrayRows.forEach((row) => {
            if (row.classList.contains("selected")) {
              row.classList.remove("selected");
            }
          });
          this.clientes = arrayClientes;
        });
      },
      imprimir() {
        let ids = [];
        let tbody = table.querySelector("tbody");
        let rowsArray = Array.from(tbody.rows);
        rowsArray.forEach((row) => {
          if (row.classList.contains("selected")) {
            ids.push(row.cells[7].innerHTML);
            //la celda que corresponda a dni OJO
          }
        });
 
        axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
        axios({
          method: "POST",
          url: "/fichas/imprimir",
          responseType: "blob",
          data: ids,
        }).then((res) => {
          let url = window.URL.createObjectURL(res.data);
          window.open(url);
        });
      },
      seleccionarHoy() {
        const $tbody = document.querySelector("tbody");
        arrayRows = Array.from($tbody.children);
        arrayRows.forEach((row) => {
          let pmovto = dayjs(row.cells[4].innerHTML);
          if (pmovto.unix() < dayjs().unix()) {
            row.classList.add("selected");
          }
        });
      },
      toggleInc(dni){
        axios.get('/buscador/toggleinc/'+dni)
        .then(res=>{
          this.muestraClientes(this.ultimotipo,this.ultimazona)
          if(this.ultimotipo=="normales") bulmaToast.toast({message:"Movido a Gestion",type:"is-warning"})
        })
      },
      toggleSube(dni){
        axios.get('/buscador/togglesube/'+dni)
        .then(res=>{
          //console.log(res);
          if (res.data=='No se sube pq ya esta en el seven'){
          bulmaToast.toast({message:res.data,type:"is-danger"})
              }else{
                this.muestraClientes(this.ultimotipo,this.ultimazona)
              }
        })
      
      },
      toggleGestion(dni){
        axios.get('/buscador/togglegestion/'+dni)
        .then(res=>{
          this.muestraClientes(this.ultimotipo,this.ultimazona)
          if(this.ultimotipo=="normales") bulmaToast.toast({message:"Movido a Gestion",type:"is-warning"})
        })
      },
      toggleMudo(dni){
        axios.get('/buscador/togglemudado/'+dni)
        .then(res=>{
          this.muestraClientes(this.ultimotipo,this.ultimazona)
          if(this.ultimotipo=="normales") bulmaToast.toast({message:"Movido a Gestion",type:"is-warning"})
        })
      },
      toggleLN(dni){
        axios.get('/buscador/toggleln/'+dni)
        .then(res=>{
         this.muestraClientes(this.ultimotipo,this.ultimazona)
        })
      },
      cargarZonas(){
        axios.get('/buscador/getzonas')
            .then(res=>{
                this.listazonas=res.data.zonas
                //console.log(this.listazonas)
            })
      },
      cambiarZona(zona){
        let ids = [];
        let tbody = table.querySelector("tbody");
        let rowsArray = Array.from(tbody.rows);
        rowsArray.forEach((row) => {
          if (row.classList.contains("selected")) {
            ids.push(row.cells[7].innerHTML);
            //la celda que corresponda a dni OJO
          }
        });
        axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
        axios({
          method:'POST',
          url:'/fichas/cambiarzona/'+zona,
          data:ids,
        })
        .then(res=>{
          this.muestraClientes(this.ultimotipo,this.ultimazona)
          bulmaToast.toast({message:"Zona cambiada",type:"is-success"})
        })
        .catch(error=>{
          bulmaToast.toast({message:error.request.response,type:"is-danger"})
        })
      },
    },
    created: function () {
      this.getCobradores();
      this.cargarZonas();
    },
  });
</script>
{% endblock %}
