{% extends "base.html" %} {% block title %}Fichas Clientes{%
endblock %} {% block style %}
<style>
</style>
{% endblock %} {% block content %}
<div class="container.is-widescreen" x-data="main()" x-init="getCobradores();cargarMsgs();eventTable();getListaZonas()">


  <div id="btnCobradores">
    <template x-for="cobrador in listaCobradores">
      <button  class="button  ml-1" @click="muestraZonas(cobrador.id);limpiarToggles('cobr');$event.target.classList.toggle('is-link')"
               x-text="cobrador.id"></button>
    </template>
    <span class="tag is-warning" x-text="filter" x-show="filter"></span>
  </div>
  <div id="btnZonas">
    <template x-for="zona in listaZonasCobrador">
      <button  class="button ml-1 mt-1" @click="muestraClientes('normales',zona.zona);
                      zonaactual=zona.zona;limpiarToggles('zonas');$event.target.classList.toggle('is-link');filter='Vista Normal'" x-text="zona.zona"></button>
    </template>
  </div>

  <div class="ml-1 mt-1 mb-1">
    <span class="tag is-small is-black"  x-show="listaClientes.length" x-text="listaClientes.length"></span>
    <span class="tag is-small is-warning"  x-show="cntSeleccionados" x-text="cntSeleccionados"></span>
    <label for="desde"></label>
    <input type="date" name="desde" x-model="desde" class="input" style="width:140px;" :class="darkTheme?'input-dark':''"/>
    <label for="hasta"></label>
    <input type="date" name="hasta" x-model="hasta" class="input" style="width:140px;" :class="darkTheme?'input-dark':''"/>
    <button class="button is-small is-primary" @click="seleccionarHasta()">Seleccionar</button>
    <button class="button is-small is-danger" @click="imprimir()">Imprimir</button>
    <button class="button is-small is-danger" @click="intimar()">Intimar</button>
    <button class="button is-small is-success" @click="limpiar()">Limpiar</button>
    <button class="button is-small is-success" @click="asignar()">Asignar</button>
    <button class="button is-small is-dark" @click="muestraClientes('cancelados',zonaactual);filter='Cancelados'">Cancelados</button>
    <button class="button is-small is-warning" @click="muestraClientes('gestion',zonaactual||'todas');filter='Gestion'">Gestion</button>
    <button class="button is-small is-dark" @click="muestraClientes('antiguos',zonaactual);filter='Antiguos'">Antiguos</button>
    <button class="button is-small is-warning" @click="muestraClientes('ppagos',zonaactual||'todas');filter='Planes de Pago'">Planes</button>
    <button class="button is-small is-warning" @click="muestraClientes('garantizado',zonaactual||'todas');filter='Garantizados'">Garantes</button>
    <button class="button is-small is-info" @click="muestraClientes('nuevomoroso',zonaactual||'todas');filter='Nuevo Moroso'">Atraso</button>
    <button class="button is-small is-info" @click="muestraClientes('morosos',zonaactual||'todas');filter='Morosos'">Morosos</button>
    <button class="button is-small is-info" @click="muestraClientes('vender',zonaactual||'todas');filter='Vender Ultima Cuota'">Vender</button>
    <button class="button is-small is-warning" @click="verZonas==true?verZonas=false:verZonas=true">Cambiar Zonas</button>
    <input type="text" name="zona" x-model="zona" list="zonalist" autocomplete="off" x-show="verZonas" class="input" style="width:100px;">
    <datalist id="zonalist">
      <template x-for="zona in listaZonas">
        <option  :value="zona"></option>
      </template>
    </datalist>
    <button class="button is-small is-danger" @click="cambiarZona(zona)" x-show="verZonas">Guardar</button>
    <div class="dropdown is-hoverable">
	  <div class="dropdown-trigger">
	    <button class="button is-small is-black" aria-haspopup="true" aria-controls="dropdown-menu">
		  <span>Revisar</span><span class="icon is-small"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
	    </button>
	  </div>
	  <div class="dropdown-menu" id="dropdown-menu" role="menu">
	    <div class="dropdown-content">

		  <div>
		    <a href="#" @click="muestraClientes('mudofallecido','%');filter='Mudo-Fallecido por Cobrador'" class="dropdown-item">Mudo y Fallecido marcados por Cobrador</a>
		      <a href="#" @click="confirmarAccionCobrador()" class="dropdown-item">Confirmar accion del cobrador</a>
		  </div>
	    </div>
	  </div>
    </div>
    <div class="dropdown is-hoverable">
	  <div class="dropdown-trigger">
	    <button class="button is-small is-info" aria-haspopup="true" aria-controls="dropdown-menu">
		  <span>Fijos</span><span class="icon is-small"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
	    </button>
	  </div>
	  <div class="dropdown-menu" id="dropdown-menu" role="menu">
	    <div class="dropdown-content">

		  <div>
		      <a href="#" @click="intimarWhatsapp()" class="dropdown-item">Intimar por WhatApp</a>
		      <a href="#" @click="intimar()" class="dropdown-item">Intimar por </a>
		      <a href="#" @click="sendMsgRecordatorio()" class="dropdown-item">Recordar hacer transferencia</a>
		  </div>
	    </div>
	  </div>
    </div>
    <div class="dropdown is-hoverable">
	  <div class="dropdown-trigger">
	    <button class="button is-small is-danger" aria-haspopup="true" aria-controls="dropdown-menu">
		  <span>Programados</span><span class="icon is-small"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
	    </button>
	  </div>
	  <div class="dropdown-menu" id="dropdown-menu" role="menu">
	    <div class="dropdown-content">

		  <div>
            <template x-for="item in listamsgs">
		      <a href="#" @click="sendMsgProgramado(item.nombre)" class="dropdown-item" x-text="item.nombre"></a>
            </template>
		  </div>
	    </div>
	  </div>
    </div>

  </div>


  <table  class="table is-narrow ml-1" id="table">
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Calle</th>
        <th>Num</th>
        <th>UltPago</th>
        <th>PmoVto</th>
        <th class="sumar numeric">Compra</th>
        <th>Fecha</th>
        <th class="sumar numeric">Deuda</th>
        <th>Wapp</th>
        <th>Fwapp</th>
        <th>Zona</th>
        <th>Barrio</th>
        <th>Intimado</th>
        <th>dni</th>
        <th>Sev</th>
        <th>Sub</th>
        <th>Mud</th>
        <th>Inc</th>
        <th>LN</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="cliente in listaClientes">
        <tr  :class="dayjs.utc().diff(cliente.ultpago,'d')<60?'ultpago60':''">
          <td><a :href="'/buscador/interno/'+cliente.dni" target="_blank" class="button is-small is-outlined is-primary">Ir</a></td>
          <td x-text="cliente.nombre.substring(0,20)" :class="cliente.asignada==1?'asignada':''"></td>
          <td x-text="cliente.calle"></td>
          <td x-text="cliente.num"></td>
          <td x-text="cliente.ultpago" :class="dayjs.utc().diff(cliente['ultpago'],'d')<60?'ultpago60campo':''" style="min-width: 100px;"></td>
          <td x-text="cliente.pmovto" style="min-width: 100px;"></td>
          <td x-text="cliente.comprado" class="pesos"></td>
          <td x-text="cliente.ultcompra" style="min-width: 100px;"></td>
          <td x-text="cliente.deuda" class="pesos"></td>
          <td x-text="cliente.wapp" :class="dayjs.utc().diff(cliente['fechaultwapp'],'d')<30?'wapp':''"></td>
          <td x-text="cliente.fechaultwapp" style="min-width: 100px;"></td>
          <td x-text="cliente.zona.substring(0,10)"></td>
          <td x-text="cliente.barrio.substring(0,20)"></td>
          <td x-text="cliente.fechaintimacion"></td>
          <td x-text="cliente.dni"></td>
          <td><span class="tag is-success is-small" x-show="cliente.sev">SEV</span></td>
          <td><span class="tag is-info is-small" x-show="cliente.subirseven">SUB</span></td>
          <td><span class="tag is-warning is-small" x-show="cliente.mudo">MUD</span></td>
          <td><span class="tag is-danger is-small" x-show="cliente.incobrable">INC</span></td>
          <td><span class="tag is-small" x-show="cliente.novendermas">LN</span></td>
        </tr>
      </template>
    </tbody>
  </table>
  <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>

</div>
{% endblock %} {% block script %}
<script>
 function main(){
     return{
         listaCobradores: [],
         listaZonas: [],
         listaClientes: [],
         listaZonasCobrador:[],
         zonaactual:'',
         verZonas: false,
         zona:'',
         listazonas:[],
         listamsgs:[],
         ultimazona:'',
         cntSeleccionados:'',
         ultimotipo:'',
         hasta:dayjs.utc().format('YYYY-MM-DD'),
         desde:dayjs.utc().format('YYYY-MM-DD'),
         filter:'',
         getCobradores() {
             axios.get("/fichas/getcobradores").then((res) => {
                 this.listaCobradores = res.data.cobradores;
             });
         },
         getListaZonas() {
             axios.get("/fichas/getzonas").then((res)=>{
                 this.listaZonas = res.data.zonas
             });
         },
         muestraZonas(cobr) {
             axios.get("/fichas/muestrazonas/" + cobr).then((res) => {
                 this.listaZonasCobrador = res.data.zonas;
             });
         },
         muestraClientes(tipo,zona) {
             limpiarTabla('table');
             this.cntSeleccionados = 0
             this.ultimotipo = tipo
             this.ultimazona = zona
             axios.get("/fichas/muestraclientes/"+ tipo +'/'+ zona).then((res) => {
                 /* nombre,calle,num,ultpago,pmovto,sev,novendermas,gestion,mudo,incobrable,dni */
                 this.listaClientes = res.data.clientes;
                 this.listaClientes.map(row=>{
                     row.ultpago = dayjs.utc(row.ultpago).format("YYYY-MM-DD");
                     row.pmovto = dayjs.utc(row.pmovto).format("YYYY-MM-DD");
                     row.ultcompra = dayjs.utc(row.ultcompra).format("YYYY-MM-DD");
                     if (row.fechaintimacion){
                         row.fechaintimacion = dayjs.utc(row.fechaintimacion).format("YYYY-MM-DD");
                     }
                     if (row.fechaultwapp){
                         row.fechaultwapp = dayjs.utc(row.fechaultwapp).format("YYYY-MM-DD");
                     }
                 });
                 const $tbody = document.querySelector("tbody");
                 arrayRows = Array.from($tbody.children);
                 arrayRows.forEach((row) => {
                     if (row.classList.contains("is-selected")) {
                         row.classList.remove("is-selected");
                     }
                 });
                 if(this.listaClientes.length>0){
                     this.desde = this.listaClientes[0].pmovto
                 }else{
                     this.desde = dayjs.utc().format('YYYY-MM-DD')
                 }
             });
         },
         refresh(){
             this.muestraClientes(this.ultimotipo, this.ultimazona)
         },
         seleccionarRows(){
             let ids = [];
             let tbody = table.querySelector("tbody");
             let rowsArray = Array.from(tbody.rows);
             rowsArray.forEach((row) => {
                 if (row.classList.contains("is-selected")) {
                     ids.push(row.cells[14].innerHTML);
                     //la columna que corresponda al dni OJO
                 }
             });
             return ids
         },
         intimar() {
             ids = this.seleccionarRows()
             if(ids.length>1){
                 axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
                 axios.post("/fichas/intimar",ids,{responseType: "blob"})
                      .then((res) => {
                          let url = window.URL.createObjectURL(res.data);
                          window.open(url);
                      });
             }else{
                 msgError('Debe seleccionar minimo 2 clientes.')
             }
         },
         intimar(){
             ids = this.seleccionarRows()
             if(ids.length>0) {
                 idle = ids.length * 12000
                 axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
                 msgWarning('Espere mientras se envian las intimaciones!','',idle)
                 axios.post("/fichas/intimar",ids)
                      .then((res) => {
                          msgSuccess('Intimaciones enviadas')
                      });
             }else{
                 msgError('Seleccione algun/os cliente/s')
             }
         },
         intimarWhatsapp(){
             ids = this.seleccionarRows()
             if(ids.length>0) {
                 idle = ids.length * 12000
                 axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
                 msgWarning('Espere mientras se envian las intimaciones!')


                 axios.post("/fichas/intimarwhatsapp",ids)
                      .then((res) => {
                          msgSuccess('Intimaciones Enviadas')
                      });
             }else{
                 msgError('Error', 'Seleccione algun/os cliente/s')
             }
         },
         imprimir() {
             let ids = this.seleccionarRows()
             if(ids.length>0){
                 axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
                 axios.post("/fichas/imprimir",ids,{responseType: "blob"})
                      .then((res) => {
                          let url = window.URL.createObjectURL(res.data);
                          window.open(url);
                      });
             }else{
                 msgError('Debe seleccionar algo para imprimir')
             }
         },
         asignar(){
             let ids = this.seleccionarRows()
             if(ids.length>0){
                 axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
                 axios.post("/cobrador/asignar",ids)
                      .then((res) => {
                          this.refresh()
                          msgSuccess("Las fichas fueron asignadas al cobrador")
                      });
             }else{
                 msgError('Debe seleccionar algo para asignar')
             }
         },
         limpiar(){
             axios.get('/cobrador/limpiar/'+this.ultimazona)
                  .then(res=>{
                      this.refresh()
                      msgSuccess("La zona se desasigno")
             })
         },
         sendMsgRecordatorio(){
             ids = this.seleccionarRows()
             if(ids.length>0) {
                 idle = ids.length * 12000
             }
             msgWarning('Espere mientras se envian los mensajes!','',idle)
             ids = ids.map(id=>parseInt(id))
             Clientes = this.listaClientes.filter(row=>ids.includes(row.dni))
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/fichas/recordatorioswapp',Clientes)
                                                                 .then(res=>{
                                                                     msgSuccess('Recordatorios enviados')
                                                                 })
         },
         sendMsgProgramado(nombre){
             ids = this.seleccionarRows()
             if(ids.length>0) {
                 idle = ids.length * 12000
                 msg = this.listamsgs.filter(row=>row.nombre==nombre)[0].msg
                 file = this.listamsgs.filter(row=>row.nombre==nombre)[0].file
             }
             msgWarning('Espere mientras se envian los mensajes!','',idle)
             ids = ids.map(id=>parseInt(id))
             Clientes = this.listaClientes.filter(row=>ids.includes(row.dni))
             data = {listaclientes:Clientes, msg:msg, file:file}
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/fichas/msgprogramado',data)
                                                                 .then(res=>{
                                                                     msgSuccess('Mensajes Enviados')
                                                                     this.refresh()
                                                                 })
         },
         seleccionarHasta() {
             const $tbody = document.querySelector("tbody");
             arrayRows = Array.from($tbody.children);
             arrayRows.forEach((row) => {
                 if(row.nodeName!='TEMPLATE') {
                     let pmovto = dayjs(row.cells[5].innerHTML).format('YYYY-MM-DD');
                     // OJO la columna del pmovto
                     if (pmovto>=this.desde && pmovto <= this.hasta) {
                         row.classList.add("is-selected");
                     }
                 }
             });
             this.cntSeleccionados = this.cuentaSeleccionados().length
         },
         cargarMsgs(){
             axios.get('/fichas/getmsgs')
                  .then(res=>{
                      this.listamsgs = res.data.msgs
                      this.listamsgs = this.listamsgs.filter(row=>row.wapp!=1)
	              })
         },
         cambiarZona(zona){
             let ids = this.seleccionarRows()
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/fichas/cambiarzona/'+zona,ids)
                                                                 .then(res=>{
                                                                     this.muestraClientes(this.ultimotipo,this.ultimazona)
                                                                     msgSuccess("Zona cambiada")
                                                                 })
                                                                 .catch(error=>{
                                                                     msgError(error.request.response)
                                                                 })
         },
         cuentaSeleccionados(){
             let arraySeleccionados = []
			 const $tbody = document.querySelector("tbody");
        	 arrayRows = Array.from($tbody.children);
        	 arrayRows.forEach((row) => {
                 if(row.classList.contains('is-selected')){
                     arraySeleccionados.push(row.cells[14].innerHTML)
                     //OJO la celda de los DNI pq lo usa imprimir
             }})
             return arraySeleccionados
         },
         eventTable(){
             document.addEventListener('click',()=>{
                 if(event.target.tagName=='TD'){
                     setTimeout(()=>{
                         this.cntSeleccionados=this.cuentaSeleccionados().length
                     },100)
             }})
             document.addEventListener('mouseover',()=>{
                 setTimeout(()=>{
                     this.cntSeleccionados=this.cuentaSeleccionados().length
                 },100)
             })

         },
         limpiarToggles(nivel){
             $btnZonas = document.getElementById('btnZonas')
             Array.from($btnZonas.children).slice(1).forEach(btn=>{
                 btn.classList.remove('is-link')
             });
             if(nivel=='zonas') return
             $btnCobradores = document.getElementById('btnCobradores')
             Array.from($btnCobradores.children).slice(1).forEach(btn=>{
                 btn.classList.remove('is-link')
             })
         },
         confirmarAccionCobrador(){
             let dnis = this.seleccionarRows()
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/fichas/aceptaraccioncobrador',dnis)
                                                                 .then(res=>{
                                                                     this.muestraClientes(this.ultimotipo,this.ultimazona)
                                                                     msgSuccess("Registros Procesados")
                                                                 })
                                                                 .catch(error=>{
                                                                     msgError("Hubo un error. Los registros no se procesaron.")
                                                                 })
         },

 }};


</script>
{% endblock %}
