{% extends "base_template.html" %}
{% block title %}Listado{% endblock %}

{% block style %}
<style>
    .clicked{
        background: grey;
    }
</style>
{% endblock %}

{% block content %}


<div x-data="main()" x-init="getZonas()" class="container">
    <div class="buttons">
        <a href="/fichas" class="button is-primary">Fichas</a>
        <a href="/fichas/cobradores" class="button is-primary">Cobradores</a>
        <a href="/fichas/fechador" class="button is-primary">Fechador</a>
        <a href="/fichas/cancelados" class="button is-primary">Cancelados</a>
        <a href="/fichas/mudados" class="button is-primary">Mudados</a>
      </div>
	<div class="columns">
        <div class="column is-6">
            <p class="title is-1">Listado a Visitar</p>
        </div>
        <div class="column is-6">
            <p class="title is-1" x-text="zonatitle"></p>
        </div>
    </div>
        <div class="buttons">
            <template x-for="zona in zonas" :key="zona">
                <button  class="button is-danger is-small" x-text="zona" @click="getListado(zona);$event.target.classList.toggle('is-dark');limpiarToggles()"></button>
            </template>
        </div>
        <div class="buttons" id="btnYear">
            <template x-for="year in Object.keys(resumenjs)">
                <button class="button is-info is-small" x-text="`${year} |${resumenjs[year]}`" @click="seleccionar(year);$event.target.classList.toggle('is-dark');$event.target.classList.toggle('is-info')"></button>
            </template>
        </div>
        <button class="button is-success" @click="limpiarToggles();imprimirListado()">Imprimir</button>

        <table class="table isnarrow">
            <thead>
                <tr>
                    <th>year</th>
                    <th>ultpago</th>
                    <th>dni</th>
                    <th>nombre</th>
                    <th>direccion</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="row in listado">
                    <tr>
                        <td x-text="row['year']"></td>
                        <td x-text="row['ultpago']"></td>
                        <td x-text="row['dni']"></td>
                        <td x-text="row['nombre']"></td>
                        <td x-text="row['direccion']"></td>
                    </tr>
                </template>
            </tbody>
        </table>
        <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>


    </div>

{% endblock %}

{% block script %}
<script>
    function main(){
        return {
            zonas:[],
            listado:[],
            resumen:[],
            resumenjs:{},
            zonatitle:'',
            listImprimir:[],
            getZonas(){
                axios.get('/fichas/getzonas')
                .then(res=>{
                    this.zonas=res.data.zonas
                })

            },
            getListado(zona){
                axios.get('/fichas/getlistado/'+zona)
                .then(res=>{
                    this.listado=res.data.listado
                    this.listado.map(row=>row['ultpago']=dayjs.utc(row['ultpago']).format('YYYY-MM-DD'))
                    this.getResumenJs(res.data.listado)
                    this.limpiarSelected()
                    this.zonatitle = zona
                })
                
            },
            getResumen(zona){
                axios.get('/fichas/getresumen/'+zona)
                .then(res=>{
                    this.resumen=res.data.resumen
                })
            },
            getResumenJs(array){
                this.resumenjs = {}
                array.forEach(row=>{
                    let y = row['year']
                    this.resumenjs[y]=this.resumenjs[y]?this.resumenjs[y]+=1:1
                })
                
            },
            seleccionar(year){
                $tbody = document.querySelector('tbody')
                arrayRows = Array.from($tbody.children)
                arrayRows = arrayRows.slice(1,arrayRows.length)
                arrayRows.forEach(row=>{
                    if(Array.from(row.children)[0].innerHTML===year){
                        row.classList.toggle('selected')
                    }
                })
            },
            limpiarSelected(){
                $tbody = document.querySelector('tbody')
                arrayRows = Array.from($tbody.children)
                arrayRows = arrayRows.slice(1,arrayRows.length)
                arrayRows.forEach(row=>row.classList.remove('selected'))
            },
            limpiarToggles(){
                $btnYear = document.getElementById('btnYear')
                Array.from($btnYear.children).slice(1).forEach(btn=>{
                    btn.classList.remove('is-dark')
                    btn.classList.add('is-info')
                })
            },
            listaSeleccionados(){
                this.listImprimir = []
                $tbody = document.querySelector('tbody')
                Array.from($tbody.children).slice(1).forEach(row=>{
                    if(row.classList.contains('selected')){
                        this.listImprimir.push(row.cells[2].innerHTML)
                    }
                })
                console.log(this.listImprimir.length);
            },
            imprimirListado(){
		let formato
		Swal.fire({
		title: '¿Que tipo de listado quiere imprimir?',
		showDenyButton: true,
		showCancelButton: true,
		confirmButtonText: 'Listado',
		denyButtonText: `Fichas`,
		}).then((result) => {
		if (result.isConfirmed) {
                formato = 'listado'
		} else if (result.isDenied) {
                formato = 'fichas'
		}
                this.listaSeleccionados()
		data = {lista:this.listImprimir,formato:formato}
                axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value,
                axios.post("/fichas/imprimirlistado", data ,{responseType: "blob"})
                .then((res) => {
                let url = window.URL.createObjectURL(res.data);
                window.open(url);
                });
		})
            },
    }
}
	// const app = new Vue({
	// 	el: '#app',
	// 	delimiters: ['|', '|'],
	// 	data: {},
	// 	methods: {},
	// });
</script>
{% endblock %}
