{% extends "base.html" %}
{% block title %}Listado{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}


<div x-data="main()" x-init="getZonas()" class="container">

  <div class="columns">
    <div class="column is-6">
      <p class="title is-1">Listado a Visitar</p>
    </div>
    <div class="column is-6">
      <p class="title is-1" x-text="zonatitle"></p>
    </div>
  </div>
  <div class="buttons" id="btnZonas">
    <template x-for="zona in zonas" :key="zona">
      <button class="button " x-text="zona"
              @click="getListado(zona);limpiarToggles();$event.target.classList.remove('is-warning');
                     $event.target.classList.toggle('is-warning');listImprimir=[]"></button>
    </template>
  </div>
  <div class="buttons" id="btnYear">
    <template x-for="year in Object.keys(resumenjs)">
      <button class="button " x-text="`${year} |${resumenjs[year]}`"
              @click="seleccionar(year);$event.target.classList.toggle('is-warning');listaSeleccionados()"></button>
    </template>
  </div>
  <div class="block">
    <button class="button " @click="limpiarToggles();imprimirListado()" x-text="'Procesar '+listImprimir.length"></button>
    <button class="button is-info" @click="verExceptuados()">Ver Exceptuados</button>
    <button class="button is-primary" @click="verNoExceptuados()">Ver No Exceptuados pero con deuda</button>
  </div>
  <table class="table isnarrow nototal">
    <thead>
      <tr>
        <th>year</th>
        <th>ultpago</th>
        <th>dni</th>
        <th>nombre</th>
        <th>direccion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <template x-for="row in listado_">
        <tr>
          <td x-text="row.year"></td>
          <td x-text="row.ultpago"></td>
          <td x-text="row.dni"></td>
          <td x-text="row.nombre"></td>
          <td x-text="row.direccion"></td>
          <td><a :href="'/buscador/interno/'+row.dni">Ver</a></td>
        </tr>
      </template>
    </tbody>
  </table>
  <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}" />

  <!-- modal Bulma -->
  <div class="modal" id="listado">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Impresion de Listado</p>
        <button class="delete" aria-label="close" @click="toggleModal('listado')"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <h2 class="title is-3">Tipo de listado a imprimir <span x-text="  tipoListado" style="color:red;"></span></h2>
        <button class="button" @click="tipoListado='fichas'">Fichas</button>
        <button class="button" @click="tipoListado='listado'">Listado</button>
        <button class="button" @click="tipoListado='enviar'">Enviar Datos</button>
        <h2 class="title is-3">Vendedor a cargo <span x-text="  idVdor" style="color:red;"></span></h2>
        <template x-for="vdor in listaVdores">
          <button class="button" x-text="vdor" @click="idVdor=vdor">
          </button></template>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="imprimirListado_()">Procesar</button>
        <button class="button" @click="toggleModal('listado')">Cancel</button>
      </footer>
    </div>
  </div>
  <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}"/>

</div>

{% endblock %}

{% block script %}
<script>
 function main() {
     return {
         zonas: [],
         listado: [],
         listado_: [],
         resumen: [],
         resumenjs: {},
         zonatitle: '',
         listImprimir: [],
         listaVdores: [],
         idVdor:'',
         tipoListado:'',
         getZonas() {
             axios.get('/fichas/getzonas')
                  .then(res => {
                      this.zonas = res.data.zonas
                      this.listaVdores = res.data.vdores
                  })

         },
         getListado(zona) {
             axios.get('/fichas/getlistado/' + zona)
                  .then(res => {
                      this.listado = res.data.listado
                      this.listado.map(row => row['ultpago'] = dayjs.utc(row['ultpago']).format('YYYY-MM-DD'))
                      this.listado_ = this.listado
                      this.getResumenJs(res.data.listado)
                      this.limpiarSelected()
                      this.zonatitle = zona
                      this.listaExceptuados = res.data.exceptuados
                      this.listaExceptuados.map(row=>{row.ultpago=dayjs.utc(row.ultpago).format('YYYY-MM-DD')})
                      this.listaNoExceptuados = res.data.noexceptuados
                      this.listaNoExceptuados.map(row=>{row.ultpago=dayjs.utc(row.ultpago).format('YYYY-MM-DD')})
                  })

         },
         getResumen(zona) {
             axios.get('/fichas/getresumen/' + zona)
                  .then(res => {
                      this.resumen = res.data.resumen
                  })
         },
         getResumenJs(array) {
             this.resumenjs = {}
             array.forEach(row => {
                 let y = row['year']
                 this.resumenjs[y] = this.resumenjs[y] ? this.resumenjs[y] += 1 : 1
             })

         },
         seleccionar(year) {
             $tbody = document.querySelector('tbody')
             arrayRows = Array.from($tbody.children)
             arrayRows = arrayRows.slice(1, arrayRows.length)
             arrayRows.forEach(row => {
                 if (Array.from(row.children)[0].innerHTML === year) {
                     row.classList.toggle('is-selected')
                 }
             })
         },
         limpiarSelected() {
             $tbody = document.querySelector('tbody')
             arrayRows = Array.from($tbody.children)
             arrayRows = arrayRows.slice(1, arrayRows.length)
             arrayRows.forEach(row => row.classList.remove('is-selected'))
         },
         limpiarToggles() {
             $btnYear = document.getElementById('btnYear')
             $btnZonas = document.getElementById('btnZonas')
             Array.from($btnYear.children).slice(1).forEach(btn => {
                 btn.classList.remove('is-warning')
             })
             Array.from($btnZonas.children).slice(1).forEach(btn => {
                 btn.classList.remove('is-warning')
             })
         },
         listaSeleccionados() {
             this.listImprimir = []
             $tbody = document.querySelector('tbody')
             Array.from($tbody.children).slice(1).forEach(row => {
                 if (row.classList.contains('is-selected')) {
                     this.listImprimir.push(row.cells[2].innerHTML)
                 }
             })
         },
         imprimirListado(){
             toggleModal('listado')
         },
         imprimirListado_() {
             let formato = this.tipoListado
             this.listaSeleccionados()
             data = { lista: this.listImprimir, formato: formato }
             datos = {ids:this.listImprimir, vendedor:this.idVdor}
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             if(formato=='enviar'){
                 axios.post("/vendedor/ingresardatoyasignardatosvendedor", datos)
                      .then(res=>{
                          let datos = {clientes:this.listImprimir,vdor:this.idVdor,zona:this.zonatitle}
                          this.reporteListado(datos)
                          axios.post('/fichas/procesarlistado',datos)
                          toggleModal('listado')
                          msgSuccess('Se enviaron los datos al vendedor')
                      })
                 return
             }
             axios.post("/fichas/imprimirlistado", data, { responseType: "blob" })
                  .then((res) => {
                      let url = window.URL.createObjectURL(res.data);
                      toggleModal('listado')
                      msgSuccess('Se registro el listado al vendedor')
                      setTimeout(()=>{
                          window.open(url);
                      },2000)
                      this.procesarListado()
                  });
         },
         procesarListado(){
             let datos = {clientes:this.listImprimir,vdor:this.idVdor,zona:this.zonatitle}
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
             axios.post('/fichas/procesarlistado',datos)
                                                                 .then(res=>{
                                                                 })
         },
         verExceptuados(){
             this.listado_=this.listaExceptuados
         },
         verNoExceptuados(){
             this.listado_=this.listaNoExceptuados
         },
         reporteListado(datos){
             axios.get('/pagos/getnickcobrador/'+datos.vdor)
                    .then(res=>{
                        let nick = res.data.nick
                        let wapp = res.data.wapp
                        msg = `Estimado ${nick}:
             Te enviamos ${datos.clientes.length} datos de la zona ${datos.zona}.`

             let data = {idcliente:0,wapp:wapp,msg:msg}
             axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
	         axios.post('/buscador/wapp',data)
                                                                 .then(res=>{
                                                                     axios.get('/pagos/markreporte/'+datos.vdor)
                                                                     msgSuccess("Reporte enviado")
                                                                 })
                    })
         },
     }}
</script>
{% endblock %}
