{% extends "base.html" %}

{% block title %}Programacion de Botones Wapp{%endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<div x-data="main()" x-init="cargarMsg()">
    
    <h1 class="title is-1">Programacion de botones WhatApp</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Editar</th>
                <th>boton</th>
                <th>mensaje</th>
            </tr>
        </thead>
        <tbody>

            <template x-for="item in listamsgs">
                <tr>
                    <td><i class="fa fa-pencil" aria-hidden="true" @click="editarMsg(item.id)"></td>
                    <td x-text="item.nombre"></td>
                    <td x-text="item.msg"></td>
                </tr>
            </template>
        </tbody>
    </table>

    <input type="hidden" name="csrf_token" x-ref="token" value="{{ csrf_token() }}" />

    <!-- modal Bulma -->
    <div class="modal" id="modal-edicion">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edicion del Mensaje programado</p>
                <button class="delete" aria-label="close" @click="toggleModal('modal-edicion')"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
                <label for="boton">Boton</label>
                <input name="boton" class="input" type="text" x-model="Msg.nombre" />
                <label for="msg" class="label">Mensaje</label>
                <textarea x-model="Msg.msg" id="msg" autocomplete="off" rows="10" cols="62"></textarea>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="enviarMsg()">Editar</button>
                <button class="button" @click="toggleModal('modal-edicion')">Cancelar</button>
            </footer>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
    function main() {
        return {
            listamsgs: [],
            verModalEdicion: false,
            Msg: {},
            editarMsg(id) {
                toggleModal('modal-edicion')
                this.Msg = this.listamsgs.filter(row => row.id == id)[0]
            },
            enviarMsg() {
                toggleModal('modal-edicion')
                axios.defaults.headers.common['X-CSRF-TOKEN'] = this.$refs.token.value
                axios.post('/fichas/programarboton', this.Msg)
                    .then(res => {
                        msgSuccess('Mensaje programado!')
                    })
            },
            cargarMsg() {
                axios.get('/fichas/getmsgs')
                    .then(res => {
                        this.listamsgs = res.data.msgs
                        this.listamsgs = this.listamsgs.filter(row=>row.wapp==1)
                    })
            },
        }
    }
</script>
{% endblock %}